<title>
    Rekap Penduduk
</title>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        color: black;
        border: 1px solid #2f2f2f;
        border-width: thin;
        vertical-align: middle;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text-capitalize {
        text-transform: capitalize !important;
    }

    .l_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
    }

    .ket_gd {
        margin: 0px;
        margin-top: 2px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h4 {
        font-size: 14px;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <h4 class="l_title">Rekap Penduduk berdasarkan Dusun</h4>
                </div>
                <br>
            </div>
        </div>

        <div >
            <table>
                <thead>
                <thead>
                <tr class="align-center">
                    <th style="background-color: #ececec">No.</th>
                    <th style="background-color: #ececec">Status</th>
                    <th style="background-color: #ececec">Jumlah Penduduk</th>
                    <!--<th style="background-color: #ececec">Tempat Lahir</th>-->
                    <!--<th style="background-color: #ececec">Tgl. Lahir</th>-->
                </tr>
                </thead>
                <tbody ng-show="!isLoading">
                {% for key,row in data%}
                <tr ng-repeat="row in dataLaporan" class="align-center">
                    <td class="text-capitalize" style="text-align: center">{{ key+1 }}</td>
                    <td class="align-left text-capitalize">{{ row.dusun }}</td>
                    <td class="text-capitalize" style="text-align: center">{{ row.jumlah }} Orang</td>
                    <!--<td>{{ row.tempat_lahir}}</td>-->
                    <!--<td>{{ row.ttl}}</td>-->
                    <!--<td>{{ row.kode_pos}}</td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>