<div class="animated fadeIn">
    <div ng-controller="mBpntCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar BNPT</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">NIK</label>
                                        <div class="col-sm-2">
                                            <input st-search="no_nik" class="form-control form-control-sm" placeholder="Cari berdasarkan NIK"/>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm" placeholder="Cari berdasarkan nama"/>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Tahun</label>
                                        <div class="col-sm-2">
                                            <input st-search="tahun" class="form-control form-control-sm" placeholder="Cari berdasarkan tahun"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">No</th>
                            <th class="align-left">Tahun</th>
                            <th class="align-left">NIK</th>
                            <th class="align-left">Nama</th>
                            <th class="align-center">TTL</th>
                            <th class="align-center">Jenis Kelamin</th>
                            <th class="align-center">Alamat</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ $index+1 + offset }}</td>
                            <td class="align-left">{{ row.tahun | date:'yyyy'}}</td>
                            <td class="align-left">{{ row.no_nik }}</td>
                            <td class="align-left">{{ row.nama }}</td>
                            <td class="align-center">{{ row.penduduk.tgl_lahir | date:"dd MMMM yyyy" }}</td>
                            <td class="align-center">
                                <span ng-if="row.penduduk.jenis_kelamin == 'PR'">Perempuan</span>
                                <span ng-if="row.penduduk.jenis_kelamin == 'LK'">Laki Laki</span>
                            </td>
                            <td class="align-center" >
                                <span ng-if="row.penduduk.dusun != undefined">RT {{ row.penduduk.rt }} RW {{ row.penduduk.rw }} DUSUN {{ row.penduduk.dusun }} </span>
                            </td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm" ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                       <!--  <div class="col-md-12">
                            <h6 class="tittle-header">Info Pribadi</h6>
                        </div> -->
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Nama Penduduk
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                   on-select="data(form.penduduk.id);" ng-model="form.penduduk" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Cari berdasarkan Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="searchNama($select.search)"
                                                               repeat="val in listPenduduk">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No KK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control angka form-control-sm" ng-model="form.no_kk" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control angka form-control-sm" ng-model="form.no_nik" ng-disabled="is_view"/>
                                </div>
                            </div>
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm">Nama</label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama" ng-disabled="is_view"/>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No Kartu</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control angka form-control-sm" ng-model="form.no_kartu" ng-disabled="is_view"/>
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Status Kartu</label>
                                <div class="col-sm-9">
                                    <div class="btn-group m-r">
                                        <label uib-btn-radio="'1'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_kartu" required="">
                                            <i class="fas fa-check" ng-if="form.status_kartu == '1'"></i>
                                            Aktif
                                        </label>
                                        <label uib-btn-radio="'0'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_kartu" required="">
                                            <i class="fas fa-check" ng-if="form.status_kartu == '0'"></i>
                                            Tidak Aktif
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Status NIK</label>
                                <div class="col-sm-9">
                                    <div class="btn-group m-r">
                                        <label uib-btn-radio="'1'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_nik" required="">
                                            <i class="fas fa-check" ng-if="form.status_nik == '1'"></i>
                                            Aktif
                                        </label>
                                        <label uib-btn-radio="'0'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_nik" required="">
                                            <i class="fas fa-check" ng-if="form.status_nik == '0'"></i>
                                            Tidak Aktif
                                        </label>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode Wilayah</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control angka form-control-sm" ng-model="form.kode_wilayah" ng-disabled="is_view"/>
                                </div>
                            </div>                                        
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kelurahan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nmkel" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nmkec" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kabupaten</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nmkab" ng-disabled="is_view"/>
                                </div>
                            </div>  
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nmprop" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Flag</label>
                                <div class="col-sm-9">
                                    <div style="overflow: hidden;text-align: center;background-color: #eee;">
                                        <span style="height: 100px !important;" ng-if="!form.flag.base64 && !is_create">{{form.flag}}</span>
                                    </div>
                                    <div class="fileUploadr btn btn-primary edit text-center" ng-if="!is_view" style="text-align: center;width: 100%;">
                                        <input accept="file/*" base-sixty-four-input="" class="upload" ng-model="form.flag" type="file"  ng-disabled="is_view"/>
                                    </div>
                                </div>
                            </div>            
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No Rekening</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control angka form-control-sm" ng-model="form.no_rekening" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Rekening</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama_rekening" ng-disabled="is_view"/>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Status Rekening</label>
                                <div class="col-sm-9">
                                    <div class="btn-group m-r">
                                        <label uib-btn-radio="'1'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_rekening" required="">
                                            <i class="fas fa-check" ng-if="form.status_rekening == '1'"></i>
                                            Aktif
                                        </label>
                                        <label uib-btn-radio="'0'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_rekening" required="">
                                            <i class="fas fa-check" ng-if="form.status_rekening == '0'"></i>
                                            Tidak Aktif
                                        </label>
                                    </div>
                                </div>
                            </div>
                                                  
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.alamat" rows="4" ng-disabled="is_view" ></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Tahun
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control form-control-sm" datepicker-options="options_min"
                                               is-open="opened.tahun" ng-click="toggle($event, 'tahun')"
                                               ng-model="form.tahun" type="text" uib-datepicker-popup="yyyy"
                                               min-mode="year" ng-disabled="is_view"/>
                                        <div class="input-group-text" ng-click="toggle($event, 'tahun')">
                                            <i class="far fa-calendar-alt">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="cek   <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
