/*HEADER / NAVBAR*/
.header-classic{
    background-color: #4b50a1!important;
}
.bg-gradient-primary {
    background: linear-gradient(
            45deg,#4b50a1,#20a89f);
}

.logo-header a {
    color: #4b50a1;
}

.navbar-classic .navbar-nav .nav-item .dropdown-item:hover, .navbar-classic .navbar-nav .nav-item .dropdown-item:active, .navbar-classic .navbar-nav .nav-item .dropdown-item:focus {
    color: #000000;
    background-color: #dddddd;
}
.navbar-classic .navbar-nav .nav-item .dropdown-menu .active{
    color: #4b50a1;
}

.navbar-classic .navbar-nav .nav-item .nav-link .desa{
    color: #4b50a1;
}


/*BTN*/
.btn-primary{
    color: #fff;
    background-color: #4b50a1;
    border-color: #4b50a1;
}

.bg-primary{
    background-color: #4b50a1!important;
}

.btn-primary:hover{
    color: #fff;
    background-color: #8590e3;
    border-color: #8590e3;
}

.btn-primary:focus{
    background-color: #8590e3!important;
    border: 1px solid #8590e3!important;
}

.btn-outline-primary {
    color: #4b50a1;
    background-color: transparent;
    border-color: #4b50a1;
}

.btn-outline-primary:hover {
    color: #FFFFFF;
    background-color: #4b50a1;
    border-color: #4b50a1;
}

.btn-outline-primary:focus {
    color: #FFFFFF;
    background-color: #4b50a1!important;
    border-color: #4b50a1!important;
}

.btn-info {
    color: #fff;
    background-color: #20a89f;
    border-color: #20a89f;
}

.btn-info:hover {
    color: #fff;
    background-color: #32c2b6;
    border-color: #32c2b6;
}

.btn-info:focus {
    color: #fff;
    background-color: #32c2b6!important;
    border-color: #32c2b6!important;
}

.btn-outline-info {
    color: #20a89f;
    background-color: transparent;
    border-color: #20a89f;
}

.btn-outline-info:hover {
    color: #FFFFFF;
    background-color: #20a89f;
    border-color: #20a89f;
}

.btn-outline-info:focus {
    color: #FFFFFF!important;
    background-color: #20a89f!important;
    border-color: #20a89f!important;
}

/*Modal*/
.bg-promis {
    background: linear-gradient(
            45deg,#4b50a1,#20a89f);
    color: #FFF;
}

.icon-portal {
    background: linear-gradient(
            45deg,#4b50a1,#20a89f);
    border-radius: 100%;
}



