<div class="container-fluid">
    <div class="card " id="print" style="margin-top: 20px; padding: 50px;">

        <style type="text/css">
            @media print {
                    button{
                        display: none;
                    }
                    body{
                        padding: 0;
                        margin: 0;
                    }
                     table.table-print tr th td {
                        page-break-inside: avoid;
                        page-break-after: avoid;
                        page-break-before: avoid;
                    }
                }
                .md-no{
                    width: 5%;
                    float: left;
                }
                .md-soal{
                    width: 95%;
                    float: left;
                }
                /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
                @media print{
                *,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
                p{orphans:3;widows:3;}
                }
                footer {page-break-after: always;}
                *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
                :after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
                p{margin:0 0 10px;}
                .well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);}
                .well-sm{padding:9px;border-radius:3px;}
        </style>
        <div>

        </div>
            <div>
                <img src="../../../img/kop/{{model.kop}}" style="max-height: 200px; width: 100%">
            </div>
            <div>
                {{model.isi | raw}}
            </div>
        </div>
        <br>
        <br>
        <!-- <div class="">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-lg" ng-click="printDiv('print')">
                    <i class="fa fa-print">
                    &nbsp;Print
                </button>
            </div>
        </div> -->
    </div>
    
</div>
<script>
   window.print();
    setTimeout(function () { window.close(); }, 500);
</script>
