<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        /*width: 5%;*/
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 5px;

    }

    table .tr .td {
        padding-bottom: 5px;
    }

    .well {
        min-height: 20px;
        /*padding: 19px;*/
        /*margin-bottom: 20px;*/
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        /*padding: 9px;*/
        border-radius: 3px;
    }
    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
    }
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="A4">
            <div>
                {#                <img src="../file/kop_surat/campurejo.png" style="width: 100%">#}
            </div>
            <p style="margin-left: 70%;">Model N3</p>
            <div style="padding-left: 50px;padding-right: 20px">
                <br>

                <p><u><center>SURAT PERSETUJUAN MEMPELAI</center></u></p>
                <br><br>

                <p>Yang bertanda tangan di bawah ini :</p>
                <br>

                <table width="100%">
                    <tr>
                        <td>A. Calon suami :</td>
                    </tr>
                </table>

                <table width="100%" style="margin-left: 20px;">
                    <tr>
                        <td style="width: 35%;">1. Nama lengkap dan alias</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">2. Bin</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">3. Nomor Induk Kependudukan (NIK)</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">4. Tempat dan tanggal lahir</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">5. Kewarganegaraan</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">6. Agama</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">7. Pekerjaan</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">8. Alamat</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                </table>
                <br>

                <table width="100%">
                    <tr>
                        <td>B. Calon istri :</td>
                    </tr>
                </table>

                <table width="100%" style="margin-left: 20px;">
                    <tr>
                        <td style="width: 35%;">1. Nama lengkap dan alias</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">2. Binti</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">3. Nomor Induk Kependudukan (NIK)</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">4. Tempat dan tanggal lahir</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">5. Kewarganegaraan</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">6. Agama</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">7. Pekerjaan</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">8. Alamat</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                </table>
                <br>

                <p>Menyatakan dengan sesungguhnya bahwa atas dasar suka rela, dengan kesadaran sendiri, tanpa ada paksaan dari siapapun juga, setuju
                    untuk melangsungkan perkawinan.</p>
                <br>
                <p>Demikian surat persetujuan ini dibuat untuk digunakan seperlunya.</p>
                <br><br><br>

                <table width="100%">
                    <tr>
                        <td align="center" style="width: 50%;">
                            <br>
                            Calon Suami
                            <br><br><br><br><br><br>
                            ....................................
                        </td>
                        <td align="center" style="width: 50%">
                            ............., ..............20..... <br>
                            Calon Istri
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;">
                                    <img style="width: auto; height: 130px; " src="../file/ttd/{{ model.ttd.ttd }}">
                                </div>
                                <div style="margin-top: -40px;">
                                    .................................
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

{#<script>#}
{#    window.print();#}
{#    setTimeout(function () { window.close(); }, 3000);#}
{#</script>#}