<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        width: 5%;
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 10px;

    }

    .well {
        min-height: 20px;
        padding: 19px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
        text-transform: capitalize;
    }

    table tr td u {
        vertical-align: top;
        text-transform: uppercase;
    }

    .nama {
        text-transform: uppercase;
        font-weight: bold;
    }
</style>

<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <h2 style="padding-top: 30px;"><b><u>
                        <center>SURAT KUASA</center>
                    </u></b></h2>
            {# <p class="nomor-surat">Nomor : {{ model.no_surat }}</p> #}
            <br/>

            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan di bawah ini,</p>
                <table width="100%">
                    <tr>
                        <td style="width: 30%;"><p>Nama</p></td>
                        <td>:</td>
                        <td>{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl. Lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.alamat }}</td>
                    </tr>
                    <tr>
                        <td><p>NIK</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                </table>
                <br>
                <p>Untuk selanjutnya disebut Pihak I (Pertama)/PEMBERI KUASA</p>
                <p>Dengan ini memberikan persetujuan dan kuasa kepada :</p><br>
                <table width="100%">
                    <tr>
                        <td style="width: 30%;"><p>Nama</p></td>
                        <td>:</td>
                        <td>{{ penerima.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ penerima.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl. Lahir</p></td>
                        <td>:</td>
                        <td>{{ penerima.tempat_lahir }}, {{ penerima.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.alamat }}</td>
                    </tr>
                    <tr>
                        <td><p>NIK</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Hubungan Keluarga</p></td>
                        <td>:</td>
                        <td>{{ model.shdk }}</td>
                    </tr>
                </table>
                {{ model.keterangan|striptags }}
                <br>
                <br>

                <table width="100%">
                    {% if model.kuasa_no_rekening != undefined %}
                        <tr>
                            <td style="width: 30%;"><p>No Rekening</p></td>
                            <td width="1%">:</td>
                            <td>{{ model.kuasa_no_rekening }}</td>
                        </tr>
                    {% endif %}
                    {% if model.kuasa_atas_nama != undefined %}

                        <tr>
                            <td><p>A/N</p></td>
                            <td>:</td>
                            <td>{{ model.kuasa_atas_nama }}</td>
                        </tr>
                    {% endif %}
                    {% if model.kuasa_nominal != undefined %}

                        <tr>
                            <td><p>Nominal</p></td>
                            <td>:</td>
                            <td>{{ model.kuasa_nominal }}</td>
                        </tr>
                    {% endif %}

                </table>

                <p>Demikian Surat Kuasa ini dibuat dengan sebenarnya,apabila terjadi penyalahgunaan dari surat kuasa ini
                    sepenuhnya menjadi Tanggung jawab Pihak I (Pertama) dan Pihak II (Kedua)</p>
                <br/>
                <table width="100%">
                    <tr align="center">
                        <td width="50%">
                            <br>
                            Penerima Kuasa,
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                            <span class="nama">{{ penerima.nama }}</span>
                        </td>
                        <td width="50%">
                            {{ model.desa }}, {{ model.hari_ini }}<br>
                            Pemberi Kuasa,
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                            <span class="nama">{{ model.nama }}</span>
                        </td>
                    </tr>

                </table>
                <br>
                <table width="100%">
                    <tr align="center">
                        <td align="center">
                            Mengetahui,<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}
                            {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>