<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }

        .pagebreak {
            clear: both;
            page-break-after: always;
        }
    }

    .md-no {
        width: 5%;
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 10px;

    }

    .well {
        min-height: 20px;
        padding: 19px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        /*margin-bottom: 0.5cm;*/
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        padding-left: 2cm;
        padding-top: 2cm;
        padding-right: 2cm;
        padding-bottom: 2cm;
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
        /*text-transform: capitalize;*/
    }

    table tr td u {
        vertical-align: top;
        text-transform: uppercase;
    }

    .nama {
        text-transform: uppercase;
        font-weight: bold;
    }

    table {
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .text-justify {
        text-align: justify;
    }

    .table-bordered-double {
        border: 3px double #000000;
    }

    .table-bordered {
        border: 1px solid;
        border-collapse: collapse;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid;
        padding: 5px;
    }


    .bold {
        font-weight: bold;
    }

    #print {
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }

    #print table {
        font-size: 12pt;
    }

</style>
<div id="print">
    <page size="F4">
        {#        HALAMAN SATU - SURAT PESANAN #}
        <div>
            <table class="table-bordered-double" style="border-spacing: 0px;height: 29cm">
                <tr>
                    <td class="text-center bold"
                        style="border-bottom: 3px double #000000;font-size: 14pt;height: 100px">
                        <br/>
                        PELAKSANAAN ANGGARAN PENDAPATAN DAN BELANJA DESA<br/>
                        ( APBDesa ) TAHUN ANGGARAN {{ model.tahun }}<br/>
                        DESA {{ desa.desa | upper }}
                        <br/><br/>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <br/><br/>
                        <b>SURAT PESANAN</b><br/>
                        <br/>
                        <table style="width: 50%;margin-left: 200px">
                            <tr>
                                <td>Nomor</td>
                                <td>: {{ model.no_surat }}</td>
                            </tr>
                            <tr>
                                <td>Tanggal</td>
                                <td>: {{ model.tgl_pesanan_indo }}</td>
                            </tr>
                        </table>
                        <br/><br/>
                        <table style="line-height: 2;padding: 0px 10px">
                            <tr>
                                <td style="width: 200px">BIDANG</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.bidang.uraian }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px">SUB BIDANG</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.bidang_sub.uraian }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px">KEGIATAN</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.kegiatan }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px">TAHUN ANGGARAN</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.tahun }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px">KEPERLUAN</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.pekerjaan }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px">SUMBER DANA</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.sumber_dana.sumber_dana }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px">KODE REKENING</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.pka.kode_rekening }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px">LOKASI / TEMPAT</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.lokasi }}</td>
                            </tr>
{#                            <tr>#}
{#                                <td style="width: 200px">TEMPAT</td>#}
{#                                <td style="width: 5px">:</td>#}
{#                                <td>{{ model.tempat }}</td>#}
{#                            </tr>#}
                            <tr>
                                <td style="width: 200px">BIAYA</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.biaya_rp }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px">PENYEDIA BARANG</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.penyedia.nama_perusahaan }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px">ALAMAT PENYEDIA</td>
                                <td style="width: 5px">:</td>
                                <td>{{ model.penyedia.alamat }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        {#        HALAMAN DUA - SURAT PESANAN #}
        <div class="pagebreak"></div>
    </page>
    <page size="F4">
        <div class="text-center bold" style="font-size: 14pt">
            PELAKSANA KEGIATAN ANGGARAN<br/>
            DESA {{ desa.desa | upper }} KECAMATAN {{ desa.kecamatan | upper }}<br/>
            KABUPATEN {{ desa.kabupaten | upper }}<br/>
            <span style="font-size: 12pt">Sekretariat. Jln. Majapahit No. 31</span>
        </div>
        <div class="text-right" style="font-size: 12pt;font-weight: unset;padding-right: 50px">KodePos 63474</div>
        <div style="border-bottom: 3px double #000000"></div>
        <br/>
        <div>
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="width: 100px">Nomor</td>
                                <td>: {{ model.no_surat }}</td>
                            </tr>
                            <tr>
                                <td>Sifat</td>
                                <td>: Penting</td>
                            </tr>
                            <tr>
                                <td>Lampiran</td>
                                <td>: 1(satu) lembar</td>
                            </tr>
                            <tr>
                                <td>Perihal</td>
                                <td style="font-style: italic;text-underline: #000000" class="bold">: Pesanan Barang
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    Kepada<br/>
                                    <div class="text-right">Yth.</div>
                                </td>
                                <td>:<br/>
                                    Bapak/Ibu/Sdr Pemilik<br/>
                                    {{ model.penyedia.nama_perusahaan }}<br/>
                                    {{ model.penyedia.alamat }}<br/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br/><br/>
            <table>
                <tr>
                    <td style="width: 100px"></td>
                    <td>
                        Dengan Hormat<br/>
                        Dengan ini kami beritahukan,<br/><br/>
                        Kepada Bpk/ibu/Sdr Pemilik {{ model.penyedia.nama_perusahaan }}<br>
                        <br/>
                        <div style="text-align: justify">
                            Desa {{ desa.desa }} Kec. {{ desa.kecamatan }} Kab. {{ desa.nama_kabupaten }}, bahwasanya
                            kami
                            memesan barang sesuai di table berikut untuk dikirim kepada kami pada tanggal
                            : {{ model.tgl_berita_acara_indo }}
                        </div>
                        <br/>
                        <table class="table-bordered">
                            <tr>
                                <td style="width: 10px;vertical-align: middle" class="text-center bold">No</td>
                                <td style="width: 190px;vertical-align: middle" class="text-center bold">Nama Barang
                                </td>
                                <td class="text-center bold" style="vertical-align: middle">Jumlah</td>
                                <td class="text-center bold" style="vertical-align: middle">Satuan</td>
                                <td class="text-center bold" style="vertical-align: middle">Harga Satuan (Rp)</td>
                                <td class="text-center bold" style="vertical-align: middle">Total Harga (Rp)</td>
                            </tr>
                            {% for key,val in model.detail %}
                                <tr>
                                    <td style="vertical-align: middle" class="text-center">{{ key+1 }}</td>
                                    <td style="vertical-align: middle" class="text-left">{{ val.barang }}</td>
                                    <td class="text-center" style="vertical-align: middle">{{ val.jumlah }}</td>
                                    <td class="text-center" style="vertical-align: middle">{{ val.satuan }}</td>
                                    <td class="text-right" style="vertical-align: middle">{{ val.harga_rp }}</td>
                                    <td class="text-right" style="vertical-align: middle">{{ val.total_rp }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-center bold">Jumlah</td>
                                <td class="text-right bold">{{ model.biaya_rp }}</td>
                            </tr>
                        </table>
                        <br/>
                        <div class="text-justify">
                            Demikian surat ini kami buat atas perhatian dan kerjasamanya kami ucapkan terimakasih.
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <table>
                            <tr>
                                <td class="text-center" style="width: 45%">
                                    <br/>
                                    KEPALA DESA {{ desa.desa | upper }}
                                    {% if model.is_ttd == 1 %}
                                        {% if model.kepala_desa.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.kepala_desa.ttd }}">
                                        {% endif %}
                                    {% endif %}

                                    <b>{{ model.kepala_desa.nama }}</b>
                                </td>
                                <td class="text-center" style="width: 55%">
                                    {{ desa.desa }}, {{ model.tgl_pesanan_indo }}<br/>
                                    PELAKSANA KEGIATAN ANGGARAN<br/>(PKA)
                                    <br/><br/><br/><br/><br/><br/><br/>
                                    <b>{{ model.pic.nama }}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </page>
    <div class="pagebreak"></div>
    <page size="F4">
        <div>
            <img width="100%" src="{{ baseUrl }}/{{ model.penyedia.kop_surat_path }}{{ model.penyedia.kop_surat }}">
        </div>
        <div>
            <table>
                <tr>
                    <td style="width: 50%"></td>
                    <td style="width: 50%">
                        {{ desa.desa }}, {{ model.tgl_kesanggupan_indo }}<br/>
                        Kepada<br/>
                        Yth. Ketua PKA Desa {{ desa.desa }}<br/>
                        di-<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tempat
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td colspan="3">
                        Perihal : Kesamnggupan Kerja
                        <br/><br/><br/><br/>
                        Dengan Hormat<br/><br/>
                        Yang Bertanda Tangan dibawah ini :<br/><br/>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">Nama</td>
                    <td style="width: 5px">:</td>
                    <td>{{ model.penyedia.nama_pemilik }}</td>
                </tr>
                <tr>
                    <td>Pekerjaan</td>
                    <td>:</td>
                    <td>Pimpinan / Pemilik {{ model.penyedia.nama_perusahaan }}</td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>{{ model.penyedia.alamat }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-justify">
                        <br/><br/>
                        Dengan ini kami sampaikan kesanggupan kerja dengan ditunjukan sebagai pelaksana Pengadaan barang
                        yang terdapat pada tabel dibawah untuk keperluan kegiatan Penyelenggaraan {{ model.kegiatan }}
                        Desa {{ desa.desa }} Kecamatan {{ desa.kecamatan }} Kabupaten {{ desa.nama_kabupaten }} senilai
                        Rp. {{ model.biaya_rp }} ({{ model.biaya_terbilang }}) sebagaimana tertuang dalam rincian
                        sebagai berikut :
                        <br/>
                        <br/>
                        <table class="table-bordered">
                            <tr>
                                <td style="width: 10px;vertical-align: middle" class="text-center bold">No</td>
                                <td style="width: 190px;vertical-align: middle" class="text-center bold">Nama Barang
                                </td>
                                <td class="text-center bold" style="vertical-align: middle">Jumlah</td>
                                <td class="text-center bold" style="vertical-align: middle">Satuan</td>
                                <td class="text-center bold" style="vertical-align: middle">Harga Satuan (Rp)</td>
                                <td class="text-center bold" style="vertical-align: middle">Total Harga (Rp)</td>
                            </tr>
                            {% for key,val in model.detail %}
                                <tr>
                                    <td style="vertical-align: middle" class="text-center">{{ key+1 }}</td>
                                    <td style="vertical-align: middle" class="text-left">{{ val.barang }}</td>
                                    <td class="text-center" style="vertical-align: middle">{{ val.jumlah }}</td>
                                    <td class="text-center" style="vertical-align: middle">{{ val.satuan }}</td>
                                    <td class="text-right" style="vertical-align: middle">{{ val.harga_rp }}</td>
                                    <td class="text-right" style="vertical-align: middle">{{ val.total_rp }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-center bold">Jumlah</td>
                                <td class="text-right bold">{{ model.biaya_rp }}</td>
                            </tr>
                        </table>
                        <br/>
                        <br/>
                        Demikian surat Kesanggupan kerja ini dibuat untuk dapat dipergunakan sebagaimana mestinya.
                        <br/>
                        <br/>
                        <br/>
                        <table>
                            <tr>
                                <td style="width: 50%"></td>
                                <td style="width: 50%" class="text-center">
                                    Pemilik / Pimpinan<br/>
                                    {{ model.penyedia.nama_perusahaan }}
                                    <br/><br/><br/><br/><br/><br/><br/><br/>
                                    <b>{{ model.penyedia.nama_pemilik }}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </page>
    <div class="pagebreak"></div>
    <page size="F4">
        <div>
            <img width="100%" src="{{ baseUrl }}/{{ model.penyedia.kop_surat_path }}{{ model.penyedia.kop_surat }}">
        </div>
        <div>
            <table>
                <tr>
                    <td colspan="3" class="text-center">
                        <u><b>BERITA ACARA PENYERAHAN BARANG</b></u><br/>
                        Nomor : {{ model.no_surat_ba }}
                        <br/>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-justify">
                        Pada hari <i><b>{{ model.tgl_berita_acara_hari }}</b></i> tanggal <i><b>{{ model.tgl_berita_acara_tanggal }}</b></i> Bulan <i><b>{{ model.tgl_berita_acara_bulan }}</b></i> tahun <i><b>{{ model.tgl_berita_acara_tahun }}</b></i>
                        <br/><br/>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">Nama</td>
                    <td style="width: 5px">:</td>
                    <td >{{ model.penyedia.nama_pemilik }}</td>
                </tr>
                <tr>
                    <td>Jabatan</td>
                    <td>:</td>
                    <td>Pemilik</td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>{{ model.penyedia.alamat }}</td>
                </tr>
                <tr>
                    <td colspan="3"><br/>&nbsp;&nbsp;&nbsp;&nbsp;Selanjutnya disebut <b>PIHAK PERTAMA</b><br/><br/></td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td>{{ model.pic.nama }}</td>
                </tr>
                <tr>
                    <td>Jabatan</td>
                    <td>:</td>
                    <td>PKA (Pelaksana Kegiatan Anggaran) </td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>
                        Desa {{ desa.desa }} Kecamatan {{ desa.kecamatan }} Kabupaten {{ desa.nama_kabupaten }}
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><br/>&nbsp;&nbsp;&nbsp;&nbsp;Selanjutnya disebut <b>PIHAK KEDUA</b><br/><br/></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-justify">
                        Dengan ini <b>PIHAK PERTAMA</b>  menyerahkan  pasanan  barang kepada <b>PIHAK KEDUA</b> dengan  pesanan sebagai berikut  dalam keadaan baik yaitu :<br/><br/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="table-bordered">
                            <tr>
                                <td style="width: 10px;vertical-align: middle" class="text-center bold">No</td>
                                <td style="width: 190px;vertical-align: middle" class="text-center bold">Nama Barang
                                </td>
                                <td class="text-center bold" style="vertical-align: middle">Jumlah</td>
                                <td class="text-center bold" style="vertical-align: middle">Satuan</td>
                                <td class="text-center bold" style="vertical-align: middle">Harga Satuan (Rp)</td>
                                <td class="text-center bold" style="vertical-align: middle">Total Harga (Rp)</td>
                            </tr>
                            {% for key,val in model.detail %}
                                <tr>
                                    <td style="vertical-align: middle" class="text-center">{{ key+1 }}</td>
                                    <td style="vertical-align: middle" class="text-left">{{ val.barang }}</td>
                                    <td class="text-center" style="vertical-align: middle">{{ val.jumlah }}</td>
                                    <td class="text-center" style="vertical-align: middle">{{ val.satuan }}</td>
                                    <td class="text-right" style="vertical-align: middle">{{ val.harga_rp }}</td>
                                    <td class="text-right" style="vertical-align: middle">{{ val.total_rp }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-center bold">Jumlah</td>
                                <td class="text-right bold">{{ model.biaya_rp }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-justify">
                        <br/><br/>Demikian berita acara ini kami buat untuk dapat dipergunakan sebagaimana mestinya.<br/><br/><br/><br/>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style="width: 50%" class="text-center">
                        <b>PIHAK KEDUA</b><br/>
                        Yang Menerima
                        <br/><br/><br/><br/><br/><br/><br/><br/>
                        {{ model.pic.nama }}
                    </td>
                    <td style="width: 50%" class="text-center">
                        <b>PIHAK PERTAMA</b><br/>
                        Yang Menyerahkan
                        <br/><br/><br/><br/><br/><br/><br/><br/>
                        {{ model.penyedia.nama_pemilik }}
                    </td>
                </tr>
            </table>
        </div>
    </page>
    <div class="pagebreak"></div>
    <page size="F4">
        <div class="text-center bold">
            FOTO DOKUMENTASI KEGIATAN {{ model.kegiatan | upper }}<br/>
            TAHUN {{ model.tahun }}
            <br/>
            <br/>
            <br/>
            {% for val in model.dokumentasi %}
                <img src="{{ val.path }}{{ val.file }}" width="70%"><br/><br/>
{#                <img src="{{ baseUrl }}/../{{ val.path }}{{ val.file }}" width="70%"><br/><br/>#}
            {% endfor %}
        </div>
    </page>
    <div class="pagebreak"></div>
    <page size="F4">
        <div class="text-center bold">
            NOTA / KWITANSI {{ model.kegiatan | upper }}<br/>
            TAHUN {{ model.tahun }}
{#            <br/>#}
{#            <br/>#}
{#            <br/>#}
{#            {% for val in model.dokumentasi %}#}
{#                <img src="{{ baseUrl }}/../{{ val.path }}{{ val.file }}" width="70%"><br/><br/>#}
{#            {% endfor %}#}
        </div>
    </page>
</div>

<script>
    // window.print();
    // setTimeout(function () {
    //     window.close();
    // }, 5000);
</script>