<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        /*width: 5%;*/
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 5px;

    }

    .well {
        min-height: 20px;
        /*padding: 19px;*/
        /*margin-bottom: 20px;*/
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        /*padding: 9px;*/
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 32cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }

        body, page[size="F4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
    }

    table tr td {
        vertical-align: top;
        text-transform: capitalize;
    }

    table tr td u {
        vertical-align: top;
        text-transform: uppercase;
    }


    .border {
        border-collapse: collapse !important;
        /*border: 1px solid;*/
    }

    .border tbody td, th {
        border-collapse: collapse;
        border-width: 1px;
        border-style: solid;
        padding: 2px;
    }
</style>
<div class="container-fluid">
    <td class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ pengaturan.kop_surat }}" style="width: 100%">
            </div>

            <h2><b><u>
                <center>SURAT KETERANGAN ASAL USUL (SKAU)</center>
            </u></b></h2>
            <center>(Khusus untuk pengangkutan hasil hutan yang berasal dari hutan hak ) <br>
                Berlaku selama 2 ( dua  )</center>
            <br>

            <td style="padding-left: 50px;padding-right: 20px">
                <table width="100%">
                    <tr>
                        <td width="17%"><p>Desa</p></td>
                        <td>:</td>
                        <td>{{ desa.desa }}</td>
                    </tr>
                    <tr>
                        <td><p>Kecamatan</p></td>
                        <td>:</td>
                        <td>{{ desa.kecamatan }}</td>
                    </tr>
                    <tr>
                        <td><p>Kabupaten</p></td>
                        <td>:</td>
                        <td>{{ desa.kabupaten }}</td>
                    </tr>
                    <tr>
                        <td><p>Provinsi</p></td>
                        <td>:</td>
                        <td>{{ desa.provinsi }}</td>
                    </tr>
                </table>
                <br>

                <table width="100%">
                    <tr>
                        <td width="50%">
                            <h5>ASAL HASIL HUTAN </h5>
                            <table width="100%">
                                <tr>
                                    <td width="35%"><p>Buku kepemilikan</p></td>
                                    <td>:</td>
                                    <td>{{ model.buku }}</td>
                                </tr>
                                <tr>
                                    <td><p>Nomor</p></td>
                                    <td>:</td>
                                    <td>{{ model.nomor }}</td>
                                </tr>
                                <tr>
                                    <td><p>Nama Pemilik</p></td>
                                    <td>:</td>
                                    <td class="capitalize">{{ model.nama }}</td>
                                </tr>
                                <tr>
                                    <td><p>Alamat</p></td>
                                    <td>:</td>
                                    <td class="non-capitalize">{{ model.alamat }}</td>
                                </tr>
                                <tr>
                                    <td><p>Tempat Muat</p></td>
                                    <td>:</td>
                                    <td>{{ model.tempat_muat }}</td>
                                </tr>
                                <tr>
                                    <td><p>Alat Angkut</p></td>
                                    <td>:</td>
                                    <td>{{ model.alat_angkut }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%">
                            <h5>TUJUAN PENGANGKUTAN</h5>
                            <table width="100%">
                                <tr>
                                    <td width="30%"><p>Nama Penerima</p></td>
                                    <td>:</td>
                                    <td>{{ model.nama_penerima }}</td>
                                </tr>
                                <tr>
                                    <td><p>Alamat Penerima</p></td>
                                    <td>:</td>
                                    <td>{{ model.alamat_penerima}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%" class="border">
                    <thead>
                    <tr>
                        <th style="padding: 5px; text-align: center;">NO</th>
                        <th style="padding: 5px; text-align: left;">Jenis Kayu</th>
                        <th style="padding: 5px">Bulat (cm)</th>
                        <th style="padding: 5px">Jumlah (buah)</th>
                        <th style="padding: 5px">Keterangan</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,val in detail %}
                        <tr>
                            <td style="padding: 5px;text-align: center">{{ key+1 }}</td>
                            <td style="padding: 5px;">{{ val.jenis }}</td>
                            <td style="padding: 5px;  text-align: center;">{{ val.bulat }}</td>
                            <td style="padding: 5px; text-align: center;">{{ val.jumlah }}</td>
                            <td style="padding: 5px; text-align: center;">{{ val.ket }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table width="100%" style="height: 90px;">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%">
                            {{ model.desa }}, {{ model.tgl_pembuatan }}<br>
                            {{ ttd.jabatan}} {{ model.desa }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.ttd.ttd != null %}
                                        <img style="width: auto; height: 130px; " src="../file/ttd/{{ ttd.ttd }}">
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <b><u>{{ ttd.nama }}{{ ttd.gelar }}</u></b>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>