<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }
    table tr td {
        vertical-align: top;
        text-transform: capitalize;
    }

    table tr td u {
        vertical-align: top;
        text-transform: uppercase;
    }

    .md-no {
        width: 5%;
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
    }
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <div>
            {# <table width="100%">
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:50%">
                                    PROVINSI

                                </td>
                                <td style="width:3%">
                                    :

                                </td>
                                <td>
                                    <table style="border-collapse: collapse">
                                        <tr >
                                            {% for v in model.no_prop %}
                                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                    {{v}}

                                                </td>
                                            {%endfor%}
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:20%">
                                    *)

                                </td>
                                <td style="border: 1px solid; padding-left: 10px;">
                                    JAWA TIMUR
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:50%">
                                    KABUPATEN

                                </td>
                                <td style="width:3%">
                                    :

                                </td>
                                <td>
                                    <table style="border-collapse: collapse">
                                        <tr >
                                            {% for v in model.no_kab %}
                                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                    {{v}}

                                                </td>
                                            {%endfor%}
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:20%">
                                    *)

                                </td>
                                <td style="border: 1px solid; padding-left: 10px;">
                                    PONOROGO
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:50%">
                                    KECAMATAN

                                </td>
                                <td style="width:3%">
                                    :

                                </td>
                                <td>
                                    <table style="border-collapse: collapse">
                                        <tr >
                                            {% for v in model.no_kec %}
                                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                    {{v}}

                                                </td>
                                            {%endfor%}
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:20%">
                                    *)

                                </td>
                                <td style="border: 1px solid; padding-left: 10px;">
                                    SAMBIT
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:50%">
                                    DESA

                                </td>
                                <td style="width:3%">
                                    :

                                </td>
                                <td>
                                    <table style="border-collapse: collapse">
                                        <tr >
                                            {% for v in model.no_kel %}
                                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                    {{v}}

                                                </td>
                                            {%endfor%}
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:20%">
                                    *)

                                </td>
                                <td style="border: 1px solid; padding-left: 10px;">
                                    CAMPUREJO
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td style="width:50%">
                                    DUSUN/DUKUH/KAMPUNG

                                </td>
                                <td style="width:3%">
                                    :

                                </td>
                                <td>
                                    <table style="border-collapse: collapse; width: 100%;">
                                        <tr >
                                            <td style="border: 1px solid black;  padding: 4px;">
                                                {{model.dusun}}
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table> #}

            <table width="100%">
                <tr>
                    <td width="30%">
                        PROVINSI
                    </td>
                    <td width="5%">
                        :
                    </td>
                    <td width="30%">
                        <table style="border-collapse: collapse">
                            <tr>
                                {% for v in model.no_prop %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}

                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                    <td width="5%">
                        *)
                    </td>
                    <td width="30%">
                        <table width="100%">
                            <tr>
                                <td style="border: 1px solid; padding-left: 10px;">
                                    JAWA TIMUR
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        KABUPATEN
                    </td>
                    <td width="5%">
                        :
                    </td>
                    <td width="30%">
                        <table style="border-collapse: collapse">
                            <tr>
                                {% for v in model.no_kab %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}

                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                    <td width="5%">
                        *)
                    </td>
                    <td width="30%">
                        <table width="100%">
                            <tr>
                                <td style="border: 1px solid; padding-left: 10px;">
                                    PONOROGO
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        KECAMATAN
                    </td>
                    <td width="5%">
                        :
                    </td>
                    <td width="30%">
                        <table style="border-collapse: collapse">
                            <tr>
                                {% for v in model.no_kec %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}

                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                    <td width="5%">
                        *)
                    </td>
                    <td width="30%">
                        <table width="100%">
                            <tr>
                                <td style="border: 1px solid; padding-left: 10px;">
                                    SAMBIT
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        DESA/KELURAHAN
                    </td>
                    <td width="5%">
                        :
                    </td>
                    <td width="30%">
                        <table style="border-collapse: collapse">
                            <tr>
                                {% for v in model.no_kel %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}

                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                    <td width="5%">
                        *)
                    </td>
                    <td width="30%">
                        <table width="100%">
                            <tr>
                                <td style="border: 1px solid; padding-left: 10px;">
                                    CAMPUREJO
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        DUSUN/DUKUH/KAMPUNG
                    </td>
                    <td width="5%">
                        :
                    </td>
                    <td width="30%" colspan="3">
                        <table width="100%">
                            <tr>
                                <td style="border: 1px solid; padding-left: 10px;">
                                    CAMPUREJO
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div>
            <h2 style="text-align: center; padding-top: 10px; margin: 0px;">
                FORMULIR PERMOHONAN PINDAH DATANG WNI
            </h2>
            <h3 style="text-align: center; padding-top: 2px; margin: 0px;">
                Antar Kecamatan Dalam Satu Kabupaten / Kota
            </h3>
            <p style=" text-align: center;  padding-top: 2px;margin: 0px;">
                No. 564787239279 / tes 23/04/2020
            </p>
        </div>

        <div>
            <h4 style="margin-bottom: 0px;">DATA DAERAH ASAL</h4>
            <table width="100%">
                <tr>
                    <td width="20%">
                        1. Nomer Kartu Keluarga
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                {% for v in model.no_kk %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}

                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        2. Nama Kepala Keluarga
                    </td>
                    <td width="70%">
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr>
                                <td style="border: 1px solid black;  padding: 4px;">
                                    {{ model.nama_ayah }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        3. Alamat
                    </td>
                    <td width="70%">
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr>
                                <td style="border: 1px solid black;  padding: 4px;">
                                    {{ model.alamat }}
                                </td>
                                <td style="border: 1px;padding-left: 10px; padding-right: 10px; width:1%;">
                                    RT
                                </td>
                                {% for v in model.no_rt %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}

                                    </td>
                                {% endfor %}
                                <td style="border: 1px;padding-left: 10px; padding-right: 10px; width:1%;">
                                    RW
                                </td>
                                {% for v in model.no_rw %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                    </td>
                    <td width="70%">
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr>
                                <td width="20%" style="margin-right: 10px; padding-right: 20px;">
                                    Dusun/Dukuh/Kampung
                                </td>
                                <td style="border: 1px solid black;  padding: 4px;">
                                    {{ model.dusun }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%" style="padding-left: 30px;">
                        a. Desa/Kelurahan
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                <td width="31%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                {{ model.desa }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="22%">
                                    <table width="100%">
                                        <tr>
                                            <td style="padding-left: 10px; padding-right: 10px;">
                                                c. Kab/Kota
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="45%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                PONOROGO
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%" style="padding-left: 30px">
                        b. Kecamatan
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                <td width="31%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                SAMBIT
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="22%">
                                    <table width="100%">
                                        <tr>
                                            <td style="padding-left: 10px; padding-right: 10px;">
                                                d. Provinsi
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="45%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                JAWA TIMUR
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%" style="padding-left: 30px">
                        Kode Pos
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                <td width="31%">
                                    <table style="border-collapse: collapse;text-align: center" width="100%">
                                        <tr>
                                            {% for v in model.kodepos %}
                                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                    {{ v }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </td>
                                <td width="22%">
                                    <table width="100%">
                                        <tr>
                                            <td style="padding-left: 10px; padding-right: 10px;">
                                                Telepon
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="45%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            {% for v in model.telp %}
                                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                    {{ v }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        4. NIK Pemohon
                    </td>
                    <td width="70%">
                        <table style="border-collapse: collapse; width: 100%;text-align: center">
                            <tr>
                                {% for v in model.nik %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        5. Nama Lengkap
                    </td>
                    <td width="70%">
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr>
                                <td style="border: 1px solid black;  padding: 4px;">
                                    {{ model.nama }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <h4 style="margin-bottom: 0px;">DATA DAERAH TUJUAN</h4>
            <table width="100%">
                <tr>
                    <td width="20%">
                        1. Status Nomer KK Bagi Yang Pindah
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                <td width="10%">
                                    <table style="border-collapse: collapse; width: 15%;">
                                        <tr>
                                            <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                2
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="25%">
                                    1. Numpang KK
                                </td>
                                <td width="33%">
                                    2. Membuat KK Baru
                                </td>
                                <td width="35%">
                                    3. No. KK Tetap
                                </td>
                                <td width="17%">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        2. Nomer Kartu Keluarga
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                {% for v in model.no_kk %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}

                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        3. NIK Kepala Keluarga
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                {% for v in model.no_kk %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}

                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        4. Nama Kepala Keluarga
                    </td>
                    <td width="70%">
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr>
                                <td style="border: 1px solid black;  padding: 4px;">
                                    {{ model.nama_ayah }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        5. Tanggal Kedatangan
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                <td width="10%" style="padding-right:20px">
                                    <table style="border-collapse: collapse; width: 15%;">
                                        <tr>
                                            <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                3
                                            </td>
                                            <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                1
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10%" style="padding-right:20px">
                                    <table style="border-collapse: collapse; width: 15%;">
                                        <tr>
                                            <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                0
                                            </td>
                                            <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                8
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="10%" style="padding-right:20px">
                                    <table style="border-collapse: collapse; width: 15%;">
                                        <tr>
                                            <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                2
                                            </td>
                                            <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                0
                                            </td>
                                            <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                2
                                            </td>
                                            <td style="border: 1px solid black;  padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                                                0
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="60%">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        6. Alamat
                    </td>
                    <td width="70%">
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr>
                                <td style="border: 1px solid black;  padding: 4px;">
                                    {{ model.alamat }}
                                </td>
                                <td style="border: 1px;padding-left: 10px; padding-right: 10px; width:1%;">
                                    RT
                                </td>
                                {% for v in model.no_rt %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}

                                    </td>
                                {% endfor %}
                                <td style="border: 1px;padding-left: 10px; padding-right: 10px; width:1%;">
                                    RW
                                </td>
                                {% for v in model.no_rw %}
                                    <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                        {{ v }}
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                    </td>
                    <td width="70%">
                        <table style="border-collapse: collapse; width: 100%;">
                            <tr>
                                <td width="20%" style="margin-right: 10px; padding-right: 20px;">
                                    Dusun/Dukuh/Kampung
                                </td>
                                <td style="border: 1px solid black;  padding: 4px;">
                                    {{ model.dusun }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%" style="padding-left: 30px;">
                        a. Desa/Kelurahan
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                <td width="31%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                {{ model.desa }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="22%">
                                    <table width="100%">
                                        <tr>
                                            <td style="padding-left: 10px; padding-right: 10px;">
                                                c. Kab/Kota
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="45%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                PONOROGO
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%" style="padding-left: 30px">
                        b. Kecamatan
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                <td width="31%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                SAMBIT
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="22%">
                                    <table width="100%">
                                        <tr>
                                            <td style="padding-left: 10px; padding-right: 10px;">
                                                d. Provinsi
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="45%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                JAWA TIMUR
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="20%" style="padding-left: 30px">
                        Kode Pos
                    </td>
                    <td width="80%">
                        <table style="border-collapse: collapse" width="100%">
                            <tr>
                                <td width="31%">
                                    <table style="border-collapse: collapse;text-align: center" width="100%">
                                        <tr>
                                            {% for v in model.kodepos %}
                                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                    {{ v }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </td>
                                <td width="22%">
                                    <table width="100%">
                                        <tr>
                                            <td style="padding-left: 10px; padding-right: 10px;">
                                                Telepon
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="45%">
                                    <table style="border-collapse: collapse" width="100%">
                                        <tr>
                                            {% for v in model.telp %}
                                                <td style="border: 1px solid black; width: 1px; padding: 4px;">
                                                    {{ v }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


    </div>
    <br>
    <br>
    <!-- <div class="">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary btn-lg" ng-click="printDiv('print')">
                <i class="fa fa-print">
                &nbsp;Print
            </button>
        </div>
    </div> -->
</div>

</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>