<div class="animated fadeIn">
    <div ng-controller="tSkauCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Surat Keterangan Asal Usul</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <!--                    <button class="btn btn-info btn-sm" ng-click="modalCreate();">-->
                    <!--                        <i class="fa fa-plus"></i>-->
                    <!--                        &nbsp;-->
                    <!--                    </button>-->
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row" >
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <input st-search="nama" class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan nama"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Nomor</th>
                            <th class="align-left">Nama</th>
                            <th class="align-left">Dibuat Oleh</th>
                            <th class="align-left">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.nomor}}</td>
                            <td class="align-left">{{ row.nama}}</td>
                            <td class="align-left">{{ row.petugas}}</td>
                            <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <a href="api/t_skau/print?file={{row.file}}&id={{row}}"
                                       target="_blank" class="btn btn-outline-success fa fa-print btn-sm"></a>
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row)"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="font-weight-bold capitalize">Asal Hasil Hutan :</h6>
                            <hr>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Buku Kepemilikan
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.buku"
                                               ng-disabled="is_view" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nomor</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.nomor"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Pemiliki</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.alamat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tempat Muat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.tempat_muat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alat Angkut</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.alat_angkut"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6 class="font-weight-bold capitalize" >Tujuan Pengangkutan : </h6>
                            <hr>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Penerima</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama_penerima"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat Penerimaan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.alamat_penerima"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Yang Menandatangani
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                   ng-model="form.yang_menandatangan" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listTandaTangan | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.jabatan}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Gunakan Digital TTD</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd" uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 1">
                                            </i>
                                            Ya
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd" uib-btn-radio="0">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 0">
                                            </i>
                                            Tidak
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Pembuatan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"
                                               ng-click="toggle($event, 'tgl_pembuatan')" ng-model="form.tgl_pembuatan"
                                               placeholder="Tanggal Pembuatan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Jabatan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.yang_menandatangan.jabatan"
                                           ng-disabled="true" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm"
                                              ng-model="form.yang_menandatangan.alamat_yang_menandatangan"
                                              ng-disabled="true" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="font-weight-bold capitalize">
                                Detail :
                            </h6>
                            <hr/>

                            <div class="pb-3">

<!--                                <button type="button" class="btn btn-sm btn-success"-->
<!--                                        ng-click="tampil(form.nama.no_kk)"-->
<!--                                        ng-disabled="is_view">-->
<!--                                    <i class="fa fa-plus"></i>-->
<!--                                    Dari Keluarga-->
<!--                                </button>-->
                            </div>
                            <table class="table table-bordered">
                                <thead class="bg-dominan">
                                <tr>
                                <tr>
                                    <th class="align-center" style="width: 1%; padding: 7px;">
                                        <button type="button" class="btn btn-sm btn-primary"
                                                ng-click="addDetailAhliWaris(listDetailAhliWaris)"
                                                ng-disabled="is_view">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <!--                                        <button type="button" class="btn btn-sm btn-success fa fa-plus"-->
                                        <!--                                                ng-click="addDetailAhliWaris(listDetailAhliWaris)"-->
                                        <!--                                                ng-disabled="is_view"></button>-->
                                    </th>
                                    <th class="align-center">No</th>
                                    <th class="align-center">Jenis Kayu</th>
                                    <th class="align-center">Bulat (cm)</th>
                                    <th class="align-center">Jumlah (buah)</th>
                                    <!--                                    <th class="align-center">Alamat</th>-->
                                    <th class="align-center">Keterangan</th>
                                </tr>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in listDetailAhliWaris">
                                    <td class="align-center" style="width: 10px; padding: 7px;">
                                        <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                                                ng-click="removeDetailAhliWaris(listDetailAhliWaris, $index)"
                                                ng-disabled="is_view"></button>
                                    </td>
                                    <td style="width:1%" class="align-center">{{ $index + 1}}</td>
                                    <td class="align-left" style="width:20%">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="v.jenis" type="text"/>
                                        </div>
                                    </td>
                                    <td class="align-center" style="width:20%">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-disabled="is_view"
                                                   ng-model="v.bulat" type="text"/>
                                        </div>
                                    </td>
                                    <td class="align-center" style="width:20%">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-disabled="is_view"
                                                   ng-model="v.jumlah" type="text"/>
                                        </div>
                                    </td>
                                    <td class="align-center" style="width:20%">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-disabled="is_view"
                                                   ng-model="v.ket" type="text"/>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
