<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        width: 5%;
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="F4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
    }

    .table-custom-twig {
        border: 1px solid black;
        max-width: 1px;
        text-align: center;
        padding: 0px;
        height: 12px;
        font-size: 9px;
        vertical-align: middle;
    }

    .table-custom-twig-left {
        border: 1px solid black;
        max-width: 1px;
        text-align: left;
        padding: 1px;
        font-size: 9px;
        height: 12px;
    }

    table tr td {
        font-size: 10px;
        padding: 0px;
        margin: 0px;
    }

    h4 {
        font-size: 11px;
    }

    h2 {
        font-size: 15px;
    }

    .ttd .nama {
        text-transform: uppercase;
    }


    .nomor-surat{
        text-align: center;
        font-size: 11pt;
    }
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">

            <div style="padding-left: 50px; padding-top: 10px;">
                <table width="100%">
                    <tr sty>
                        <td width="40%"></td>
                        <td width="45%"></td>
                        <td width="13%" class="table-custom-twig" style="text-align: center; padding: 5px;">F-2.01</td>
                        <td width="3%"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="100%">
                            <table>
                                <tr width="100%">
                                    <td width="45%">Provinsi</td>
                                    <td width="5%">:</td>
                                    <td width="45%">{{ kode.provinsi | upper }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Kabupaten / Kota</td>
                                    <td width="5%">:</td>
                                    <td width="45%">{{ kode.kabupaten | upper }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Kecamatan</td>
                                    <td width="5%">:</td>
                                    <td width="45%">{{ kode.kecamatan | upper }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Kelurahan</td>
                                    <td width="5%">:</td>
                                    <td width="45%">{{ kode.desa | upper }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Kode Wilayah</td>
                                    <td width="5%">:</td>
                                    <td width="45%">
                                        <table style="border-collapse: collapse" width="100%">
                                            <tr>
                                                {% for v in model.kode %}
                                                    <td class="table-custom-twig" style="min-width: 2px;">
                                                        {{ v }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="padding-left: 50px; padding-bottom: 1px;">
                <h2 style="text-align: center; padding-top: 10px; margin: 0px;">
                    FORMULIR PELAPORAN PENCATATAN SIPIL DI DALAM WILAYAH NKRI
                </h2>
                <p style="padding-left: 5px;padding-top: 10px;padding-bottom: 5px;margin: 0px;font-size: 10px">
                    Jenis Pelaporan Pencatatan Sipil : <b>KELAHIRAN</b>
                </p>
            </div>

            <div class="row" style="padding-left: 50px;padding-right: 20px">

                {# DATA PELAPOR #}
                <div class="col-md-12" style="padding: 5px; ">
                    <h4 style="margin-top: 0px; margin-bottom: 5px; margin-left: 3px;">
                        DATA PELAPOR
                    </h4>
                    <table width="100%">
                        <tr>
                            <td width="25%">
                                Nama
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in pelapor.nama_pelapor %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in pelapor.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                No. Dok. Perjalanan
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in model.no_dok_perjalanan %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Nomor HP/WA
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for k,v in pelapor.telp %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                {# DATA SAKSI I#}
                <div class="col-md-12" style="padding: 5px;">
                    <h4 style="margin-top: 0px; margin-bottom: 5px; margin-left: 3px;">
                        SAKSI I
                    </h4>
                    <table width="100%">
                        <tr>
                            <td width="25%">
                                Nama
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in saksi1.nama_saksi1 %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in saksi1.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                {# DATA SAKSI II#}
                <div class="col-md-12" style="padding: 5px;">
                    <h4 style="margin-top: 0px; margin-bottom: 5px; margin-left: 3px;">
                        SAKSI II
                    </h4>
                    <table width="100%">
                        <tr>
                            <td width="25%">
                                Nama
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in saksi2.nama_saksi2 %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in saksi2.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                {# DATA ORANG TUA#}
                <div class="col-md-12" style="padding: 5px;">
                    <h4 style="margin-top: 0px; margin-bottom: 5px; margin-left: 3px;">
                        DATA ORANG TUA
                    </h4>
                    <table width="100%">
                        {# DATA AYAH#}
                        <tr>
                            <td width="25%">
                                Nama Ayah
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ayah.nama_ayah %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK Ayah
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ayah.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tempat lahir Ayah
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ayah.tempat_lahir %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tanggal Lahir Ayah
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td width="10%;">
                                            Tgl.
                                        </td>
                                        {% for v in ayah.tgl_lahir_hari %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="13%;">
                                            Bln.
                                        </td>
                                        {% for v in ayah.tgl_lahir_bulan %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="15%;">
                                            Tahun
                                        </td>
                                        {% for v in ayah.tgl_lahir_tahun %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {# {{ ayah.kewarganegaraan }} #} 1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        {#DATA IBU#}
                        <tr>
                            <td width="25%">
                                Nama Ibu
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ibu.nama_ibu %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK Ibu
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ibu.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tempat lahir Ibu
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ibu.tempat_lahir %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tanggal Lahir Ibu
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td width="10%;">
                                            Tgl.
                                        </td>
                                        {% for v in ibu.tgl_lahir_hari %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="13%;">
                                            Bln.
                                        </td>
                                        {% for v in ibu.tgl_lahir_bulan %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="15%;">
                                            Tahun
                                        </td>
                                        {% for v in ibu.tgl_lahir_tahun %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {# {{ ayah.kewarganegaraan }} #} 1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                {# DATA ANAK#}
                <div class="col-md-12" style="padding: 5px;">
                    <h4 style="margin-top: 0px; margin-bottom: 5px; margin-left: 3px;">
                        DATA ANAK
                    </h4>
                    <table width="100%">
                        <tr>
                            <td width="25%">
                                No Kartu Keluarga
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in bayi.no_kk %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Hubungan Keluarga
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ bayi.hubungan_keluarga }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. Anak
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. Cucu
                                        </td>
                                        <td style="padding-left: 15px;">
                                            3. Famili Lain
                                        </td>
                                        <td style="padding-left: 15px;">
                                            4. Lainnya
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Nama
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in bayi.nama_bayi %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Jenis Kelamin
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ bayi.jenis_kelamin_id }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. Laki-laki
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. Perempuan
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tempat Dilahirkan
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ bayi.tempat_dilahirkan_id }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. RS/RB
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. Puskesmas
                                        </td>
                                        <td style="padding-left: 15px;">
                                            3. Polindes
                                        </td>
                                        <td style="padding-left: 15px;">
                                            4. Rumah
                                        </td>
                                        <td style="padding-left: 15px;">
                                            5. Lainnya
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tempat Kelahiran
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in bayi.tempat_lahir %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Hari dan tanggal lahir
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td width="10%;">
                                            Hari
                                        </td>
                                        {% for v in bayi.hari %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 10px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}


                                        <td style="padding-left: 15px;" width="10%;">
                                            Tgl.
                                        </td>
                                        {% for v in bayi.tgl_lahir_hari %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="13%;">
                                            Bln.
                                        </td>
                                        {% for v in bayi.tgl_lahir_bulan %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="15%;">
                                            Tahun
                                        </td>
                                        {% for v in bayi.tgl_lahir_tahun %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Pukul
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="20%">
                                    <tr>
                                        {% for v in bayi.pukul %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                        <td width="3%">Wib</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Jenis Kelahiran
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ bayi.jenis_kelahiran }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. Tunggal
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. Kembar 2
                                        </td>
                                        <td style="padding-left: 15px;">
                                            3. Kembar 3
                                        </td>
                                        <td style="padding-left: 15px;">
                                            4. Kembar 4
                                        </td>
                                        <td style="padding-left: 15px;">
                                            5. Lainnya
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kelahiran Ke
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ bayi.kelahiran_ke }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1.
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2.
                                        </td>
                                        <td style="padding-left: 15px;">
                                            3.
                                        </td>
                                        <td style="padding-left: 15px;">
                                            4.
                                        </td>
                                        <td style="padding-left: 15px;">
                                            5.
                                        </td>
                                        <td style="padding-left: 15px;">
                                            6.
                                        </td>
                                        <td style="padding-left: 15px;">
                                            ......
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Penolong kelahiran
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ bayi.penolong_kelahiran_id }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. Dokter
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. Bidan/Perawat
                                        </td>
                                        <td style="padding-left: 15px;">
                                            3. Dukun
                                        </td>
                                        <td style="padding-left: 15px;">
                                            4. Lainnya
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Berat Bayi
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="20%">
                                    <tr>
                                        {% for v in bayi.berat_bayi %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                        <td width="3%"> Kg</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Panjang Bayi
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="20%">
                                    <tr>
                                        {% for v in bayi.panjang_bayi %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                        <td width="3%"> Cm</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Golongan Darah
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="20%">
                                    <tr>
                                        {% for v in bayi.gol_darah %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Agama
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ bayi.agama  }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. Islam
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. Kristen
                                        </td>
                                        <td style="padding-left: 15px;">
                                            3. Katholik
                                        </td>
                                        <td style="padding-left: 15px;">
                                            4. Hindu
                                        </td>
                                        <td style="padding-left: 15px;">
                                            5. Buddha
                                        </td>
                                        <td style="padding-left: 15px;">
                                            6. Khonghucu
                                        </td>
                                        <td style="padding-left: 15px; word-wrap: break-word;">
                                            7. Kepercayaan terhadap Tuhan <br> &ensp;&ensp;YME
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kecacatan
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ bayi.cacat }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. Fisik
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. Netra
                                        </td>
                                        <td style="padding-left: 15px;">
                                            3. Rungu/Wicara
                                        </td>
                                        <td style="padding-left: 15px;">
                                            4. Mental
                                        </td>
                                        <td style="padding-left: 15px;">
                                            5. Fisik dan mental
                                        </td>
                                        <td style="padding-left: 15px;">
                                            6. Lainnya
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="2%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>

                </div>

                <br><br>
                <div class="col-md-12" style="padding-top: 5px;">

                    <table width="100%">
                        <tr>
                            <td width="30%" style="text-align: center; text-transform: capitalize;">
                                Mengetahui,<br>
                                {#{{ model.ttd.jabatan | lower }} {{ model.desa.desa }}<br>#}
                                Petugas Pendaftaran <br>
                                {% if ttd == 'null' %}
                                {% else %}
                                    <div style="text-align: center; margin-right: 20px;height: 101px">
                                        {% if model.is_ttd == 1 %}
                                            {% if model.petugas.ttd != null %}
                                                <img style="width: auto; height: 101px; "
                                                     src="../file/ttd/{{ model.petugas.ttd }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div style="margin-top: -40px;" class="ttd">
                                        <span class="nama"
                                              style="font-weight: bold;text-transform: uppercase">({{ model.petugas.nama }}{{ model.petugas.gelar }})</span>
                                    </div>
                                {% endif %}
                            </td>
                            <td width="40%" style="text-align: center"></td>
                            <td width="30%" style="text-align: center">
                                Ponorogo, {{ model.tgl_pembuatan }} <br>
                                Pelapor
                                <div style="text-align: center; margin-right: 20px;height: 101px">

                                </div>
                                <div style="margin-top: -40px;" class="ttd">
                                        <span class="nama"
                                              style="font-weight: bold;text-transform: uppercase">({{ pelapor.nama }})
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </page>
    </div>
    <br>
    <br>
    <!-- <div class="">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary btn-lg" ng-click="printDiv('print')">
                <i class="fa fa-print">
                &nbsp;Print
            </button>
        </div>
    </div> -->
</div>

</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
