<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                {% if model.kop.kop_surat != null %}
                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
                {% endif %}
            </div>
            <br>
            <p class="nama-surat">SURAT KETERANGAN BUKTI KELAHIRAN</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>

            <br><br>
            <div style="padding-left: 20px;padding-right: 20px">
                Yang bertanda tangan di bawah ini :
                <table style="margin-left: 10px;">
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Nama</td>
                        <td>:</td>
                        <td>{{ model.ttd.nama }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">NIP/NIS</td>
                        <td>:</td>
                        <td>{{ model.ttd.nik }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Jabatan</td>
                        <td>:</td>
                        <td>{{ model.ttd.jabatan }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Alamat</td>
                        <td>:</td>
                        <td>{{ model.ttd.data_penduduk.alamat_tinggal }}</td>
                    </tr>
                </table>
                <br>

                Menyatakan telah terjadi peristiwa kelahiran seorang bayi dengan identitas sebagai berikut :
                <table style="margin-left: 30px;" width="100%">
                    <tr>
                        <td width="27%">Nama bayi / anak</td>
                        <td width="1%">:</td>
                        <td >{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td>Jenis kelamin</td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td>Tempat dilahirkan</td>
                        <td>:</td>
                        <td>{{ model.tempat_dilahirkan }}</td>
                    </tr>
                    <tr>
                        <td>Tempat kelahiran</td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}</td>
                    </tr>
                    <tr>
                        <td>Hari dan tanggal lahir</td>
                        <td>:</td>
                        <td>{{ model.hari_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td>Pukul</td>
                        <td>:</td>
                        <td>{{ model.pukul }} WIB</td>
                    </tr>
                    <tr>
                        <td>Jenis kelahiran</td>
                        <td>:</td>
                        <td>{{ model.jenis_kelahiran }}</td>
                    </tr>
                    <tr>
                        <td>Kelahiran ke</td>
                        <td>:</td>
                        <td>{{ model.kelahiran_ke }}</td>
                    </tr>
                    <tr>
                        <td>Urutan anak ke</td>
                        <td>:</td>
                        <td>{{ model.kelahiran_ke }}</td>
                    </tr>
                    <tr>
                        <td>Penolog kelahiran</td>
                        <td>:</td>
                        <td>{{ model.penolong_kelahiran }}</td>
                    </tr>
                    <tr>
                        <td>Berat bayi</td>
                        <td>:</td>
                        <td>{{ model.berat_bayi }} Kg</td>
                    </tr>
                    <tr>
                        <td>Panjang bayi</td>
                        <td>:</td>
                        <td>{{ model.panjang_bayi }} Cm</td>
                    </tr>
                </table>
                <br>

                Merupakan anak dari :
                <table style="margin-left: 30px;" width="100%">
                    <tr>
                        <td width="27%">Nama Ayah</td>
                        <td width="1%">:</td>
                        <td width="35%">{{ model.ayah.nama }}</td>
                        <td width="3%"></td>
                        <td width="8%">Umur</td>
                        <td width="1%">:</td>
                        <td class="non-capitalize">{{ model.ayah.umur }} th</td>
                    </tr>
                    <tr>
                        <td >NIK</td>
                        <td >:</td>
                        <td colspan="5">{{ model.ayah.nik }}</td>
                    </tr>
                    <tr>
                        <td >Alamat</td>
                        <td >:</td>
                        <td colspan="5">{{ model.ayah.alamat }}</td>
                    </tr>
                    <tr>
                        <td >Nama Ibu</td>
                        <td >:</td>
                        <td >{{ model.ibu.nama }}</td>
                        <td ></td>
                        <td >Umur</td>
                        <td >:</td>
                        <td class="non-capitalize">{{ model.ibu.umur }} th</td>
                    </tr>
                    <tr>
                        <td >NIK</td>
                        <td >:</td>
                        <td colspan="5">{{ model.ibu.nik }}</td>
                    </tr>
                    <tr>
                        <td >Alamat</td>
                        <td >:</td>
                        <td colspan="5">{{ model.ibu.alamat }}</td>
                    </tr>
                </table>

                <br>

                <p style="margin-left: 32px;">Demikian surat keterangan bukti kelahiran dibuat untuk dipergunakan sebgaimana mestinya.</p>

                <br><br><br>
                <table width="100%">
                    <tr>
                        <td width="40%" style="text-align: center"></td>
                        <td width="30%" style="text-align: center; text-transform: capitalize;">
                            {{ model.ttd.data_penduduk.kecamatan }},{{ model.tgl_pembuatan }}<br>
                            {{ model.ttd.jabatan | lower }} {{ model.ttd.data_penduduk.kecamatan }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 101px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 101px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;" class="ttd">
                                        <span class="nama"
                                              style="font-weight: bold;text-transform: uppercase"><u>{{ model.ttd.nama }}</u></span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
