<style type="text/css">
    {% include 'css/surat-kelahiran-sptjm.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
{#            <div>#}
{#                {% if model.kop.kop_surat != null %}#}
{#                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">#}
{#                {% endif %}#}
{#            </div>#}
            <p class="nama-surat">Surat Pernyataan Tanggung Jawab Mutlak (SPTJM) <br> Kebenaran Data Kelahiran</p>

            <br><br>
            <div style="padding-left: 20px;padding-right: 20px">
                Saya yang bertanda tangan di bawah ini <sup>*)</sup>:
                <table style="margin-left: 30px;">
                    <tr>
                        <td width="200">Nama</td>
                        <td width="10">:</td>
                        <td width="500">{{ model.ayah.nama }}</td>
                    </tr>
                    <tr>
                        <td>NIK</td>
                        <td>:</td>
                        <td>{{ model.ayah.nik }}</td>
                    </tr>
                    <tr>
                        <td>Tempat/tanggal lahir</td>
                        <td>:</td>
                        <td>{{ model.ayah.tempat_lahir }}, {{ model.ayah.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td>{{ model.ayah.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.ayah.alamat }}</td>
                    </tr>
                </table>

                menyatakan bahwa:
                <table style="margin-left: 30px;">
                    <tr>
                        <td width="200">Nama</td>
                        <td width="10">:</td>
                        <td width="500">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td>NIK</td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td>Tempat/tanggal lahir</td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td>Anak ke <sup>**)</sup></td>
                        <td>:</td>
                        <td>{{ model.kelahiran_ke }}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.alamat }}</td>
                    </tr>
                </table>

                adalah anak kandung dari:
                <table style="margin-left: 30px;">
                    <tr>
                        <td width="200">Nama Ibu</td>
                        <td width="10">:</td>
                        <td width="500">{{ model.ibu.nama }}</td>
                    </tr>
                    <tr>
                        <td>NIK</td>
                        <td>:</td>
                        <td>{{ model.ibu.nik }}</td>
                    </tr>
                    <tr>
                        <td>Tempat/tanggal lahir</td>
                        <td>:</td>
                        <td>{{ model.ibu.tempat_lahir }}, {{ model.ibu.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td>{{ model.ibu.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.ibu.alamat }}</td>
                    </tr>
                </table>

                yang lahir dengan penolong kelahiran:
                <table style="margin-left: 30px;">
                    <tr>
                        <td width="200">Nama</td>
                        <td width="10">:</td>
                        <td width="500" class="doted"></td>
                    </tr>
                    <tr>
                        <td>NIK</td>
                        <td>:</td>
                        <td class="doted"></td>
                    </tr>
                    <tr>
                        <td>Tempat/tanggal lahir</td>
                        <td>:</td>
                        <td class="doted"></td>
                    </tr>
                    <tr>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td class="doted"></td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td class="doted"></td>
                    </tr>
                </table>

                <br>
                Demikian surat pernyataan ini saya buat dengan sebenar-benarnya dan apabila di kemudia hari ternyata pernyataan saya
                ini tidak benar, maka saya bersedia diproses secara hukum sesuai dengan peraturan perundang-undangan dan dokumen yang diterbitkan
                akibat dari pernyataan ini menjadi tidak sah.
                <br>
                <br>
                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td style="width: 30%; text-align: justify">
                            Saksi I<sup>***)</sup>
                            <div style="margin-right: 20px;height: 100px">
                            </div>
                            <div style="margin-top: -40px;">
                                <span class="nama"><u>({{ model.saksi1.nama }})</u></span> <br>
                                NIK. {{ model.saksi1.nik }}</sup>
                            </div>
                        </td>
                        <td style="width: 40%;"></td>
                        <td style="width: 30%;text-transform: capitalize">
                            {{ model.ayah.kabupaten_ttd }}, {{ model.tgl_pembuatan }}<br>
                            Saya yang menyatakan,
                            <div style="margin-right: 20px;height: 100px">
                            </div>
                            <div style="margin-top: -40px;">
                                <span class="nama"><u>({{ model.ayah.nama }})</u></span> <br>
                                NIK. {{ model.ayah.nik }}</sup>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; text-align: justify">
                            Saksi II<sup>***)</sup>
                            <div style="margin-right: 20px;height: 100px">
                            </div>
                            <div style="margin-top: -40px;">
                                <span class="nama"><u>({{ model.saksi2.nama }})</u></span> <br>
                                NIK. {{ model.saksi2.nik }}</sup>
                            </div>
                        </td>
                        <td style="width: 40%;"></td>
                        <td align="center" style="width: 30%;text-transform: capitalize">

                        </td>
                    </tr>
                </table>

                <br>
                <table width="100%">
                    <tr>
                        <td style="padding: 0px 2px;"><u style="text-transform: capitalize"><b>Keterangan:</b></u></td>
                    </tr>
                    <tr>
                        <td>Lampiran ini digunakan dalam hal persyaratan berupa Surat Keterangan Lahir tidak terpenuhi.</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 2px;">*) Bapak/Ibu/Wali yang bertanggungjawab atau pemohon yang sudah dewasa</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 2px;">**) Ditulis urutan kelahiran anak.</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 2px;">***) Saksi adalah penduduk yang mengetahui pada saat dibuatnya SPTJM ini</td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
