<div class="animated fadeIn">
    <div ng-controller="rPendudukPekerjaan">
        <div class="card">
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Jalan / Dusun
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="filter.dusun" theme="bootstrap"
                                                on-select="getRw(filter.dusun.id)">
                                        <ui-select-match placeholder="Pilih Dusun">
                                            {{$select.selected.dusun}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDusun | filter : $select.search">
                                            {{value.dusun}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    RW
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="filter.dusun == undefined"
                                               ng-model="filter.rw" theme="bootstrap" on-select="getRt(filter.rw.id)">
                                        <ui-select-match placeholder="Pilih RW">
                                            {{$select.selected.rw}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listRw | filter : $select.search">
                                            {{value.rw}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    RT
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="filter.rw == undefined"
                                               ng-model="filter.rt" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih RT">
                                            {{$select.selected.rt}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listRt | filter : $select.search">
                                            {{value.rt}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="reset_filter()" type="button">
                                    <i class="fa fa-recycle"></i> Reset form
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="getRekap(filter)">
                                    <i class="fa fa-eye"></i>Tampilkan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <div class="card" style="margin-top: 20px;">
        <div class="card-body" ng-show="is_view">
            <!--<div class="card-body" >-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                ng-click="view(0, 1,form)"
                                ng-disabled="!is_view">
                            <i class="fa fa-print"></i> Print
                        </button>
                        <button type="button" class="btn btn-outline-green btn-sm"
                                ng-click="view(1, 0,form)"
                                ng-disabled="!is_view">
                            <i class="far fa-file-excel"></i> Export Excel
                        </button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr/>
                </div>
            </div>

            <div class="row" id="print">
                <div class="col-md-12 col-print text-center">
                    <h2 class="no-mp font-weight-bold"><u>REKAP PENDUDUK BERDASARKAN PEKERJAAN
                        {{filter_tampil.desa | uppercase}}</u></h2>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-laporan" style="margin: 0">
                            <thead>
                            <tr class="align-center">
                                <th style="background-color: #ececec; width: 70px;" >No.</th>
                                <th style="background-color: #ececec" >Pekerjaan</th>
                                <th style="background-color: #ececec" >Jumlah Penduduk</th>
                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                            <tr ng-repeat="val in dataLaporan" class="align-center">
                                <td class="align-center text-capitalize">{{ $index + 1}}</td>
                                <td>{{ val.pekerjaan}}</td>
                                <td>{{ val.jumlah}} Orang</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2" class="align-right font-weight-bold">Total</td>
                                <td class="align-center font-weight-bold">{{total}}</td>
                            </tr>
                            </tfoot>
                            <!-- <tfoot>
                            <tr align="center">
                                <td colspan="12">
                                    <div st-items-by-page="20" st-pagination=""
                                        st-template="tpl/common/pagination.custom.html"></div>
                                </td>
                            </tr>
                            </tfoot> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
