<div class="animated fadeIn">
    <div ng-controller="mBurekolCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar BUREKOL</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">NIK</label>
                                        <div class="col-sm-2">
                                            <input st-search="no_nik" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan NIK"/>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Nama"/>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Tahun</label>
                                        <div class="col-sm-2">
                                            <input st-search="tahun" class="form-control form-control-sm" placeholder="Cari berdasarkan tahun"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">No</th>
                            <th class="align-left">Tahun</th>
                            <th class="align-left">NIK</th>
                            <th class="align-left">Nama</th>
                            <th class="align-left">Tanggal Lahir</th>
                            <th class="align-left">Alamat</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ $index + 1 + offset}}</td>
                            <td class="align-left">{{ row.tahun | date:'yyyy'}}</td>
                            <td class="align-left">{{ row.no_nik }}</td>
                            <td class="align-left">{{ row.nama }}</td>
                            <td class="align-left">{{ row.tgl }}</td>
                            <td class="align-left">{{ row.alamat }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <!--  <div class="col-md-12">
                             <h6 class="tittle-header">Info Pribadi</h6>
                         </div> -->
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Nama Penduduk
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                   on-select="data(form.penduduk.id);" ng-model="form.penduduk"
                                                   theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Cari berdasarkan Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="searchNama($select.search)"
                                                               repeat="val in listPenduduk">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No KK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control angka form-control-sm" ng-model="form.no_kk"
                                           ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control angka form-control-sm" ng-model="form.no_nik"
                                           ng-disabled="is_view"/>
                                </div>
                            </div>
                            <!--                            <div class="form-group row">-->
                            <!--                                <label class="col-sm-3 col-form-label-sm">Nama</label>-->
                            <!--                                <div class="col-sm-9">-->
                            <!--                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama" ng-disabled="is_view"/>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.ttl"
                                               ng-click="toggle($event, 'ttl')" ng-model="form.ttl"
                                               placeholder="Tanggal Lahir" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar">
                                                    </i>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No Kartu</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control angka form-control-sm"
                                           ng-model="form.no_kartu" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No Rekening</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control angka form-control-sm" ng-model="form.no_rek"
                                           ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Ibu</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.ibu"
                                           ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kelurahan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nmkel"
                                           ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tahap</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.tahap"
                                           ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.alamat" rows="2"
                                              ng-disabled="is_view"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Keterangan</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.keterangan" rows="2"
                                              ng-disabled="is_view"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Tahun
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control form-control-sm" datepicker-options="options_min"
                                               is-open="opened.tahun" ng-click="toggle($event, 'tahun')"
                                               ng-model="form.tahun" type="text" uib-datepicker-popup="yyyy"
                                               min-mode="year" ng-disabled="is_view"/>
                                        <div class="input-group-text" ng-click="toggle($event, 'tahun')">
                                            <i class="far fa-calendar-alt">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek   <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
