<div class="animated fadeIn" xmlns="http://www.w3.org/1999/html">
    <div class="dashboard" ng-controller="dashboardCtrl">
        <div class="row">
            <div class="col-md-3">
                <div class="card border-left-primary shadow h-75 bg-gradient-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Keluarga</div>
                                <div class="h5 mb-0 font-weight-bold ">{{jumlah_keluarga | number}}</div>
                            </div>
                            <div class="col-auto">
                                    <span style="color : Dodgerblue">
                                        <i class="fas fa-user-friends fa-2x "></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-left-primary shadow h-75 bg-gradient-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Penduduk</div>
                                <div class="h5 mb-0 font-weight-bold ">{{jumlah_penduduk | number}}</div>
                            </div>
                            <div class="col-auto">
                                    <span style="color : green">
                                        <i class="fas fa-users fa-2x "></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-left-primary shadow h-75 bg-gradient-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Jumlah Laki-laki</div>
                                <div class="h5 mb-0 font-weight-bold ">{{jumlah_lk | number}}</div>
                            </div>
                            <div class="col-auto">
                                    <span style="color : #007bff">
                                        <i class="fas fa-user-tie fa-2x"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-left-primary shadow h-75 bg-gradient-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Jumlah Perempuan</div>
                                <div class="h5 mb-0 font-weight-bold ">{{jumlah_pr | number}}</div>
                            </div>
                            <div class="col-auto">
                                    <span style="color : #17a2b8">
                                        <i class="fas fa-user-nurse fa-2x"></i>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Penduduk Berdasarkan Agama</h5>
                        <hr/>
                        <div zingchart id="agama" zc-json="listAgama" zc-height=350 zc-width="100%"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Penduduk Berdasarkan Status Kawin</h5>
                        <hr/>
                        <div zingchart id="listStatusKawin" zc-json="listStatusKawin" zc-height=350
                             zc-width="100%"></div>
                    </div>
                </div>
            </div><div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Penduduk Berdasarkan Dusun</h5>
                        <hr/>
                        <div zingchart id="listDusun" zc-json="listDusun" zc-height=350
                             zc-width="100%"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Penduduk Berdasarkan Umur</h5>
                        <hr/>
                        <canvas class="chart-horizontal-bar"
                                chart-data="dataPendudukUmur" chart-labels="dataPendudukUmurLabels">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Penduduk Berdasarkan Status Pendidikan</h5>
                        <hr/>
                        <canvas class="chart-horizontal-bar"
                                chart-data="dataPendidikan" chart-labels="labels">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Penduduk Berdasarkan Pekerjaan</h5>
                        <hr/>
                        <canvas class="chart-horizontal-bar"
                                chart-data="pekerjaan" chart-labels="pekerjaan_labels">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
