<div class="animated fadeIn">
    <div ng-controller="mgalleryCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <ng-form name="nestedForm">
                <div class="hbox hbox-auto-xs hbox-auto-sm" style="padding:15px" nv-file-drop=""
                     uploader="uploaderGallery" filters="queueLimit, customFilter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wrapper-md">
                                <div ng-show="uploaderGallery.isHTML5" class="m-b-md" style="height: 160px;background-color: #c2cfd6">
                                    <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b"
                                         nv-file-over="" over-class="b-info"
                                         uploader="uploaderGallery">

                                    </div>
                                    <p class="text-center" style="padding-top: 70px">[+] Drop Gambar</p>
                                </div>
                                <!--<p>Pilih Gambar</p>-->
                                <div>
                                    <input class="fileUploadr btn btn-primary edit choose"type="file" nv-file-select="" uploader="uploaderGallery"
                                           multiple style="width: 100%"/>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mt-3">
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select ng-disabled="is_view" ng-model="form.kategori_id" style="width: 100%;" theme="bootstrap">
                                                <ui-select-match placeholder="Pilih Kategori Gallery">
                                                    {{$select.selected.nama}}
                                                </ui-select-match>
                                                <ui-select-choices position="down" repeat="val in listKategori | filter : $select.search">
                                                    {{val.nama}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="wrapper-md">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="50%">Name</th>
                                            <th ng-show="uploaderGallery.isHTML5">Size</th>
                                            <th ng-show="uploaderGallery.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploaderGallery.queue">
                                            <td><strong>{{ item.file.name}}</strong></td>
                                            <td ng-show="uploaderGallery.isHTML5" nowrap>{{
                                                item.file.size / 1024 / 1024|number:2 }} MB
                                            </td>
                                            <td ng-show="uploaderGallery.isHTML5">
                                                <div class="progress progress-sm m-b-none m-t-xs">
                                                    <div class="progress-bar bg-info"
                                                         role="progressbar"
                                                         ng-style="{ 'width' : item.progress + '%' }">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"
                                                      class="text-success"><i
                                                        class="fa fa-ok"></i></span>
                                                <span ng-show="item.isCancel"
                                                      class="text-warning"><i
                                                        class="fa fa-ban-circle"></i></span>
                                                <span ng-show="item.isError"
                                                      class="text-danger"><i
                                                        class="fa fa-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button"
                                                        class="btn btn-default btn-xs"
                                                        ng-click="item.upload(form)"
                                                        ng-disabled="form.kategori_id == undefined || item.isReady || item.isUploading || item.isSuccess">
                                                    Upload
                                                </button>
                                                <button type="button"
                                                        class="btn btn-default btn-xs"
                                                        ng-click="item.cancel()"
                                                        ng-disabled="!item.isUploading">
                                                    Cancel
                                                </button>
                                                <button type="button"
                                                        class="btn btn-default btn-xs"
                                                        ng-click="item.remove()">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <div>
                                        <p>Proses Upload:</p>
                                        <div class="progress bg-light dker" style="">
                                            <div class="progress-bar progress-bar-striped bg-info"
                                                 role="progressbar"
                                                 ng-style="{ 'width' : uploaderGallery.progress + '%' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 20px">
                                        <button type="button"
                                                class="btn btn-addon btn-success"
                                                ng-click="uploadGambar(form)"
                                                ng-disabled="form.kategori_id == undefined || !uploaderGallery.getNotUploadedItems().length">
                                            <i class="fa fa-arrow-circle-o-up"></i> Upload
                                            all
                                        </button>
                                        <button type="button"
                                                class="btn btn-addon btn-warning"
                                                ng-click="uploaderGallery.cancelAll()"
                                                ng-disabled="!uploaderGallery.isUploading">
                                            <i class="fa fa-ban"></i> Cancel all
                                        </button>
                                        <button type="button"
                                                class="btn btn-addon btn-danger"
                                                ng-click="uploaderGallery.clearQueue()"
                                                ng-disabled="!uploaderGallery.queue.length">
                                            <i class="fa fa-trash-o"></i> Remove all
                                        </button>
                                    </div>
                                    <br>
                                    <!--<div class="alert alert-info" ng-show="is_create">-->
                                    <!--<i>-->
                                    <!--" Gambar yang di upload pertama akan otomatis di-->
                                    <!--jadikan sebagai gambar produk. "-->
                                    <!--</i>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="listGambar.length > 0" style="margin-top: 20px">
                        <div class="col-md-12">
                            <div class="wrapper-md dker b-b" style="margin-bottom: 25px;">
                                <h3 class="page-header">Detail Gallery</h3>
                            </div>
                            <hr/>
                            <div class="form-group form-inline">
                                <div ng-repeat="slide in listGambar"
                                     class="col-md-2 m-b repeat-animation hide-fade">
                                    <a ng-click="gambarzoom(slide.id, slide.file)">
                                        <img ng-src="img/gallery/{{slide.file}}"
                                             class="img-thumbnail" style="margin-bottom: 20px">
                                    </a>
                                    <a style="position: absolute;top: 5px;right: 102px">
                                        <button class="btn btn-sm btn-warning" style="padding: 1px 5px 1px 5px">
                                            <span style="font-size: 10px">
                                                {{slide.nama_kategori}}
                                            </span>
                                        </button>
                                    </a>
                                    <a ng-if="slide.is_primary == 0 && !is_view" ng-click="primaryFoto(slide.kategori_id, slide.id, 1)" style="position: absolute;top: 5px;right: 60px">
                                        <i class="btn btn-primary fa  fa-key" title="Primary"></i>
                                    </a>
                                    <a ng-if="slide.is_primary == 1 && !is_view" ng-click="primaryFoto(slide.kategori_id, slide.id, 1)" style="position: absolute;top: 5px;right: 60px">
                                        <i class="btn btn-success fa  fa-key" title="Primary"></i>
                                    </a>
                                    <a ng-click="removeFoto($index, slide.file, slide.id, slide.m_project_id)" style="position: absolute;top: 5px;right: 20px">
                                        <i class="btn btn-danger fa fa-trash"
                                           title="Hapus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-form> 
        </div>
    </div>
</div>
