<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                {# <img src="../file/kop_surat/campurejo.png" style="width: 100%"> #}
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
            </div>

            <p class="nama-surat">SURAT KETERANGAN AHLI WARIS</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>

            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan di bawah ini :</p>
                <table width="100%">
                    <tr>
                        <td width="25%"><p>Nama</p></td>
                        <td>:</td>
                        <td>{{ ttd.nama | upper}}</td>
                    </tr>
                    <tr>
                        <td><p>Jabatan</p></td>
                        <td>:</td>
                        <td>{{ ttd.jabatan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ ttd.alamat_yang_menandatangan }}</td>
                    </tr>
                </table>
                <p>Menerangkan dengan sebenar-benarnya bahwa : </p>
                <table width="100%">
                    <tr>
                        <td width="25%"><p>Nama Lengkap</p></td>
                        <td>:</td>
                        <td>{{ model.nama_penduduk | upper}}</td>
                    </tr>
                    <tr>
                        <td><p>Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl. lahir</p></td>
                        <td>:</td>
                        <td>{{ model.ttl }}</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ model.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ model.alamat }}
                        </td>
                    </tr>
                </table>

                {# <br/> #}
                {# {{ model.keterangan | raw }} #}
                {# <br/> #}
                <p>Nama tersebut diatas adalah benar telah meninggal dunia pada {{ model.tgl_kematian }} di
                    {{ model.tempat_meninggal }} dan sebagai ahli warisnya adalah :</p>
                <br>

                <table width="100%" class="border">
                    <thead>

                    <tr>
                        <th style="padding: 5px; text-align: center;">NO</th>
                        <th style="padding: 5px; text-align: left;">NAMA</th>
                        <th style="padding: 5px">LK/LP</th>
                        <th style="padding: 5px">UMUR</th>
                        <th style="padding: 5px">ALAMAT</th>
                        <th style="padding: 5px">KETERANGAN</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,val in detail %}
                        <tr>
                            <td style="padding: 5px;text-align: center">{{ key+1 }}</td>
                            <td style="padding: 5px;">{{ val.nama }}</td>
                            <td style="padding: 5px;  text-align: center;">{{ val.jenis_kelamin }}</td>
                            <td style="padding: 5px; text-align: center;">{{ val.umur }} th</td>
                            <td style="padding: 5px; text-align: center;">{{ val.alamat }}</td>
                            <td style="padding: 5px; text-align: center;">{{ val.keterangan }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <p>Demikian Surat Keterangan ini di buat dengan
                    sebenar-benarnya dan
                    agar dapat dipergunakan sebagaimana mestinya.</p>
                <br>

                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%">
                            {{ model.desa }}, {{ model.tgl_pembuatan }}<br>
                            {{ ttd.jabatan }} {{ model.desa }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.ttd.ttd != null %}
                                        <img style="width: auto; height: 130px; " src="../file/ttd/{{ ttd.ttd }}">
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ ttd.nama }}</span>{{ ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>