<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <span class="btn btn-danger pull-right" ng-click="close()"></span>
            </div>
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}"
                     style="width: 100%">
            </div>
            {# {{ model.isi | raw }} #}
            {% if ( model.jenis  == 'kecamatan' ) %}
                <div>
                    <h3 style="text-align: center; padding-top: 10px; margin: 0px;">
                        SURAT PENGANTAR PINDAH
                    </h3>
                    <h3 style="text-align: center; padding-top: 2px; margin: 0px;">
                        Antar Desa / Dalam Satu Kecamatan
                    </h3>
                    <p style=" text-align: center; padding-top: 2px;margin: 0px;">
                        No.{{ model.no_surat }}
                    </p>
                </div>
            {% endif %}
            {% if ( model.jenis  == 'kabupaten' ) %}
                <div>
                    <h3 style="text-align: center; padding-top: 10px; margin: 0px;">
                        SURAT PENGANTAR PINDAH
                    </h3>
                    <h3 style="text-align: center; padding-top: 2px; margin: 0px;">
                        Antar Kecamatan / Dalam Satu Kabupaten
                    </h3>
                    <p style=" text-align: center;  padding-top: 2px;margin: 0px;">
                        No.475.2/01/405.30.04.08/2020
                    </p>
                </div>
            {% endif %}
            {% if ( model.jenis  == 'provinsi' ) %}
                <div>
                    <h3 style="text-align: center; padding-top: 10px; margin: 0px;">
                        SURAT PENGANTAR PINDAH
                    </h3>
                    <h3 style="text-align: center; padding-top: 2px; margin: 0px;">
                        Antar Kabupaten / Kota Atau Antar Provinsi
                    </h3>
                    <p style=" text-align: center;  padding-top: 2px;margin: 0px;">
                        No.475.2/ 035 /405.30.04.08/2020
                    </p>
                </div>
            {% endif %}
            {# #}
            {# <p class="nomor-surat">Nomor : {{ model.no_surat }}</p> #}
            {# #}
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan di bawah ini Kepala Desa {{ model.nama_desa | capitalize }}
                    Kecamatan {{ model.nama_kecamatan }}
                    {{ model.nama_kabupaten }}, menerangkan dengan sebenarnya bahwa :</p><br/>
                <table style="width: 100%">
                    <tr>
                        <td><p>NIK</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td width="40%"><p>Nama</p></td>
                        <td>:</td>
                        <td width="60%">{{ model.nama | upper}}</td>
                    </tr>
                    <tr>
                        <td><p>Nomor Kartu Keluarga</p></td>
                        <td>:</td>
                        <td>{{ model.no_kk }}</td>
                    </tr>
                    <tr>
                        <td><p>Nama Kepala Keluarga</p></td>
                        <td>:</td>
                        <td>{{ model.nama_tujuan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat Sekarang</p></td>
                        <td>:</td>
                        <td>{{ model.alamat_lengkap }}</td>
                    </tr>
                    <tr>
                        <td valign="top"><p>Alamat Pindah</p></td>
                        <td valign="top">:</td>
                        <td>
                            {{ model.alamat_pindah }}
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"><p>Jumlah Keluar Yang Pindah</p></td>
                        <td valign="top">:</td>
                        <td>{{ model.jumlah }} Orang</td>
                    </tr>
                </table>
                <br/>
                <p>Adapun permohonan Pindah Penduduk WNI yang bersangkutan sebagaimana terlampir.
                    Demikian Surat Pengantar Pindah ini dibuat agar digunakan sebagaimana mestinya.</p>
            </div>
            <br>

            <table style="width: 100%">
                <tr>
                    <td width="50%">&nbsp;</td>
                    <td width="50%" style="text-align: center" class="ttd">
                        {{ model.ttd.desa }}, {{ model.tgl_pembuatan }}<br>
                        {{ model.ttd.jabatan }} {{ model.ttd.desa }}<br>
                        {% if ttd == 'null' %}
                        {% else %}
                            <div style="text-align: center; margin-right: 20px;height: 130px">
                                {% if model.is_ttd == 1 %}
                                    {% if model.ttd.ttd != null %}
                                        <img style="width: auto; height: 130px; " src="../file/ttd/{{ model.ttd.ttd }}">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="margin-top: -40px;">
                                <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </page>
        <page size="F4">
            <div>
                <span class="btn btn-danger pull-right" ng-click="close()"></span>
            </div>
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}"
                     style="width: 100%">
            </div>
            {# {{ model.isi | raw }} #}
            <h2><b><u>
                        <center>SURAT KETERANGAN PINDAH</center>
                    </u></b></h2>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan di bawah ini Kepala Desa {{ model.desa | capitalize }}
                    Kecamatan {{ model.kecamatan | capitalize }} Kabupaten {{ model.kabupaten | capitalize }},
                    menerangkan dengan sebenarnya bahwa :</p><br/>
                <table style="width: 100%">
                    <tr>
                        <td width="40%"><p>Nama</p></td>
                        <td>:</td>
                        <td width="60%">{{ model.nama | upper }}</td>
                    </tr>
                    <tr>
                        <td><p>Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>Tgl Lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Kewarganegaraan</p></td>
                        <td>:</td>
                        <td>WNI</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ model.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Status Perkawinan</p></td>
                        <td>:</td>
                        <td>{{ model.status }}</td>
                    </tr>
                    <tr>
                        <td><p>Pendidikan</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.pendidikan_akhir }}</td>
                    </tr>
                    <tr>
                        <td><p>Nomor KTP/NIK</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ model.alamat_lengkap }}</td>
                    </tr>
                    <tr>
                        <td valign="top"><p>Keterangan</p></td>
                        <td valign="top">:</td>
                        <td>{{ model.keterangan }}
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"><p>Surat keterangan ini dipergunakan untuk</p></td>
                        <td valign="top">:</td>
                        <td>Permohonan mengurus surat pindah</td>
                    </tr>
                </table>
                <br/>
                <p>Demikian Surat Keterangan ini dibuat dengan sebenarnya agar dapat digunakan sebagaimana
                    mestinya.</p>
            </div>
            <br>

            <table style="width: 100%">
                <tr>
                    <td width="50%">&nbsp;</td>
                    <td width="50%" style="text-align: center" class="ttd">
                        {{ model.ttd.desa }}, {{ model.tgl_pembuatan }}<br>
                        {% if model.ttd.is_kepala_desa != 1 %}#}
                            <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.ttd.desa }}<br>
                        {% endif %}
                        {{ model.ttd.jabatan }} {{ model.ttd.desa }}<br>
                        {% if ttd == 'null' %}
                        {% else %}
                            <div style="text-align: center; margin-right: 20px;height: 130px">
                                {% if model.is_ttd == 1 %}
                                    {% if model.ttd.ttd != null %}
                                        <img style="width: auto; height: 130px; " src="../file/ttd/{{ model.ttd.ttd }}">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="margin-top: -40px;">
                                <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </page>
    </div>
</div>


<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>