<div class="animated fadeIn">
    <div ng-controller="tTanahSuratKuasa">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Surat Kuasa</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Pihak 1
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Nama Pihak 1"
                                           st-search="pihak_1_nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Pihak 2
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Nama Pihak 2"
                                           st-search="pihak_2_nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" st-search="is_deleted">
                                        <option value="0">Aktif</option>
                                        <option value="1">Terhapus</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                        <tr>
                            <th class="align-left">Pihak 1</th>
                            <th class="align-left">Pihak 2</th>
                            <th class="align-left">Desa</th>
                            <th class="align-left">Yang Menandatangani</th>
                            <th class="align-left">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.pihak_1_nama }}</td>
                            <td class="align-left">{{ row.pihak_2_nama }}</td>
                            <td class="align-left">{{ row.desa.desa }}</td>
                            <td class="align-left">{{ row.yang_menandatangani_id.nama}} -
                                {{ row.yang_menandatangani_id.jabatan}}
                            </td>
                            <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>

                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <a href="api/t_tanah_kuasa/print?file=surat_tanah_kuasa&id={{row.id}}"
                                       ng-if="row.is_deleted == 0" target="_blank" class="btn btn-outline-success fa fa-print btn-sm"></a>
                                    <button type="button" class="btn btn-sm btn-info fa fa-edit"
                                            ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                                            ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-sm btn-warning fa fa-recycle"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    <button type="button" class="btn btn-sm btn-danger fa fa-times"
                                            ng-if="row.is_deleted == 1" ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Pihak 1</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Pihak 1
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   on-select="getPihak1(form.pihak_1.id);"
                                                   ng-disabled="is_view"
                                                   ng-model="form.pihak_1" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               refresh="getPenduduk($select.search)"
                                                               repeat="val in listNama">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <button class="btn btn-danger btn-sm"
                                                ng-click="refreshPihak1();">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.pihak_1_nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.pihak_1_tgl_lahir"
                                               ng-click="toggle($event, 'pihak_1_tgl_lahir')" ng-model="form.pihak_1_tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tempat Lahir</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.pihak_1_tempat_lahir"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm"
                                           ng-model="form.pihak_1_alamat"
                                              ng-disabled="is_view" required> </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Pihak 2</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Pihak 2
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   on-select="getPihak2(form.pihak_2.id);"
                                                   ng-disabled="is_view"
                                                   ng-model="form.pihak_2" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               refresh="getPenduduk($select.search)"
                                                               repeat="val in listNama">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <button class="btn btn-danger btn-sm"
                                                ng-click="refreshPihak2();">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.pihak_2_nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.pihak_2_tgl_lahir"
                                               ng-click="toggle($event, 'pihak_2_tgl_lahir')" ng-model="form.pihak_2_tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tempat Lahir</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.pihak_2_tempat_lahir"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm"
                                           ng-model="form.pihak_2_alamat"
                                              ng-disabled="is_view" required> </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Keterangan Surat</label>
                                <div class="col-sm-12">
                                    <textarea ckeditor="editorOptions" ng-model="form.keterangan" ng-disabled="is_view"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tittle-header"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Kecamatan</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                               ng-model="form.kecamatan" theme="bootstrap" style="width: 100%"
                                               on-select="getDesa(form.kecamatan.id)">
                                        <ui-select-match placeholder="Masukkan 3 Karakter">
                                            <b>{{ $select.selected.kecamatan }}</b> - {{ $select.selected.kabupaten }}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           refresh="getKecamatanWithKabupaten($select.search,3502,null,'search')"
                                                           repeat="val in listKecamatanWithKabupaten">
                                            <b>{{ val.kecamatan }}</b> - {{ val.kabupaten }}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   ng-disabled="is_view"
                                                   ng-model="form.desa" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Masukkan 3 Karakter Nama Desa">
                                                <b>{{ $select.selected.desa}}</b> Kec.
                                                {{ $select.selected.nama_kecamatan}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="getDesa($select.search)"
                                                               repeat="val in listDesa">
                                                <b>{{ val.desa}}</b> Kec. {{ val.nama_kecamatan}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Yang Bertanda Tangan
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   ng-disabled="is_view"
                                                   ng-model="form.yang_menandatangani_id" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listTandaTangan | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.jabatan}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Gunakan Digital TTD</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                               uib-btn-radio="1" ng-disabled="is_view">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 1">
                                            </i>
                                            Ya
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                               uib-btn-radio="0" ng-disabled="is_view">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 0">
                                            </i>
                                            Tidak
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Pembuatan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"
                                               ng-click="toggle($event, 'tgl_pembuatan')" ng-model="form.tgl_pembuatan"
                                               placeholder="Tanggal Pembuatan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek  <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
