<style type="text/css">
    {% include 'css/surat-jual-beli.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
            <div>
                {% if model.kop.kop_surat != null %}
                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
                {% endif %}
            </div>
            <p class="nama-surat">Surat Pernyataan Jual Beli Tanah</p>

            <div style="padding-left: 20px;padding-right: 20px">
                <p>Yang bertanda tangan di bawah ini :</p>

                <table style="margin-left: 20px;">
                    <tr>
                        <td>1.</td>
                        <td style="width: 150px">Nama</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Umur</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_umur }} Tahun</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_alamat }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">Yang selanjutnya disebut PIHAK I selaku Penjual</td>
                    </tr>
                </table>

                <table style="margin-left: 20px;">
                    <tr>
                        <td>2.</td>
                        <td style="width: 150px">Nama</td>
                        <td>:</td>
                        <td>{{ model.pihak_2_nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Umur</td>
                        <td>:</td>
                        <td>{{ model.pihak_2_umur }} Tahun</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td>{{ model.pihak_2_pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.pihak_2_alamat }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">Yang selanjutnya disebut PIHAK II selaku Pembeli</td>
                    </tr>
                </table>

                <p>Dengan ini menyatakan dengan sebenarnya :</p>

                <p style="margin-left: 30px;">Bahwa pihak I telah menjual pada Pihak II atas sebidang tanah yang terletak di</p>
                <table style="margin-left: 30px;">
                    <tr>
                        <td style="width: 150px">Jalan/Blok</td>
                        <td>:</td>
                        <td>{{ model.jalan }}</td>
                        <td style="width: 220px;"></td>
                        <td>RT {{ model.rt }}/RW {{ model.rw }}</td>
                    </tr>
                    <tr>
                        <td>Kohir/C No/Sertifikat</td>
                        <td>:</td>
                        <td>{{ model.no_sertifikat }}</td>
                        <td style="width: 220px;"></td>
                        <td class="non-capitalize">Persil : {{ model.persil }} kelas : {{ model.kelas }}</td>
                    </tr>
                    <tr>
                        <td>Dukuh/Desa</td>
                        <td>:</td>
                        <td>{{ model.desa }}</td>
                    </tr>
                    <tr>
                        <td>Luas</td>
                        <td>:</td>
                        <td>{{ model.luas_jual }}</td>
                        <td style="width: 170px;"></td>
                        <td class="non-capitalize">dari Luar : {{ model.luas_asli }}</td>
                    </tr>
                </table>

                <p>Dengan batas-batasnya sebelah</p>
                <table style="margin-left: 30px;">
                    <tr>
                        <td style="width: 150px">Utara</td>
                        <td>:</td>
                        <td>{{ model.batas_utara }}</td>
                    </tr>
                    <tr>
                        <td>Timur</td>
                        <td>:</td>
                        <td>{{ model.batas_timur }}</td>
                    </tr>
                    <tr>
                        <td>Selatan</td>
                        <td>:</td>
                        <td>{{ model.batas_selatan }}</td>
                    </tr>
                    <tr>
                        <td>Barat</td>
                        <td>:</td>
                        <td>{{ model.batas_barat }}</td>
                    </tr>
                </table>

                <p>Bahwa Pihak II telah menerima jual beli sebidang tanah seperti tersebut diatas pada hari : {{ model.hari }}
                    <br> Tanggal {{ model.tgl_jual }}</p>

                <p>Demikian surat pernyataan jual beli ini kami buat dalam keadaan sehat wal afiat tanpa ada tekanan dan paksaan dari pihak lain untuk dipergunakan sebagaimana mestinya.</p>

                <p class="text-right" style="margin-right: 10%">{{ model.desa }} : {{ model.tgl_pembuatan }}</p>
                <p class="text-center">Yang menyatakan</p>
                <table style="margin-left: 130px;">
                    <tr>
                        <td style="width: 150px" class="text-center"> Pihak I</td>
                        <td style="width: 200px;"></td>
                        <td style="width: 150px" class="text-center">Pihak II</td>
                    </tr>
                    <tr style="height: 30px;"></tr>
                    <tr>
                        <td class="capitalize text-center"><u><b>{{ model.pihak_1_nama }}</b></u></td>
                        <td style="width: 200px;"></td>
                        <td class="capitalize text-center"><u><b>{{ model.pihak_2_nama }}</b></u></td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="width: 200px;" colspan="2"><p>Saksi-saksi</p></td>
                                </tr>
                                {% for key,val in detail %}
                                    <tr>
                                        {% if val.tipe == "saksi_lain" %}
                                            <td>{{ val.no_urut+1 }}.</td>
                                            <td>{{ val.nama }}</td>
                                            <td>{{ val.jabatan }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td style="width: 25%;"></td>
                        <td>
                            <table>
                                <tr>
                                    <td style="width: 150px" colspan="2"><p>Saksi Keluarga</p></td>
                                </tr>
                                {% for key,val in detail %}
                                    <tr>
                                        {% if val.tipe == "keluarga" %}
                                            <td style="width: 1%">{{ val.no_urut+1 }}.</td>
                                            <td>{{ val.nama }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>

                <table width="100%" class="ttd">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%;text-transform: capitalize">
                            Mengetahui,<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}
                            {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama"><u>{{ model.ttd.nama }}{{ model.ttd.gelar }}</u></span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
