<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        width: 5%;
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 10px;

    }

    table .tr .td {
        padding-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
        text-transform: capitalize;
    }

    table tr td u {
        vertical-align: top;
        text-transform: uppercase;
    }
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}"
                     style="width: 100%">
            </div>
            {# {{ model.isi | raw }} #}
                <div>
                    <h3 style="text-align: center; padding-top: 10px; margin: 0px;">
                        SURAT KETERANGAN PINDAH TEMPAT
                    </h3>
                    <p style=" text-align: center; padding-top: 2px;margin: 0px;">
                        No.{{ model.no_surat }}
                    </p>
                </div>

            {#  #}
            {# <p class="nomor-surat">Nomor : {{ model.no_surat }}</p> #}
            {#  #}
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p >Yang bertanda tangan di bawah ini Kepala Desa {{ model.desa}} Kecamatan {{ model.kecamatan}}
                    {{ model.kabupaten }}, menerangkan dengan sebenarnya bahwa :</p><br/>
                <table style="width: 100%">
                    <tr>
                        <td width="40%"><p>Nama</p></td>
                        <td>:</td>
                        <td width="60%">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>Tgl Lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Kewarganegaraan</p></td>
                        <td>:</td>
                        <td>{{ model.kewarganegaraan }}</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ model.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Status Perkawinan</p></td>
                        <td>:</td>
                        <td>{{ model.status_kawin }}</td>
                    </tr>
                    <tr>
                        <td><p>Pendidikan</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.pendidikan_akhir }}</td>
                    </tr>
                    <tr>
                        <td><p>Nomor KTP/NIK</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.alamat }}</td>
                    </tr>
                    <tr>
                        <td><p>Keterangan</p></td>
                        <td>:</td>
                        <td>{{ model.keterangan | raw }}</td>
                    </tr>
                    <tr>
                        <td><p>Surat keterangan ini dipergunakan untuk</p></td>
                        <td>:</td>
                        <td>permohonan mengurus surat pindah</td>
                    </tr>
                </table>
                <br/>
                <p>Demikian surat keterangan ini dibuat dengan sebenarnya agar dapat digunakan sebagaimana mestinya.</p>
            </div>
            <br>

            <table style="width: 100%">
                <tr>
                    <td width="50%">&nbsp;</td>
                    <td width="50%" style="text-align: center">
                        Campurejo, {{ model.hari_ini }}<br>
                        Kepala Desa Campurejo
                        {% if ttd == 'null' %}
                        {% else %}
                            <div style="text-align: center; margin-right: 20px;height: 130px">
                                {% if model.is_ttd == 1 %}
                                    {% if model.ttd.ttd != null %}
                                        <img style="width: auto; height: 130px; " src="../file/ttd/{{ model.ttd.ttd }}">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="margin-top: -40px;">
                                <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </page>
        <page size="F4">
            <div>

            </div>
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}"
                     style="width: 100%">
            </div>
            {# {{ model.isi | raw }} #}
            <h2><b><u>
                        <center>SURAT KETERANGAN PINDAH TEMPAT</center>
                    </u></b></h2>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan di bawah ini Kepala Desa Campurejo Kecamatan Sambit {{model.kabupaten}},
                    menerangkan dengan sebenarnya bahwa :</p><br/>
                <table style="width: 100%">
                    <tr>
                        <td width="40%"><p>Nama</p></td>
                        <td>:</td>
                        <td width="60%">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>Tgl Lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Kewarganegaraan</p></td>
                        <td>:</td>
                        <td>WNI</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ model.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Status Perkawinan</p></td>
                        <td>:</td>
                        <td>{{ model.status }}</td>
                    </tr>
                    <tr>
                        <td><p>Pendidikan</p></td>
                        <td>:</td>
                        <td class="non-capitalize">{{ model.pendidikan_akhir }}</td>
                    </tr>
                    <tr>
                        <td><p>Nomor KTP/NIK</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ model.alamat_lengkap }}</td>
                    </tr>
                    <tr>
                        <td valign="top"><p>Keterangan</p></td>
                        <td valign="top">:</td>
                        <td>{{ model.keterangan }}
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"><p>Surat keterangan ini dipergunakan untuk</p></td>
                        <td valign="top">:</td>
                        <td>Permohonan mengurus surat pindah</td>
                    </tr>
                </table>
                <br/>
                <p>Demikian Surat Keterangan ini dibuat dengan sebenarnya agar dapat digunakan sebagaimana
                    mestinya.</p>
            </div>
            <br>

            <table style="width: 100%">
                <tr>
                    <td width="50%">&nbsp;</td>
                    <td align="center" style="width: 50%">
                        {{ model.desa }}, {{ model.hari_ini }}<br>

                        {% if model.ttd.is_kepala_desa != 1 %}
                            <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
         {{model.ttd.jabatan}}<br>
 {% endif %}

                         {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                        {% if ttd == 'null' %}
                        {% else %}
                            <div style="text-align: center; margin-right: 20px;height: 130px">
                                {% if model.is_ttd == 1 %}
                                    {% if model.ttd.ttd != null %}
                                        <img style="width: auto; height: 130px; "
                                             src="../file/ttd/{{ model.ttd.ttd }}">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="margin-top: -40px;">
                                <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </page>
    </div>
</div>


<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
