<div class="animated fadeIn">
    <div class="animated fadeIn">
        <div ng-controller="tsuratUndanganCtrl">
            <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
                <div class="card-header">
                    <strong class="d-md-down-none">Daftar Surat Undangan</strong>
                    <div class="btn-group pull-right mt-5px" role="group">
                        <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                            <i class="fa fa-search"></i>
                            &nbsp;Pencarian
                        </button>
                        <button class="btn btn-primary btn-sm" ng-click="create();">
                            <i class="fa fa-plus"></i>
                            &nbsp;Buat Baru
                        </button>
                    </div>
                </div>

                <div class="card-body p-0px">
                    <div class="pencarian" ng-show="!isCollapsed">
                        <div class="row">
<!--                            <div class="col-md-4">-->
<!--                                <div class="form-group row">-->
<!--                                    <label class="col-sm-3 col-form-label-sm mb-0">-->
<!--                                        No Surat-->
<!--                                    </label>-->
<!--                                    <div class="col-sm-9">-->
<!--                                        <input class="form-control form-control-sm"-->
<!--                                               placeholder="Cari berdasarkan No Surat"-->
<!--                                               st-search="no_surat"/>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm mb-0">
                                        Status
                                    </label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm" st-search="is_deleted">
                                            <option value="0">Aktif</option>
                                            <option value="1">Terhapus</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
<!--                                <th class="align-left">No Surat</th>-->
                                <th class="align-left">Hari</th>
                                <th class="align-left">Tanggal</th>
                                <th class="align-left">Waktu</th>
                                <th class="align-left">Tempat</th>
                                <th class="align-left">Keperluan</th>
                                <th class="align-left">Keterangan</th>
                                <th class="align-left">Catatan</th>
                                <th class="align-left">Yang Menandatangani</th>
                                <th class="align-left">Dibuat Pada</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
<!--                                <td class="align-left">{{ row.no_surat}}</td>-->
                                <td class="align-left">{{ row.hari.label}}</td>
                                <td class="align-left">{{ row.tgl_surat | date:"dd MMM yyyy" }}</td>
                                <td class="align-left">{{ row.waktu_index }}</td>
                                <td class="align-left">{{ row.tempat }}</td>
                                <td class="align-left">{{ row.keperluan }}</td>
                                <td class="align-left">{{ row.keterangan }}</td>
                                <td class="align-left">{{ row.catatan }}</td>
                                <td class="align-left">{{ row.yang_menandatangani_id.nama}} -
                                    {{ row.yang_menandatangani_id.jabatan}}
                                </td>
                                <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <a href="api/t_surat_undangan/print?file=surat_undangan&id={{row.id}}"
                                           ng-if="row.is_deleted == 0" target="_blank" class="btn btn-outline-success fa fa-print btn-sm"></a>
                                        <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                                ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                                ng-if="row.is_deleted == 0" ng-click="trash(row)"></button>
                                        <button type="button" class="btn btn-warning fa fa-recycle btn-sm"
                                                ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                        <button type="button" class="btn btn-sm btn-danger fa fa-times"
                                                ng-if="row.is_deleted == 1" ng-click="delete(row);"></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
                </div>
            </div>
            <div class="card" ng-if="is_edit">
                <div class="card-header">
                    <strong>
                        {{ formtittle}}
                    </strong>
                </div>
                <div class="card-body">
                    <form name="landaform" novalidate="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row" ng-if="!is_create">
                                    <label class="col-sm-4 col-form-label-sm required">No surat </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.no_surat" ng-disabled="is_view"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">
                                        Tanggal Surat
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input class="form-control form-control-sm"
                                                   datepicker-options="{minMode: 'day'}" is-open="opened.tgl_surat"
                                                   ng-click="toggle($event, 'tgl_surat')" ng-model="form.tgl_surat"
                                                   placeholder="Tanggal Surat" type="text"
                                                   uib-datepicker-popup="dd-MM-yyyy">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Keperluan </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.keperluan"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Keterangan </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.keterangan"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Catatan</label>
                                    <div class="col-sm-8">
                                    <textarea class="form-control form-control-sm" ng-model="form.catatan"
                                              ng-disabled="is_view" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">
                                        Yang Bertanda Tangan
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                       ng-model="form.yang_menandatangani_id" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                                    <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                                   repeat="val in listTandaTangan | filter : $select.search">
                                                    <b>{{ val.nama}}</b> - {{ val.jabatan}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">
                                        Hari
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                       ng-model="form.hari" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Pilih Hari">
                                                    {{ $select.selected.label}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                                   repeat="val in listHari | filter : $select.search">
                                                    {{ val.label}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Tempat </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.tempat"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Waktu </label>
                                    <div class="col-sm-2">
                                        <div uib-timepicker ng-model="form.waktu" show-meridian="ismeridian"
                                             hour-step="1" ng-disabled="is_view"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm required">Tanggal Pembuatan</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input class="form-control form-control-sm"
                                                   datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"
                                                   ng-click="toggle($event, 'tgl_pembuatan')"
                                                   ng-model="form.tgl_pembuatan"
                                                   placeholder="Tanggal Pembuatan" type="text"
                                                   uib-datepicker-popup="dd MMMM yyyy"
                                                   ng-disabled="is_view"
                                            >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar">
                                                    </i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                            <i class="fa fa-arrow-left"></i>
                            &nbsp;Kembali
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                                ng-disabled="loading" ng-click="save(form)">
                            <i class="fa fa-save"></i>
                            &nbsp;Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
