<div class="animated fadeIn">
    <div ng-controller="ketetapanPajakCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Himpunan Ketetapan Pajak</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-outline-primary btn-sm" ng-click="download()">
                        <i class="fa fa-download"></i>
                        Download Format Import
                    </button>
                    <button class="btn btn-outline-success btn-sm"
                            ng-click="import()">
                        <i class="fa fa-file-excel"></i>
                        &nbsp;Import Data
                    </button>
                    <!--<button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"-->
                    <!--        ng-click="isCollapsed = !isCollapsed">-->
                    <!--    <i class="fa fa-search"></i>-->
                    <!--    &nbsp;Pencarian-->
                    <!--</button>-->
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    NOP
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan NOP"
                                           st-search="m_pbb.nop"/>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Nama"
                                           st-search="m_pbb.nm_wp_sppt"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    RT
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Nama"
                                           st-search="m_user.nama"/>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    RT
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" st-search="m_pbb.created_by_nik">
                                        <option value="">- Semua - </option>
                                        <option value="belum_setting">- BELUM DI SETTING - </option>
                                        <option ng-repeat="val in user" value="{{val.nik}}">{{val.nama}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Blok
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Nama"
                                           st-search="blok"/>
                                </div>


                            </div>
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Tahun
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Nama" value="2022"
                                           st-search="m_pbb.thn_pajak_sppt"/>
                                </div>


                            </div>
                            <!--                            <div class="form-group row">-->
                            <!--                                <label class="col-sm-3 col-form-label-sm ">-->
                            <!--                                    Pembuat-->
                            <!--                                </label>-->

                            <!--                                <div class="col-sm-9">-->
                            <!--                                    <select class="form-control form-control-sm" st-search="pembuat">-->
                            <!--                                        <option ng-repeat="value in listPembuat" value="{{value.id}}">{{value.nama}}</option>-->
                            <!--                                    </select>-->

                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="form-group row ">-->
                            <!--                                <label class="col-sm-3 col-form-label-sm mb-0">-->
                            <!--                                    No Urut-->
                            <!--                                </label>-->
                            <!--                                <div class="col-sm-9">-->
                            <!--                                    <input class="form-control form-control-sm"-->
                            <!--                                           placeholder="Cari berdasarkan Nama"-->
                            <!--                                           st-search="no_urut"/>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-center">No</th>
                            <th class="align-center">No. Urut</th>
                            <th class="align-center">NIK</th>
                            <th class="align-left">NOP</th>
                            <th class="align-left">Nama</th>
                            <th class="align-center">Luas Tanah</th>
                            <th class="align-center">Luas Bangunan</th>
                            <th class="align-center">Tahun</th>
                            <th class="align-right">NJOP Tanah</th>
                            <th class="align-right">NJOP Bangunan</th>
                            <th class="align-right">Total</th>
                            <th class="align-right">Harus Dibayar</th>
                            <th class="align-center">Status</th>
                            <th class="align-center">Ketua RT</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-center">{{ $index + 1 + offset }}</td>
                            <td class="align-center" width="70px">
                                <input class="form-control form-control-sm text-center" ng-model="row.no_urut" ng-blur="save(row)">
                            </td>
                            <td class="align-left" width="200px">
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-sm text-center" ng-model="row.nik" ng-blur="save(row)">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="button" ng-click="modalNik(row)"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-left">{{ row.nop }}</td>
                            <td class="align-left">{{ row.nm_wp_sppt }}</td>
                            <td class="align-center">{{ row.luas_bumi_sppt }}</td>
                            <td class="align-center">{{ row.luas_bng_sppt }}</td>
                            <td class="align-center">{{ row.thn_pajak_sppt}}</td>
                            <td class="align-right">{{ row.njop_bumi_sppt | number}}</td>
                            <td class="align-right">{{ row.njop_bng_sppt | number}}</td>
                            <td class="align-right">{{ row.njop_sppt | number}}</td>
                            <td class="align-right">{{ row.pbb_yg_hrs_dibayar_sppt | number}}</td>
                            <td class="text-center">
                                <span class="badge badge-success badge-pill capitalize" ng-if="row.is_pembayaran != 0">Sudah Bayar</span>
                                <span class="badge badge-danger badge-pill capitalize" ng-if="row.is_pembayaran == 0">Belum Bayar</span>
                            </td>
                            <td class="align-center">{{ row.nama_rt}}</td>

                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button ng-click="deletePembayaran(row);" ng-if="row.is_pembayaran != 0"
                                            type="button" uib-tooltip="Batalkan Pembayaran"
                                            class="btn btn-outline-primary btn-sm"><i class="fa fa-times"></i> Batalkan
                                        Pembayaran
                                    </button>
                                    <button ng-click="modal(row)" ng-if="row.is_pembayaran == 0" type="button"
                                            uib-tooltip="Bayar" class="btn btn-outline-success btn-sm"><i
                                            class="fa fa-money-bill"></i> Bayar
                                    </button>

                                    <button type="button" class="btn btn-warning fa fa-user btn-sm"
                                            uib-tooltip="Update Pembuat"
                                            ng-click="updatePembuat(row)"></button>

                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
<!--                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>-->
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">NOP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nop"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Nama</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nm_wp_sppt"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Kode Kecamatan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kd_kecamatan"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Kecamatan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nm_kecamatan"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Kode Kelurahan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kd_kelurahan"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Kelurahan</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nm_kelurahan"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Jln OP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.jln_op_sppt"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Jln WP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.jln_wp_sppt"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Luas Tanah</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-sm"
                                               ng-model="form.luas_bumi_sppt"
                                               maxlength="225" ng-disabled="is_view"/>
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Km
                                                        </span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Luas Bangunan</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-sm"
                                               ng-model="form.luas_bng_sppt"
                                               maxlength="225" ng-disabled="is_view"/>
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Km
                                                        </span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">NJOP Tanah</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.njop_bumi_sppt" ng-change="getTotal()"
                                               maxlength="225" ng-disabled="is_view"/>


                                    </div>


                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">NJOP Bangunan</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.njop_bng_sppt" ng-change="getTotal()"
                                               maxlength="225" ng-disabled="is_view"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Total</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.njop_sppt"
                                               maxlength="225" ng-disabled="1"/>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">NJOP TKP</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.njoptkp_sppt"
                                               maxlength="225" ng-disabled="is_view"/>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Harus Dibayar</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.pbb_yg_hrs_dibayar_sppt"
                                               maxlength="225" ng-disabled="is_view"/>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Tahun</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.thn_pajak_sppt"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
<!--                            <div class="form-group row" ng-if="is_update">-->
<!--                                <label class="col-sm-4 col-form-label-sm ">-->
<!--                                    Pembuat-->
<!--                                </label>-->
<!--                                <div class="col-sm-8">-->
<!--                                    <ui-select class="w-100"-->
<!--                                               ng-model="form.pembuat" theme="bootstrap">-->
<!--                                        <ui-select-match placeholder="Pilih Pembuat">-->
<!--                                            {{$select.selected.nama}}-->
<!--                                        </ui-select-match>-->
<!--                                        <ui-select-choices repeat="value in listPembuat| filter : $select.search">-->
<!--                                            {{value.nama}}-->
<!--                                        </ui-select-choices>-->
<!--                                    </ui-select>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row" ng-if="is_update">
                                <label class="col-sm-4 col-form-label-sm ">
                                    Ketua RT
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100"
                                               ng-model="form.ketua_rt" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Ketua RT">
                                            {{$select.selected.nama}} - {{$select.selected.nik}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in user| filter : $select.search">
                                            {{value.nama}} - {{value.nik}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
