<div class="modal-header text-white bg-primary" style="background-color: #2C8DA2">
    <h5 class="modal-title">Penduduk</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group row">
        <div class="col-md-12">
            <input type="text" class="form-control form-control-sm text-left"
                   ng-model="namaPenduduk"
                   placeholder="Cari Penduduk Berdasarkan Nama"
                   ng-disabled="is_view" required ng-change="getNama(namaPenduduk)"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <div class="list-group">
                <div id="hover">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center kasir" style="cursor: pointer;font-size: 14px"
                            ng-repeat="val in listNama | filter:search"
                            ng-click="choice(val.nik)">
                            {{val.nama}} - {{val.nik}}
                            <span class="badge badge-info badge-pill" style="color: #FFFFFF;font-size: 12px">RT {{val.rt}} RW {{val.rw}} {{val.dusun}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>