<div class="modal-header bg-primary">
    <h5 class="modal-title">Import Data Himpunan Ketetapan Pajak</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm ">
                    Dusun
                </label>
                <div class="col-sm-9">
                    <ui-select ng-disabled="is_view" class="w-100"
                               ng-model="form.dusun" theme="bootstrap" on-select="getRw(form.dusun.id)">
                        <ui-select-match placeholder="Pilih Dusun">
                            {{$select.selected.dusun}}
                        </ui-select-match>
                        <ui-select-choices repeat="value in listDusun| filter : $select.search">
                            {{value.dusun}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group row" >
                <label class="col-sm-3 col-form-label-sm ">
                    RW
                </label>
                <div class="col-sm-9">
                    <ui-select class="w-100" ng-disabled="form.dusun == undefined"
                               ng-model="form.rw" theme="bootstrap" on-select="getRt(form.rw.id)">
                        <ui-select-match placeholder="Pilih RW">
                            {{$select.selected.rw}}
                        </ui-select-match>
                        <ui-select-choices repeat="value in listRw | filter : $select.search">
                            {{value.rw}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm ">
                    RT
                </label>
                <div class="col-sm-9">
                    <ui-select class="w-100" ng-disabled="form.rw == undefined"
                               ng-model="form.rt" theme="bootstrap">
                        <ui-select-match placeholder="Pilih RT">
                            {{$select.selected.rt}}
                        </ui-select-match>
                        <ui-select-choices repeat="value in listRt | filter : $select.search">
                            {{value.rt}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm ">
                    Upload File Excel
                </label>
                <div class="col-sm-9">
                    <button class="btn btn-success btn-sm" ngf-select="files($file, $invalidFiles)" type="button">
                        <i class="fa fa-file-excel">
                        </i>
                        Import Data
                    </button>
                    <!--                    <input accept="file/*" base-sixty-four-input="" ng-model="form.file" type="file"
                                               ng-disabled="is_view"/>-->
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12" ng-if="is_data">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="align-left" style="width:2px;">No</th>
                    <th class="align-left">NOP</th>
                    <th class="align-left">Nama</th>
                    <th class="align-center">Tahun</th>
                    <th class="align-center">Luas Tanah</th>
                    <th class="align-center">Luas Bangunan</th>
                    <th class="align-right">NJOP Tanah</th>
                    <th class="align-right">NJOP Bangunan</th>
                    <th class="align-right">Total</th>
                    <th class="align-right">Harus Dibayar</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in listPajak" ng-dblclick="view(row)">
                    <td class="align-left" style="width:2px;">{{ $index+1 }}</td>
                    <td class="align-left">{{ row.nop }}</td>
                    <td class="align-left">{{ row.nm_wp_sppt }}</td>
                    <td class="align-center">{{ row.thn_pajak_sppt }}</td>
                    <td class="align-center">{{ row.luas_bumi_sppt | number}}</td>
                    <td class="align-center">{{ row.luas_bng_sppt | number}}</td>
                    <td class="align-right">Rp. {{ row.njop_bumi_sppt | number}}</td>
                    <td class="align-right">Rp. {{ row.njop_bng_sppt | number}}</td>
                    <td class="align-right">Rp. {{ row.njop_sppt | number}}</td>
                    <td class="align-right">Rp. {{ row.pbb_yg_hrs_dibayar_sppt | number}}</td>
                    <td>
                        <!--                            <div class="btn-group pull-right" role="group">-->
                        <!--                                <button type="button" class="btn btn-info fa fa-edit btn-sm"-->
                        <!--                                        ng-click="update(row)"></button>-->
                        <!--                                <button type="button" class="btn btn-danger fa fa-trash btn-sm"-->
                        <!--                                        ng-click="delete(row);"></button>-->
                        <!--                            </div>-->
                        <!--                            <div class="btn-group pull-right" role="group">-->
                        <!--                                <button type="button" class="btn btn-info fa fa-edit btn-sm"-->
                        <!--                                        ng-if="row.is_deleted == 0" ng-click="update(row)"></button>-->
                        <!--                                <button type="button" class="btn btn-danger fa fa-trash btn-sm"-->
                        <!--                                        ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>-->
                        <!--                                <button type="button" class="btn btn-warning fa fa-recycle btn-sm"-->
                        <!--                                        ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>-->
                        <!--                            </div>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">
            <i class="fa fa-recycle"></i>
            &nbsp;Reset
        </button>
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="saveImport(form,row)">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
        </button>
    </div>
</div>