<div class="modal-header text-white" style="background-color: #2C8DA2">

    <h5 class="modal-title">
        <!--        Master Jenis Surat-->
        <strong class="d-md-down-none">Form Pembayaran</strong>
    </h5>
    <button aria-label="Close" class="close" ng-click="close()" type="button">
        <span aria-hidden="true" style="color:black;">
            ×
        </span>
    </button>
</div>
<div class="card">
    <!--    <div class="card-header">-->
    <!--        <strong>{{ formtittle}}</strong>-->
    <!--    </div>-->
    <div class="card-body">
        <form name="landaform" novalidate="">
            <!--            <div class="row">-->
            <!--                <div class="col-md-6">-->
            <!--                    <div class="form-group row">-->
            <!--                        <label class="col-sm-4 col-form-label-sm">NOP</label>-->
            <!--                        <div class="col-sm-8">-->
            <!--                            <input type="text" class="form-control form-control-sm" ng-model="form.nop"-->
            <!--                                   maxlength="225" ng-disabled="true"/>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="form-group row">-->
            <!--                        <label class="col-sm-4 col-form-label-sm">Nama</label>-->
            <!--                        <div class="col-sm-8">-->
            <!--                            <input type="text" class="form-control form-control-sm" ng-model="form.nama"-->
            <!--                                   maxlength="225" ng-disabled="true"/>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="col-md-6">-->
            <!--                    <div class="form-group row">-->
            <!--                        <label class="col-sm-4 col-form-label-sm">Tahun</label>-->
            <!--                        <div class="col-sm-8">-->
            <!--                            <input type="text" class="form-control form-control-sm" ng-model="form.tahun"-->
            <!--                                   maxlength="225" ng-disabled="true"/>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="form-group row">-->
            <!--                        <label class="col-sm-4 col-form-label-sm">Tanggal Pembayaran</label>-->
            <!--                        <div class="col-sm-8">-->
            <!--                            <div class="input-group">-->
            <!--                                <input class="form-control form-control-sm"-->
            <!--                                       datepicker-options="{minMode: 'day'}" is-open="opened.tanggal"-->
            <!--                                       ng-click="toggle($event, 'tanggal')" ng-model="form.tanggal"-->
            <!--                                       placeholder="Tanggal Pembayaran" type="text"-->
            <!--                                       uib-datepicker-popup="dd MMMM yyyy">-->
            <!--                                <div class="input-group-prepend">-->
            <!--                                            <span class="input-group-text">-->
            <!--                                                <i class="fa fa-calendar">-->
            <!--                                                </i>-->
            <!--                                            </span>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">NOP</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nop"
                                   maxlength="225" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Nama</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nm_wp_sppt"
                                   maxlength="225" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Kode Kecamatan</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" ng-model="form.kd_kecamatan"
                                   maxlength="225" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Kecamatan</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nm_kecamatan"
                                   maxlength="225" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Kode Kelurahan</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" ng-model="form.kd_kelurahan"
                                   maxlength="225" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Kelurahan</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nm_kelurahan"
                                   maxlength="225" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Jln OP</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" ng-model="form.jln_op_sppt"
                                   maxlength="225" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Jln WP</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" ng-model="form.jln_wp_sppt"
                                   maxlength="225" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Luas Tanah</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="number" class="form-control form-control-sm"
                                       ng-model="form.luas_bumi_sppt"
                                       maxlength="225" ng-disabled="true"/>
                                <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Km
                                                        </span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Luas Bangunan</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="number" class="form-control form-control-sm"
                                       ng-model="form.luas_bng_sppt"
                                       maxlength="225" ng-disabled="true"/>
                                <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Km
                                                        </span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">NJOP Tanah</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                </div>
                                <input type="text" class="form-control form-control-sm"
                                       ng-model="form.njop_bumi_sppt_2"
                                       maxlength="225" ng-disabled="true"/>


                            </div>


                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">NJOP Bangunan</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                </div>
                                <input type="text" class="form-control form-control-sm"
                                       ng-model="form.njop_bng_sppt_2"
                                       maxlength="225" ng-disabled="true"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Total</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                </div>
                                <input type="text" class="form-control form-control-sm"
                                       ng-model="form.njop_sppt_2" ng-disabled="true"
                                       maxlength="225" ng-disabled="1"/>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">NJOP TKP</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                </div>
                                <input type="text" class="form-control form-control-sm"
                                       ng-model="form.njoptkp_sppt_2"
                                       maxlength="225" ng-disabled="true"/>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Harus Dibayar</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Rp
                                                        </span>
                                </div>
                                <input type="text" class="form-control form-control-sm"
                                       ng-model="form.pbb_yg_hrs_dibayar_sppt_2"
                                       maxlength="225" ng-disabled="true"/>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Tahun</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" ng-model="form.thn_pajak_sppt"
                                   maxlength="225" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label-sm">Tanggal Pembayaran</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input class="form-control form-control-sm"
                                       datepicker-options="{minMode: 'day'}" is-open="opened.tanggal"
                                       ng-click="toggle($event, 'tanggal')" ng-model="form.tanggal"
                                       placeholder="Tanggal Pembayaran" type="text"
                                       uib-datepicker-popup="dd MMMM yyyy">
                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">
                                                                        <i class="fa fa-calendar">
                                                                        </i>
                                                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="pull-right">
            <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">
                <i class="fa fa-arrow-left"></i>
                &nbsp;Kembali
            </button>
            <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                    ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                <i class="fa fa-save"></i>
                &nbsp;Simpan Pembayaran
            </button>
        </div>
    </div>
</div>
<!--<div class="modal-footer">-->
<!--	<div class="pull-right">-->
<!--		<button button-spinner="loading" class="btn btn-primary btn-sm" ng-click="save()" ng-disabled="loading" ng-hide="is_view" type="submit">-->
<!--			<i class="fa fa-save"></i>-->
<!--			Tambahkan Developer-->
<!--		</button>-->
<!--	</div>-->
<!--</div>-->