<div class="animated fadeIn">
    <div ng-controller="martikelCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Artikel</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm" placeholder="Cari berdasarkan nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Username</label>
                                        <div class="col-sm-2">
                                            <input st-search="username" class="form-control form-control-sm" placeholder="Cari berdasarkan username"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                            <tr>
                                <th class="align-left">Judul</th>
                                <th class="align-left">Kategori</th>
                                <th class="align-left">Hits</th>
                                <th class="align-center">Status</th>
                                <th class="align-center">Tanggal Publish</th>
                                <th></th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.title}}</td>
                                <td class="align-left">{{ row.kategori_artikel.nama}}</td>
                                <td class="align-left">{{ row.hits}}</td>


                                <td class="align-center" ng-if="row.publish == 1">
                                    <span class="badge badge-success badge-pill">Publish</span>
                                <td class="align-center" ng-if="row.publish == 0">
                                    <span class="badge badge-danger badge-pill">Unpublish</span>
                                </td>
                                <td class="align-center">{{row.tgl_publish}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button ng-if="row.is_deleted == 0" class="btn btn-info fa fa-edit btn-sm" ng-click="update(row)" type="button">
                                        </button>
                                        <button ng-if="row.is_deleted == 0" class="btn btn-danger fa fa-trash btn-sm" ng-click="trash(row)" type="button">
                                        </button>
                                        <button ng-if="row.is_deleted == 1" class="btn btn-warning fa fa-recycle btn-sm" ng-click="restore(row)" type="button">
                                        </button>
                                        <button ng-if="row.is_deleted == 1" class="btn btn-warning fa fa-times btn-sm" ng-click="delete(row)" type="button">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm ">Judul</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm required" ng-model="form.title" ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-sm-4 col-form-label-sm ">
                                    Kategori
                                </label>
                                <div class="col-sm-8">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select ng-disabled="is_view" ng-model="form.kategori_artikel" style="width: 100%;" theme="bootstrap">
                                            <ui-select-match placeholder="Pilih Kategori Artikel">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="val in listKategori | filter : $select.search">
                                                {{val.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <button class="btn btn-danger btn-sm" ng-disabled="is_view" ng-click="form.kategori_artikel = undefined;">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tanggal
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal')"  is-open="opened.tanggal" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal" ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Status</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.publish" uib-btn-radio="'1'">
                                            <i class="fa fa-check" ng-if="form.publish == '1'">
                                            </i>
                                            Publish
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.publish" uib-btn-radio="'0'">
                                            <i class="fa fa-check" ng-if="form.publish == '0'">
                                            </i>
                                            Unpublish
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm">
                                    Isi
                                </label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <textarea ckeditor="editorOptions" ng-model="form.content" ng-disabled="is_view"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm">
                                    Keyword
                                </label>
                                <div class="col-sm-4">
                                    <textarea class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="2" ng-model="form.keyword" ng-disabled="is_view"></textarea>
                                </div>
                                <label class="col-sm-2 col-form-label-sm">
                                    Deskripsi
                                </label>
                                <div class="col-sm-4">
                                    <textarea class="form-control ng-pristine ng-valid ng-empty ng-touched" rows="2" ng-model="form.deskripsi" ng-disabled="is_view"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
