<div class="animated fadeIn">
    <div ng-controller="mpekerjaanCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Pekerjaan</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Id</label>
                                        <div class="col-sm-2">
                                            <input st-search="id" class="form-control form-control-sm" placeholder="Cari berdasarkan Id"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Is_deleted</label>
                                        <div class="col-sm-2">
                                            <input st-search="is_deleted" class="form-control form-control-sm" placeholder="Cari berdasarkan Is_deleted"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="align-left">Nama</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.nama}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-sm btn-info fa fa-edit" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-sm btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-sm btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama" maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
