<div class="animated fadeIn">
    <div ng-controller="mPrefixCtrl">
        <div class="card" ng-show="!is_edit" st-pipe="callServer" st-table="displayed">
            <div class="card-header">
                <strong class="d-md-down-none">
                    Master Nomor Surat
                </strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-success btn-sm" ng-click="modalJenis();"">
                        <i class="fa fa-envelope">
                        </i>
                        Jenis Surat
                    </button>
                    <button class="btn btn-secondary btn-sm" ng-click="isCollapsed = !isCollapsed"
                            ng-init="isCollapsed = true">
                        <i class="fa fa-search">
                        </i>
                        Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus">
                        </i>
                        Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm mb-0">
                                    {{bahasa.module}}
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Module"
                                           st-search="m_surat_nomor.keterangan"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm mb-0">
                                    {{bahasa.contoh_format}}
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Contoh Format Kode"
                                           st-search="m_surat_nomor.contoh"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm mb-0">
                                    {{bahasa.prefix}}
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Prefix"
                                           st-search="m_surat_nomor.prefix"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    {{bahasa.format_kode}}
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Format Kode"
                                           st-search="m_surat_nomor.format_kode"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    {{bahasa.reset}}
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Reset Otomatis"
                                           st-search="m_surat_nomor.reset"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    {{bahasa.digit_nomer}}
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Digit Nomer Unit"
                                           st-search="m_surat_nomor.digit_kode"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    {{bahasa.status}}
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm"
                                            st-search="m_surat_nomor.is_deleted">
                                        <option value="0">
                                            {{bahasa.aktif}}
                                        </option>
                                        <option value="1">
                                            {{bahasa.terhapus}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                        <tr>
                            <th class="align-left" st-sort="keterangan">Jenis Surat</th>
                            <th class="align-left" st-sort="contoh">Contoh</th>
                            <th class="align-left" st-sort="prefix">Prefix</th>
                            <th class="align-left" st-sort="prefix2">Prefix 2</th>
                            <th class="align-left" st-sort="format_kode">Format Kode</th>
                            <th class="align-left" st-sort="reset">Reset</th>
                            <th class="align-left" st-sort="digit_kode">Digit Kode</th>
                            <th class="align-left" st-sort="digit_tahun">Digit Tahunan</th>
                            <th></th>
                        </tr>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-dblclick="view(row)" ng-repeat="row in displayed">
                            <td class="align-left">{{ row.surat_jenis.nama }}</td>
                            <td class="align-left">{{ row.contoh_kode }}</td>
                            <td class="align-left">{{ row.prefix }}</td>
                            <td class="align-left">{{ row.prefix2 }}</td>
                            <td class="align-left">{{ row.format_kode }}</td>
                            <td class="align-left">{{ row.reset }}</td>
                            <td class="align-left">{{ row.digit_kode }} {{bahasa.digit}}</td>
                            <td class="align-left">{{ row.digit_tahun }} {{bahasa.digit}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button ng-if="row.is_deleted == 0" class="btn btn-info fa fa-edit"
                                            ng-click="update(row)" type="button">
                                    </button>
                                    <button ng-if="row.is_deleted == 0" class="btn btn-danger fa fa-trash"
                                            ng-click="delete(row)" type="button">
                                    </button>
<!--                                    <button type="button" class="btn btn-warning fa fa-recycle"-->
<!--                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>-->
<!--                                    <button ng-if="row.is_deleted == 1" class="btn btn-danger fa fa-trash"-->
<!--                                            ng-click="delete(row)" type="button">-->
<!--                                    </button>-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-items-by-page="20" st-pagination="" st-template="tpl/common/pagination.custom.html">
                </div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>
                    {{formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-4 col-form-label-sm required">Desa</label>-->
<!--                                <div class="col-sm-8">-->
<!--                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"-->
<!--                                               ng-model="form.desa" theme="bootstrap" style="width: 100%">-->
<!--                                        <ui-select-match placeholder="Masukkan 3 Karakter">-->
<!--                                            <b>{{ $select.selected.desa}}</b> - {{ $select.selected.kecamatan}}-->
<!--                                        </ui-select-match>-->
<!--                                        <ui-select-choices position="down" refresh="getDesa($select.search,null,'search')"-->
<!--                                                           repeat="val in listDesa">-->
<!--                                            <b>{{ val.desa}}</b> - {{ val.kecamatan}}-->
<!--                                        </ui-select-choices>-->
<!--                                    </ui-select>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm required">
                                    Jenis Surat
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="ui-select-sm ui-select-container" ng-model="form.surat_jenis"
                                               theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Jenis">
                                            {{ $select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="val in listJenis | filter : $select.search">
                                            {{ val.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm required">
                                    Reset Otomatis
                                </label>
                                <div class="col-sm-8">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                               ng-model="form.reset" uib-btn-radio="'tidak'">
                                            <i class="fa fa-check" ng-if="form.reset == 'tidak'">
                                            </i>
                                            Tidak
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                               ng-model="form.reset" uib-btn-radio="'bulan'">
                                            <i class="fa fa-check" ng-if="form.reset == 'bulan'">
                                            </i>
                                            Bulan
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                               ng-model="form.reset" uib-btn-radio="'tahun'">
                                            <i class="fa fa-check" ng-if="form.reset == 'tahun'">
                                            </i>
                                            Tahun
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm required">
                                    Digit No Urut
                                </label>
                                <div class="col-sm-8">
                                    <input ng-keyup="generateContoh()" class="form-control form-control-sm w-25"
                                           ng-model="form.digit_kode"
                                           type="number"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm required">
                                    Digit Tahun
                                </label>
                                <div class="col-sm-8">
                                    <div class="btn-group">
                                        <label ng-click="generateContoh()" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.digit_tahun" uib-btn-radio="'2'">
                                            <i class="fa fa-check" ng-if="form.digit_tahun == '2'">
                                            </i>
                                            2 Digit - {{tahun2}}
                                        </label>
                                        <label ng-click="generateContoh()" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.digit_tahun" uib-btn-radio="'4'">
                                            <i class="fa fa-check" ng-if="form.digit_tahun == '4'">
                                            </i>
                                            4 Digit - {{tahun4}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm ">

                                </label>
                                <div class="col-sm-8">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-danger" ng-click="changeFormat('hapus')">
                                            Hapus
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="changeFormat('prefix')">
                                            Prefix 1
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="changeFormat('prefix2')">
                                            Prefix 2
                                        </button>
                                        <button type="button" class="btn btn-info" ng-click="changeFormat('tahun')">
                                            Tahun
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="changeFormat('bulan')">
                                            Bulan
                                        </button>
                                        <button type="button" class="btn btn-info"
                                                ng-click="changeFormat('nomor_urut')">No Urut
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                ng-click="changeFormat('garis_miring')">/
                                        </button>
                                        <button type="button" class="btn btn-info" ng-click="changeFormat('minus')">-
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">
                                    Prefix 1
                                </label>
                                <div class="col-sm-8">
                                    <input ng-keyup="generateContoh()" class="form-control form-control-sm w-25"
                                           ng-model="form.prefix" type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">
                                    Prefix 2
                                </label>
                                <div class="col-sm-8">
                                    <input ng-keyup="generateContoh()" class="form-control form-control-sm w-25"
                                           ng-model="form.prefix2" type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">
                                    Format Kode
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-sm" ng-disabled="true"
                                           ng-model="form.format_kode" type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">
                                    Contoh Format kode
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-sm" ng-disabled="true"
                                           ng-model="form.contoh" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="btn-group pull-right">
                    <button class="btn btn-secondary btn-sm" ng-click="cancel()" type="submit">
                        <i class="fa fa-arrow-left">
                        </i>
                        Kembali
                    </button>
                    <button button-spinner="loading" class="btn btn-primary btn-sm" ng-click="save(form)"
                            ng-disabled="loading" ng-hide="is_view" type="submit">
                        <i class="fa fa-save">
                        </i>
                        Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
