<div class="modal-header bg-white">
    <h5 class="modal-title">
        <!--        Master Jenis Surat-->
        <strong class="d-md-down-none">Master Jenis Surat</strong>
    </h5>
    <button aria-label="Close" class="close" ng-click="close()" type="button">
        <span aria-hidden="true" style="color:black;">
            ×
        </span>
    </button>
</div>
<div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">

    <div class="card-header">
        <!--        <strong class="d-md-down-none">Daftar Setting Popup</strong>-->
        <div class="btn-group pull-right mt-5px" role="group">
            <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                <i class="fa fa-search"></i>
                &nbsp;Pencarian
            </button>
            <button class="btn btn-primary btn-sm" ng-click="create();">
                <i class="fa fa-plus"></i>
                &nbsp;Buat Baru
            </button>
        </div>
    </div>
    <div class="card-body p-0px">
        <div class="pencarian" ng-show="!isCollapsed">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row ">
                        <label class="col-sm-4 col-form-label-sm mb-0">
                            Nama
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm"
                                   placeholder="Cari berdasarkan Nama"
                                   st-search="m_surat_jenis.nama"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row ">
                        <label class="col-sm-4 col-form-label-sm mb-0">
                            Status
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control form-control-sm"
                                    st-search="m_surat_jenis.is_deleted">
                                <option value="0">
                                    Aktif
                                </option>
                                <option value="1">
                                    Terhapus
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="align-left">Nama</th>
                    <th></th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading">
                <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                    <td class="align-left">{{ row.nama}}</td>
                    <td>
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-info fa fa-edit btn-sm" ng-if="row.is_deleted == 0"
                                    ng-click="update(row)"></button>
                            <button type="button" class="btn btn-danger fa fa-trash btn-sm" ng-if="row.is_deleted == 0"
                                    ng-click="trash(row);"></button>
                            <button type="button" class="btn btn-warning fa fa-recycle btn-sm"
                                    ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                            <button type="button" class="btn btn-danger fa fa-trash btn-sm" ng-click="delete(row);"
                                    ng-if="row.is_deleted == 1"></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
    </div>
</div>
<div class="card" ng-if="is_edit">
    <div class="card-header">
        <strong>{{ formtittle}}</strong>
    </div>
    <div class="card-body">
        <form name="landaform" novalidate="">
<!--            <div class="row ml-1">-->
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">
                        Nama
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control form-control-sm"
                               ng-model="form.nama" type="text"/>
                    </div>
                </div>
<!--            </div>-->
        </form>
    </div>
    <div class="card-footer">
        <div class="pull-right">
            <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
                &nbsp;Kembali
            </button>
            <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                    ng-disabled="loading" ng-click="save(form)">
                <i class="fa fa-save"></i>
                &nbsp;Simpan
            </button>
        </div>
    </div>
</div>
<!--<div class="modal-footer">-->
<!--	<div class="pull-right">-->
<!--		<button button-spinner="loading" class="btn btn-primary btn-sm" ng-click="save()" ng-disabled="loading" ng-hide="is_view" type="submit">-->
<!--			<i class="fa fa-save"></i>-->
<!--			Tambahkan Developer-->
<!--		</button>-->
<!--	</div>-->
<!--</div>-->