<div class="animated fadeIn">
    <div ng-controller="aksesCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Hak Akses</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Tambahkan Hak Akses Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
<!--                <div class="pl-15px pr-15px">-->
<!--                    <div class="row mt-15px" ng-show="!isCollapsed">-->
<!--                        <div class="col-md-12">-->
<!--                            <div class="alert alert-secondary">-->
<!--                                <form name="landaform" novalidate="">-->
<!--                                    <div class="form-group row mb-0px">-->
<!--                                        <label for="nama" class="col-sm-1 col-form-label-sm mb-0px">Nama</label>-->
<!--                                        <div class="col-sm-3">-->
<!--                                            <input type="text" class="form-control form-control-sm" st-search="nama"-->
<!--                                                   id="nama" placeholder="Cari berdasarkan nama"/>-->
<!--                                        </div>-->
<!--                                        <label class="col-sm-1 col-form-label-sm mb-0px">Status</label>-->
<!--                                        <div class="col-sm-2">-->
<!--                                            <select class="form-control form-control-sm" st-search="is_deleted">-->
<!--                                                <option value="0">Aktif</option>-->
<!--                                                <option value="1">Terhapus</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"
                                           st-search="nama"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Kabupaten
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Kabupaten"
                                           st-search="kabupaten"/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Kecamatan
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Kecamatan"
                                           st-search="kecamatan"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Desa"
                                           st-search="desa"/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Status
                                </label>
                                <div class="col-sm-9">
                                        <select class="form-control form-control-sm" st-search="is_deleted">
                                            <option value="0">Aktif</option>
                                            <option value="1">Terhapus</option>
                                        </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th st-sort="m_roles.nama" width="20%">Nama</th>
                            <th>Super Admin</th>
                            <th>Desa</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{ row.nama}}</td>
                            <td>
                                <span class="badge badge-success badge-pill" ng-if="row.is_super_admin == 1">Ya</span>
                                <span class="badge badge-danger badge-pill" ng-if="row.is_super_admin == 0">Tidak</span>
                            </td>
                            <td>
                                <span ng-if="row.is_super_admin != 1">
                                <b>{{ row.nama_desa}}</b> - {{ row.kecamatan.kecamatan}}
                                </span>
                            </td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash"
                                            ng-click="delete(row);"></button>
<!--                                    <button type="button" class="btn btn-warning fa fa-recycle"-->
<!--                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label for="nama" class="col-sm-4 col-form-label-sm mb-0px">Nama Hak Akses</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                           id="nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="user.is_super_admin == 1">
                            <div class="form-group row">
                                <label for="nama" class="col-sm-4 col-form-label-sm mb-0px">Super Admin</label>
                                <div class="col-sm-8">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                                   ng-model="form.is_super_admin" uib-btn-radio="1">
                                                <i class="fa fa-check" ng-if="form.is_super_admin == 1"></i>
                                                Ya
                                            </label>
                                            <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                                   ng-model="form.is_super_admin" uib-btn-radio="0">
                                                <i class="fa fa-check" ng-if="form.is_super_admin == 0"></i>
                                                Tidak
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" ng-if="(form.is_super_admin == 0 || user.is_super_admin == 0)">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Kabupaten</label>
                                <div class="col-sm-8">
                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view || user.is_super_admin == 0"
                                               ng-model="form.kabupaten" theme="bootstrap" style="width: 100%"
                                               on-select="getKecamatan(form.kabupaten.id)">
                                        <ui-select-match placeholder="Masukkan 3 Karakter">
                                            <b>{{ $select.selected.kabupaten}}</b> - {{ $select.selected.provinsi}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           refresh="getKabupaten($select.search,'search')"
                                                           repeat="val in listKabupaten">
                                            <b>{{ val.kabupaten}}</b> - {{ val.provinsi}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">
                                    Kecamatan
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100" ng-disabled="form.kabupaten == undefined || is_view || user.is_super_admin == 0"
                                               ng-model="form.kecamatan"
                                               on-select="getDesa(null,form.kecamatan.id, null)"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Kecamatan">
                                            <b>{{ $select.selected.kecamatan}}</b> - {{ $select.selected.kabupaten}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listKecamatan | filter : $select.search">
                                            <b>{{ value.kecamatan}}</b> - {{ value.kabupaten}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm ">
                                    Desa
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100" ng-disabled="form.kecamatan == undefined || is_view || user.is_super_admin == 0"
                                               ng-model="form.desa" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Desa">
                                            <b>{{ $select.selected.desa}}</b> - {{ $select.selected.kecamatan}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDesa | filter : $select.search">
                                            <b>{{ value.desa}}</b> - {{ value.kecamatan}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>


                        <!--<div class="col-md-6">-->
                        <!--<div class="form-group row">-->
                        <!--<label class="col-md-4 col-form-label-sm required">Akses Perusahaan</label>-->
                        <!--<div class="col-md-8">-->
                        <!--<ui-select multiple class="ui-select-sm ui-select-container" ng-model="form.perusahaan" theme="bootstrap" ng-disabled="is_view" on-select="fillProyek()">-->
                        <!--<ui-select-match placeholder="Pilih Perusahaan">-->
                        <!--{{ $item.nama}}-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices position="down" repeat="val in listPerusahaan" refresh="getData($select.search, 'listPerusahaan', 'perusahaan_all', 0)">-->
                        <!--{{ val.nama}}-->
                        <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group row">-->
                        <!--<label class="col-md-4 col-form-label-sm required">Akses Proyek</label>-->
                        <!--<div class="col-md-8">-->
                        <!--<ui-select multiple class="ui-select-sm ui-select-container" ng-model="form.proyek" theme="bootstrap" ng-disabled="is_view">-->
                        <!--<ui-select-match placeholder="Pilih Proyek">-->
                        <!--{{ $item.nama}}-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices position="down" repeat="val in listProyek | filter : $select.search">-->
                        <!--{{ val.nama}}-->
                        <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <h6 class="font-weight-bold">Detail Hak Akses</h6>
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panels panel-primary border-primary mb-3">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.setting"
                                               ng-click="checkAll('setting', form.akses.setting)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Setting
                                    </label>
                                </div>
                                <div class="list-group bg-white setting">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.setting_akses"
                                                   type="checkbox"/>
                                            <i></i>
                                            Hak Akses
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.setting_user"
                                                   type="checkbox"/>
                                            <i></i>
                                            User
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.setting_nomor_surat"
                                                   type="checkbox"/>
                                            <i></i>
                                            Nomor Surat
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.setting_jabatan"
                                                   type="checkbox"/>
                                            <i></i>
                                            Jabatan
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view"
                                                   ng-model="form.akses.setting_struktur_organisasi"
                                                   type="checkbox"/>
                                            <i></i>
                                            Struktur Organisasi
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.setting_aplikasi"
                                                   type="checkbox"/>
                                            <i></i>
                                            Setting Aplikasi
                                        </label>
                                    </div>
                                    <!--                                    <div class="list-group-item">-->
                                    <!--                                        <label class="i-checks">-->
                                    <!--                                            <input ng-disabled="is_view" ng-model="form.akses.master_penduduk"-->
                                    <!--                                                   type="checkbox"/>-->
                                    <!--                                            <i></i>-->
                                    <!--                                            Master Penduduk-->
                                    <!--                                        </label>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <div class="panel panels panel-primary border-primary mb-3">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.wilayah"
                                               ng-click="checkAll('wilayah', form.akses.wilayah)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Wilayah
                                    </label>
                                </div>
                                <div class="list-group-item wilayah">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.wilayah_kecamatan"
                                               type="checkbox"/>
                                        <i></i>
                                        Master Kecamatan
                                    </label>
                                </div>
                                <div class="list-group-item wilayah">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.wilayah_desa"
                                               type="checkbox"/>
                                        <i></i>
                                        Master Desa
                                    </label>
                                </div>
                                <div class="list-group-item wilayah">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.wilayah_dusun"
                                               type="checkbox"/>
                                        <i></i>
                                        Master Dusun
                                    </label>
                                </div>
                                <div class="list-group-item wilayah">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.wilayah_rw" type="checkbox"/>
                                        <i></i>
                                        Master Rukun Warga
                                    </label>
                                </div>
                                <div class="list-group-item wilayah">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.wilayah_rt" type="checkbox"/>
                                        <i></i>
                                        Master Rukun Tetangga
                                    </label>
                                </div>
                            </div>
                            <div class="panel panels panel-primary border-primary ">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.penduduk"
                                               ng-click="checkAll('penduduk', form.akses.penduduk)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Penduduk
                                    </label>
                                </div>
                                <div class="list-group bg-white penduduk">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.penduduk_pekerjaan"
                                                   type="checkbox"/>
                                            <i></i>
                                            Master Pekerjaan
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.penduduk_data"
                                                   type="checkbox"/>
                                            <i></i>
                                            Penduduk
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.penduduk_pindah"
                                                   type="checkbox"/>
                                            <i></i>
                                            Pindah
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.penduduk_kelahiran"
                                                   type="checkbox"/>
                                            <i></i>
                                            Kelahiran
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.penduduk_kematian"
                                                   type="checkbox"/>
                                            <i></i>
                                            Kematian
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.penduduk_kawin"
                                                   type="checkbox"/>
                                            <i></i>
                                            Kawin
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.penduduk_pecah_kk"
                                                   type="checkbox"/>
                                            <i></i>
                                            Pecah KK
                                        </label>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panels panel-primary border-primary mb-3">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.dana_bantuan"
                                               ng-click="checkAll('dana_bantuan', form.akses.dana_bantuan)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Dana Bantuan
                                    </label>
                                </div>
                                <div class="list-group bg-white dana_bantuan">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.dana_bantuan_blt"
                                                   type="checkbox"/>
                                            <i></i>
                                            Master BLT
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white dana_bantuan">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.dana_bantuan_bltdd"
                                                   type="checkbox"/>
                                            <i></i>
                                            Master BLTDD
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white dana_bantuan">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.dana_bantuan_bpnt"
                                                   type="checkbox"/>
                                            <i></i>
                                            Master BPNT
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white dana_bantuan">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.dana_bantuan_bpntd"
                                                   type="checkbox"/>
                                            <i></i>
                                            Master BPNTD
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white dana_bantuan">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.dana_bantuan_burekol"
                                                   type="checkbox"/>
                                            <i></i>
                                            Master BUREKOL
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white dana_bantuan">
                                    <div class="list-group-item">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.dana_bantuan_pkh"
                                                   type="checkbox"/>
                                            <i></i>
                                            Master PKH
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panels panel-primary border-primary mb-3">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.inventaris"
                                               ng-click="checkAll('inventaris', form.akses.inventaris)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Inventaris
                                    </label>
                                </div>
                                <div class="list-group-item inventaris">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.inventaris_barang"
                                               type="checkbox"/>
                                        <i></i>
                                        Master Barang
                                    </label>
                                </div>
                                <div class="list-group-item inventaris">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.inventaris_inventaris"
                                               type="checkbox"/>
                                        <i></i>
                                        Inventaris
                                    </label>
                                </div>
                                <div class="list-group-item inventaris">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.inventaris_penghapusan"
                                               type="checkbox"/>
                                        <i></i>
                                        Penghapusan Inventaris
                                    </label>
                                </div>
                            </div>

                            <div class="panel panels panel-primary border-primary mb-3">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.pesanan"
                                               ng-click="checkAll('pesanan', form.akses.pesanan)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Surat Pesanan
                                    </label>
                                </div>
                                <div class="list-group-item pesanan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.pesanan_pka"
                                               type="checkbox"/>
                                        <i></i>
                                        PKA & Jabatan
                                    </label>
                                </div>
<!--                                <div class="list-group-item pesanan">-->
<!--                                    <label class="i-checks">-->
<!--                                        <input ng-disabled="is_view" ng-model="form.akses.pesanan_sumber_dana"-->
<!--                                               type="checkbox"/>-->
<!--                                        <i></i>-->
<!--                                        Sumber Dana-->
<!--                                    </label>-->
<!--                                </div>-->
                                <div class="list-group-item pesanan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.pesanan_penyedia"
                                               type="checkbox"/>
                                        <i></i>
                                        Penyedia Barang & Jasa
                                    </label>
                                </div>
                                <div class="list-group-item pesanan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.pesanan_surat_pesanan"
                                               type="checkbox"/>
                                        <i></i>
                                        Surat Pesanan
                                    </label>
                                </div>
                                <div class="list-group-item pesanan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.pesanan_laporan"
                                               type="checkbox"/>
                                        <i></i>
                                        Laporan
                                    </label>
                                </div>
                            </div>

                            <div class="panel panels panel-primary border-primary">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.vaksin"
                                               ng-click="checkAll('vaksin', form.akses.vaksin)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Vaksin
                                    </label>
                                </div>
                                <div class="list-group-item vaksin">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.data_vaksin"
                                               type="checkbox"/>
                                        <i></i>
                                        Data Vaksin
                                    </label>
                                </div>
                                <div class="list-group-item vaksin">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.vaksin_absensi"
                                               type="checkbox"/>
                                        <i></i>
                                        Absensi Kehadiran
                                    </label>
                                </div>
                                <div class="list-group-item vaksin">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.vaksin_list_antrian"
                                               type="checkbox"/>
                                        <i></i>
                                        List Antrian
                                    </label>
                                </div>
                                <div class="list-group-item vaksin">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.vaksin_monitoring_antrian"
                                               type="checkbox"/>
                                        <i></i>
                                        Monitoring Antrian
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panels panel-primary border-primary mb-3">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.surat"
                                               ng-click="checkAll('surat', form.akses.surat)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Surat
                                    </label>
                                </div>
                                <div class="list-group-item surat">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.transaksi_surat"
                                               type="checkbox"/>
                                        <i></i>
                                        Surat Keterangan
                                    </label>
                                </div>
                                <div class="list-group-item surat">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.bepergian"
                                               type="checkbox"/>
                                        <i></i>
                                        Keterangan Bepergian
                                    </label>

                                </div>
                                <div class="list-group-item surat">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.skau"
                                               type="checkbox"/>
                                        <i></i>
                                        Keterangan Asal Usul
                                    </label>
                                </div>
                                <div class="list-group-item surat">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.surat_surat_keterangan"
                                               type="checkbox"/>
                                        <i></i>
                                        Surat Masuk / Keluar
                                    </label>
                                </div>
                                <div class="list-group-item surat">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.surat_ahli_waris"
                                               type="checkbox"/>
                                        <i></i>
                                        Surat Ahli Waris
                                    </label>
                                </div>
                                <div class="list-group-item surat">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.surat_masuk_keluar"
                                               type="checkbox"/>
                                        <i></i>
                                        Surat Masuk / Keluar
                                    </label>
                                </div>
                                <div class="list-group-item surat">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.surat_undangan"
                                               type="checkbox"/>
                                        <i></i>
                                        Surat Undangan
                                    </label>
                                </div>
                                <div class="list-group bg-white surat">
                                    <div class="list-group-item bg-secondary-light">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.surat_tanah"
                                                   ng-click="checkAll('surat_tanah_berdasarkan', form.akses.surat_tanah)"
                                                   type="checkbox"/>
                                            <i></i>
                                            Surat Tanah
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white surat surat_tanah_berdasarkan">
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.surat_tanah_jual_beli"
                                                   type="checkbox"/>
                                            <i></i>
                                            Surat Tanah - Jual Beli
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view"
                                                   ng-model="form.akses.surat_tanah_jual_beli_sepihak" type="checkbox"/>
                                            <i></i>
                                            Surat Tanah - Jual Beli Sepihak
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.surat_tanah_ahli_waris"
                                                   type="checkbox"/>
                                            <i></i>
                                            Surat Tanah - Ahli Waris
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.surat_tanah_tkd"
                                                   type="checkbox"/>
                                            <i></i>
                                            Surat Tanah - TKD
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.surat_tanah_suket_c"
                                                   type="checkbox"/>
                                            <i></i>
                                            Surat Tanah - Suket C
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.surat_tanah_surat_kuasa"
                                                   type="checkbox"/>
                                            <i></i>
                                            Surat Tanah - Surat Kuasa
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panels panel-primary border-primary">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.pbb"
                                               ng-click="checkAll('pbb', form.akses.pbb)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Pbb
                                    </label>
                                </div>
                                <div class="list-group-item pbb">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view"
                                               ng-model="form.akses.pbb_daftar_himpunan_ketetapan_pajak"
                                               type="checkbox"/>
                                        <i></i>
                                        Daftar Himpunan Ketetapan Pajak
                                    </label>
                                </div>
                                <!--                                <div class="list-group-item pbb">-->
                                <!--                                    <label class="i-checks">-->
                                <!--                                        <input ng-disabled="is_view" ng-model="form.akses.pbb_pembayaran"-->
                                <!--                                               type="checkbox"/>-->
                                <!--                                        <i></i>-->
                                <!--                                        Pembayaran-->
                                <!--                                    </label>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panels panel-primary border-primary mb-3">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.laporan"
                                               ng-click="checkAll('laporan', form.akses.laporan)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Laporan
                                    </label>
                                </div>
                                <div class="list-group-item laporan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.laporan_status_bantuan"
                                               type="checkbox"/>
                                        <i></i>
                                        Status Bantuan
                                    </label>
                                </div>
                                <div class="list-group-item laporan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.laporan_data_penduduk"
                                               type="checkbox"/>
                                        <i></i>
                                        Data Penduduk
                                    </label>
                                </div>
                                <div class="list-group-item laporan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.laporan_data_penduduk_simanis"
                                               type="checkbox"/>
                                        <i></i>
                                        Data Penduduk (Simanis)
                                    </label>
                                </div>
                                <div class="list-group-item laporan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.laporan_surat"
                                               type="checkbox"/>
                                        <i></i>
                                        Surat Masuk/Keluar
                                    </label>
                                </div>
                                <div class="list-group-item laporan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.laporan_inventaris"
                                               type="checkbox"/>
                                        <i></i>
                                        Inventaris Aset Desa
                                    </label>
                                </div>
                                <div class="list-group-item laporan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.laporan_pembayaran_pajak"
                                               type="checkbox"/>
                                        <i></i>
                                        Pembayaran Pajak
                                    </label>
                                </div>
                                <div class="list-group-item laporan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.laporan_pembayaran_pajak_kamituwo"
                                               type="checkbox"/>
                                        <i></i>
                                        Pembayaran Pajak Per Kamituwo
                                    </label>
                                </div>
                                <div class="list-group-item laporan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.laporan_struktur_organisasi"
                                               type="checkbox"/>
                                        <i></i>
                                        Struktur Organisasi
                                    </label>
                                </div>
                                <div class="list-group-item laporan">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.laporan_vaksin"
                                               type="checkbox"/>
                                        <i></i>
                                        Vaksin
                                    </label>
                                </div>
                            </div>

                            <div class="panel panels panel-primary border-primary mb-3">
                                <div class="panel-heading">
                                    <label class="i-checks" style="color: white">
                                        <input type="checkbox" ng-disabled="is_view" ng-model="form.akses.rekap"
                                               ng-click="checkAll('rekap', form.akses.rekap)"
                                               class="ng-pristine ng-valid ng-touched">
                                        <i></i>
                                        Rekap
                                    </label>
                                </div>

                                <div class="list-group bg-white rekap">
                                    <div class="list-group-item bg-secondary-light">
                                        <label class="i-checks">
                                            <input ng-disabled="is_view" ng-model="form.akses.rekap_berdasarkan"
                                                   ng-click="checkAll('rekap_penduduk_berdasarkan', form.akses.rekap_berdasarkan)"
                                                   type="checkbox"/>
                                            <i></i>
                                            Berdasarkan
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group bg-white rekap rekap_penduduk_berdasarkan">
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.rekap_pekerjaan"
                                                   type="checkbox"/>
                                            <i></i>
                                            Pekerjaan
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.rekap_status_pendidikan"
                                                   type="checkbox"/>
                                            <i></i>
                                            Status Pendidikan
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.rekap_umur"
                                                   type="checkbox"/>
                                            <i></i>
                                            Umur
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.rekap_agama"
                                                   type="checkbox"/>
                                            <i></i>
                                            Agama
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.rekap_status_kawin"
                                                   type="checkbox"/>
                                            <i></i>
                                            Status Kawin
                                        </label>
                                    </div>
                                    <div class="list-group-item">
                                        <label class="i-checks ml-4">
                                            <input ng-disabled="is_view" ng-model="form.akses.rekap_dusun"
                                                   type="checkbox"/>
                                            <i></i>
                                            Dusun
                                        </label>
                                    </div>
                                </div>
                                <div class="list-group-item rekap">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.rekap_bulanan"
                                               type="checkbox"/>
                                        <i></i>
                                        Bulanan
                                    </label>
                                </div>
                                <div class="list-group-item rekap">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.rekap_kelahiran"
                                               type="checkbox"/>
                                        <i></i>
                                        Kelahiran
                                    </label>
                                </div>
                                <div class="list-group-item rekap">
                                    <label class="i-checks">
                                        <input ng-disabled="is_view" ng-model="form.akses.rekap_kematian"
                                               type="checkbox"/>
                                        <i></i>
                                        Kematian
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>