<div class="animated fadeIn">
    <div class="animated fadeIn">
        <div ng-controller="tsuratKeteranganCtrl">
            <div class="row">
                <div class="col-md-2" ng-repeat="val in format_print" style="margin-bottom: 10px">
                    <button class="btn btn-outline-primary btn-block" ng-click="create(val)">
                        <i class="fa fa-plus"></i> {{val.nama}}
                    </button>
                </div>
            </div>
            <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
                <!--                <div class="card-header">-->
                <!--                    <strong class="d-md-down-none">Daftar surat</strong>-->
                <!--                    <div class="btn-group pull-right mt-5px" role="group">-->
                <!--                        <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"-->
                <!--                                ng-click="isCollapsed = !isCollapsed">-->
                <!--                            <i class="fa fa-search"></i>-->
                <!--                            &nbsp;Pencarian-->
                <!--                        </button>-->
                <!--                        <button class="btn btn-primary btn-sm" ng-click="create();">-->
                <!--                            <i class="fa fa-plus"></i>-->
                <!--                            &nbsp;Buat Baru-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="card-body p-0px">


                    <!--                    <div class="pl-15px pr-15px">-->
                    <!--                        <div class="row mt-15px">-->
                    <!--                            <div class="col-md-12">-->
                    <!--                                <div class="alert alert-secondary">-->
                    <!--                                    <form name="landaform" novalidate="">-->
                    <!--                                        <div class="form-group row mb-0">-->
                    <!--                                            <label class="col-sm-1 col-form-label-sm mb-0">No Surat</label>-->
                    <!--                                            <div class="col-sm-2">-->
                    <!--                                                <input st-search="no_surat" class="form-control form-control-sm"-->
                    <!--                                                       placeholder="Cari berdasarkan Id_surat"/>-->
                    <!--                                            </div>-->
                    <!--                                            <label class="col-sm-1 col-form-label-sm mb-0">Asal Surat</label>-->
                    <!--                                            <div class="col-sm-2">-->
                    <!--                                                <input st-search="asal_surat" class="form-control form-control-sm"-->
                    <!--                                                       placeholder="Cari berdasarkan Asal_surat"/>-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                    <!--                                    </form>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <div class="pencarian">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm mb-0">No Surat</label>
                                    <div class="col-sm-9">
                                        <input st-search="no_surat" class="form-control form-control-sm"
                                               placeholder="Cari berdasarkan Id_surat"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm mb-0">Asal Surat</label>
                                    <div class="col-sm-9">
                                        <input st-search="asal_surat" class="form-control form-control-sm"
                                               placeholder="Cari berdasarkan Asal_surat"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm mb-0">Jenis Surat</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm" st-search="format_surat">
                                            <option value="">Semua</option>
                                            <option value="surat_sktm">SKTM</option>
                                            <option value="surat_kehilangan">Kehilangan</option>
                                            <option value="surat_keterangan">Keterangan</option>
                                            <option value="surat_keterangan_usaha">Keterangan Usaha</option>
                                            <option value="surat_keterangan_domisili_pribadi">Keterangan Domisili Pribadi</option>
                                            <option value="surat_keterangan_domisili_instansi">Keterangan Domisili Instansi</option>
                                            <option value="surat_keterangan_domisili_legalitas">Keterangan Domisili Legalitas</option>
                                            <option value="surat_kuasa">Kuasa</option>
                                            <option value="surat_penghasilan">Penghasilan</option>
                                            <option value="surat_wali_anak">Wali Anak</option>
                                            <option value="surat_izin">Izin</option>
                                            <option value="surat_usaha_kecil_bbm">Usaha Kecil BBM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="align-center">No Surat</th>
                                <th class="align-left">Nama Penduduk</th>
                                <th class="align-left">Jenis Surat</th>
                                <th class="align-left">Yang Menandatangani</th>
                                <th class="align-left">Dibuat Oleh</th>
                                <th class="align-left">Dibuat Pada</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="update(row)">
                                <td class="align-center">
                                    <span uib-tooltip="{{ row.no_surat }}" tooltip-placement="right">{{ row.no_urut }}</span>
                                </td>
                                <td class="align-left">{{ row.nama}}</td>
                                <td class="align-left">{{ row.nama_surat }}</td>
                                <td class="align-left">{{ row.yang_menandatangani_id.nama}} -
                                    {{ row.yang_menandatangani_id.jabatan}}
                                </td>
                                <td class="align-left">{{ row.petugas}}</td>
                                <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <a href="api/t_surat_keterangan/print?file={{row.file}}&id={{row.id}}"
                                           target="_blank" class="btn btn-outline-success fa fa-print btn-sm"></a>
                                        <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                                ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                                ng-click="delete(row)"></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
                </div>
            </div>
            <div class="card" ng-if="is_edit">
                <div class="card-header">
                    <strong>
                        {{ formtittle}}
                    </strong>
                </div>
                <div class="card-body">
                    <form name="landaform" novalidate="">
                        <div class="row">
                            <div class="col-md-6">
                                <!--                            <div class="form-group row">-->
                                <!--                                <label class="col-sm-4 col-form-label-sm">Nama Penduduk</label>-->
                                <!--                                <div class="col-sm-8">-->
                                <!--                                    <ui-select on-select="" ng-disabled="is_view" ng-model="form.penduduk_id"-->
                                <!--                                               theme="bootstrap" >-->
                                <!--                                        <ui-select-match placeholder="Pilih Penduduk">-->
                                <!--                                            {{$select.selected.nama}}-->
                                <!--                                        </ui-select-match>-->
                                <!--                                        <ui-select-choices position="down" repeat="val in listPenduduk | filter : $select.search">-->
                                <!--                                            {{val.nama}}-->
                                <!--                                        </ui-select-choices>-->
                                <!--                                    </ui-select>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm required">
                                        Format No. Surat
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="!is_create"
                                                       ng-model="form.surat_nomor" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Pilih Format Nomor Surat">
                                                    <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                                   repeat="val in listNoSurat | filter : $select.search">
                                                    <b>{{ val.nama}}</b> - {{ val.contoh}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" ng-if="!is_create">
                                    <label class="col-sm-4 col-form-label-sm">No surat</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.no_surat"
                                               ng-disabled="true"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm required">
                                        Yang Bertanda Tangan
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                       ng-model="form.yang_menandatangani_id" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                                    <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                                   repeat="val in listTandaTangan | filter : $select.search">
                                                    <b>{{ val.nama}}</b> - {{ val.jabatan}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm ">Gunakan Digital Ttd</label>
                                    <div class="col-sm-8">
                                        <div class="btn-group">
                                            <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                                   uib-btn-radio="1">
                                                <i class="fa fa-check" ng-if="form.is_ttd == 1">
                                                </i>
                                                Ya
                                            </label>
                                            <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                                   uib-btn-radio="0">
                                                <i class="fa fa-check" ng-if="form.is_ttd == 0">
                                                </i>
                                                Tidak
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm required">
                                        Nama Penduduk
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                       ng-model="form.penduduk_id" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                                    {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                                </ui-select-match>
                                                <ui-select-choices position="down" refresh="searchNama($select.search)"
                                                                   repeat="val in listPenduduk">
                                                    {{ val.nama}} - {{ val.nik}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Jenis Surat</label>
                                    <div class="col-sm-8">
                                        <ui-select on-select="" ng-disabled="is_view" ng-model="form.format_surat"
                                                   theme="bootstrap">
                                            <ui-select-match placeholder="Pilih Surat">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in format_print | filter : $select.search">
                                                {{val.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <!--                            GAKIN-->
                                <div class="form-group row"
                                     ng-if="form.format_surat.nama == 'Keterangan Tidak Mampu (SKTM)'">
                                    <label class="col-sm-4 col-form-label-sm required">
                                        Nama Wali
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                       ng-model="form.gakin_penduduk_id" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Masukkan 3 Karakter">
                                                    {{ $select.selected.nama}}
                                                </ui-select-match>
                                                <ui-select-choices position="down" refresh="searchNama($select.search)"
                                                                   repeat="val in listPenduduk">
                                                    {{ val.nama}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Keterangan Tidak Mampu (SKTM)'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Nama Sekolah</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.gakin_sekolah"
                                               ng-disabled="is_view">
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Keterangan Tidak Mampu (SKTM)'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Keterangan</label>
                                    <div class="col-sm-8">
                                        <select class="form-control form-control-sm" ng-model="form.keterangan_gakin_id"
                                                ng-change="updateKeterangan(form.keterangan_gakin_id)"
                                                ng-disabled="is_view">
                                            <option ng-value="''">- Pilih Keterangan -</option>
                                            <option ng-value="1">Proses pengajuan DTKS</option>
                                            <option ng-value="2">Sudah masuk DTKS</option>
                                            <option ng-value="3">Manual</option>
                                        </select>
                                    </div>
                                </div>
                                <!--                            GAKIN END-->

                                <!--                            IZIN ORANG TUA-->
                                <div class="form-group row" ng-if="form.format_surat.nama == 'Izin Orang Tua'">
                                    <label class="col-sm-4 col-form-label-sm">
                                        Yang diberi izin
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                       ng-model="form.yang_diberi_izin" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                                    {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                                </ui-select-match>
                                                <ui-select-choices position="down" refresh="searchNama($select.search)"
                                                                   repeat="val in listPenduduk">
                                                    {{ val.nama}} - {{ val.nik}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Izin Orang Tua'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Pergi ke</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.pergi_ke"
                                               ng-disabled="is_view">
                                    </div>
                                </div>

                                <!--                            BBM-->

                                <div ng-if="form.format_surat.nama == 'Usaha Kecil Pembelian BBM'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Lokasi</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.bbm_lokasi"
                                               ng-disabled="is_view">
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Usaha Kecil Pembelian BBM'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Premium</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.bbm_premium"
                                               ng-disabled="is_view">
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Usaha Kecil Pembelian BBM'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Solar</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.bbm_solar"
                                               ng-disabled="is_view">
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Usaha Kecil Pembelian BBM'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm required">Masa Berakhir</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input class="form-control form-control-sm"
                                                   datepicker-options="{minMode: 'day'}"
                                                   is-open="opened.bbm_masa_berakhir"
                                                   ng-click="toggle($event, 'bbm_masa_berakhir')"
                                                   ng-model="form.bbm_masa_berakhir"
                                                   placeholder="Masa Berakhir" type="text"
                                                   uib-datepicker-popup="dd MMMM yyyy">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--                            WALI ANAK-->
                                <div class="form-group row" ng-if="form.format_surat.nama == 'Wali Anak'">
                                    <label class="col-sm-4 col-form-label-sm required">
                                        Nama Wali
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-sm" style="width:100%">

                                            <input type="text" class="form-control form-control-sm"
                                                   ng-model="form.wali_nama"
                                                   ng-disabled="is_view" required/>
                                            <button ng-disabled="is_view" class="btn btn-primary btn-sm"
                                                    ng-click="modal()">
                                                <i class="fa fa-search">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Wali Anak'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Tempat Lahir</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.wali_tempat_lahir"
                                               ng-disabled="is_view">
                                    </div>
                                </div>

                                <div class="form-group row" ng-if="form.format_surat.nama == 'Wali Anak'">
                                    <label class="col-sm-4 col-form-label-sm required">Tanggal Lahir</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input class="form-control form-control-sm"
                                                   datepicker-options="{minMode: 'day'}" is-open="opened.wali_tgl_lahir"
                                                   ng-click="toggle($event, 'wali_tgl_lahir')"
                                                   ng-model="form.wali_tgl_lahir"
                                                   placeholder="Tanggal Lahir" type="text"
                                                   uib-datepicker-popup="dd MMMM yyyy">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div ng-if="form.format_surat.nama == 'Wali Anak'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">NIK</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm angka text-left"
                                               ng-model="form.wali_nik"
                                               ng-disabled="is_view">
                                    </div>
                                </div>

                                <div ng-if="form.format_surat.nama == 'Wali Anak'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Agama</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.wali_agama"
                                               ng-disabled="is_view">
                                    </div>
                                </div>

                                <div ng-if="form.format_surat.nama == 'Wali Anak'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Alamat</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.wali_alamat"
                                               ng-disabled="is_view">
                                    </div>
                                </div>

                                <div ng-if="form.format_surat.nama == 'Wali Anak'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Pekerjaan</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.wali_pekerjaan"
                                               ng-disabled="is_view">
                                    </div>
                                </div>

                                <div ng-if="form.format_surat.nama == 'Wali Anak'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Hubungan Keluarga</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm"
                                               ng-model="form.wali_hubungan_keluarga"
                                               ng-disabled="is_view">
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Wali Anak'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Digunakan Untuk</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.wali_digunakan_untuk"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>
                                <!--                            WALI ANAK END-->
                                <!--                            <div ng-if="form.format_surat.nama == 'Keterangan Tidak Mampu (SKTM)'" class="form-group row">-->
                                <!--                                <label class="col-sm-4 col-form-label-sm">Keterangan Tidak Mampu (SKTM) Untuk</label>-->
                                <!--                                <div class="col-sm-9">-->
                                <!--                                    <textarea rows="5" class="form-control form-control-sm" ng-model="form.gakin_untuk"-->
                                <!--                                              ng-disabled="is_view"></textarea>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                                <div ng-if="form.format_surat.nama == 'Kehilangan'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Digunakan Untuk</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.kehilangan_untuk"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Keterangan'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Keterangan Untuk</label>
                                    <div class="col-sm-9">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.keterangan_untuk"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>

                                <!--                            DOMISILI PRIBADI-->
                                <div ng-if="form.format_surat.nama == 'Keterangan Domisili Pribadi'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Keterangan Untuk</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.pribadi_untuk"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row"
                                     ng-if="form.format_surat.nama == 'Keterangan Usaha'">
                                    <label class="col-sm-4 col-form-label-sm">Periode Awal</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.periode_awal_usaha"
                                               ng-disabled="is_view"/>
                                    </div>
                                </div>
                                <div class="form-group row"
                                     ng-if="form.format_surat.nama == 'Keterangan Usaha'">
                                    <label class="col-sm-4 col-form-label-sm">Periode Selesai</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.periode_selesai_usaha"
                                               ng-disabled="is_view"/>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Keterangan Usaha'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Lokasi Usaha</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.lokasi_usaha"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>


                                <!--                            DOMISILI INSTANSI-->
                                <div class="form-group row"
                                     ng-if="form.format_surat.nama == 'Keterangan Domisili Instansi'">
                                    <label class="col-sm-4 col-form-label-sm">Nama Instansi</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.nama_instansi"
                                               ng-disabled="is_view"/>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Keterangan Domisili Instansi'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Alamat</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.alamat_instansi"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>

                                <!--                            DOMISILI LEGALITAS-->
                                <div class="form-group row"
                                     ng-if="form.format_surat.nama == 'Keterangan Domisili Legalitas'">
                                    <label class="col-sm-4 col-form-label-sm">Nama CV</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.nama_cv"
                                               ng-disabled="is_view"/>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Keterangan Domisili Legalitas'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Alamat</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.alamat_cv"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Keterangan Domisili Legalitas'"
                                     class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Keterangan Untuk</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.legalitas_untuk"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Keterangan Pergi Nikah'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Keterangan Untuk</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.pergi_nikah_untuk"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Kuasa'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Kuasa Untuk</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm" ng-model="form.kuasa_untuk"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row" ng-if="form.format_surat.nama == 'Penghasilan'">
                                    <label class="col-sm-4 col-form-label-sm">
                                        Nama Ayah
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                       ng-model="form.penghasilan_ayah_id" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Masukkan 3 Karakter nama atau NIK">
                                                    {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                                </ui-select-match>
                                                <ui-select-choices position="down" refresh="searchNama($select.search)"
                                                                   repeat="val in listPenduduk">
                                                    {{ val.nama}} - {{ val.nik}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="form.format_surat.nama == 'Penghasilan'" class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm">Penghasilan Untuk</label>
                                    <div class="col-sm-8">
                                    <textarea rows="5" class="form-control form-control-sm"
                                              ng-model="form.penghasilan_untuk"
                                              ng-disabled="is_view"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Keterangan</label>
                            </div>
                            <div class="col-md-10">
                                <textarea ckeditor="editorOptions" ng-model="form.keterangan"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                            <i class="fa fa-arrow-left"></i>
                            &nbsp;Kembali
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                                ng-disabled="loading" ng-click="save(form)">
                            <i class="fa fa-save"></i>
                            &nbsp;Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
