
<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
            <div>
                {# <img src="../file/kop_surat/{{ pengaturan.kop_surat }}" style="width: 100%"> #}
            </div>
            <p class="nama-surat">SURAT PERNYATAAN</p>
            {# <p class="nomor-surat">Nomor : {{ model.no_surat }}</p> #}
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan dibawah ini saya :</p><br/>
                <table style="width: 100%; padding-left: 40px;">
                    <tr>
                        <td width="40%"><p>Nama</p></td>
                        <td >:</td>
                        <td width="60%" class="capitalize">{{ yang_mengajukan.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl Lahir/Umur</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.tempat_lahir }}, {{ yang_mengajukan.tgl_lahir }} / {{ yang_mengajukan.umur }} Tahun</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td>{{ yang_mengajukan.alamat }} {{ model.desa }} {{ model.kecamatan }} {{ model.kabupaten }}</td>
                    </tr>
                </table>
                <br>
                <p style="text-indent: 40px;">
                    Menyatakan dengan sesungguhnya bahwa saya yang beralamat di {{ yang_mengajukan.alamat }} {{ model.desa }} {{ model.kecamatan }} {{ model.kabupaten }}
                    masih {{ yang_mengajukan.status_perkawinan }} dan
                    {% if (yang_mengajukan.status_perkawinan == 'jejaka' or yang_mengajukan.status_perkawinan == 'perawan') %}
                        belum pernah menikah.
                    {% elseif  (yang_mengajukan.status_perkawinan == 'duda' or yang_mengajukan.status_perkawinan == 'janda') %}
                        sudah pernah menikah.
                    {% else %}
                        halo
                    {% endif %}

                </p>
                <br>
                <p style="text-indent: 40px;">
                    Demikian surat ini saya buat dengan sejujur-jujurnya dan tidak ada paksaan dari pihak manapun.
                </p>
            </div>
            <br>

            <table style="width: 100%">
                <tr>
                    <td width="50%" style="text-align: center">&nbsp;
                        <br>
                        {% if model.ttd.is_kepala_desa != 1 %}
                            <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
         {{model.ttd.jabatan}}<br>
 {% endif %}
                         {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                        {% if ttd == 'null' %}
                        {% else %}
                            <div style="text-align: center; margin-right: 20px;height: 130px">
                                {% if model.is_ttd == 1 %}
                                    {% if model.ttd.ttd != null %}
                                        <img style="width: auto; height: 130px; "
                                             src="../file/ttd/{{ model.ttd.ttd }}">
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="margin-top: -40px;" class="ttd">
                                <span class="nama">{{ model.ttd.nama }}</span><span class="nama">{{ model.ttd.gelar }}</span>
                            </div>
                        {% endif %}
                    </td>
                    <td width="50%" style="text-align: center">
                        {{ model.desa }}, {{ model.tgl_pembuatan }}<br>
                        Yang Menyatakan
                        <br><br><br><br><br><br>
                        <div class="ttd">
                            <span class="nama">{{ yang_mengajukan.nama }}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </page>
    </div>
</div>

<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
