<div class="animated fadeIn">
    <div ng-controller="pbbPembayaranCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Pembayaran</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    NOP
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan NOP"
                                           st-search="t_pajak_pembayaran.nop"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Nama"
                                           st-search="t_pajak_pembayaran.nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Tahun
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Tahun"
                                           st-search="t_pajak_pembayaran.tahun"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">No</th>
                            <th class="align-left">NOP</th>
                            <th class="align-left">Nama</th>
                            <th class="align-center">Tahun</th>
                            <th class="align-center">Tanggal Pembayaran</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ $index + 1 }}</td>
                            <td class="align-left">{{ row.nop_pembayaran }}</td>
                            <td class="align-left">{{ row.nama_pembayaran }}</td>
                            <td class="align-center">{{ row.tahun_pembayaran | date:'yyyy'}}</td>
                            <td class="align-center">{{ row.tanggal | date:'dd MMM yyyy'}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">NOP</label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100" ng-model="form.nop" theme="bootstrap"
                                               ng-disabled="is_view" on-select="getTahun(form.nop.id)">
                                        <ui-select-match placeholder="Pilih NOP">
                                            {{$select.selected.nop}} - {{$select.selected.nm_wp_sppt}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listNOP | filter : $select.search">
                                            {{value.nop}} - {{value.nm_wp_sppt}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Tahun</label>
                                <div class="col-sm-8">
                                    <ui-select ng-disabled="is_view || form.nop == undefined" class="w-100"
                                               ng-model="form.tahun" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Tahun">
                                            {{$select.selected.thn_pajak_sppt}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listTahun| filter : $select.search">
                                            {{value.thn_pajak_sppt}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">Tanggal Pembayaran</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tanggal"
                                               ng-click="toggle($event, 'tanggal')" ng-model="form.tanggal"
                                               placeholder="Tanggal Pembayaran" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>