<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
            <div>
{#                {% if model.kop.kop_surat != null %}#}
{#                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">#}
{#                {% endif %}#}
            </div>
            <p class="nama-surat" style="font-size: 14px; text-decoration: none;">SURAT KUASA</p>
            <br>

            <div style="padding-left: 20px;padding-right: 20px">
                Yang bertanda tangan di bawah ini :
                <table style="margin-left: 20px;">
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Nama</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Tempat/Tgl Lahir</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_tempat_lahir }}, {{ model.pihak_1_tgl_lahir }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_alamat }}</td>
                    </tr>
                </table>
                Selanjutnya disebut Pihak I (Pertama) sebagai Pemberi Kuasa

                <br><br>
                <table style="margin-left: 20px;">
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Nama</td>
                        <td>:</td>
                        <td>{{ model.pihak_2_nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Tempat/Tgl Lahir</td>
                        <td>:</td>
                        <td>{{ model.pihak_2_tempat_lahir }}, {{ model.pihak_2_tgl_lahir }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.pihak_2_alamat }}</td>
                    </tr>
                </table>
                Selanjutnya disebut Pihak I (Kedua) sebagai Pemberi Kuasa

                <br><br>
                Dengan ini Pihak I (Pertama) sebagai pemilik tanah yang terletak di
                <table style="margin-left: 32px; width: 100%;">
                    <tr>
                        <td width="20%">Desa</td>
                        <td width="2%">:</td>
                        <td>{{ model.desa }}</td>
                    </tr>
                    <tr>
                        <td>Kecamatan</td>
                        <td>:</td>
                        <td>{{ model.kecamatan }}</td>
                    </tr>
                    <tr>
                        <td>Kabupaten</td>
                        <td>:</td>
                        <td>{{ model.kabupaten }}</td>
                    </tr>
                </table>
                <br>

                Memberikan kuasa kepada Pihak II (Kedua)

                <br><br>
                <p style="text-align: center">--------------------------------- KHUSUS ---------------------------------</p>
                <br>

                {{ model.keterangan | raw }}

                <p>Demikian Surat Keterangan ini kami buat, untuk digunakan sebagimana mestinya.</p>

                <br>
                <p style="text-align: right; margin-right: 5%;">{{ model.ttd.desa }}, {{ model.tgl_pembuatan }}</p>

                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 40%; text-transform: capitalize; vertical-align: bottom;">
                            <p style="margin-bottom: 20%; text-align: center;">Pihak II</p>
                            <br>
                            {{ model.pihak_2_nama }}
                        </td>
                        <td width="30"></td>
                        <td align="center" style="width: 40%; text-transform: capitalize; vertical-align: bottom;">
                            <p style="margin-bottom: 20%; text-align: center;">Pihak I</p>
                            <br>
                            {{ model.pihak_1_nama }}
                        </td>
                    </tr>
                </table>
                <br>
                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td colspan="3" align="center" style="width: 30%;text-transform: capitalize">
                            Mengetahui, <br>
                            {#                            {% if model.ttd.is_kepala_desa != 1 %}#}
                            {#                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>#}
                            {#                                {{ model.ttd.jabatan }}<br>#}
                            {#                            {% endif %}#}
                            {#                            {% if model.ttd.is_kepala_desa == 1 %}#}
                            {#                                {{ model.ttd.jabatan }} {{ model.desa }}<br>#}
                            {#                            {% endif %}#}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama"><u>{{ model.ttd.nama }}{{ model.ttd.gelar }}</u></span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
