<div class="animated fadeIn">
    <div ng-controller="lPembayaranPajakCtrl">
        <div class="card">
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    NOP
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan NOP" ng-model="filter.nop"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Status Pembayaran
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100"
                                               ng-model="filter.status" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Status">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listStatus| filter : $select.search">
                                            {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row" ng-if="filter.status.id == 1">
                                <label class="col-sm-3 col-form-label-sm">
                                    Periode
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="checkbox" id="gunakan"
                                                           value="true" ng-model="filter.allPeriode"/>
                                                    <label class="form-check-label" for="gunakan">All Periode</label>
                                                </div>
                                            </span>
                                        </div>
                                        <input ng-disabled="form.allPeriode"
                                               class="form-control form-control-sm" date-range-picker="" options="dateRangeOptions"
                                               ng-model="filter.tanggal" placeholder="Periode" type="text" ng-change="reset_tampil()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Tahun
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control form-control-sm" datepicker-options="options_min"
                                               is-open="opened.tahun" ng-click="toggle($event, 'tahun')"
                                               ng-model="filter.tahun" type="text" uib-datepicker-popup="yyyy"
                                               min-mode="year"/>
                                        <div class="input-group-text" ng-click="toggle($event, 'tahun')">
                                            <i class="far fa-calendar-alt">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Nama" ng-model="filter.nama"/>
                                </div>
                            </div>
                            <div class="form-group row" >
                                <label class="col-sm-3 col-form-label-sm ">
                                    Ketua RT
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100"
                                               ng-model="filter.ketua_rt" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Ketua RT">
                                            {{$select.selected.nama}} - {{$select.selected.nik}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in user| filter : $select.search">
                                            {{value.nama}} - {{value.nik}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm ">-->
<!--                                    Pembuat-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <ui-select class="w-100"-->
<!--                                               ng-model="filter.pembuat" theme="bootstrap">-->
<!--                                        <ui-select-match placeholder="Pilih Pembuat">-->
<!--                                            {{$select.selected.nama}}-->
<!--                                        </ui-select-match>-->
<!--                                        <ui-select-choices repeat="value in listPembuat| filter : $select.search">-->
<!--                                            {{value.nama}}-->
<!--                                        </ui-select-choices>-->
<!--                                    </ui-select>-->
<!--                                </div>-->
<!--                            </div>-->

                        </div>

                    </div>
                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="reset_filter()" type="button">
                                    <i class="fa fa-recycle"></i> Reset Filter
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="view(0, 0)">
                                    <i class="fa fa-eye"></i> Tampilkan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body" ng-if="is_view">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-left">
                            <span>Sudah bayar : Rp. {{sudah_bayar | number}}</span><br><br>
                            <span>Belum bayar : Rp. {{belum_bayar | number}}</span><br><br>
                            <span>Total bayar : Rp. {{total | number}}</span><br><br>
                            <span>Prosentase : {{persen}} %</span>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-outline-primary btn-sm" ng-click="view(0, 1)"
                                    ng-disabled="!is_view">
                                <i class="fa fa-print"></i> Print
                            </button>
                            <button type="button" class="btn btn-outline-green btn-sm" ng-click="view(1, 0)"
                                    ng-disabled="!is_view">
                                <i class="far fa-file-excel"></i> Export Excel
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <hr/>
                    </div>
                </div>
                <center>
                    <h4 class="font-weight-bold">LAPORAN PEMBAYARAN</h4>
                    <h5 class="font-weight-bold">PAJAK BUMI DAN BANGUNAN</h5>
                    <h6 class="font-weight-bold">TAHUN {{filter_label.tahun}}</h6>
                </center>
                <div class="row" id="print">
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-laporan" style="margin: 0"
                                   st-safe-src="listPembayaran" st-table="list">
                                <thead>
                                <tr class="align-center">
                                    <th style="background-color: #ececec">No.</th>
                                    <th style="background-color: #ececec">NOP</th>
                                    <th class="align-left" style="background-color: #ececec">Nama</th>
                                    <th style="background-color: #ececec">Tahun</th>
                                    <th style="background-color: #ececec">Luas Tanah</th>
                                    <th style="background-color: #ececec">Luas Bangunan</th>
                                    <th style="background-color: #ececec" class="align-right">NJOP Tanah</th>
                                    <th style="background-color: #ececec" class="align-right">NJOP Bangunan</th>
                                    <th style="background-color: #ececec" class="align-right">Harus Bayar</th>
                                    <th style="background-color: #ececec" class="align-right">Total</th>
                                    <th style="background-color: #ececec">Status</th>
                                    <th style="background-color: #ececec">Tanggal Pembayaran</th>
                                    <th style="background-color: #ececec">Tanggal Input</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in listPembayaran" class="align-center">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ row.nop }}</td>
                                    <td class="align-left">{{ row.nm_wp_sppt }}</td>
                                    <td>{{ row.thn_pajak_sppt }}</td>
                                    <td>{{ row.luas_bumi_sppt }}</td>
                                    <td>{{ row.luas_bng_sppt }}</td>
                                    <td class="align-right">{{ row.njop_bumi_sppt | number}}</td>
                                    <td class="align-right">{{ row.njop_bng_sppt | number}}</td>
                                    <td class="align-right">{{ row.njop_sppt | number}}</td>
                                    <td class="align-right">{{ row.pbb_yg_hrs_dibayar_sppt | number}}</td>
                                    <td>
                                        <span class="badge badge-danger badge-pill"
                                              ng-if="row.tanggal_pembayaran == null">
                                            BELUM LUNAS
                                        </span>
                                        <span class="badge badge-success badge-pill"
                                              ng-if="row.tanggal_pembayaran != null">
                                            LUNAS
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-if="row.tanggal_pembayaran == null">
                                            -
                                        </span>
                                        <span ng-if="row.tanggal_pembayaran != null">
                                            {{ row.tanggal_pembayaran }}
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-if="row.tanggal_input == null">
                                            -
                                        </span>
                                        <span ng-if="row.tanggal_input != null">
                                            {{ row.tanggal_input }}
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>