<div class="animated fadeIn">
    <div ng-controller="lsuratCtrl">
        <div class="card">
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Periode
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="checkbox" id="gunakan"
                                                           value="true" ng-model="form.allPeriode"/>
                                                    <label class="form-check-label" for="gunakan">All Periode</label>
                                                </div>
                                            </span>
                                        </div>
                                        <input ng-disabled="form.allPeriode"
                                               class="form-control form-control-sm" date-range-picker="" options="dateRangeOptions" 
                                               ng-model="form.tanggal" placeholder="Periode" type="text" ng-change="reset_tampil()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Jenis
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis" uib-btn-radio="'semua'">
                                            <i class="fa fa-check" ng-if="form.jenis == 'semua'"></i>
                                            Semua
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis" uib-btn-radio="'masuk'">
                                            <i class="fa fa-check" ng-if="form.jenis == 'masuk'"></i>
                                            Masuk
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis" uib-btn-radio="'keluar'">
                                            <i class="fa fa-check" ng-if="form.jenis == 'keluar'"></i>
                                            Keluar
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="reset_filter()" type="button">
                                    <i class="fa fa-recycle"></i> Reset Filter
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="view(0, 0, form)">
                                    <i class="fa fa-eye"></i> Tampilkan
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body" ng-if="is_view">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group pull-right" >
                            <button type="button" class="btn btn-outline-primary btn-sm" ng-print print-element-id="print" 
                                    ng-disabled="!is_view">
                                <i class="fa fa-print"></i> Print
                            </button>
                            <button type="button" class="btn btn-outline-green btn-sm" ng-click="view(1, 0, form)"
                                    ng-disabled="!is_view">
                                <i class="far fa-file-excel"></i> Export Excel
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <hr/>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" id="print">
                        <div class="col-md-12 col-print text-center">
                            <h2 class="no-mp font-weight-bold"><u>LAPORAN DATA PENDUDUK
                                {{filter_tampil.desa | uppercase}}</u></h2>
                            <h5 class="no-mp">{{ filter_tampil.periode}}</h5>

                        </div>
                        <div class="col-md-12 garis-judul">
                            <hr>
                        </div>
                        <div class="col-md-12 col-print">
                            <div class="table-responsive mb-3" >
                                <table class="table table-laporan table-bordered col-md-12 col-print">
                                    <thead>
                                        <tr>
                                            <th class="align-left" >No Surat</th>
                                            <th class="align-center" >Asal Surat</th>
                                            <th class="align-center" >Isi</th>
                                            <th class="align-center" >Tgl Surat</th>
                                            <th class="align-center">Tgl Diterima</th>
                                            <th class="align-center" >Keterangan</th>
                                            <th class="align-center" >Jenis</th>
                                            <th class="align-center" >Dibuat</th>
                                        </tr>
                                        <tr></tr>
                                    </thead>
                                    <tbody >
                                        <tr ng-repeat="rows in detail">
                                            <td class="align-left">{{ rows.no_surat}} </td>
                                            <td class="align-center">{{ rows.asal_surat}}</td>
                                            <td class="align-center">{{ rows.isi}}</td>
                                            <td class="align-center">{{ rows.tgl_surat | date:'d MMMM yyyy'}}</td>
                                            <td class="align-center">{{ rows.tgl_diterima | date:'d MMMM yyyy'}}</td>
                                            <td class="align-center">{{ rows.keterangan}}</td>
                                            <td class="align-center">{{ rows.jenis}}</td>
                                            <td class="align-center">{{ rows.nama_user}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
