<style>
    table thead tr th {
        font-size: 16px !important;
    }

    table tbody tr td {
        font-size: 14px !important;
    }
</style>

<div class="animated fadeIn">
    <div ng-controller="tvaksinMonitoringCtrl">
<!--        <div style="background-image: url('img/abc.jpeg');">-->
        <div>


            <div class="row text-center p-3">
                <div class="col-md-4">
                    <div class="card" style="height: 700px;">
                        <h2 class="card-header bg-gradient-primary"
                            style="font-weight: bold; color: white;">
                            Registrasi</h2>
                        <div class="card-body">
                            <div class="card" style="min-height: 200px; max-height: 200px; background-color: darkgray; box-shadow: 7px 7px 7px 2px green;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <div>
                                        <p class="card-text" style="font-size: 40px; font-weight: bold;">{{peserta.registrasi[0].nama}}</p>
                                        <p class="m-0" style="font-size: 20px; font-weight: bold;">{{peserta.registrasi[0].no_urut_registrasi}}</p>
                                    </div>
                                </div>

                            </div>

                            <div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">No. Urut</th>
                                        <th scope="col">Nama</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="(key,val) in peserta.registrasi">
                                    <tr ng-if="key > 0">
                                        <td>{{val.no_urut_registrasi}}</td>
                                        <td>{{val.nama}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="height: 700px;">
                        <h2 class="card-header bg-gradient-primary"
                            style="font-weight: bold; color: white;">
                            Vaksin</h2>
                        <div class="card-body">
                            <div class="card" style="min-height: 200px; max-height: 200px; background-color: darkgray; box-shadow: 7px 7px 7px 2px green;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <div>
                                        <p class="card-text" style="font-size: 40px; font-weight: bold;">{{peserta.vaksin[0].nama}}</p>
                                        <p class="m-0" style="font-size: 20px; font-weight: bold;">{{peserta.vaksin[0].no_urut_registrasi}}</p>
                                    </div>
                                </div>

                            </div>

                            <div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">No. Urut</th>
                                        <th scope="col">Nama</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="(key,val) in peserta.vaksin">
                                    <tr ng-if="key > 0">
                                        <td>{{val.no_urut_registrasi}}</td>
                                        <td>{{val.nama}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="height: 700px;">
                        <h2 class="card-header bg-gradient-primary"
                            style="font-weight: bold; color: white;">
                            Pengambilan Kartu Vaksin</h2>
                        <div class="card-body">
                            <div class="card" style="min-height: 200px; max-height: 200px; background-color: darkgray; box-shadow: 7px 7px 7px 2px green;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <div>
                                        <p class="card-text" style="font-size: 40px; font-weight: bold;">{{peserta.kartu[0].nama}}</p>
                                        <p class="m-0" style="font-size: 20px; font-weight: bold;">{{peserta.kartu[0].no_urut_registrasi}}</p>
                                    </div>
                                </div>

                            </div>

                            <div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">No. Urut</th>
                                        <th scope="col">Nama</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="(key,val) in peserta.kartu">
                                    <tr ng-if="key > 0">
                                        <td>{{val.no_urut_registrasi}}</td>
                                        <td>{{val.nama}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
