<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ pengaturan.kop_surat }}" style="width: 100%">
            </div>

            <p class="nama-surat">SURAT KETERANGAN BEPERGIAN</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>

            <div style="padding-left: 50px;padding-right: 20px">
                <p >Yang bertanda tangan dibawah ini Kepala Desa {{ desa.desa |capitalize}} Kecamatan {{ desa.kecamatan }} {{model.kabupaten}},
                    menerangkan dengan sesungguhnya bahwa : </p>
                <table width="100%">
                    <tr>
                        <td width="25%"><p>Nama</p></td>
                        <td>:</td>
                        <td>{{ model.nama_penduduk | upper}}</td>
                    </tr>
                    <tr>
                        <td><p>Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>Tempat, Tgl. lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tgl_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>Agama</p></td>
                        <td>:</td>
                        <td>{{ model.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>Alamat asal</p></td>
                        <td>:</td>
                        <td>{{ model.alamat }}
                        </td>
                    </tr>
                    <tr>
                        <td><p>Tujuan</p></td>
                        <td>:</td>
                        <td>

                            {% if model.is_status_tujuan == 0 %}
                            <table>
                                <tr>
                                    <td>Kelurahan</td>
                                    <td>:</td>
                                    <td>{{ model.desa_tujuan }}</td>
                                </tr>
                                <tr>
                                    <td>Kecamatan</td>
                                    <td>:</td>
                                    <td>{{ model.kecamatan_tujuan }}</td>
                                </tr>
                                <tr>
                                    <td>Kabupaten</td>
                                    <td>:</td>
                                    <td>{{ model.kabupaten_tujuan }}</td>
                                </tr>
                                <tr>
                                    <td>Provinsi</td>
                                    <td>:</td>
                                    <td>{{ model.provinsi_tujuan }}</td>
                                </tr>
                            </table>
                            {% else %}
                            {{ model.alamat_tujuan }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p>No. KTP</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}
                        </td>
                    </tr>
                    <tr>
                        <td><p>Alasan Pergi</p></td>
                        <td>:</td>
                        <td>{{ model.alasan }}
                        </td>
                    </tr>
                    <tr>
                        <td><p>Lama Bepergian</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_mulai }} - {{ model.tgl_selesai }}
                        </td>
                    </tr>
                    <tr>
                        <td><p>Pengikut</p></td>
                        <td>:</td>
                        <td>
                            {{ count }} Orang . Yaitu :
                        </td>
                    </tr>
                </table>

                {#                <br/>#}
                {#                {{ model.keterangan | raw }}#}
                {#                <br/>#}
                <br>
                <table width="100%" class="border">
                    <thead>

                    <tr>
                        <th style="padding: 5px; text-align: center;">NO</th>
                        <th style="padding: 5px; text-align: left;">NAMA</th>
                        <th style="padding: 5px">LK/LP</th>
                        <th style="padding: 5px">UMUR</th>
                        <th style="padding: 5px">KETERANGAN</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,val in detail %}
                        <tr>
                            <td style="padding: 5px;text-align: center">{{ key+1 }}</td>
                            <td style="padding: 5px;">{{ val.nama }}</td>
                            <td style="padding: 5px;  text-align: center;">{{ val.jenis_kelamin }}</td>
                            <td style="padding: 5px; text-align: center;">{{ val.umur }} th</td>
                            <td style="padding: 5px; text-align: center;">{{ val.keterangan }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <p>Demikian surat keterangan ini kami buat dengan sebenarnya untuk menjadikan periksa dan guna seperlunya.</p>
                <br>

                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%">
                            {{ model.desa }}, {{ model.tgl_pembuatan }}<br>
                            {{ ttd.jabatan}} {{ model.desa }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ ttd.nama }}{{ ttd.gelar }}</span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>