<style type="text/css">
    {% include 'css/surat-warisan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
            <div>
                {% if model.kop.kop_surat != null %}
                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
                {% endif %}
            </div>
            <p class="nama-surat">Surat Pernyataan Pembagian Warisan</p>

            <br>
            <div style="padding-left: 20px;padding-right: 20px">
                <p>Yang bertanda tangan di bawah ini, kami ahli waris dari Almarhum : ---------{{ jenazah.nama }}----------
                    dengan alamat {{ jenazah.alamat }}, berdasarkan surat pernyataan dari ahli waris tanggal : {{ model.tgl_pernyataan }}</p>

                <p>Dengan ini menyatakan dengan sebenarnya jika perlu sanggup mengangkat sumpah : </p>

                <table width="100%" style="height: 120px; margin-left: 10px;">
                    <tr>
                        <td width="2%" style="vertical-align: top;">1</td>
                        <td class="non-capitalize"><p>Bahwa almarhum tersebut di atas meninggalkan tanah warisan yang terletak  di Desa {{ jenazah.desa }} Kecamatan
                            {{ jenazah.kecamatan }} Kabupaten {{ jenazah.kabupaten }} pada C Desa/Petok/Pipil/verponding Indonesia : </p>
                        <table style="margin: 0px; padding: 0px;">
                            <tr>
                                <td>Nomor</td>
                                <td>:</td>
                                <td>{{ model.nomor }}</td>
                                <td width="60%"></td>
                                <td>Persil</td>
                                <td>:</td>
                                <td>{{ model.persil }}</td>
                            </tr>
                            <tr>
                                <td>Kelas</td>
                                <td>:</td>
                                <td>{{ model.kelas }}</td>
                                <td width="60%"></td>
                                <td>Luas</td>
                                <td>:</td>
                                <td>{{ model.luas }} M<sup>2</sup>.</td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="2%" style="vertical-align: top;">2</td>
                        <td class="non-capitalize">
                            <p>Bahwa berdasarkan musyawarah semua ahli waris kami sepakat mengadakan pembagian warisan sebagai beriku : </p>
                            <br>
                            <p>Periksa gambar (Sket pembagian warisan di sebaliknya)</p>

                            <table width="100%" style="border-collapse: collapse; border: 1px solid black;">
                                <tr>
                                    <td class="table-border" align="center" style="padding: 10px;"><b>No</b></td>
                                    <td class="table-border" align="center" style="padding: 10px;"><b>NAMA</b></td>
                                    <td class="table-border" align="center" style="padding: 10px;"><b>UMUR</b></td>
                                    <td class="table-border" align="center" style="padding: 10px;"><b>ALAMAT/TEMPAT TINGGAL</b></td>
                                    <td class="table-border" align="center" width="16%" style="padding: 5px;"><b>BAGIAN (M<sup>2</sup>) </b></td>
                                </tr>
                                {% for i, data in detail_ahli_waris %}
                                    <tr>
                                        <td class="table-border" align="center" style="padding-left: 3px;">{{ i+1 }}</td>
                                        <td class="table-border" style="padding: 5px 10px;">{{ data.nama }}</td>
                                        <td class="table-border" align="center" style="padding: 5px 10px;">{{ data.umur }}</td>
                                        <td class="table-border" style="padding: 5px 10px;">{{ data.alamat }}</td>
                                        <td class="table-border" align="center" style="padding: 5px 10px;">{{ data.bagian}}</td>
                                    </tr>
                                {% endfor %}
                                {% if total_ahli_waris < 8 %}
                                    {% for i, data in range(1, (8 - total_ahli_waris)) %}
                                        <tr>
                                            <td class="table-border">&nbsp;</td>
                                            <td class="table-border">&nbsp;</td>
                                            <td class="table-border">&nbsp;</td>
                                            <td class="table-border">&nbsp;</td>
                                            <td class="table-border">&nbsp;</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="2%" style="vertical-align: top;">3</td>
                        <td class="non-capitalize">
                            <p>Bahwa pembagian warisan di atas dilakukan tahun ({{ model.tahun_pernyataan }}),
                                dan sejak saat ini segala hak dan kewajiban yang berkaitan dengan tanah tersebut menjadi hak dan kewajiban
                                dari masing masing penerima warisan termasuk memohon sertifikat atas namanya sendiri.</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="2%" style="vertical-align: top;"></td>
                        <td>
                            <p>Demikian surat pernyataan ini kami buat dengan sebenarnya, dan apabila ternyata pernyataan ini tidak benar kami bersedia dituntut sesuai hukum yang berlaku.</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="2%" style="vertical-align: top;"></td>
                        <td>
                            <p style="text-align: right;">{{ model.desa }} : {{ model.tgl_pembuatan }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="2%" style="vertical-align: top;"></td>
                        <td style="padding-left: 30%;">
                            <p style="margin-right: 50%">Yang membuat Pernyataan <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kami ahli waris</p>
                        </td>
                    </tr>

                    {% for i, data in detail_ahli_waris %}
                    <tr>
                        <td width="2%" style="vertical-align: top;">{{ i+1 }}</td>
                        <td class="non-capitalize" style="padding-left: 15px;">
                            {{ data.nama }}
                        </td>
                    </tr>
                    {% endfor %}

                </table>

                <br>
                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 70%">
                            <table width="100%">
                                <tr>
                                    <td colspan="6" style="padding-bottom: 0px;"><p>Saksi-saksi</p></td>
                                </tr>
                                {% for i, data in detail_saksi %}
                                    <tr>
                                        <td width="2%">{{ i+1 }}.</td>
                                        <td style="text-align: justify;">{{ data.nama }}</td>
                                        <td style="text-align: justify;">{{ data.jabatan }}</td>
                                        <td style="text-align: justify;" width="10%">{{ ((i+1) %2 != 0) ? i+1 : "" }}</td>
                                        <td style="text-align: justify;" width="10%">{{ ((i+1) %2 == 0) ? i+1 : "" }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td align="center" style="width: 30%;text-transform: capitalize">
                            Mengetahui,<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}
                            {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama"><u>{{ model.ttd.nama }}{{ model.ttd.gelar }}</u></span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
