<div class="animated fadeIn">
    <div ng-controller="lStrukturOrganisasiCtrl">
        <div class="card">
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="form.desa" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Desa">
                                            <b>{{ $select.selected.desa}}</b> kec.
                                            {{ $select.selected.kecamatan}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="val in listDesa | filter : $select.search">
                                            <b>{{ val.desa}}</b> kec. {{ val.kecamatan}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="reset_filter()" type="button">
                                    <i class="fa fa-recycle"></i> Reset Filter
                                </button>
                                <button type="button" class="btn btn-primary btn-sm"
                                        ng-disabled="form.desa == undefined" ng-click="view(0, 0, form)">
                                    <i class="fa fa-eye"></i> Tampilkan
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card" style="margin-top: 20px;">

            <div class="card-body" ng-if="is_view">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-outline-primary btn-sm" ng-print
                                    print-element-id="print"
                                    ng-disabled="!is_view">
                                <i class="fa fa-print"></i> Print
                            </button>
                            <!--                            <button type="button" class="btn btn-outline-green btn-sm" ng-click="view(1, 0, form)"-->
                            <!--                                    ng-disabled="!is_view">-->
                            <!--                                <i class="far fa-file-excel"></i> Export Excel-->
                            <!--                            </button>-->
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <hr/>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" id="print">
                        <style type="text/css">
                            @media print {
                                .table-responsive {
                                    width: 100%;
                                    overflow-x: visible;
                                }

                                table tr th {
                                    font-size: 12px;
                                    text-align: center;
                                }

                                table tr td {
                                    font-size: 12px;
                                    text-align: center;
                                }

                                @page {
                                    size: landscape;
                                }
                            }
                        </style>

                        <div class="col-md-12 col-print text-center">
                            <h2 class="no-mp font-weight-bold"><u>LAPORAN STRUKTUR ORGANISASI DESA
                                {{filter_tampil.desa | uppercase}}</u></h2>
                        </div>
                        <div class="col-md-12 garis-judul">
                            <hr>
                        </div>
                        <div class="col-md-12 col-print">
                            <div class="table-responsive mb-3">
                                <table class="table table-laporan table-bordered col-md-12 col-print">
                                    <thead>
                                    <tr>
                                        <th class="align-center" rowspan="2">No</th>
                                        <th class="align-center" rowspan="2">Kecamatan</th>
                                        <th class="align-center" rowspan="2">Kode Kecamatan</th>
                                        <th class="align-center" rowspan="2">Desa</th>
                                        <th class="align-center" rowspan="2">Kode Desa</th>
                                        <th class="align-center" rowspan="2">Nama</th>
                                        <th class="align-center" rowspan="2">Jabatan</th>
                                        <th class="align-center" rowspan="2">Tempat</th>
                                        <th class="align-center" rowspan="2">Tanggal Lahir</th>
                                        <th class="align-center" rowspan="2">Pendidikan</th>
                                        <th class="align-center" rowspan="2">Jenis Kelamin</th>
                                        <th class="align-center" colspan="3">Pengangkatan</th>
                                        <th class="align-center" rowspan="2">Tanggal Pelantikan</th>
                                        <th class="align-center" rowspan="2">Habis Masa Jabatan</th>
                                    </tr>
                                    <tr>
                                        <th class="align-center">Pejabat</th>
                                        <th class="align-center">No SK</th>
                                        <th class="align-center">Tanggal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="rows in detail">
                                        <td class="align-center">{{ $index + 1}}</td>
                                        <td class="align-center">{{ rows.kecamatan}}</td>
                                        <td class="align-center">{{ rows.kode_kecamatan}}</td>
                                        <td class="align-center">{{ rows.desa}}</td>
                                        <td class="align-center">{{ rows.kode_desa}}</td>
                                        <td class="align-center">{{ rows.nama_penduduk}}</td>
                                        <td class="align-center">{{ rows.jabatan}}</td>
                                        <td class="align-center">{{ rows.tempat_lahir}}</td>
                                        <td class="align-center">{{ rows.tgl_lahir | date:'dd MMMM yyyy'}}</td>
                                        <td class="align-center">{{ rows.pendidikan_akhir}}</td>
                                        <td class="align-center">{{ rows.jenis_kelamin}}</td>
                                        <td class="align-center">{{ rows.pejabat_pengangkatan}}</td>
                                        <td class="align-center">{{ rows.no_sk}}</td>
                                        <td class="align-center">{{ rows.tgl_pengangkatan | date:'dd MMMM yyyy'}}</td>
                                        <td class="align-center">{{ rows.tgl_pelantikan | date:'dd MMMM yyyy'}}</td>
                                        <td class="align-center">
                                            {{ rows.tgl_habis_masa_jabatan | date:'dd MMMM yyyy'}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-print">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="no-mp font-weight-bold text-center">BAGAN SUSUNAN ORGANISASI DAN TATA
                                        KERJA <br>
                                        APARATUR PEMERINTAH DESA {{ form.desa.desa | uppercase }} KECAMATAN
                                        {{ form.desa.kecamatan | uppercase }} <br>
                                        KABUPATEN PONOROGO
                                    </h2>
                                    <hr/>
                                    <div zingchart id="struktur" zc-json="cdata" zc-height=600 zc-width="100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
