<title>
    Laporan Prospek Penjualan
</title>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td{
        padding:5px;
        color:black;
        border: 1px solid #2f2f2f;
        border-width: thin;
        vertical-align: middle;
        font-size: 12px;
        font-family : Arial, Helvetica, sans-serif;
    }
    .text-capitalize {
        text-transform: capitalize!important;
    }
    .l_title{
        font-family : Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
    }
    .ket_gd{
        margin: 0px;
        margin-top: 2px;
        font-size: 12px;
        font-family : Arial, Helvetica, sans-serif;
    }
    h4{
        font-size: 14px;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <h4 class="l_title">Laporan Prospek Penjualan</h4>
                    <p class="ket_gd">{{ filter.perusahaan }}</p>
                    <p class="ket_gd">{{ filter.proyek }}</p>
                    <p class="ket_gd">{{ filter.periode }}</p>
                    </div>
                <br>
            </div>
        </div>

        <div style="page-break-after: always; page-break-inside: avoid">
            <table>
                <thead>
                    <tr align="center">
                        <th rowspan="2">Kode</th>
                        <th rowspan="2">Tanggal</th>
                        <th rowspan="2">Media</th>
                        <th rowspan="2">Jenis Agen</th>
                        <th rowspan="2">Agen</th>
                        <th rowspan="2">Unit</th>
                        <th rowspan="2">Paket</th>
                        <th rowspan="2">Pembayaran</th>
                        <th colspan="5">Customer</th>
                        <th rowspan="2">Status</th>
                    </tr>
                    <tr align="center">
                        <th>Nama</th>
                        <th>Tipe</th>
                        <th>Kontak</th>
                        <th>Jabatan</th>
                        <th>Telepon</th>
                    </tr>
                </thead>
                <tbody>
                    {% for val in data %}
                    <tr align="center">
                        <td>{{ val.kode_transaksi }}</td>
                        <td>{{ val.tanggal }}</td>
                        <td>{{ val.nama_media }}</td>
                        <td>{{ val.nama_jenis_agen }}</td>
                        <td>{{ val.nama_agen }}</td>
                        <td>{{ val.kode_unit }}</td>
                        <td>{{ val.ket_paket }}</td>
                        <td>{{ val.nama_pembayaran }}</td>
                        <td class="text-capitalize">{{ val.nama }}</td>
                        <td class="text-capitalize">{{ val.type }}</td>
                        <td class="text-capitalize">{{ val.kontak }}</td>
                        <td class="text-capitalize">{{ val.jabatan }}</td>
                        <td>{{ val.tlp_1 }}</td>
                        <td class="text-capitalize">{{ val.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>