<title>
    RINCIAN DAFTAR PAGU PBB DESA CAMPUREJO
</title>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        color: black;
        border: 1px solid #2f2f2f;
        border-width: thin;
        vertical-align: middle;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }
    th{
        background-color: #ececec;
    }

    .text-capitalize {
        text-transform: capitalize !important;
    }

    .l_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
    }

    .ket_gd {
        margin: 0px;
        margin-top: 2px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h4 {
        font-size: 14px;
    }

    .text-center{
        text-align: center;
    }

    .text-right{
        text-align: right;
    }

    .card-body{
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <center>
                        <h3 class="font-weight-bold" style="margin-bottom: 2.5px">RINCIAN DAFTAR PAGU PBB DESA
                            CAMPUREJO</h3>
                        <h4 class="font-weight-bold" style="margin-top: 2.5px">TAHUN {{ filter.year }}</h4>
                    </center>
                </div>
                <br>
            </div>
            <div class="col-md-12">
                {% for val in data %}
                <div>
                    <p><b>{{val.kepala_dusun}}</b><br/>{{val.dusun}}</p>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-laporan">
                            <thead>
                            <tr>
                                <th class="text-center" width="5%">NO.</th>
                                <th class="text-center" width="45%">NAMA KETUA RT</th>
                                <th class="text-center" width="10%">RW</th>
                                <th class="text-center" width="10%">RT</th>
                                <th class="text-center" width="30%">PAGU</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for key,vals in val.detail %}
                            <tr>
                                <td class="text-center">{{key + 1}}</td>
                                <td class="text-left">{{vals.ketua_rt}}</td>
                                <td class="text-center">{{vals.rw}}</td>
                                <td class="text-center">{{vals.rt}}</td>
                                <td class="text-right">{{vals.jumlah | number_format }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>

                            <tfoot ng-if="val.total > 0" >
                            <tr>
                                <th class="text-center" colspan="4">JUMLAH TOTAL</th>
                                <th class="text-right" >{{val.total | number_format}}</th>
                            </tr>
                            </tfoot>
                        </table>
                        <br/>
                    </div>
                </div>
                {% endfor %}

                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-laporan">
                        <tfoot>
                        <tr>
                            <th width="70%" class="text-center font-weight-bold">TOTAL KESELURUHAN</th>
                            <th width="30%" class="text-right font-weight-bold">{{totalKeseluruhan | number_format}}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>