<title>
    Laporan Pembayaran Pajak
</title>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        color: black;
        border: 1px solid #2f2f2f;
        border-width: thin;
        vertical-align: middle;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text-capitalize {
        text-transform: capitalize !important;
    }

    .l_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
    }

    .ket_gd {
        margin: 0px;
        margin-top: 2px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h4 {
        font-size: 14px;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <center>
                        <h4 class="font-weight-bold">LAPORAN PEMBAYARAN</h4>
                        <h5 class="font-weight-bold">PAJAK BUMI DAN BANGUNAN</h5>
                        <h6 class="font-weight-bold">TAHUN {{ filter.year }}</h6>
                    </center>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div>
                <table style="width: 50%">
                    <tbody ng-show="!isLoading">
                    <tr>
                        <td width="150px" style="border: none">Nama Ketua RT</td>
                        <td style="border: none">
                            : {{pembuat}}
                        </td>
                    </tr>
                    <tr>
                        <td style="border: none">Alamat</td>
                        <td style="border: none">
                            : {{alamat}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LUNAS
                        </td>

                        {% if sudah_bayar == undefined %}
                        <td>: 0</td>
                        {% else %}
                        <td>: {{ sudah_bayar | number_format
                        (0, ',', '.')}}
                        </td>
                        {% endif %}

                    </tr>
                    <tr >
                        <td>
                            BELUM LUNAS
                        </td>

                        {% if belum_bayar == undefined %}
                        <td>: 0</td>
                        {% else %}
                        <td>: {{ belum_bayar | number_format
                        (0, ',', '.')}}
                        </td>
                        {% endif %}

                    </tr>
                    </tbody>
                    <tr >
                        <td>TOTAL</td>

                        {% if total == undefined %}
                        <td>: 0</td>
                        {% else %}
                        <td>: {{ total | number_format
                        (0, ',', '.')}}
                        </td>
                        {% endif %}

                    </tr>
                </table>
            </div>
        </div>
        <br/>
        <div class="col-md-12">
            <table>
                <thead>
                <tr align="center">
                    <th style="background-color: #ececec; width: 2px;">No.</th>
                    <th style="background-color: #ececec">NOP</th>
                    <th style="background-color: #ececec">Nama</th>
                    <th style="background-color: #ececec">Luas Tanah</th>
                    <th style="background-color: #ececec">Luas Bangunan</th>
                    <th style="background-color: #ececec">NJOP Tanah</th>
                    <th style="background-color: #ececec">NJOP Bangunan</th>
                    <th style="background-color: #ececec">Total</th>
                    <th style="background-color: #ececec">Harus Bayar</th>
                    <th style="background-color: #ececec">Tahun</th>
                    <th style="background-color: #ececec">Status</th>
                    <th style="background-color: #ececec">Tanggal Pembayaran</th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading">
                {% for key, val in data %}
                <tr align="center">
                    <td class="align-center" style="width: 2px;">{{ key + 1 }}</td>
                    <td>{{ val.nop }}</td>
                    <td>{{ val.nm_wp_sppt }}</td>
                    <td>{{ val.luas_bumi_sppt }}</td>
                    <td>{{ val.luas_bng_sppt }}</td>
                    <td>{{ val.njop_bumi_sppt | number_format
                    (0, ',', '.')}}
                    </td>
                    <td>{{ val.njop_bng_sppt | number_format
                    (0, ',', '.')}}
                    </td>
                    <td align="right">{{ val.njop_sppt | number_format
                    (0, ',', '.')}}
                    </td>
                    <td>{{ val.pbb_yg_hrs_dibayar_sppt }}</td>
                    <td>{{ val.thn_pajak_sppt }}</td>
                    <td>
                        {% if val.tanggal_pembayaran == undefined %}
                        <span class="badge badge-warning badge-pill">BELUM LUNAS</span>
                        {% else %}
                        <span class="badge badge-success badge-pill">LUNAS</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if val.tanggal_pembayaran == undefined %}
                        <span>-</span>
                        {% else %}
                        <span>{{ val.tanggal_pembayaran | date
                        ('d M Y')}}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
