<title>
    Laporan Prospek Penjualan
</title>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        color: black;
        border: 1px solid #2f2f2f;
        border-width: thin;
        vertical-align: middle;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text-capitalize {
        text-transform: capitalize !important;
    }

    .l_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
    }

    .ket_gd {
        margin: 0px;
        margin-top: 2px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h4 {
        font-size: 14px;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <h4 class="l_title">Laporan Data Penduduk</h4>
                    <p class="ket_gd"><b>DUSUN</b> : {{ filter.dusun }}</p>
                    <p class="ket_gd"><b>RT</b> : {{ filter.rt }}</p>
                    <p class="ket_gd"><b>RW</b> : {{ filter.rw }}</p>
                </div>
                <br>
            </div>
        </div>

        <div >
            <table>
                <thead>
                <thead>
                <tr class="align-center">
                    <th style="background-color: #ececec" rowspan="2">No.</th>
                    <th style="background-color: #ececec" rowspan="2">No. KK</th>
                    <th style="background-color: #ececec" rowspan="2">NIK</th>
                    <th style="background-color: #ececec" rowspan="2">Nama</th>
                    <th style="background-color: #ececec" rowspan="2">Tempat Lahir</th>
                    <th style="background-color: #ececec" rowspan="2">Tanggal Lahir</th>
                    <th style="background-color: #ececec" rowspan="2">Status Perkawinan</th>
                    <th style="background-color: #ececec" rowspan="2">Jenis Kelamin</th>
                    <th style="background-color: #ececec" colspan="3">Alamat</th>
                    <!--<th style="background-color: #ececec" rowspan="2">Jenis Kelamin</th>-->
                </tr>
                <tr class="align-center">
                    <th style="background-color: #ececec">Jalan / Dukuh</th>
                    <th style="background-color: #ececec">RT</th>
                    <th style="background-color: #ececec">RW</th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading">
                {% for key,row in data%}
                <tr class="align-center">
                    <td class="align-center text-capitalize">{{ $index+1}}</td>
                    <td>{{ row.no_kk}}</td>
                    <td>{{ row.no_nik}}</td>
                    <td>{{ row.nama}}</td>
                    <td>{{ row.tempat_lahir}}</td>
                    <td>{{ row.ttl}}</td>
                    <td>{{ row.status_kawin}}</td>
                    <td>{{ row.jenis_kelamin}}</td>
                    <td>{{ row.jalan}}</td>
                    <td>{{ row.rt}}</td>
                    <td>{{ row.rw}}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>