<title>
    Laporan Prospek Penjualan
</title>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        color: black;
        border: 1px solid #2f2f2f;
        border-width: thin;
        vertical-align: middle;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text-capitalize {
        text-transform: capitalize !important;
    }

    .l_title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0px;
    }

    .ket_gd {
        margin: 0px;
        margin-top: 2px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h4 {
        font-size: 14px;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div>
                    <h4 class="l_title">Laporan Status Bantuan</h4>
                    <p class="ket_gd"><b>DUSUN</b> : {{ filter.dusun }}</p>
                    <p class="ket_gd"><b>RT</b> : {{ filter.rt }}</p>
                    <p class="ket_gd"><b>RW</b> : {{ filter.rw }}</p>
                    <p class="ket_gd" style="text-transform: capitalize"><b>SUMBER</b> : {{ filter.sumber }}</p>
                </div>
                <br>
            </div>
        </div>

        <div >
            <table>
                <thead>
                <thead>
                <tr class="align-center">
                    <th style="background-color: #ececec">No.</th>
                    <th style="background-color: #ececec">Nama</th>
                    <th style="background-color: #ececec">NIK</th>
                    <th style="background-color: #ececec">Alamat</th>
                    <!--<th style="background-color: #ececec">Tempat Lahir</th>-->
                    <!--<th style="background-color: #ececec">Tgl. Lahir</th>-->
                    <th style="background-color: #ececec">Jenis Kelamin</th>
                    <th style="background-color: #ececec">BLT Pusat</th>
                    <th style="background-color: #ececec">BPNT</th>
                    <th style="background-color: #ececec">BPNTD</th>
                    <th style="background-color: #ececec">BUREKOL</th>
                    <th style="background-color: #ececec">PKH</th>
                    <th style="background-color: #ececec">BLT DD</th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading">
                {% for key,row in data%}
                <tr ng-repeat="row in dataLaporan" class="align-center">
                    <td class="text-capitalize" style="text-align: center">{{ key+1}}</td>
                    <td class="align-left text-capitalize">{{ row.nama}}</td>
                    <td>{{ row.no_nik}}</td>
                    <td>{{ row.alamat}}</td>
                    <!--<td>{{ row.tempat_lahir}}</td>-->
                    <!--<td>{{ row.ttl}}</td>-->
                    <td style="text-align: center">{{ row.jenis_kelamin}}</td>
                    <td style="text-align: center">
                        {% if row.blt.id != undefined %}
                        <span>Ya</span>
                        {% else %}
                        <span>-</span>
                        {% endif %}

                    </td>
                    <td style="text-align: center">
                        {% if row.bpnt.id != undefined %}
                        <span>Ya</span>
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if row.bpntd.id != undefined %}
                        <span>Ya</span>
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if row.burekol.id != undefined %}
                        <span>Ya</span>
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if row.pkh.id != undefined %}
                        <span>Ya</span>
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if row.aa.id != undefined %}
                        <span>Ya</span>
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </td>
                    <!--<td>{{ row.kode_pos}}</td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>