<div class="animated fadeIn">
    <div ng-controller="rPendudukKematian">
        <div class="card">
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Periode
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="checkbox" id="gunakan"
                                                           value="true" ng-model="form.allPeriode"/>
                                                    <label class="form-check-label" for="gunakan">aaa</label>
                                                </div>
                                            </span>
                                        </div>
                                        <input ng-disabled="form.allPeriode"
                                               class="form-control form-control-sm" date-range-picker="" options="dateRangeOptions"
                                               ng-model="form.tanggal" placeholder="Periode" type="text" ng-change="reset_tampil()">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>

                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="reset_filter()" type="button">
                                    <i class="fa fa-recycle"></i> Reset form
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="view(0, 0)">
                                    <i class="fa fa-eye"></i>Tampilkan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body" ng-show="is_view">
                <!--<div class="card-body" >-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                    ng-click="view(0, 1)"
                                    ng-disabled="!is_view">
                                <i class="fa fa-print"></i> Print
                            </button>
                            <button type="button" class="btn btn-outline-green btn-sm"
                                    ng-click="view(1, 0,form)"
                                    ng-disabled="!is_view">
                                <i class="far fa-file-excel"></i> Export Excel
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <hr/>
                    </div>
                </div>

                <div class="row" id="print">
                    <div class="col-md-12 col-print text-center">
                        <h2 class="no-mp font-weight-bold"><u>REKAP PENDUDUK KEMATIAN
                            {{filter_tampil.desa | uppercase}}</u></h2>
                        <h5 class="no-mp">
                            {{ filter.periode}}
                        </h5>
                    </div>

                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-laporan" style="margin: 0">
                                <thead>
                                <tr class="align-center">
                                    <th style="background-color: #ececec; width: 70px;" rowspan="2">No.</th>
                                    <th style="background-color: #ececec" rowspan="2">NAMA</th>
                                    <th style="background-color: #ececec" rowspan="2">TEMPAT TANGGAL LAHIR</th>
                                    <th style="background-color: #ececec" colspan="2">MENINGGAL</th>
                                    <th style="background-color: #ececec" rowspan="2">TANGGAL/TH MENINGGAL</th>
                                    <th style="background-color: #ececec" rowspan="2">UMUR WAKTU MENINGGAL</th>
                                    <th style="background-color: #ececec" rowspan="2">KETERANGAN</th>
                                </tr>
                                <tr class="align-center">
                                    <th>HARI</th>
                                    <th>JAM</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading">
                                <tr ng-repeat="val in list" class="align-center">
                                    <td class="align-center text-capitalize">{{ $index+1 }}</td>
                                    <td>{{ val.nama}}</td>
                                    <td>{{ val.tempat_lahir}}, {{ val.tgl_lahir}}</td>
                                    <td>{{ val.hari}}</td>
                                    <td>{{ val.pukul}} Wib</td>
                                    <td>{{ val.tgl_kematian}}</td>
                                    <td>{{ val.umur}} Tahun</td>
                                    <td>{{ val.shdk}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
