<div class="animated fadeIn">
    <div ng-controller="userCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Pengguna</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Nama"
                                           st-search="nama"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Kabupaten
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Kabupaten"
                                           st-search="kabupaten"/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Username
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Username"
                                           st-search="username"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Kecamatan
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Kecamatan"
                                           st-search="kecamatan"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" st-search="is_deleted">
                                        <option value="0">Aktif</option>
                                        <option value="1">Terhapus</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Desa"
                                           st-search="desa"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Username</th>
                            <th class="align-left">Nama</th>
                            <th class="align-left">Alamat</th>
                            <th class="align-left">No Telepon</th>
                            <th class="align-left">Desa</th>
                            <th class="align-left">Hak Akses</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.username }}</td>
                            <td class="align-left">{{ row.nama }}</td>
                            <td class="align-left">{{ row.email }}</td>
                            <td class="align-left">{{ row.telepon }}</td>
                            <td class="align-left">{{ row.desa }} - {{ row.kecamatan.kecamatan }}</td>
                            <td class="align-left">{{ row.hakakses }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-if="row.is_deleted == 0"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0"
                                            ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-recycle"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Profil Pengguna</h6>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.email"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No Telp</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm angka align-left"
                                           ng-model="form.telepon" ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label-sm">Alamat</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.alamat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Login</h6>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Username</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.username"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Penduduk</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm w-100">
                                        <ui-select class="ui-select-sm ui-select-container w-100" ng-disabled="is_view"
                                                   ng-model="form.penduduk_id" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="searchNama($select.search)"
                                                               repeat="val in listPenduduk">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <button class="btn btn-sm btn-danger" ng-click="form.penduduk_id  = undefined">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kabupaten</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view || user.is_super_admin != 1"
                                               ng-model="form.kabupaten" theme="bootstrap" style="width: 100%"
                                               on-select="getKecamatan(form.kabupaten.id)">
                                        <ui-select-match placeholder="Masukkan 3 Karakter">
                                            <b>{{ $select.selected.kabupaten}}</b> - {{ $select.selected.provinsi}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           refresh="getKabupaten($select.search,'search')"
                                                           repeat="val in listKabupaten">
                                            <b>{{ val.kabupaten}}</b> - {{ val.provinsi}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Kecamatan
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="form.kabupaten == undefined || is_view || user.is_super_admin != 1"
                                               ng-model="form.kecamatan"
                                               on-select="getDesa(null,form.kecamatan.id, null)"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Kecamatan">
                                            <b>{{ $select.selected.kecamatan}}</b> - {{ $select.selected.kabupaten}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listKecamatan | filter : $select.search">
                                            <b>{{ value.kecamatan}}</b> - {{ value.kabupaten}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="user.is_super_admin == 1">
                                <label class="col-sm-3 col-form-label-sm">
                                    Akses Desa
                                </label>
                                <div class="col-sm-9">
                                    <ui-select multiple tagging ng-model="form.m_roles_desa" theme="bootstrap"
                                               tagging-label="false" sortable="true" ng-disabled="form.kecamatan == undefined || is_view || user.is_super_admin != 1"
                                               on-select="selectDesa($select.selected)"
                                               on-remove="selectDesa($select.selected)" style="min-height: 70px;">
                                        <ui-select-match placeholder="Pilih Desa">
                                            {{$item.desa}}
                                        </ui-select-match>
                                        <ui-select-choices position="down" repeat="value in listDesa | filter : $select.search">
                                            {{value.desa}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row" ng-if="user.is_super_admin != 1">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="form.kecamatan == undefined || is_view || user.is_super_admin == 0"
                                               ng-model="form.desa" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Desa">
                                            <b>{{ $select.selected.desa}}</b> - {{ $select.selected.kecamatan}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDesa | filter : $select.search">
                                            <b>{{ value.desa}}</b> - {{ value.kecamatan}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Password</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" id="pw" ng-disabled="is_view"
                                           ng-model="form.password" type="password"/>
                                    <ul check-strength="form.password" id="strength" model="cek"></ul>
                                    <p class="help-block help-block-sm">* Kosongi jika password tidak diubah</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Hak Akses</label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" id="hakakses" ng-disabled="is_view"
                                            ng-model="form.m_roles_id">
                                        <option value="">-Pilih Hak Akses-</option>
                                        <option ng-repeat="kat in listHakakses" value="{{ kat.id }}">{{ kat.nama }} {{ kat.is_super_admin == 0 ? '(' + kat.desa + ')' : ''}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                             ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
