<div class="modal-header bg-primary">
    <h5 class="modal-title">{{formtittle}}</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form name="landaform" novalidate="">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm required">
                                Format No. Surat
                            </label>
                            <div class="col-sm-9">
                                <div class="btn-group btn-group-sm" style="width:100%">
                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="form.action != 'create'"
                                               ng-model="form.surat_nomor" theme="bootstrap"
                                               style="width: 100%">
                                        <ui-select-match placeholder="Pilih Format Nomor Surat">
                                            <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="val in listNoSurat | filter : $select.search">
                                            <b>{{ val.nama}}</b> - {{ val.contoh}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="form.action == 'create'">
                            <label class="col-sm-3 col-form-label-sm">No. Urut surat</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.no_urut_surat"
                                       placeholder="Otomatis jika dikosongkan"/>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="!is_create">
                            <label class="col-sm-3 col-form-label-sm">No surat</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" ng-model="form.no_surat"
                                       ng-disabled="true"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm required">
                                Yang Bertanda Tangan
                            </label>
                            <div class="col-sm-9">
                                <div class="btn-group btn-group-sm" style="width:100%">
                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                               ng-model="form.yang_menandatangani_id" theme="bootstrap"
                                               style="width: 100%">
                                        <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                            <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="val in listTandaTangan | filter : $select.search">
                                            <b>{{ val.nama}}</b> - {{ val.jabatan}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm ">Gunakan Digital Ttd</label>
                            <div class="col-sm-9">
                                <div class="btn-group">
                                    <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                           uib-btn-radio="1">
                                        <i class="fa fa-check" ng-if="form.is_ttd == 1">
                                        </i>
                                        Ya
                                    </label>
                                    <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                           uib-btn-radio="0">
                                        <i class="fa fa-check" ng-if="form.is_ttd == 0">
                                        </i>
                                        Tidak
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm required">Tanggal Pembuatan</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input class="form-control form-control-sm"
                                           datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"
                                           ng-click="toggle($event, 'tgl_pembuatan')" ng-model="form.tgl_pembuatan"
                                           placeholder="Tanggal Pembuatan" type="text"
                                           uib-datepicker-popup="dd MMMM yyyy"
                                           ng-disabled="is_view"
                                    >
                                    <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr class="mt-0"/>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm required">
                                Nama Penduduk
                            </label>
                            <div class="col-sm-9">
                                <div class="btn-group btn-group-sm" style="width:100%">
                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                               ng-model="form.penduduk_id" theme="bootstrap"
                                               style="width: 100%">
                                        <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                            {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                        </ui-select-match>
                                        <ui-select-choices position="down" refresh="searchNama($select.search)"
                                                           repeat="val in listPenduduk">
                                            {{ val.nama}} - {{ val.nik}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <!--                            GAKIN-->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">Digunakan Untuk</label>
                            <div class="col-sm-9">
                                <input class="form-control form-control-sm"
                                       ng-model="form.keterangan_untuk"
                                       ng-disabled="is_view">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm">Keterangan</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="form.keterangan" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">
            <i class="fa fa-arrow-left"></i>
            &nbsp;Kembali
        </button>
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="save(form)">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
        </button>
    </div>
</div>
