<div include-replace="" ng-include="'tpl/common/navbar.html'"></div>
<div class="app-body">
    <main class="main">
        <div class="container-fluid">
<!--            <br ng-if="$state.router.urlRouter.location == '/dashboard'"/>-->
<!--            <nav aria-label="breadcrumb" ng-if="$state.router.urlRouter.location != '/dashboard'">-->
<!--                <ol breadcrumb="" class="breadcrumb d-md-down-none">-->
<!--                    &lt;!&ndash;<li class="breadcrumb-item" ng-switch="$last || !!step.abstract"><a ng-switch-when="false" ui-sref="app.sPerusahaan" uib-tooltip="Akses Perusahaan" tooltip-placement="bottom" >{{perusahaan.nama}}</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li class="breadcrumb-item" ng-switch="$last || !!step.abstract"><a ng-switch-when="false" ui-sref="app.sProyek" uib-tooltip="Akses Proyek" tooltip-placement="bottom">{{proyek.nama}}</a></li>&ndash;&gt;-->
<!--                    <ncy-breadcrumb class="d-md-down-none"></ncy-breadcrumb>-->
<!--                </ol>-->
<!--            </nav>-->
            <ui-view></ui-view>
        </div>
    </main>
</div>
<div include-replace="" ng-include="'tpl/common/footer.html'"></div>
