<div class="animated fadeIn">
    <div ng-controller="mPindahCtrl">
        <div class="card" ng-show="!is_edit" st-pipe="callServer" st-table="displayed">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Penduduk Pindah Datang & Keluar</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <!--                    <button class="btn btn-info btn-sm" ng-click="modalCreate();">-->
                    <!--                        <i class="fa fa-plus"></i>-->
                    <!--                        &nbsp;-->
                    <!--                    </button>-->
                    <button class="btn btn-secondary btn-sm" ng-click="isCollapsed = !isCollapsed"
                            ng-init="isCollapsed = true">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">NIK</label>
                                        <div class="col-sm-2">
                                            <input st-search="nik" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan NIK"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">No. KK</label>
                                        <div class="col-sm-2">
                                            <input st-search="no_kk" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan No. KK"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Jenis</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="jenis_pindah">
                                                <option value="">Semua</option>
                                                <option value="datang">Datang</option>
                                                <option value="keluar">Keluar</option>
                                            </select>
                                        </div>
                                        <!--                                        ======-->
                                        <label class="col-sm-1 col-form-label-sm mt-1">Desa</label>
                                        <div class="col-sm-2 mt-1">
                                            <input st-search="m_desa.desa" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Desa"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mt-1">Dusun</label>
                                        <div class="col-sm-2 mt-1">
                                            <input st-search="m_dusun.dusun" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Dusun"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mt-1">RW</label>
                                        <div class="col-sm-2 mt-1">
                                            <input st-search="m_rw.rw" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan RW"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mt-1">RT</label>
                                        <div class="col-sm-2 mt-1">
                                            <input st-search="m_rt.rt" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan RT"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-center">No. Surat</th>
                            <th class="align-left">No KK</th>
                            <th class="align-left">NIK</th>
                            <th class="align-left">Nama</th>
                            <th class="align-center" width="80px">TTL</th>
                            <th class="align-center">JK</th>
                            <th class="align-center">Jenis</th>
                            <th class="align-left">Alamat</th>
                            <th class="align-left">Dibuat Oleh</th>
                            <th class="align-left">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-dblclick="view(row)" ng-repeat="row in displayed">
                            <td class="align-center">
                                <span tooltip-placement="right" uib-tooltip="{{ row.no_surat }}">{{ row.no_urut }}</span>
                            </td>
                            <td class="align-left">{{ row.no_kk}}</td>
                            <td class="align-left">{{ row.nik}}</td>
                            <td class="align-left">{{ row.nama}}</td>
                            <td class="align-center">{{ row.tgl_lahir}}</td>
                            <td class="align-center" ng-if="row.jenis_kelamin == 'LK'">
                                Laki-Laki
                            </td>
                            <td class="align-left" ng-if="row.jenis_kelamin == 'PR'">
                                Perempuan
                            </td>
                            <td class="align-center text-capitalize">
                                <span class="badge badge-info text-white badge-pill text-capitalize"
                                      ng-if="row.jenis_pindah == 'datang'" uib-tooltip="Antar {{ row.jenis}}">{{ row.jenis_pindah}}</span>
                                <span class="badge badge-danger badge-pill text-capitalize"
                                      ng-if="row.jenis_pindah == 'keluar'" uib-tooltip="Antar {{ row.jenis}}">{{ row.jenis_pindah}}</span>
                            </td>
                            <td class="align-left">{{ row.alamat}}</td>
                            <td class="align-left">{{ row.petugas}}</td>
                            <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button ng-if="row.jenis_pindah == 'datang'" type="button" class="btn btn-outline-primary fa fa-user btn-sm"
                                            uib-tooltip="Update Detail" ng-click="modalUpdate(row)"></button>
                                    <!--                                    <a ng-if="row.jenis_pindah == 'datang'"-->
                                    <!--                                       href="api/t_penduduk_pindah/print_datang?file=surat_keterangan&id={{row.id}}"-->
                                    <!--                                       target="_blank" class="btn btn-success btn-sm" data-placement="top"-->
                                    <!--                                       uib-tooltip="Pengantar">-->
                                    <!--                                        <i class="fa fa-print"></i>-->
                                    <!--                                    </a>-->
                                    <a ng-if="row.jenis_pindah == 'datang'"
                                       href="api/t_penduduk_pindah/print_datang?file=surat_pindah_datang&id={{row.id}}"
                                       target="_blank" class="btn btn-outline-warning btn-sm" data-placement="top"
                                       uib-tooltip="Formulir">
                                        <i class="fa fa-print"></i>
                                    </a>

                                    <a ng-if="row.jenis_pindah == 'keluar'"
                                       href="api/t_penduduk_pindah/print?file=surat_keterangan&id={{row.id}}"
                                       target="_blank" class="btn btn-outline-success btn-sm" data-placement="top"
                                       uib-tooltip="Pengantar">
                                        <i class="fa fa-print"></i>
                                    </a>
                                    <a ng-if="row.jenis_pindah == 'keluar'"
                                       href="api/t_penduduk_pindah/print?file=surat_pindah_keluar&id={{row.id}}"
                                       target="_blank" class="btn btn-outline-warning btn-sm" data-placement="top"
                                       uib-tooltip="Formulir">
                                        <i class="fa fa-print"></i>
                                    </a>
                                    <button class="btn btn-info fa fa-edit btn-sm" ng-click="update(row)"
                                            type="button"></button>
                                    <button class="btn btn-sm btn-danger" ng-click="delete(row)">
                                        <i class="fa fa-trash">
                                        </i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-items-by-page="20" st-pagination="" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Nomor Surat</h6>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Format No. Surat
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="!is_create"
                                                   ng-model="form.surat_nomor" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Pilih Format Nomor Surat">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listNoSurat | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.contoh}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row" ng-if="!is_create">
                                <label class="col-sm-3 col-form-label-sm">No surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_surat"
                                           ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="is_create">
                                <label class="col-sm-3 col-form-label-sm">No. Urut surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_urut_surat"
                                           placeholder="Otomatis jika dikosongkan"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Info Pribadi</h6>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm required">
                                            Jenis Pindah
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="btn-group m-r">
                                                <label uib-btn-radio="'datang'" class="btn btn-sm btn-primary"
                                                       ng-disabled="is_view"
                                                       ng-model="form.jenis_pindah" ng-change="form.dusun_id = undefined" required="">
                                                    <i class="fas fa-check" ng-if="form.jenis_pindah == 'datang'"></i>
                                                    Datang
                                                </label>
                                                <label uib-btn-radio="'keluar'" class="btn btn-sm btn-primary"
                                                       ng-disabled="is_view"
                                                       ng-model="form.jenis_pindah" ng-change="form.dusun_id = undefined" required="">
                                                    <i class="fas fa-check" ng-if="form.jenis_pindah == 'keluar'"></i>
                                                    Keluar
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="form.jenis_pindah == 'keluar'">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm required">
                                            Penduduk
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="btn-group btn-group-sm" style="width:100%">
                                                <ui-select class="ui-select-sm ui-select-container"
                                                           ng-disabled="is_view" ng-model="form.penduduk"
                                                           on-select="getData(form.penduduk);" style="width: 100%"
                                                           theme="bootstrap">
                                                    <ui-select-match
                                                            placeholder="Cari nama atau NIK dari data penduduk">
                                                        {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                                    </ui-select-match>
                                                    <ui-select-choices position="down"
                                                                       refresh="getPenduduk($select.search)"
                                                                       repeat="val in listNama">
                                                        {{ val.nama}} - {{ val.nik}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr style="margin-top: 0px"/>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Nama</label>
                                <div class="col-sm-9">
                                    <input ng-change="addDataPertama(form.nama, form.nik)" class="form-control form-control-sm" ng-model="form.nama"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">No KK</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" ng-model="form.no_kk"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">NIK</label>
                                <div class="col-sm-9">
                                    <input ng-change="addDataPertama(form.nama, form.nik)" ng-blur="cek(form.nik,'', 'form')" class="form-control form-control-sm" ng-model="form.nik"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">jenis kelamin</label>
                                <div class="col-sm-9">
                                    <div class="btn-group m-r">
                                        <label uib-btn-radio="'LK'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.jenis_kelamin" required="">
                                            <i class="fas fa-check" ng-if="form.jenis_kelamin == 'LK'"></i>
                                            Laki - Laki
                                        </label>
                                        <label uib-btn-radio="'PR'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.jenis_kelamin" required="">
                                            <i class="fas fa-check" ng-if="form.jenis_kelamin == 'PR'"></i>
                                            Perempuan
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tempat Lahir</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.tempat_lahir"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}"
                                               is-open="opened.tgl_lahir" ng-click="toggle($event, 'tgl_lahir')"
                                               ng-model="form.tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend" ng-click="toggle($event, 'tgl_lahir');"
                                             style="cursor: pointer">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">No Hp</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.no_hp_asal"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Alamat</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.alamat_asal"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Provinsi
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.provinsi"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kabupaten
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.kabupaten"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kecamatan
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.kecamatan"
                                           required type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.desa"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Dusun
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.dusun"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    RT / RW
                                </label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control form-control-sm"
                                                   ng-model="form.rt"
                                                   required type="text" placeholder="RT"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control form-control-sm"
                                                   ng-model="form.rw"
                                                   required type="text" placeholder="RW"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kode Pos
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.kode_pos_asal"
                                           required type="text" placeholder="Kode Pos"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h6 class="tittle-header">Data Kepindahan</h6>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK Tujuan</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input class="form-control form-control-sm angka text-left"
                                               ng-model="form.nik_tujuan"
                                               type="text"/>
                                        <button uib-tooltip="Ambil dari penduduk" ng-disabled="is_view"
                                                class="btn btn-primary btn-sm"
                                                ng-click="modalPenduduk()">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No KK Tujuan</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm angka text-left"
                                           ng-model="form.no_kk_tujuan"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Kepala Keluarga</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" ng-model="form.nama_tujuan"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tanggal
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" is-open="opened.tanggal"
                                           ng-click="toggle($event, 'tanggal')" ng-disabled="is_view"
                                           ng-model="form.tanggal" required
                                           type="text" uib-datepicker-popup="dd-MM-yyyy"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Jenis</label>
                                <div class="col-sm-9">
                                    <div class="btn-group" ng-disabled="is_view">
                                        <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                               ng-model="form.jenis" uib-btn-radio="'kecamatan'"
                                               ng-click="jenis(form.jenis)">
                                            <i class="fa fa-check" ng-if="form.jenis == 'kecamatan'">
                                            </i>
                                            Satu Kecamatan
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                               ng-model="form.jenis" uib-btn-radio="'kabupaten'"
                                               ng-click="jenis(form.jenis)">
                                            <i class="fa fa-check" ng-if="form.jenis == 'kabupaten'">
                                            </i>
                                            Satu Kabupaten
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-disabled="is_view"
                                               ng-model="form.jenis" uib-btn-radio="'provinsi'"
                                               ng-click="jenis(form.jenis)">
                                            <i class="fa fa-check" ng-if="form.jenis == 'provinsi'">
                                            </i>
                                            Antar Kabupaten
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Provinsi
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100"
                                               ng-disabled="is_view || form.jenis == 'kecamatan' || form.jenis == 'kabupaten'"
                                               ng-model="form.provinsi_id"
                                               on-select="getKabupaten(form.provinsi_id.id)" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Provinsi">
                                            {{$select.selected.provinsi}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listProvinsi | filter : $select.search">
                                            {{value.provinsi}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kabupaten
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100"
                                               ng-disabled="is_view || form.provinsi_id == undefined  || form.jenis == 'kecamatan' || form.jenis == 'kabupaten'"
                                               ng-model="form.kabupaten_id"
                                               on-select="getKecamatan(form.kabupaten_id.id)"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Kabupaten">
                                            {{$select.selected.kabupaten}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listKabupaten | filter : $select.search">
                                            {{value.kabupaten}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kecamatan
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100"
                                               ng-disabled="is_view || form.kabupaten_id == undefined || form.jenis == 'kecamatan'"
                                               ng-model="form.kecamatan_id"
                                               on-select="getDesa(form.kecamatan_id.id)"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Kecamatan">
                                            {{$select.selected.kecamatan}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listKecamatan | filter : $select.search">
                                            {{value.kecamatan}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="(form.kecamatan_id == undefined || is_view || form.jenis == 'kecamatan') && form.jenis_pindah == 'datang'"
                                               ng-model="form.desa_id"
                                               on-select="getDusun(form.desa_id.id)"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Desa">
                                            {{$select.selected.desa}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDesa | filter : $select.search">
                                            {{value.desa}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row" ng-if="form.jenis_pindah == 'datang'">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Dusun
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="form.desa_id == undefined || is_view"
                                               ng-model="form.dusun_id"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Dusun">
                                            {{$select.selected.dusun}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDusun | filter : $select.search">
                                            {{value.dusun}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row" ng-if="form.jenis_pindah != 'datang'">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Dusun
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.dusun_tujuan"
                                           required type="text"/>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    RW
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.rw_tujuan"
                                           required type="text"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    RT
                                </label>
                                <div class="col-md-9">
                                    <div class="form-group row mb-0">
                                        <div class="col-md-7">

                                            <input class="form-control form-control-sm"
                                                   ng-model="form.rt_tujuan"
                                                   required type="text"/>
                                        </div>
                                        <div class="col-md-5">
                                            <input class="form-control form-control-sm"
                                                   ng-disabled="is_view || form.rt_tujuan == undefined"
                                                   ng-model="form.kode_pos"
                                                   placeholder="Kode Pos" required type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--                            <div class="form-group row">-->
                            <!--                                <div class="col-md-9">-->
                            <!--                                    <div class="form-group row">-->
                            <!--                                        <label class="col-sm-3 col-form-label-sm ">-->
                            <!--                                            RT-->
                            <!--                                        </label>-->
                            <!--                                        <div class="col-sm-9">-->
                            <!--                                            <input class="form-control form-control-sm"-->
                            <!--                                                   ng-model="form.rt_tujuan"-->
                            <!--                                                   required type="text"/>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-md-3">-->
                            <!--                                    <input class="form-control form-control-sm"-->
                            <!--                                           ng-disabled="is_view || form.rt_tujuan == undefined"-->
                            <!--                                           ng-model="form.kode_pos"-->
                            <!--                                           placeholder="Kode Pos" required type="text"/>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" ng-disabled="is_view"
                                           ng-model="form.alamat_pindah"
                                           required type="text"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr style="margin-top: 0px"/>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Jenis Pindah
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="form.jenis_pindah_alasan"
                                            ng-disabled="is_view">
                                        <option ng-value="''">- Pilih Alasan Pindah -</option>
                                        <option ng-value="'1'">Kep. Keluarga</option>
                                        <option ng-value="'2'">Kep. Keluarga dan
                                            Seluruh Angg. Keluarga
                                        </option>
                                        <option ng-value="'3'">Kep. Keluarga dan
                                            Sbg. Angg. Keluarga
                                        </option>
                                        <option ng-value="'4'">Angg. Keluarga</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Status KK Bagi Yang Tidak Pindah
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="form.status_tdk_pindah"
                                            ng-disabled="is_view">
                                        <option ng-value="''">- Pilih Alasan Pindah -</option>
                                        <option ng-value="'1'">Numpang KK</option>
                                        <option ng-value="'2'">Membuat KK Baru</option>
                                        <option ng-value="'3'">Nomor KK Tetap</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Status KK Bagi Yang Pindah
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="form.status_pindah"
                                            ng-disabled="is_view">
                                        <option ng-value="''">- Pilih Alasan Pindah -</option>
                                        <option ng-value="'1'">Numpang KK</option>
                                        <option ng-value="'2'">Membuat KK Baru</option>
                                        <option ng-value="'3'">Nomor KK Tetap</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Alasan Pindah
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="form.alasan"
                                            ng-disabled="is_view">
                                        <option ng-value="''">- Pilih Alasan Pindah -</option>
                                        <option ng-value="'1'">Pekerjaan</option>
                                        <option ng-value="'2'">Pendidikan</option>
                                        <option ng-value="'3'">Keamanan</option>
                                        <option ng-value="'4'">Kesehatan</option>
                                        <option ng-value="'5'">Perumahan</option>
                                        <option ng-value="'6'">Keluarga</option>
                                        <option ng-value="'7'">Lainnya</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row" ng-if="form.alasan == 'lainnya'">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Alasan Lainnya
                                </label>
                                <div class="col-sm-9" ng-disabled="is_view">
                                    <input class="form-control form-control-sm" ng-model="form.alasan_lainnya"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Gunakan Digital Ttd</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd" uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 1">
                                            </i>
                                            Ya
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd" uib-btn-radio="0">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 0">
                                            </i>
                                            Tidak
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Pembuatan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"
                                               ng-click="toggle($event, 'tgl_pembuatan')" ng-model="form.tgl_pembuatan"
                                               placeholder="Tanggal Pembuatan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Yang Mendatangani
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="is_view"
                                               ng-model="form.yang_menandatangani_id"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listTTD | filter : $select.search">
                                            {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Petugas Registrasi
                                </label>
                                <div class="col-sm-9" ng-disabled="is_view">
                                    <input class="form-control form-control-sm" ng-model="form.petugas_registrasi"
                                           type="text">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <h6 class="tittle-header">
                                Keluarga Yang Datang :
                                <button class="btn btn-sm btn-success" ng-click="tampil(form.no_kk, form.nik)"
                                        ng-disabled="is_view || form.no_kk == undefined"
                                        ng-if="form.jenis_pindah == 'keluar'">
                                    <i class="fa fa-plus">
                                    </i>
                                    Tampilkan Penduduk Sesuai KK
                                </button>
                            </h6>
                            <table class="table table-bordered">
                                <thead class="bg-secondary">
                                <tr>
                                    <td class="text-center" style="width: 80px">
                                        <button class="btn btn-sm btn-success" ng-click="addDetail()"
                                                ng-disabled="is_view" uib-tooltip="Tambah Detail">
                                            <i class="fa fa-plus">
                                            </i>
                                        </button>
                                    </td>
                                    <th style="text-align: center; font-weight: bold;">
                                        Nama
                                    </th>
                                    <th style="text-align: center; font-weight: bold;">
                                        NIK
                                    </th>
                                    <th style="text-align: center; font-weight: bold;">
                                        Masa Berlakau KTP
                                    </th>
                                    <th style="text-align: center; font-weight: bold;">
                                        SHDK
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key,detail) in listDetail">
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-danger" ng-click="removeDetail($index)"
                                                ng-disabled="is_view || key == 0">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </td>
                                    <td>
                                        <input class="form-control form-control-sm" ng-disabled="is_view || key == 0"
                                               ng-model="detail.nama" style=" margin: 0px auto"
                                               type="text">

                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-control form-control-sm" ng-disabled="is_view || key == 0"
                                               ng-model="detail.nik" ng-blur="cek(detail.nik, $index, 'detail')" type="text">

                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-control form-control-sm" ng-disabled="is_view || key == 0"
                                               ng-model="detail.aktif_ktp" type="text">

                                    </td>
                                    <td style="text-align: center;">
<!--                                        <input class="form-control form-control-sm" ng-disabled="is_view"-->
<!--                                               ng-model="detail.shdk" type="text">-->

                                        <ui-select ng-disabled="is_view" ng-model="detail.shdk"
                                                   style="width: 100%;"
                                                   theme="bootstrap">
                                            <ui-select-match placeholder="Pilih SHDK">
                                                {{$select.selected.shdk}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="val in listShdk| filter : $select.search">
                                                {{val.shdk}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button class="btn btn-secondary btn-sm" ng-click="cancel()" type="submit">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button button-spinner="loading" class="btn btn-primary btn-sm" ng-click="save(form)"
                            ng-disabled="cek <= 3 || loading"
                            ng-hide="is_view" type="submit">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
