<div class="modal-header text-white" style="background-color: #2C8DA2">
    <h5 class="modal-title">
        <!--        Master Jenis Surat-->
        <strong class="d-md-down-none">Form Tambah Data Penduduk</strong>
    </h5>
    <button aria-label="Close" class="close" ng-click="close()" type="button">
        <span aria-hidden="true" style="color:black;">
            ×
        </span>
    </button>
</div>
<div class="card">
<!--    <div class="card-header">-->
<!--        <strong>{{ formtittle}}</strong>-->
<!--    </div>-->
    <div class="card-body">
        <form name="landaform" novalidate="">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="tittle-header">Info Pribadi</h6>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">No KK</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm" ng-model="form.no_kk"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">NIK</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm" ng-model="form.nik"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Nama</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">jenis kelamin</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm" ng-model="form.jenis_kelamin"
                                    ng-disabled="is_view" required>
                                <option value=""> --Pilih Jenis Kelamin</option>
                                <option value="Laki-laki">Laki-laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Tempat Lahir</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.tempat_lahir"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
<!--                    <div class="form-group row">-->
<!--                        <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>-->
<!--                        <div class="col-sm-9">-->
<!--                            <div class="input-group">-->
<!--                                <input class="form-control form-control-sm"-->
<!--                                       datepicker-options="{minMode: 'day'}" is-open="opened.tgl_lahir"-->
<!--                                       ng-click="toggle($event, 'tgl_lahir')" ng-model="form.tgl_lahir"-->
<!--                                       placeholder="Tanggal Lahir" type="text"-->
<!--                                       uib-datepicker-popup="dd MMMM yyyy">-->
<!--                                <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text">-->
<!--                                                <i class="fa fa-calendar">-->
<!--                                                </i>-->
<!--                                            </span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Tgl Lahir</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control form-control-sm"
                                       datepicker-options="{minMode: 'day'}" is-open="opened.tgl_lahir"
                                       ng-click="toggle($event, 'tgl_lahir')" ng-model="form.tgl_lahir"
                                       placeholder="Tanggal Lahir" type="text"
                                       uib-datepicker-popup="dd MMMM yyyy">
                                <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Akta Lahir</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_lahir" required="">
                                    <i class="fas fa-check" ng-if="form.akta_lahir == 'ada'"></i>
                                    Ada
                                </label>
                                <label uib-btn-radio="'tidak ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_lahir" required="">
                                    <i class="fas fa-check" ng-if="form.akta_lahir == 'tidak ada'"></i>
                                    Tidak Ada
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">No Akta Lahir</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm"
                                   ng-model="form.no_akta_lahir"
                                   ng-disabled="is_view || form.akta_lahir == 'tidak ada'" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Agama</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm" ng-model="form.agama"
                                    ng-disabled="is_view" required>
                                <option value=""> -- Pilih Agama</option>
                                <option value="Islam">Islam</option>
                                <option value="Kristen">Kristen</option>
                                <option value="Khatolik">Khatolik</option>
                                <option value="Hindu">Hindu</option>
                                <option value="Budha">Budha</option>
                                <option value="Khonghucu">Khonghucu</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Gol. Darah</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm align-left"
                                   ng-model="form.gol_darah" ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Pendidikan</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm" ng-model="form.pendidikan_akhir"
                                    ng-disabled="is_view" required>
                                <option value=""> -- Pilih Pendidikan</option>
                                <option value="Belum Sekolah">Tidak / Belum Sekolah</option>
                                <option value="SD">SD / Sederajat</option>
                                <option value="SMP">SMP / Sederajat</option>
                                <option value="SMA">SMA / Sederajat</option>
                                <option value="D1">D1</option>
                                <option value="D2">D2</option>
                                <option value="D3">D3</option>
                                <option value="D4">D4</option>
                                <option value="S1">S1</option>
                                <option value="S2">S2</option>
                                <option value="S3">S3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm align-left"
                                   ng-model="form.pekerjaan" ng-disabled="is_view" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h6 class="tittle-header">Info Tempat Tinggal</h6>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            Desa
                        </label>
                        <div class="col-sm-9">
                            <ui-select class="w-100" ng-model="form.desa" theme="bootstrap"
                                       ng-disabled="is_view" on-select="getDusun(form.desa.id)">
                                <ui-select-match placeholder="Pilih Desa">
                                    {{$select.selected.desa}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listDesa | filter : $select.search">
                                    {{value.desa}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            Dusun
                        </label>
                        <div class="col-sm-9">
                            <ui-select ng-disabled="form.desa == undefined || is_view" class="w-100"
                                       ng-model="form.dusun" theme="bootstrap" on-select="getRw(form.dusun.id)">
                                <ui-select-match placeholder="Pilih Dusun">
                                    {{$select.selected.dusun}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listDusun| filter : $select.search">
                                    {{value.dusun}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            RW
                        </label>
                        <div class="col-sm-9">
                            <ui-select class="w-100" ng-disabled="form.dusun == undefined || is_view"
                                       ng-model="form.rw" theme="bootstrap" on-select="getRt(form.rw.id)">
                                <ui-select-match placeholder="Pilih RW">
                                    {{$select.selected.rw}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listRw | filter : $select.search">
                                    {{value.rw}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            RT
                        </label>
                        <div class="col-sm-9">
                            <ui-select class="w-100" ng-disabled="form.rw == undefined || is_view"
                                       ng-model="form.rt" theme="bootstrap">
                                <ui-select-match placeholder="Pilih RT">
                                    {{$select.selected.rt}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listRt | filter : $select.search">
                                    {{value.rt}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Kelurahan</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama_kel"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Kecamatan</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama_kec"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Kabupaten</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama_kab"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Provinsi</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama_prop"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Kode Pos</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm"
                                   ng-model="form.kodepos" ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Telepon</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm" ng-model="form.telp"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">SDHRT</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.sdhrt"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Kel</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm" ng-model="form.no_kel"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Kec</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm" ng-model="form.no_kec"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Kab</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm" ng-model="form.no_kab"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Prop</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm"
                                   ng-model="form.no_prop" ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Status KTP el</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm"
                                   ng-model="form.status_ktp_el" ng-disabled="is_view"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label-sm">Alamat</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control form-control-sm" ng-model="form.alamat"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h6 class="tittle-header">Info Status</h6>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Status</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm" ng-model="form.status"
                                    ng-disabled="is_view" required>
                                <option value=""> --Pilih Status</option>
                                <option value="kawin">Kawin</option>
                                <option value="belum kawin">Belum Kawin</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Akta Kawin</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_kawin" required="">
                                    <i class="fas fa-check" ng-if="form.akta_kawin == 'ada'"></i>
                                    Ada
                                </label>
                                <label uib-btn-radio="'tidak ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_kawin" required="">
                                    <i class="fas fa-check" ng-if="form.akta_kawin == 'tidak ada'"></i>
                                    Tidak Ada
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Akta Kawin</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm"
                                   ng-model="form.no_akta_kawin"
                                   ng-disabled="is_view || form.akta_kawin == 'tidak ada'"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Tgl Kawin</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control form-control-sm"
                                       datepicker-options="{minMode: 'day'}" is-open="opened.tgl_kawin"
                                       ng-click="toggle($event, 'tgl_kawin')" ng-model="form.tgl_kawin"
                                       placeholder="Tanggal Kawin" type="text"
                                       uib-datepicker-popup="dd MMMM yyyy">
                                <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Akta Cerai</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_cerai" required="">
                                    <i class="fas fa-check" ng-if="form.akta_cerai == 'ada'"></i>
                                    Ada
                                </label>
                                <label uib-btn-radio="'tidak ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_cerai" required="">
                                    <i class="fas fa-check" ng-if="form.akta_cerai == 'tidak ada'"></i>
                                    Tidak Ada
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Akta Cerai</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm"
                                   ng-model="form.no_akta_cerai"
                                   ng-disabled="is_view || form.akta_cerai == 'tidak ada'"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Tgl Cerai</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control form-control-sm"
                                       datepicker-options="{minMode: 'day'}" is-open="opened.tgl_cerai"
                                       ng-click="toggle($event, 'tgl_cerai')" ng-model="form.tgl_cerai"
                                       placeholder="Tanggal Cerai" type="text"
                                       uib-datepicker-popup="dd MMMM yyyy">
                                <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">SDHK</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.sdhk"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h6 class="tittle-header">Info Lainnya</h6>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Kelainan Fisik</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.kelainan_fisik" required="">
                                    <i class="fas fa-check" ng-if="form.kelainan_fisik == 'ada'"></i>
                                    Ada
                                </label>
                                <label uib-btn-radio="'tidak ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.kelainan_fisik" required="">
                                    <i class="fas fa-check" ng-if="form.kelainan_fisik == 'tidak ada'"></i>
                                    Tidak Ada
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Cacat</label>
                        <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.cacat"
                                              ng-disabled="is_view"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Tempat SBL</label>
                        <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.tempat_sbl"
                                              ng-disabled="is_view"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">NIK Ibu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nik_ibu"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Nama Ibu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama_ibu"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Paspor</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.no_paspor"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">NIK Ayah</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nik_ayah"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Nama Ayah</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama_ayah"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Tgl Akhir Paspor</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control form-control-sm"
                                       datepicker-options="{minMode: 'day'}" is-open="opened.tgl_akhir_paspor"
                                       ng-click="toggle($event, 'tgl_akhir_paspor')"
                                       ng-model="form.tgl_akhir_paspor" placeholder="Tanggal Akhir Paspor"
                                       type="text" uib-datepicker-popup="dd MMMM yyyy">
                                <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="pull-right">
            <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
                &nbsp;Kembali
            </button>
            <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                    ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                <i class="fa fa-save"></i>
                &nbsp;Simpan
            </button>
        </div>
    </div>
</div>
<!--<div class="modal-footer">-->
<!--	<div class="pull-right">-->
<!--		<button button-spinner="loading" class="btn btn-primary btn-sm" ng-click="save()" ng-disabled="loading" ng-hide="is_view" type="submit">-->
<!--			<i class="fa fa-save"></i>-->
<!--			Tambahkan Developer-->
<!--		</button>-->
<!--	</div>-->
<!--</div>-->