<div class="modal-header text-white" style="background-color: #2C8DA2">
    <h5 class="modal-title">
        <!--        Master Jenis Surat-->
        <strong class="d-md-down-none">Update Penduduk Detail</strong>
    </h5>
    <button aria-label="Close" class="close" ng-click="close()" type="button">
        <span aria-hidden="true" style="color:black;">
            ×
        </span>
    </button>
</div>
<div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
    <div class="card-body p-0px">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="align-center" style="min-width: 82px;">Persen</th>
                    <th class="align-left">No KK</th>
                    <th class="align-left">NIK</th>
                    <th class="align-left">Nama</th>
                    <th class="align-center">Jenis Kelamin</th>
                    <th class="align-center">TTL</th>
                    <th class="align-left">RT</th>
                    <th class="align-left">RW</th>
                    <th class="align-left">Dusun</th>
                    <th class="align-left">Desa</th>
                    <th class="align-left">Pekerjaan</th>
                    <th class="align-left">SHDK</th>
                    <th></th>
                </tr>
                </thead>
                <tbody ng-show="!isLoading">
                <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                    <td class="align-center">{{ row.persen}} %</td>
                    <td class="align-left">{{ row.no_kk}}</td>
                    <td class="align-left">{{ row.nik}}</td>
                    <td class="align-left">{{ row.nama}}</td>
                    <td class="align-center">
                        <span ng-if="row.jenis_kelamin == 'LK'">Laki-Laki</span>
                        <span ng-if="row.jenis_kelamin == 'PR'">Perempuan</span>
                    </td>
                    <td class="align-center" width="210px">{{row.tempat_lahir}},
                        {{ row.tgl_lahir | date:'d-MM-yyyy'}}
                    </td>
                    <td class="align-left">{{ row.rt.rt}}</td>
                    <td class="align-left">{{ row.rw.rw}}</td>
                    <td class="align-left">{{ row.dusun.dusun}}</td>
                    <td class="align-left">{{ row.desa.desa}}</td>
                    <td class="align-left">{{ row.pekerjaan}}</td>
                    <td class="align-left">{{ row.shdk}}</td>
                    <td>
                        <div class="btn-group pull-right" role="group">
                            <!--                                    <button type="button" class="btn btn-success fa fa-check btn-sm"-->
                            <!--                                            ng-if="row.is_deleted == 0" ng-click="print(row)"></button>-->
                            <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                     ng-click="update(row)"></button>
<!--                            <button type="button" class="btn btn-danger fa fa-trash btn-sm"-->
<!--                                    ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>-->
<!--                            <button type="button" class="btn btn-warning fa fa-recycle btn-sm"-->
<!--                                    ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
    </div>
</div>
<div class="card" ng-show="is_edit">
    <div class="card-header">
        <strong>{{ formtittle}}</strong>
    </div>
    <div class="card-body">
        <form name="landaform" novalidate="">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="tittle-header">Info Pribadi</h6>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">No KK</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm text-left"
                                   ng-model="form.no_kk"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">NIK</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm text-left"
                                   ng-model="form.nik"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Nama</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Gelar</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.gelar"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">jenis kelamin</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'LK'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.jenis_kelamin" required="">
                                    <i class="fas fa-check" ng-if="form.jenis_kelamin == 'LK'"></i>
                                    Laki - Laki
                                </label>
                                <label uib-btn-radio="'PR'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.jenis_kelamin" required="">
                                    <i class="fas fa-check" ng-if="form.jenis_kelamin == 'PR'"></i>
                                    Perempuan
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Telepon</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm" ng-model="form.telp"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Tempat Lahir</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.tempat_lahir"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control form-control-sm"
                                       datepicker-options="{minMode: 'day'}" is-open="opened.tgl_lahir"
                                       ng-click="toggle($event, 'tgl_lahir')" ng-model="form.tgl_lahir"
                                       placeholder="Tanggal Lahir" type="text"
                                       uib-datepicker-popup="dd MMMM yyyy">
                                <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Akta Lahir</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'ADA'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_lahir" required="">
                                    <i class="fas fa-check" ng-if="form.akta_lahir == 'ADA'"></i>
                                    Ada
                                </label>
                                <label uib-btn-radio="'TDK.ADA'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_lahir" required="">
                                    <i class="fas fa-check" ng-if="form.akta_lahir == 'TDK.ADA'"></i>
                                    Tidak Ada
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="form.akta_lahir == 'ADA'">
                        <label class="col-sm-3 col-form-label-sm required">No Akta Lahir</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm"
                                   ng-model="form.no_akta_lahir"
                                   ng-disabled="is_view || form.akta_lahir == 'tidak ada'" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Agama</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm" ng-model="form.agama"
                                    ng-disabled="is_view" required>
                                <option value=""> -- Pilih Agama</option>
                                <option value="ISLAM">Islam</option>
                                <option value="KRISTEN">Kristen</option>
                                <option value="KHATOLIK">Khatolik</option>
                                <option value="HINDU">Hindu</option>
                                <option value="BUDHA">Budha</option>
                                <option value="KHONHUCU">Khonghucu</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Gol. Darah</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm align-left"
                                   ng-model="form.gol_darah" ng-disabled="is_view" required/>
                            <i style="font-size: 10px"><span class="fa fa-info-circle"></span> Isi dengan
                                "TDK.TAHU" jika tidak mengetahui golongan darah</i>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Pendidikan</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm"
                                       ng-model="form.pendidikan_akhir" ng-disabled="is_view"
                                       aria-label="Text input with dropdown button">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" ng-repeat="val in listPendidikan"
                                           ng-click="changePendidikan(val.pendidikan_akhir)"
                                           style="cursor: pointer">{{val.pendidikan_akhir}}</a>
                                    </div>
                                </div>
                            </div>
                            <i style="font-size: 10px"><span class="fa fa-info-circle"></span> Isi secara manual
                                jika data tidak ada</i>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm"
                                       ng-model="form.pekerjaan" ng-disabled="is_view"
                                       aria-label="Text input with dropdown button">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" ng-repeat="val in listPekerjaan"
                                           ng-click="changePekerjaan(val.pekerjaan)"
                                           style="cursor: pointer">{{val.pekerjaan}}</a>
                                    </div>
                                </div>
                            </div>
                            <i style="font-size: 10px"><span class="fa fa-info-circle"></span> Isi secara manual
                                jika data tidak ada</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h6 class="tittle-header">Info Tempat Tinggal</h6>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Kecamatan</label>
                        <div class="col-sm-9">
                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                       ng-model="form.kecamatan" theme="bootstrap" style="width: 100%"
                                       on-select="getDesa(null,form.kecamatan.id,null)">
                                <ui-select-match placeholder="Masukkan 3 Karakter">
                                    <b>{{ $select.selected.kecamatan}}</b> - {{ $select.selected.kabupaten}}
                                </ui-select-match>
                                <ui-select-choices position="down"
                                                   refresh="getKecamatanWithKabupaten($select.search,3502,null,'search')"
                                                   repeat="val in listKecamatanWithKabupaten">
                                    <b>{{ val.kecamatan}}</b> - {{ val.kabupaten}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            Desa
                        </label>
                        <div class="col-sm-9">
                            <ui-select class="w-100" ng-model="form.desa" theme="bootstrap"
                                       ng-disabled="is_view" on-select="getDusun(form.desa.id)">
                                <ui-select-match placeholder="Pilih Desa">
                                    {{$select.selected.desa}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listDesa | filter : $select.search">
                                    {{value.desa}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            Dusun
                        </label>
                        <div class="col-sm-9">
                            <ui-select ng-disabled="form.desa == undefined || is_view" class="w-100"
                                       ng-model="form.dusun" theme="bootstrap" on-select="getRw(form.dusun.id)">
                                <ui-select-match placeholder="Pilih Dusun">
                                    {{$select.selected.dusun}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listDusun| filter : $select.search">
                                    {{value.dusun}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            RW
                        </label>
                        <div class="col-sm-9">
                            <ui-select class="w-100" ng-disabled="form.dusun == undefined || is_view"
                                       ng-model="form.rw" theme="bootstrap" on-select="getRt(form.rw.id)">
                                <ui-select-match placeholder="Pilih RW">
                                    {{$select.selected.rw}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listRw | filter : $select.search">
                                    {{value.rw}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            RT
                        </label>
                        <div class="col-sm-9">
                            <ui-select class="w-100" ng-disabled="form.rw == undefined || is_view"
                                       ng-model="form.rt" theme="bootstrap">
                                <ui-select-match placeholder="Pilih RT">
                                    {{$select.selected.rt}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listRt | filter : $select.search">
                                    {{value.rt}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Alamat</label>
                        <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.alamat"
                                              ng-disabled="is_view" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h6 class="tittle-header">Info Status</h6>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Status</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'KAWIN'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.status" required="">
                                    <i class="fas fa-check" ng-if="form.status == 'KAWIN'"></i>
                                    Kawin
                                </label>
                                <label uib-btn-radio="'BLM.KAWIN'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.status" required="">
                                    <i class="fas fa-check" ng-if="form.status == 'BLM.KAWIN'"></i>
                                    Belum Kawin
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="form.status == 'KAWIN'">
                        <label class="col-sm-3 col-form-label-sm ">Tgl Kawin</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control form-control-sm"
                                       datepicker-options="{minMode: 'day'}" is-open="opened.tgl_kawin"
                                       ng-click="toggle($event, 'tgl_kawin')" ng-model="form.tgl_kawin"
                                       placeholder="Tanggal Kawin" type="text"
                                       uib-datepicker-popup="dd MMMM yyyy">
                                <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Akta Kawin</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'ADA'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_kawin" required="">
                                    <i class="fas fa-check" ng-if="form.akta_kawin == 'ADA'"></i>
                                    Ada
                                </label>
                                <label uib-btn-radio="'TDK.ADA'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_kawin" required="">
                                    <i class="fas fa-check" ng-if="form.akta_kawin == 'TDK.ADA'"></i>
                                    Tidak Ada
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="form.akta_kawin == 'ADA'">
                        <label class="col-sm-3 col-form-label-sm ">No Akta Kawin</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm"
                                   ng-model="form.no_akta_kawin"
                                   ng-disabled="is_view || form.akta_kawin == 'tidak ada'"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Akta Cerai</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'ADA'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_cerai" required="">
                                    <i class="fas fa-check" ng-if="form.akta_cerai == 'ADA'"></i>
                                    Ada
                                </label>
                                <label uib-btn-radio="'TDK.ADA'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.akta_cerai" required="">
                                    <i class="fas fa-check" ng-if="form.akta_cerai == 'TDK.ADA'"></i>
                                    Tidak Ada
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="form.akta_cerai == 'ADA'">
                        <label class="col-sm-3 col-form-label-sm ">No Akta Cerai</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm"
                                   ng-model="form.no_akta_cerai"
                                   ng-disabled="is_view || form.akta_cerai == 'tidak ada'"/>
                        </div>
                    </div>
                    <div class="form-group row" ng-if="form.akta_cerai == 'ADA'">
                        <label class="col-sm-3 col-form-label-sm ">Tgl Cerai</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control form-control-sm"
                                       datepicker-options="{minMode: 'day'}" is-open="opened.tgl_cerai"
                                       ng-click="toggle($event, 'tgl_cerai')" ng-model="form.tgl_cerai"
                                       placeholder="Tanggal Cerai" type="text"
                                       uib-datepicker-popup="dd MMMM yyyy">
                                <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">SDHK</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.sdhk"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h6 class="tittle-header">Info Lainnya</h6>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">NIK Ayah</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nik_ayah"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Nama Ayah</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama_ayah"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">NIK Ibu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nik_ibu"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Nama Ibu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama_ibu"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">No Paspor</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.no_paspor"
                                   ng-disabled="is_view"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Kelainan Fisik</label>
                        <div class="col-sm-9">
                            <div class="btn-group m-r">
                                <label uib-btn-radio="'ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.kelainan_fisik" required="">
                                    <i class="fas fa-check" ng-if="form.kelainan_fisik == 'ada'"></i>
                                    Ada
                                </label>
                                <label uib-btn-radio="'tidak ada'" class="btn btn-sm btn-primary"
                                       ng-disabled="is_view"
                                       ng-model="form.kelainan_fisik" required="">
                                    <i class="fas fa-check" ng-if="form.kelainan_fisik == 'tidak ada'"></i>
                                    Tidak Ada
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" ng-if="form.kelainan_fisik == 'ada'">
                        <label class="col-sm-3 col-form-label-sm ">Cacat</label>
                        <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm" ng-model="form.cacat"
                                              ng-disabled="is_view"></textarea>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">Tgl Akhir Paspor</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control form-control-sm"
                                       datepicker-options="{minMode: 'day'}" is-open="opened.tgl_akhir_paspor"
                                       ng-click="toggle($event, 'tgl_akhir_paspor')"
                                       ng-model="form.tgl_akhir_paspor" placeholder="Tanggal Akhir Paspor"
                                       type="text" uib-datepicker-popup="dd MMMM yyyy">
                                <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="pull-right">
            <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
                &nbsp;Kembali
            </button>
            <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                    ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                <i class="fa fa-save"></i>
                &nbsp;Simpan
            </button>
        </div>
    </div>
</div>