<!--<li class="nav-item dropdown">-->
<!--    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"-->
<!--       ng-class="{active: $state.includes('website')}">-->
<!--        <i class="fa fa-desktop nav-icon"></i>-->
<!--        <span>Website</span>-->
<!--    </a>-->
<!--    <ul class="dropdown-menu">-->
<!--        <li>-->
<!--            <a class="dropdown-item" ui-sref="website.kategori_galeri"-->
<!--               ui-sref-active="active">-->
<!--               ui-sref-active="active">-->
<!--                <i class="fa fa-angle-right"></i>-->
<!--                Kategori Galeri-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a class="dropdown-item" ui-sref="website.gallery"-->
<!--               ui-sref-active="active">-->
<!--                <i class="fa fa-angle-right"></i>-->
<!--                Galeri-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a class="dropdown-item" ui-sref="website.kategori_artikel"-->
<!--               ui-sref-active="active">-->
<!--                <i class="fa fa-angle-right"></i>-->
<!--                Kategori Artikel-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a class="dropdown-item" ui-sref="website.artikel"-->
<!--               ui-sref-active="active">-->
<!--                <i class="fa fa-angle-right"></i>-->
<!--                Artikel-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a class="dropdown-item" ui-sref="website.slider"-->
<!--               ui-sref-active="active">-->
<!--                <i class="fa fa-angle-right"></i>-->
<!--                Slider-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a class="dropdown-item" ui-sref="website.acara"-->
<!--               ui-sref-active="active">-->
<!--                <i class="fa fa-angle-right"></i>-->
<!--                Acara-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a class="dropdown-item" ui-sref="website.testimoni"-->
<!--               ui-sref-active="active">-->
<!--                <i class="fa fa-angle-right"></i>-->
<!--                Testimoni-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</li>-->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
       ng-if="user.akses.penduduk" ng-class="{active: $state.includes('penduduk')}">
        <i class="fa fa-users nav-icon"></i>
        <span>Penduduk</span>
    </a>
    <ul class="dropdown-menu">
        <!--                                        <a class="dropdown-item" ui-sref="penduduk.pekerjaan" ui-sref-active="active"-->
        <!--                                           ng-if="user.akses.penduduk_pekerjaan">-->
        <!--                                            <i class="fa fa-angle-right"></i>-->
        <!--                                            Master Pekerjaan-->
        <!--                                        </a>-->
        <a class="dropdown-item" ui-sref="penduduk.data" ui-sref-active="active"
           ng-if="user.akses.penduduk_data">
            <i class="fa fa-angle-right"></i>
            Data Penduduk
        </a>
        <a class="dropdown-item" ui-sref="penduduk.pindah"
           ui-sref-active="active"
           ng-if="user.akses.penduduk_pindah">
            <i class="fa fa-angle-right"></i>
            Pindah
        </a>
        <a class="dropdown-item" ui-sref="penduduk.kelahiran"
           ui-sref-active="active"
           ng-if="user.akses.penduduk_kelahiran">
            <i class="fa fa-angle-right"></i>
            Kelahiran
        </a>
        <a class="dropdown-item" ui-sref="penduduk.kematian"
           ui-sref-active="active"
           ng-if="user.akses.penduduk_kematian">
            <i class="fa fa-angle-right"></i>
            Kematian
        </a>
        <a class="dropdown-item" ui-sref="penduduk.kawin"
           ui-sref-active="active"
           ng-if="user.akses.penduduk_kawin">
            <i class="fa fa-angle-right"></i>
            Kawin
        </a>
        <a class="dropdown-item" ui-sref="penduduk.pecah_kk"
           ui-sref-active="active"
           ng-if="user.akses.penduduk_pecah_kk">
            <i class="fa fa-angle-right"></i>
            Pecah KK
        </a>

        <!--                                        <a class="dropdown-item" ui-sref="" ui-sref-active="active"-->
        <!--                                           ng-if="user.penduduk.setting_akses">-->
        <!--                                            <i class="fa fa-key text-primary"></i>-->
        <!--                                            Mutasi Keluar-->
        <!--                                        </a>-->
        <!--                                        <a class="dropdown-item" ui-sref="" ui-sref-active="active"-->
        <!--                                           ng-if="user.penduduk.setting_akses">-->
        <!--                                            <i class="fa fa-key text-primary"></i>-->
        <!--                                            Pindah RT-->
        <!--                                        </a>-->
        <!--                                        <a class="dropdown-item" ui-sref="" ui-sref-active="active"-->
        <!--                                           ng-if="user.penduduk.setting_akses">-->
        <!--                                            <i class="fa fa-key text-primary"></i>-->
        <!--                                            Kematian-->
        <!--                                        </a>-->
    </ul>
</li>

<li class="nav-item">
    <a class="nav-link"
       ng-if="user.akses.pbb" ng-class="{active: $state.includes('pbb')}"
       ui-sref="pbb.daftar-himpunan-ketetapan-pajak">
        <i class="fa fa-fax nav-icon"></i>
        <span>PBB</span>
    </a>
</li>

<!--<li class="nav-item dropdown">-->
<!--    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"-->
<!--       ng-if="user.akses.pbb" ng-class="{active: $state.includes('pbb')}"-->
<!--       ui-sref="pbb.daftar-himpunan-ketetapan-pajak">-->
<!--        <i class="fa fa-fax nav-icon"></i>-->
<!--        <span>PBB</span>-->
<!--    </a>-->
<!--    <ul class="dropdown-menu">-->
<!--        <a ng-if="user.akses.pbb_daftar_himpunan_ketetapan_pajak" class="dropdown-item"-->
<!--           ui-sref="pbb.daftar-himpunan-ketetapan-pajak" ui-sref-active="active">-->
<!--            <i class="fa fa-angle-right"></i>-->
<!--            Daftar Himpunan Ketetapan Pajak-->
<!--        </a>-->
<!--        <a ng-if="user.akses.pbb_pembayaran" class="dropdown-item"-->
<!--           ui-sref="pbb.pembayaran" ui-sref-active="active">-->
<!--            <i class="fa fa-angle-right"></i>-->
<!--            Pembayaran-->
<!--        </a>-->
<!--    </ul>-->
<!--</li>-->

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
       ng-if="user.akses.vaksin"
       ng-class="{active: $state.includes('vaksin')}">
        <i class="fa fa-syringe nav-icon"></i>
        <span>Vaksin</span>
    </a>
    <ul class="dropdown-menu">
        <a ng-if="user.akses.data_vaksin" class="dropdown-item"
           ui-sref="vaksin.data_vaksin" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Data Vaksin
        </a>
        <!--        <a ng-if="user.akses.data_vaksin" class="dropdown-item"-->
        <!--           ui-sref="vaksin_.vaksin_absensi" ui-sref-active="active">-->
        <!--            <i class="fa fa-angle-right"></i>-->
        <!--            Absensi Kehadiran-->
        <!--        </a>-->
        <a ng-if="user.akses.vaksin_list_antrian" class="dropdown-item"
           ui-sref="vaksin_.list_antrian" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            List Antrian
        </a>
        <a ng-if="user.akses.vaksin_monitoring_antrian" class="dropdown-item"
           ui-sref="vaksin_.monitoring_antrian" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Monitoring Antrian
        </a>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
       ng-if="user.akses.dana_bantuan"
       ng-class="{active: $state.includes('dana_bantuan')}">
        <i class="fa fa-hand-holding-usd nav-icon"></i>
        <span>Dana Bantuan</span>
    </a>
    <ul class="dropdown-menu dana_bantuan">
        <a class="dropdown-item" ui-sref="dana_bantuan.blt" ui-sref-active="active"
           ng-if="user.akses.dana_bantuan_blt">
            <i class="fa fa-angle-right"></i>
            BLT
        </a>
        <a class="dropdown-item" ui-sref="dana_bantuan.bltdd" ui-sref-active="active"
           ng-if="user.akses.dana_bantuan_bltdd">
            <i class="fa fa-angle-right"></i>
            BLTDD
        </a>
        <a class="dropdown-item" ui-sref="dana_bantuan.bpnt" ui-sref-active="active"
           ng-if="user.akses.dana_bantuan_bpnt">
            <i class="fa fa-angle-right"></i>
            BPNT
        </a>
        <a class="dropdown-item" ui-sref="dana_bantuan.bpntd" ui-sref-active="active"
           ng-if="user.akses.dana_bantuan_bpntd">
            <i class="fa fa-angle-right"></i>
            BPNTD
        </a>
        <a class="dropdown-item" ui-sref="dana_bantuan.burekol" ui-sref-active="active"
           ng-if="user.akses.dana_bantuan_burekol">
            <i class="fa fa-angle-right"></i>
            BUREKOL
        </a>
        <a class="dropdown-item" ui-sref="dana_bantuan.pkh" ui-sref-active="active"
           ng-if="user.akses.dana_bantuan_pkh">
            <i class="fa fa-angle-right"></i>
            PKH
        </a>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
       ng-if="user.akses.inventaris" ng-class="{active: $state.includes('inventaris')}">
        <i class="fa fa-box-open nav-icon"></i>
        <span>Inventaris</span>
    </a>
    <ul class="dropdown-menu">
        <a class="dropdown-item" ui-sref="inventaris.barang" ui-sref-active="active"
           ng-if="user.akses.inventaris_barang">
            <i class="fa fa-angle-right"></i>
            Barang
        </a>
        <a ng-if="user.akses.inventaris_inventaris" class="dropdown-item"
           ui-sref="inventaris.inventaris" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Inventaris
        </a>
        <a ng-if="user.akses.inventaris_penghapusan" class="dropdown-item"
           ui-sref="inventaris.penghapusan" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Penghapusan Inventaris
        </a>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
       ng-if="user.akses.surat" ng-class="{active: $state.includes('surat')}">
        <i class="fa fa-book-open nav-icon"></i>
        <span>Surat</span>
    </a>
    <ul class="dropdown-menu">
        <a ng-if="user.akses.transaksi_surat" class="dropdown-item"
           ui-sref="surat.surat_keterangan" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Surat Keterangan

        </a>
        <a ng-if="user.akses.berpergian" class="dropdown-item" ui-sref="surat.bepergian"
           ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Surat Keterangan Bepergian
        </a>
        <a ng-if="user.akses.sku" class="dropdown-item" ui-sref="surat.skau"
           ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Surat Keterangan Asal Usul
        </a>
        <!--                                        <a class="dropdown-item" ui-sref="surat.master_surat" ui-sref-active="active"-->
        <!--                                           ng-if="user.akses.master_surat">-->
        <!--                                            <i class="fa fa-angle-right"></i>-->
        <!--                                            Surat-->
        <!--                                        </a>-->

        <a class="dropdown-item" ui-sref="surat.ahli_waris"
           ui-sref-active="active"
           ng-if="user.akses.surat_ahli_waris">
            <i class="fa fa-angle-right"></i>
            Surat Keterangan Ahli Waris
        </a>
        <a ng-if="user.akses.surat_masuk_keluar" class="dropdown-item"
           ui-sref="surat.transaksi_surat" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Surat Masuk / Keluar
        </a>
        <a ng-if="user.akses.surat_undangan" class="dropdown-item"
           ui-sref="surat.undangan" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Surat Undangan
        </a>
        <li class="dropdown-submenu" ng-if="user.akses.surat_tanah_jual_beli || user.akses.surat_tanah_jual_beli_sepihak ||  user.akses.surat_tanah_ahli_waris || user.akses.surat_tanah_tkd || user.akses.surat_tanah_suket_c || user.akses.surat_tanah_surat_kuasa">
            <a class="dropdown-item dropdown-toggle" href="#" ng-if="true" ng-class="{
                        active: $state.includes('surat.administrasi_tanah')
                    }">
                <i class="fa fa-angle-right"></i>
                Administrasi Tanah
            </a>
            <ul class="dropdown-menu ">
                <li>
                    <a ng-if="user.akses.surat_tanah_jual_beli" class="dropdown-item"
                       ui-sref="surat.tanah_jual_beli" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Jual Beli Tanah dan Hibah
                    </a>
                </li>
                <li>
                    <a ng-if="user.akses.surat_tanah_jual_beli_sepihak" class="dropdown-item"
                       ui-sref="surat.tanah_jual_beli_sepihak" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Jual Beli Tanah Sepihak
                    </a>
                </li>
                <li>
                    <a ng-if="user.akses.surat_tanah_ahli_waris" class="dropdown-item"
                       ui-sref="surat.tanah_waris" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Tanah Warisan
                    </a>
                </li>
                <li>
                    <a ng-if="user.akses.surat_tanah_tkd" class="dropdown-item"
                       ui-sref="surat.tanah_tkd" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        TKD
                    </a>
                </li>
                <li>
                    <a ng-if="user.akses.surat_tanah_suket_c" class="dropdown-item"
                       ui-sref="surat.tanah_suket_c" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Suket C
                    </a>
                </li>
                <li>
                    <a ng-if="user.akses.surat_tanah_surat_kuasa" class="dropdown-item"
                       ui-sref="surat.tanah_surat_kuasa" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Surat Kuasa
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
       ng-if="user.akses.pesanan" ng-class="{active: $state.includes('pesanan')}">
        <i class="fa fa-shopping-basket nav-icon"></i>
        <span>Pesanan</span>
    </a>
    <ul class="dropdown-menu">
        <a ng-if="user.akses.pesanan_pka" class="dropdown-item"
           ui-sref="pesanan.pka" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            PKA & Jabatan
        </a>
<!--        <a ng-if="user.akses.pesanan_sumber_dana" class="dropdown-item"-->
<!--           ui-sref="pesanan.sumber_dana" ui-sref-active="active">-->
<!--            <i class="fa fa-angle-right"></i>-->
<!--            Sumber Dana-->
<!--        </a>-->
        <a ng-if="user.akses.pesanan_penyedia" class="dropdown-item"
           ui-sref="pesanan.penyedia" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Penyedia Barang & Jasa
        </a>
        <a ng-if="user.akses.pesanan_surat_pesanan" class="dropdown-item"
           ui-sref="pesanan.surat_pesanan" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Surat Pesanan
        </a>
<!--        <a ng-if="user.akses.pesanan_laporan" class="dropdown-item"-->
<!--           ui-sref="pesanan.laporan" ui-sref-active="active">-->
<!--            <i class="fa fa-angle-right"></i>-->
<!--            Laporan-->
<!--        </a>-->
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
       ng-if="user.akses.laporan" ng-class="{active: $state.includes('laporan')}">
        <i class="fa fa-file-contract nav-icon"></i>
        <span>Laporan</span>
    </a>
    <ul class="dropdown-menu">
        <a ng-if="user.akses.laporan_status_bantuan" class="dropdown-item"
           ui-sref="laporan.status_bantuan" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Status Bantuan
        </a>
        <a ng-if="user.akses.laporan_data_penduduk" class="dropdown-item"
           ui-sref="laporan.penduduk" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Data Penduduk
        </a>
        <a ng-if="user.akses.laporan_data_penduduk_simanis" class="dropdown-item"
           ui-sref="laporan.penduduk_simanis" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Data Penduduk (SIMANIS)
        </a>
        <a ng-if="user.akses.laporan_surat" class="dropdown-item"
           ui-sref="laporan.surat" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Surat Masuk/Keluar
        </a>
        <a ng-if="user.akses.laporan_inventaris" class="dropdown-item"
           ui-sref="laporan.inventaris" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Inventaris Aset Desa
        </a>
        <a ng-if="user.akses.laporan_pembayaran_pajak" class="dropdown-item"
           ui-sref="laporan.pembayaran_pajak" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Pembayaran Pajak
        </a>
        <a ng-if="user.akses.laporan_pembayaran_pajak_kamituwo" class="dropdown-item"
           ui-sref="laporan.pembayaran_pajak_kamituwo" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Pembayaran Pajak Per Kamituwo
        </a>
        <a ng-if="user.akses.laporan_struktur_organisasi" class="dropdown-item"
           ui-sref="laporan.struktur_organisasi" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Struktur Organisasi
        </a>
        <a ng-if="user.akses.laporan_vaksin" class="dropdown-item"
           ui-sref="laporan.vaksin" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Vaksin
        </a>
    </ul>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
       ng-if="user.akses.rekap"
       ng-class="{active: $state.includes('rekap')}">
        <i class="fa fa-file-alt nav-icon"></i>
        <span>Rekap Penduduk</span>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#" ng-if="user.akses.rekap_berdasarkan" ng-class="{
                        active: $state.includes('rekap_penduduk.berdasarkan')
                    }">
                <i class="fa fa-angle-right"></i>
                Berdasarkan
            </a>
            <ul class="dropdown-menu ">
                <li>
                    <a ng-if="user.akses.rekap_pekerjaan" class="dropdown-item"
                       ui-sref="rekap_penduduk.berdasarkan.pekerjaan" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Pekerjaan
                    </a>
                    <a ng-if="user.akses.rekap_status_pendidikan" class="dropdown-item"
                       ui-sref="rekap_penduduk.berdasarkan.status-pendidikan" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Status Pendidikan
                    </a>
                    <a ng-if="user.akses.rekap_umur" class="dropdown-item"
                       ui-sref="rekap_penduduk.berdasarkan.umur" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Umur
                    </a>
                    <a ng-if="user.akses.rekap_agama" class="dropdown-item"
                       ui-sref="rekap_penduduk.berdasarkan.agama" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Agama
                    </a>
                    <a ng-if="user.akses.rekap_status_kawin" class="dropdown-item"
                       ui-sref="rekap_penduduk.berdasarkan.status_kawin" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Status Kawin
                    </a>
                    <a ng-if="user.akses.rekap_dusun" class="dropdown-item"
                       ui-sref="rekap_penduduk.berdasarkan.dusun" ui-sref-active="active">
                        <i class="fa fa-angle-right"></i>
                        Dusun
                    </a>
                </li>
            </ul>
        </li>


        <a ng-if="user.akses.rekap_bulanan" class="dropdown-item"
           ui-sref="rekap_penduduk.bulanan" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Bulanan
        </a>
        <a ng-if="user.akses.rekap_kelahiran" class="dropdown-item"
           ui-sref="rekap_penduduk.kelahiran" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Kelahiran
        </a>
        <a ng-if="user.akses.rekap_kematian" class="dropdown-item"
           ui-sref="rekap_penduduk.kematian" ui-sref-active="active">
            <i class="fa fa-angle-right"></i>
            Kematian
        </a>
    </ul>
</li>
