<li class="nav-item dropdown user-login desktop mb-r-5" ng-hide="user.roles_desa_array.length < 2">
    <a class="nav-link nama-sekolah" href="#" role="button"
       aria-haspopup="true"
       aria-expanded="false" ng-click="openModalDesa()">
        <span class="desa" style="font-size: 14px;font-weight: bold;letter-spacing: 1px"><b>Desa {{user.desa_active.desa}}</b>, Kec. {{user.desa_active.kecamatan}}</span>
        <i class="fa fa-chevron-down" style="font-size: 13px;"></i>
    </a>
</li>
<li class="nav-item dropdown user-login desktop mb-r-5" ng-show="user.roles_desa_array.length < 2">
    <a class="nav-link nama-sekolah no-arrow" href="#" role="button"
       aria-haspopup="true"
       aria-expanded="false">
        <span class="desa" style="font-size: 14px;font-weight: bold;letter-spacing: 1px"><b>Desa {{user.desa_active.desa}}</b>, Kec. {{user.desa_active.kecamatan}}</span>
    </a>
</li>

<li class="nav-item dropdown user-login desktop mb-r-5">
    <a class="nav-link nama-sekolah no-arrow" href="#" role="button"
       aria-haspopup="true"
       aria-expanded="false">
        <span style="font-size: 20px;color: #ddd;">|</span>
    </a>
</li>
<li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle no-arrow" data-toggle="dropdown" href="#"
       ng-if="user.akses.setting" ng-class="{active: $state.includes('setting')}">
        <i class="fa fa-cog"></i>
        <!--        <span>Master</span>-->
    </a>
    <ul class="dropdown-menu ">

        <a class="dropdown-item" ui-sref="master.akses" ui-sref-active="active"
           ng-if="user.akses.setting_akses">
            <i class="fa fa-angle-right"></i>
            Hak Akses
        </a>
        <a class="dropdown-item" ui-sref="master.user" ui-sref-active="active"
           ng-if="user.akses.setting_user">
            <i class="fa fa-angle-right"></i>
            Pengguna
        </a>
        <a class="dropdown-item" ui-sref="master.nomor_surat" ui-sref-active="active"
           ng-if="user.akses.setting_nomor_surat">
            <i class="fa fa-angle-right"></i>
            Nomor Surat
        </a>
        <a class="dropdown-item" ui-sref="master.jabatan" ui-sref-active="active"
           ng-if="user.akses.setting_jabatan">
            <i class="fa fa-angle-right"></i>
            Jabatan
        </a>
        <a class="dropdown-item" ui-sref="master.struktur_organisasi" ui-sref-active="active"
           ng-if="user.akses.setting_struktur_organisasi">
            <i class="fa fa-angle-right"></i>
            Struktur Organisasi
        </a>
        <a class="dropdown-item" ui-sref="master.setting_aplikasi" ui-sref-active="active"
           ng-if="user.akses.setting_aplikasi">
            <i class="fa fa-angle-right"></i>
            Setting Aplikasi
        </a>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle no-arrow" data-toggle="dropdown" href="#"
       ng-if="user.akses.wilayah" ng-class="{active: $state.includes('wilayah')}">
        <i class="fa fa-map-marked-alt"></i>
        <!--        <span>Wilayah</span>-->
    </a>
    <ul class="dropdown-menu">
        <a class="dropdown-item" ui-sref="wilayah.kecamatan" ui-sref-active="active"
           ng-if="user.akses.wilayah_kecamatan">
            <i class="fa fa-angle-right"></i>
            Kecamatan
        </a>
        <a class="dropdown-item" ui-sref="wilayah.desa" ui-sref-active="active"
           ng-if="user.akses.wilayah_desa">
            <i class="fa fa-angle-right"></i>
            Desa
        </a>
        <a class="dropdown-item" ui-sref="wilayah.dusun" ui-sref-active="active"
           ng-if="user.akses.wilayah_dusun">
            <i class="fa fa-angle-right"></i>
            Dusun
        </a>
        <a class="dropdown-item" ui-sref="wilayah.rw" ui-sref-active="active"
           ng-if="user.akses.wilayah_rw">
            <i class="fa fa-angle-right"></i>
            Rukun Warga
        </a>
        <a class="dropdown-item" ui-sref="wilayah.rt" ui-sref-active="active"
           ng-if="user.akses.wilayah_rt">
            <i class="fa fa-angle-right"></i>
            Rukun Tetangga
        </a>
    </ul>
</li>