@media print {
    button {
        display: none;
    }

    body {
        padding: 0;
        margin: 0;
    }

    table.table-print tr th td {
        page-break-inside: avoid;
        page-break-after: avoid;
        page-break-before: avoid;
    }
}

.md-no {
    width: 5%;
    float: left;
}

.md-soal {
    width: 95%;
    float: left;
}

/*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
@media print {
    *, :after, :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    p {
        orphans: 3;
        widows: 3;
    }
}

footer {
    page-break-after: always;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 0 0 5px;

}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-sm {
    padding: 9px;
    border-radius: 3px;
}

body {
    background: rgb(204, 204, 204);
    font-family: Arial;
    font-size: 12pt;
}

page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    font-size: 12pt;
}

page[size="F4"] {
    background: white;
    width: 21.5cm;
    height: 33cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media print {
    body, page[size="F4"] {
        margin: 0;
        box-shadow: 0;
    }
}

p {
    text-align: justify;
    font-size: 12pt;
}

table tr td {
    vertical-align: top;
    text-transform: capitalize;
    font-size: 12pt;
    text-align: justify;
}

.ttd tr td{
    text-align: center;
}

.ttd .nama{
    text-transform: uppercase;
    font-weight: bold;
}

table tr td u {
    vertical-align: top;
    text-transform: uppercase;
    font-size: 12pt;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }

    /* page-break-after works, as well */
}

.nama-surat{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    font-size: 14pt;
}

.nomor-surat{
    text-align: center;
    font-size: 11pt;
}

table tr .non-capitalize{
    text-transform: none;
}

table tr td .non-capitalize{
    text-transform: none;
}

table tr .capitalize{
    text-transform: uppercase;
}

table tr td .capitalize{
    text-transform: uppercase;
}

.alenia{
    text-indent: 20px;
}

.line15{
    line-height: 1.5;
}

.border {
    border-collapse: collapse !important;
    /*border: 1px solid;*/
}

.border tbody td, th {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
}

