<div class="animated fadeIn">
    <div ng-controller="tTanahTKD">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Surat TKD</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Nomor
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Nomor Sertifikat"
                                           st-search="no_sertifikat"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" st-search="is_deleted">
                                        <option value="0">Aktif</option>
                                        <option value="1">Terhapus</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                        <tr>
                            <th class="align-left">Nama Pemilik</th>
                            <th class="align-left">Kelas</th>
                            <th class="align-left">Persil</th>
                            <th class="align-left">Luas</th>
                            <th class="align-left">Yang Menandatangani</th>
                            <th class="align-left">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.penduduk_nama }}</td>
                            <td class="align-left">{{ row.kelas }}</td>
                            <td class="align-left">{{ row.persil }}</td>
                            <td class="align-left">{{ row.luas }}</td>
                            <td class="align-left">{{ row.yang_menandatangani_id.nama}} -
                                {{ row.yang_menandatangani_id.jabatan}}
                            </td>
                            <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>

                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <a href="api/t_tanah_tkd/print?file=surat_tanah_tkd&id={{row.id}}"
                                       ng-if="row.is_deleted == 0" target="_blank" class="btn btn-outline-success fa fa-print btn-sm"></a>
                                    <button type="button" class="btn btn-sm btn-info fa fa-edit"
                                            ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                                            ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-sm btn-warning fa fa-recycle"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    <button type="button" class="btn btn-sm btn-danger fa fa-times"
                                            ng-if="row.is_deleted == 1" ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Data Pemilik Tanah</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Pemilik Tanah
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   ng-disabled="is_view"
                                                   ng-model="form.penduduk" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               refresh="getPenduduk($select.search, true)"
                                                               repeat="val in listNama">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.penduduk != undefined">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.penduduk.nama"
                                           ng-disabled="form.penduduk != undefined || is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row" ng-if="form.penduduk != undefined">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm"
                                              ng-model="form.penduduk.alamat" ng-disabled="is_view" required > </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tittle-header"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Jalan/Blok</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.jalan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Kohir/C No/Sertifikat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_sertifikat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Persil</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.persil"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Kelas</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kelas"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Luas</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.luas"
                                               ng-disabled="is_view" required/>
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" style="font-size: 10px">
                                            M<sup>2</sup>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Batas utara</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.batas_utara"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Batas timur</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.batas_timur"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Batas selatan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.batas_selatan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Batas barat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.batas_barat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Letak Tanah</label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control form-control-sm" ng-model="form.letak_tanah"
                                              ng-disabled="is_view" required> </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Yang Bertanda Tangan
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   ng-disabled="is_view"
                                                   ng-model="form.yang_menandatangani_id" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listTandaTangan | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.jabatan}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Pembuatan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"
                                               ng-click="toggle($event, 'tgl_pembuatan')" ng-model="form.tgl_pembuatan"
                                               placeholder="Tanggal Pembuatan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Keterangan Surat</label>
                                <div class="col-sm-12">
                                    <textarea ckeditor="editorOptions" ng-model="form.keterangan" ng-disabled="is_view"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <br/>
                                <h6 class="font-weight-bold capitalize">
                                    Detail Saksi-saksi
                                </h6>
                                <hr/>
                            </div>

                            <table class="table table-bordered">
                                <thead class="bg-dominan">
                                <tr>
                                <tr>
                                    <th class="align-center" width="5%" style="max-width: 35px; padding: 10px;">
                                        <button type="button" class="btn btn-sm btn-success fa fa-plus"
                                                ng-click="addDetailSaksi(listDetailSaksi); addIsPerangkat(is_perangkat); addIsPerangkat(is_perangkat_penduduk);"
                                                ng-disabled="is_view"></button>
                                    </th>
                                    <th class="align-center" width="5%">No</th>
                                    <th class="align-center">Nama</th>
                                    <th class="align-center">Jabatan</th>
                                </tr>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in listDetailSaksi">
                                    <td class="align-center" style="width: 10px; padding: 8px;">
                                        <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                                                ng-click="removeDetailSaksi(listDetailSaksi, $index); removeIsPerangkat(is_perangkat, $index); removeIsPerangkat(is_perangkat_penduduk, $index);"
                                                ng-disabled="is_view"></button>
                                    </td>
                                    <td class="align-center">{{ $index + 1}}</td>
                                    <td class="align-left">
                                        <div class="btn-group btn-group-sm" style="width: 100%;" ng-if="!is_perangkat[$index] && !is_perangkat_penduduk[$index]">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                       ng-model="v.penduduk" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Pilih Pejabat">
                                                    {{ $select.selected.nama_penduduk}} - {{ $select.selected.jabatan}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                                   repeat="val in listNamaPejabat | filter : $select.search">
                                                    {{ val.nama_penduduk}} - {{ val.jabatan}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <button class="btn btn-sm btn-success fa fa-pen"
                                                    uib-tooltip="Input Penduduk"
                                                    ng-click="is_perangkat[$index] = true;"
                                                    ng-if="!is_view"></button>
                                        </div>

                                        <div class="input-group input-group-sm" style="width: 100%;" ng-if="is_perangkat[$index] && !is_perangkat_penduduk[$index]">
                                            <input class="form-control form-control-sm"
                                                   ng-disabled="is_view"
                                                   ng-model="v.penduduk.nama_penduduk" type="text"/>
                                            <button class="btn btn-sm btn-success fa fa-search"
                                                    uib-tooltip="Ambil dari Penduduk"
                                                    ng-click="is_perangkat[$index] = true; is_perangkat_penduduk[$index] = true;"
                                                    ng-if="!is_view"></button>
                                            <button class="btn btn-sm btn-danger fa fa-times"
                                                    uib-tooltip="Batal"
                                                    ng-click="is_perangkat[$index] = false; is_perangkat_penduduk[$index] = false;"
                                                    ng-if="!is_view"></button>
                                        </div>

                                        <div class="btn-group btn-group-sm" style="width:100%" ng-if="is_perangkat[$index] && is_perangkat_penduduk[$index]">
                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                       ng-model="v.penduduk" theme="bootstrap"
                                                       style="width: 100%">
                                                <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                                    {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                                   refresh="getPenduduk($select.search)"
                                                                   repeat="val in listNama">
                                                    {{ val.nama}} - {{ val.nik}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <button class="btn btn-sm btn-danger fa fa-times"
                                                    uib-tooltip="Batal"
                                                    ng-click="is_perangkat[$index] = true; is_perangkat_penduduk[$index] = false;"
                                                    ng-if="!is_view"></button>
                                        </div>

                                    </td>
                                    <td class="align-left" width="40%">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control form-control-sm" ng-disabled="true"
                                                   ng-model="v.penduduk.jabatan"
                                                   ng-disabled="is_view" required/>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek  <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
