<div class="animated fadeIn">
    <div ng-controller="mSuratCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Surat</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Nama</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.nama }}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-recycle btn-sm"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm required">Nama Surat</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm required">KOP Surat</label>
                                <div class="col-sm-8">

                                    <div style="overflow: hidden;text-align: center;background-color: #eee;">
                                        <img class="img img-responsive img-produk img-thumbnail"
                                             data-ng-src="data:image/png;base64,{{form.kop.base64}}" id="logo"
                                             ng-if="!!form.kop.base64" style="height: 100px !important;"/>
                                        <img class="img img-responsive img-produk img-thumbnail" id="logo"
                                             ng-if="!form.kop.base64 && !is_create" ng-src="img/kop/{{form.kop}}"
                                             style="height: 100px !important;"/>
                                        <img class="img img-responsive img-produk img-thumbnail" id="logo"
                                             ng-if="!form.kop" ng-src="img/no-image.png"
                                             style="height: 100px !important;"/>
                                    </div>
                                    <div class="fileUploadr btn btn-primary edit text-center" ng-if="!is_view"
                                         style="text-align: center;;width: 100%;">
                                        <input accept="image/*" base-sixty-four-input="" class="upload"
                                               ng-model="form.kop" type="file" ng-disabled="is_view"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm required">Footer Surat</label>
                                <div class="col-sm-6">
                                     <div style="overflow: hidden;text-align: center;background-color: #eee;">
                                        <img class="img img-responsive img-produk img-thumbnail" data-ng-src="data:image/png;base64,{{form.footer.base64}}" id="logo" ng-if="!!form.footer.base64" style="height: 100px !important;"/>
                                        <img class="img img-responsive img-produk img-thumbnail" id="logo" ng-if="!form.footer.base64 && !is_create" ng-src="img/footer/{{form.footer}}" style="height: 100px !important;"/>
                                        <img class="img img-responsive img-produk img-thumbnail" id="logo" ng-if="!form.footer" ng-src="img/no-image.png" style="height: 100px !important;"/>
                                    </div>
                                    <div class="fileUploadr btn btn-primary edit text-center" ng-if="!is_view" style="text-align: center;;width: 100%;">
                                        <input accept="image/*" base-sixty-four-input="" class="uploads" ng-model="form.footer" type="file"  ng-disabled="is_view"/>
                                    </div>
                                </div>
                            </div>                        
                        </div> -->
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label-sm required">Data Surat</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptions" ng-model="form.isi"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek   <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
