<table class="table table-bordered" style="margin-bottom: 0px">
    <tr class="bg-info">
        <th class="text-center">Tanggal</th>
        <th>Nama Customer</th>
        <th class="text-center">Status</th>
        <th class="text-center">Dibuat Oleh</th>
        <td></td>
    </tr>
    <tr ng-repeat="row in listTransaksi">
        <td class="text-center">{{row.tanggal| date:'dd/MM/yyyy'}}</td>
        <td>{{row.nama}}</td>
        <td class="text-center">
            <span class="badge badge-warning badge-pill capitalize" ng-if="row.status == 'pending'">{{row.status}}</span>
            <span class="badge badge-success badge-pill capitalize" ng-if="row.status == 'approve'">{{row.status}}</span>
        </td>
        <td class="text-center">{{row.created_by}}</td>
        <td class="text-center">
            <button class="btn btn-outline-primary fa fa-link" uib-tooltip="Lihat" ng-click="goTo('transaksi.overtime.overtime', row.id)"></button>
        </td>
    </tr>
</table>