<div class="animated fadeIn">
    <div ng-controller="mPecahCtrl">
        <div class="card" ng-show="!is_edit" st-pipe="callServer" st-table="displayed">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Penduduk Pecah KK</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <!--                    <button class="btn btn-info btn-sm" ng-click="modalCreate();">-->
                    <!--                        <i class="fa fa-plus"></i>-->
                    <!--                        &nbsp;-->
                    <!--                    </button>-->
                    <button class="btn btn-secondary btn-sm" ng-click="isCollapsed = !isCollapsed"
                            ng-init="isCollapsed = true">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row" >
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    NIK
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan NIK" st-search="nik"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                            placeholder="Cari berdasarkan nama" st-search="nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    No. KK
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan No. KK" st-search="no_kk"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Nama</th>
                            <th class="align-left">NIK</th>
                            <th class="align-left">No KK</th>
                            <th class="align-center">TTL</th>
                            <th class="align-center">Jumlah Keluarga</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-dblclick="view(row)" ng-repeat="row in displayed">
                            <td class="align-left">{{ row.nama}}</td>
                            <td class="align-left">{{ row.nik}}</td>
                            <td class="align-left">{{ row.no_kk}}</td>
                            <td class="align-center">{{ row.tgl_lahir | date:'dd-MM-yyyy'}}</td>
                            <td class="align-center">{{ row.total}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <a href="api/t_penduduk_pecah/print?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-warning btn-sm" data-placement="top"
                                       uib-tooltip="S. Keterangan">
                                        <i class="fa fa-print"></i>
                                    </a>
                                    <button uib-tooltip="Update No KK" class="btn btn-outline-success fa fa-paperclip btn-sm" ng-click="modalUpdate(row)"
                                            type="button"></button>
                                    <button class="btn btn-info fa fa-edit btn-sm" ng-click="update(row)"
                                            type="button"></button>
                                    <button class="btn btn-sm btn-danger" ng-click="delete(row)">
                                        <i class="fa fa-trash">
                                        </i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-items-by-page="20" st-pagination="" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Nama Kepala Keluarga
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   ng-disabled="is_view" ng-model="form.penduduk"
                                                   on-select="getData(form.penduduk);" style="width: 100%"
                                                   theme="bootstrap">
                                            <ui-select-match
                                                    placeholder="Cari nama atau NIK dari data penduduk">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               refresh="getPenduduk($select.search)"
                                                               repeat="val in listNama">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr style="margin-top: 0px"/>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">No KK Lama</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" ng-model="form.no_kk_lama"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No KK Baru</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" ng-model="form.no_kk_baru"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">jenis kelamin</label>
                                <div class="col-sm-9">
                                    <div class="btn-group m-r">
                                        <label uib-btn-radio="'LK'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.jenis_kelamin" required="">
                                            <i class="fas fa-check" ng-if="form.jenis_kelamin == 'LK'"></i>
                                            Laki - Laki
                                        </label>
                                        <label uib-btn-radio="'PR'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.jenis_kelamin" required="">
                                            <i class="fas fa-check" ng-if="form.jenis_kelamin == 'PR'"></i>
                                            Perempuan
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tempat Lahir</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           ng-model="form.tempat_lahir"
                                           required type="text"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}"
                                               is-open="opened.tgl_lahir" ng-click="toggle($event, 'tgl_lahir')"
                                               ng-model="form.tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend" ng-click="toggle($event, 'tgl_lahir');"
                                             style="cursor: pointer">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Yang Mendatangani
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="is_view"
                                               ng-model="form.yang_menandatangani_id"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih">
                                            <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listTandaTangan | filter : $select.search">
                                            <b>{{ value.nama}}</b> - {{ value.jabatan}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Kecamatan</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                               ng-model="form.kecamatan" theme="bootstrap" style="width: 100%"
                                               on-select="getDesa(form.kecamatan.id)">
                                        <ui-select-match placeholder="Masukkan 3 Karakter">
                                            <b>{{ $select.selected.kecamatan}}</b> - {{ $select.selected.kabupaten}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           refresh="getKecamatanWithKabupaten($select.search,3502,null,'search')"
                                                           repeat="val in listKecamatanWithKabupaten">
                                            <b>{{ val.kecamatan}}</b> - {{ val.kabupaten}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="form.kecamatan == undefined || is_view"
                                               ng-model="form.desa"
                                               on-select="getDusun(form.desa.id)"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Desa">
                                            {{$select.selected.desa}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDesa | filter : $select.search">
                                            {{value.desa}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Dusun
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="form.desa == undefined || is_view"
                                               ng-model="form.dusun" on-select="getRw(form.dusun.id)"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Pilih Dusun">
                                            {{$select.selected.dusun}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDusun | filter : $select.search">
                                            {{value.dusun}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    RW
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="form.dusun == undefined || is_view"
                                               ng-model="form.rw" theme="bootstrap" on-select="getRt(form.rw.id)">
                                        <ui-select-match placeholder="Pilih RW">
                                            {{$select.selected.rw}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listRw | filter : $select.search">
                                            {{value.rw}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    RT
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="form.rw == undefined || is_view"
                                               ng-model="form.rt" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih RT">
                                            {{$select.selected.rt}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listRt | filter : $select.search">
                                            {{value.rt}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <h6 class="tittle-header">
                                Anggota Keluarga :
                            </h6>
                            <table class="table table-bordered">
                                <thead class="bg-secondary">
                                <tr>
                                    <td class="text-center" style="width: 80px">
                                        <button class="btn btn-sm btn-success" ng-click="addDetail()"
                                                ng-disabled="is_view" uib-tooltip="Tambah Detail">
                                            <i class="fa fa-plus">
                                            </i>
                                        </button>
                                    </td>
                                    <th style="text-align: center; font-weight: bold;">
                                        Nama/NIK
                                    </th>
                                    <th style="text-align: center; font-weight: bold;">
                                        No KK
                                    </th>
                                    <th style="text-align: center; font-weight: bold;">
                                        Jenis Kelamin
                                    </th>
                                    <th style="text-align: center; font-weight: bold;">
                                        Tgl Lahir
                                    </th>
                                    <th style="text-align: center; font-weight: bold;">
                                        SHDK
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="detail in listDetail">
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-danger" ng-click="removeDetail($index)"
                                                ng-disabled="is_view">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm" style="width:100%">
                                            <ui-select class="ui-select-sm ui-select-container"
                                                       ng-disabled="is_view" ng-model="detail.penduduk"
                                                       on-select="getDataDetail(detail.penduduk, $index);"
                                                       style="width: 100%"
                                                       theme="bootstrap">
                                                <ui-select-match
                                                        placeholder="Cari nama atau NIK dari data penduduk">
                                                    {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                                   refresh="getPenduduk($select.search)"
                                                                   repeat="val in listNama">
                                                    {{ val.nama}} - {{ val.nik}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-control form-control-sm text-center" ng-disabled="true"
                                               ng-model="detail.no_kk" type="text">

                                    </td>
                                    <td style="text-align: center;">
                                        <input class="form-control form-control-sm text-center" ng-disabled="true"
                                               ng-model="detail.jenis_kelamin" type="text">

                                    </td>

                                    <td style="text-align: center;">
                                        <input class="form-control form-control-sm text-center" ng-disabled="true"
                                               ng-model="detail.tgl_lahir" type="text">

                                    </td>
                                    <td style="text-align: center;">
                                        <!--                                        <input class="form-control form-control-sm" ng-disabled="is_view"-->
                                        <!--                                               ng-model="detail.shdk" type="text">-->

                                        <ui-select ng-disabled="is_view" ng-model="detail.shdk"
                                                   style="width: 100%;"
                                                   theme="bootstrap">
                                            <ui-select-match placeholder="Pilih SHDK">
                                                {{$select.selected.shdk}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="val in listShdk| filter : $select.search">
                                                {{val.shdk}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button class="btn btn-secondary btn-sm" ng-click="cancel()" type="submit">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button button-spinner="loading" class="btn btn-primary btn-sm" ng-click="save(form)"
                            ng-disabled="cek <= 3 || loading"
                            ng-hide="is_view" type="submit">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
