<div class="modal-header text-white" style="background-color: #2C8DA2">
    <h5 class="modal-title">Update No KK</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">No KK Lama</label>
                <div class="col-sm-9">
                    <input ng-disabled="true" class="form-control form-control-sm" ng-model="form.no_kk_lama"
                           required type="text"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">No KK Baru</label>
                <div class="col-sm-9">
                    <input class="form-control form-control-sm" ng-model="form.no_kk_baru"
                           required type="text"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="save(form)">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
        </button>
    </div>
</div>