<div class="animated fadeIn">
    <div ng-controller="tinventarisCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Inventaris</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Kode Inv
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Kode Inventaris"
                                           st-search="kode_inv"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="align-left">Kode Inventaris</th>
                                <th class="align-left">Barang</th>
                                <th class="align-left">Jumlah</th>
                                <th class="align-left">Tanggal Perolehan</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode_inv}}</td>
                                <td class="align-left">{{ row.barang.kode}} - {{ row.barang.nama}}</td>
                                <td class="align-left">{{ row.jumlah}}</td>
                                <td class="align-left">{{ row.tgl_perolehan | date}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button class="btn btn-info fa fa-edit btn-sm" ng-click="update(row)" type="button">
                                        </button>
                                        <button type="button" class="btn btn-danger fa fa-trash btn-sm" ng-click="delete(row);" ></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode Inventaris</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode_inv" maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Barang
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="form.barang" on-select="reset_tampil()" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Barang">
                                            {{$select.selected.kode}} - {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listBarang | filter : $select.search">
                                            {{value.kode}} - {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Jumlah</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm angka align-right" ng-model="form.jumlah" ui-number-mask="0" maxlength="11" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Identitas</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.identitas" maxlength="500" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Apb Desa</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.apb_desa" maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Perolehan Lain</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.perolehan_lain" maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Aset Desa</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.aset_desa" maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tgl Perolehan</label>
                                <div class="col-sm-9">
                                    <div class="input-group-prepend">
                                        <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tgl_perolehan')"  is-open="opened.tgl_perolehan" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_perolehan" ng-disabled="is_view"/>
                                        <div class="input-group-text" ng-click="toggle($event, 'tgl_perolehan')">
                                            <i class="fa fa-calendar-alt">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Keterangan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.keterangan" maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode Lokasi</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode_lokasi" maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Harga</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="font-size: 10px">
                                                Rp
                                            </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm angka align-right" ui-number-mask="0" ng-model="form.harga" maxlength="11" ng-disabled="is_view"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
