<div class="animated fadeIn">
    <div ng-controller="mbarangCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Barang</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <!-- tes -->
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Kode
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Kode"
                                           st-search="kode"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Nama"
                                           st-search="Nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm"
                                            st-search="m_barang.is_deleted">
                                        <option value="0">
                                            Aktif
                                        </option>
                                        <option value="1">
                                            Terhapus
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="align-left">Kode</th>
                                <th class="align-left">Nama</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.kode}}</td>
                                <td class="align-left">{{ row.nama}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button ng-if="row.is_deleted == 0" class="btn btn-info fa fa-edit btn-sm" ng-click="update(row)" type="button">
                                        </button>
                                        <button ng-if="row.is_deleted == 0" class="btn btn-danger fa fa-trash btn-sm" ng-click="trash(row)" type="button">
                                        </button>
                                        <button ng-if="row.is_deleted == 1" type="button" class="btn btn-warning fa fa-recycle btn-sm"  ng-click="restore(row);"></button>
                                        <button ng-if="row.is_deleted == 1" class="btn btn-danger fa fa-trash btn-sm" ng-click="delete(row)" type="button">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="100" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama" maxlength="500" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
