<div class="animated fadeIn">
    <div ng-controller="mdusunCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Dusun</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Desa"
                                           st-search="m_desa.desa"/>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Dusun
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Dusun"
                                           st-search="m_dusun.dusun"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <!--                            <div class="form-group row ">-->
                            <!--                                <label class="col-sm-3 col-form-label-sm mb-0">-->
                            <!--                                    Kepala Dusun-->
                            <!--                                </label>-->
                            <!--                                <div class="col-sm-9">-->
                            <!--                                    <input class="form-control form-control-sm"-->
                            <!--                                           placeholder="Cari berdasarkan Kepala Dusun"-->
                            <!--                                           st-search="m_dusun.dusun"/>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm"
                                            st-search="m_dusun.is_deleted">
                                        <option value="0">
                                            Aktif
                                        </option>
                                        <option value="1">
                                            Terhapus
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Dusun</th>
                            <th class="align-left">Desa</th>
<!--                            <th class="align-left">Kecamatan</th>-->
                            <th class="align-left">Kepala Dusun</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.dusun}}</td>
                            <td class="align-left"><b>{{ row.nama_desa}}</b> - {{row.nama_kecamatan}}</td>
<!--                            <td class="align-left">{{ row.nama_kecamatan}}</td>-->
                            <td class="align-left">{{ row.kepala_dusun.nama}} - {{ row.kepala_dusun.jabatan}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-recycle btn-sm"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);" ng-if="row.is_deleted == 1"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <!--                        <div class="col-md-6">-->
                        <!--                            <div class="form-group row">-->
                        <!--                                <label class="col-sm-3 col-form-label-sm required">Kecamatan</label>-->
                        <!--                                <div class="col-sm-9">-->
                        <!--                                    <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"-->
                        <!--                                               ng-model="form.kecamatan" theme="bootstrap" style="width: 100%" on-select="getDesa(null,form.kecamatan.id,null)">-->
                        <!--                                        <ui-select-match placeholder="Masukkan 3 Karakter">-->
                        <!--                                            <b>{{ $select.selected.kecamatan}}</b> - {{ $select.selected.kabupaten}}-->
                        <!--                                        </ui-select-match>-->
                        <!--                                        <ui-select-choices position="down" refresh="getKecamatanWithKabupaten($select.search,null,null,'search')"-->
                        <!--                                                           repeat="val in listKecamatanWithKabupaten">-->
                        <!--                                            <b>{{ val.kecamatan}}</b> - {{ val.kabupaten}}-->
                        <!--                                        </ui-select-choices>-->
                        <!--                                    </ui-select>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <div class="form-group row">-->
                        <!--                                <label class="col-sm-3 col-form-label-sm ">-->
                        <!--                                    Desa-->
                        <!--                                </label>-->
                        <!--                                <div class="col-sm-9">-->
                        <!--                                    <ui-select class="w-100" ng-model="form.desa" theme="bootstrap"-->
                        <!--                                               ng-disabled="form.kecamatan == undefined || is_view">-->
                        <!--                                        <ui-select-match placeholder="Pilih Desa">-->
                        <!--                                            {{$select.selected.desa}}-->
                        <!--                                        </ui-select-match>-->
                        <!--                                        <ui-select-choices repeat="value in listDesa | filter : $select.search">-->
                        <!--                                            {{value.desa}}-->
                        <!--                                        </ui-select-choices>-->
                        <!--                                    </ui-select>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            -->
                        <!--                        </div>-->
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Dusun</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.dusun"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kepala Dusun
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="form.kepala_dusun" theme="bootstrap"
                                               ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Kepala Dusun">
                                            <b>{{$select.selected.nama}}</b> - {{$select.selected.jabatan}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="value in listPerangkatDesa | filter : $select.search">
                                            <b>{{value.nama}}</b> - {{value.jabatan}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
