<div class="animated fadeIn">
    <div ng-controller="tPenghapusanInventarisCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Penghapusan Inventaris</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Kode
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Kode"
                                           st-search="kode"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Kode Penghapusan</th>
                            <th class="align-left">Inventaris</th>
                            <th class="align-left">Barang</th>
                            <th class="align-left">Jumlah Hapus</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.kode}}</td>
                            <td class="align-left">{{ row.t_inventaris_id}}</td>
                            <td class="align-left">{{ row.barang.kode}} - {{ row.barang.nama}}</td>
                            <td class="align-left">{{ row.jumlah_hapus}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button class="btn btn-info fa fa-edit btn-sm" ng-click="update(row)" type="button">
                                    </button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm" ng-click="delete(row);" ></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode Penghapusan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kode" maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Inventaris
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.t_inventaris_id" maxlength="225" ng-disabled="is_view"/>
<!--                                    <ui-select class="w-100" ng-model="form.inventaris" on-select="reset_tampil()" theme="bootstrap" ng-disabled="is_view">-->
<!--                                        <ui-select-match placeholder="Pilih Inventaris">-->
<!--                                            {{$select.selected.kode_inv}}-->
<!--                                        </ui-select-match>-->
<!--                                        <ui-select-choices repeat="value in listInventaris | filter : $select.search">-->
<!--                                            {{value.kode_inv}}-->
<!--                                        </ui-select-choices>-->
<!--                                    </ui-select>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Barang
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="form.barang" on-select="reset_tampil()" theme="bootstrap" ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Barang">
                                            {{$select.selected.kode}} - {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listBarang | filter : $select.search">
                                            {{value.kode}} - {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Jumlah Hapus</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm angka align-right" ng-model="form.jumlah_hapus" ui-number-mask="0" maxlength="11" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
