<div class="animated fadeIn">
    <div ng-controller="suratPesananCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Surat Pesanan</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <!--                    <button class="btn btn-info btn-sm" ng-click="modalCreate();">-->
                    <!--                        <i class="fa fa-plus"></i>-->
                    <!--                        &nbsp;-->
                    <!--                    </button>-->
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Kegiatan
                                </label>
                                <div class="col-sm-7">
                                    <input st-search="t_pesanan.kegiatan" class="form-control form-control-sm"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Bidang
                                </label>
                                <div class="col-sm-7">
                                    <input st-search="m_pesanan_pka.nama" class="form-control form-control-sm"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Sumber Dana
                                </label>
                                <div class="col-sm-7">
                                    <input st-search="m_pesanan_sumber_dana.sumber_dana"
                                           class="form-control form-control-sm"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Kode Rekening
                                </label>
                                <div class="col-sm-7">
                                    <input st-search="m_pesanan_pka.kode_rekening"
                                           class="form-control form-control-sm"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Tahun
                                </label>
                                <div class="col-sm-7">
                                    <input st-search="t_pesanan.tahun"
                                           class="form-control form-control-sm"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Pekerjaan
                                </label>
                                <div class="col-sm-7">
                                    <input st-search="t_pesanan.pekerjaan"
                                           class="form-control form-control-sm"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Penyedia
                                </label>
                                <div class="col-sm-7">
                                    <input st-search="m_pesanan_penyedia.nama_perusahaan"
                                           class="form-control form-control-sm"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-center" width="30px">No.</th>
                            <th class="align-left">Kegiatan</th>
                            <th class="align-left">Bidang</th>
                            <th class="align-left">Sumber Dana</th>
                            <th class="align-left">Kode Rekening</th>
                            <th class="align-center">Tahun</th>
                            <th class="align-left">Pekerjaan</th>
                            <th class="align-right">Biaya</th>
                            <th class="align-left">Penyedia</th>
                            <th class="align-left">Dibuat Oleh</th>
                            <th class="align-left">Dibuat Pada</th>
                            <th class="align-center">Status</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-center">
                                <span uib-tooltip="{{row.no_surat}}" tooltip-placement="right">{{ row.no_urut}}</span>
                            </td>
                            <td class="align-left">{{ row.kegiatan_id.uraian}}</td>
                            <td class="align-left">{{ row.pka.nama}}</td>
                            <td class="align-left">{{ row.sumber_dana.sumber_dana}}</td>
                            <td class="align-left">{{ row.pka.kode_rekening}}</td>
                            <td class="align-center">{{ row.tahun}}</td>
                            <td class="align-left">{{ row.pekerjaan}}</td>
                            <td class="align-right">{{ row.biaya | number}}</td>
                            <td class="align-left">{{ row.penyedia.nama_perusahaan}}</td>
                            <td class="align-left">{{ row.dibuat_oleh}}</td>
                            <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>
                            <td class="align-center">
                                <span class="badge badge-pill badge-warning" ng-if="row.approval_is_done == 0 && row.approval_last.status != 'ditolak'">Pending</span>
                                <span class="badge badge-pill badge-success" ng-if="row.approval_is_done == 1 && row.approval_last.status != 'ditolak'">Disetujui</span>
                                <span class="badge badge-pill badge-danger" ng-if="row.approval_last.status == 'ditolak'">Ditolak</span>
                            </td>
                            <td style="width: 100px">
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-outline-info fa fa-file-signature btn-sm"
                                            ng-click="historyApproval(row)" uib-tooltip="Histori Persetujuan"></button>
                                    <button ng-if="user.jabatan.m_jabatan_id == row.approval_jabatan && row.approval_is_done == 0" type="button" class="btn btn-outline-danger fa fa-times btn-sm"
                                            ng-click="reject(row)" uib-tooltip="Tolak"></button>
                                    <button ng-if="user.jabatan.m_jabatan_id == row.approval_jabatan && row.approval_is_done == 0" type="button" class="btn btn-outline-success fa fa-check btn-sm"
                                            ng-click="approve(row)" uib-tooltip="Setujui"></button>
                                </div>
                            </td>
                            <td style="width: 130px">
                                <div class="btn-group pull-right" role="group">
                                    <a type="button" class="btn btn-outline-warning fa fa-print btn-sm"
                                       uib-tooltip="Print"
                                       href='api/t_pesanan/index?filter=%7B"t_pesanan.id":"{{row.id}}"%7D'
                                       target="_blank"></a>
                                    <button type="button" class="btn btn-outline-primary fa fa-images btn-sm"
                                            ng-click="modalDokumentasi(row)" uib-tooltip="Dokumentasi"></button>
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    No. Surat Peanan
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="true"
                                                   ng-model="form.surat_nomor" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Pilih Format Nomor Surat">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listNoSurat | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.contoh}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    No. Surat Berita Acara
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="true"
                                                   ng-model="form.surat_nomor_ba" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Pilih Format Nomor Surat">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listNoSurat | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.contoh}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" ng-if="!is_create">
                                <label class="col-sm-3 col-form-label-sm">No. Surat Pesanan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_surat"
                                           ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="is_create">
                                <label class="col-sm-3 col-form-label-sm">No. Urut Pesanan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.no_urut_surat"
                                           placeholder="Otomatis jika dikosongkan"/>
                                </div>
                            </div>

                            <div class="form-group row" ng-if="!is_create">
                                <label class="col-sm-3 col-form-label-sm">No. Surat Berita Acara</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_surat_ba"
                                           ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="is_create">
                                <label class="col-sm-3 col-form-label-sm">No. Urut Berita Acara</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.no_urut_surat_ba"
                                           placeholder="Otomatis jika dikosongkan"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tgl. Pesanan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pesanan"
                                               ng-click="toggle($event, 'tgl_pesanan')" ng-model="form.tgl_pesanan"
                                               placeholder="Tanggal Pesanan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tgl. Kesanggupan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_kesanggupan"
                                               ng-click="toggle($event, 'tgl_kesanggupan')"
                                               ng-model="form.tgl_kesanggupan"
                                               placeholder="Tanggal Kesanggupan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tgl. Berita Acara</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_berita_acara"
                                               ng-click="toggle($event, 'tgl_berita_acara')"
                                               ng-model="form.tgl_berita_acara"
                                               placeholder="Tanggal Berita Acara" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Gunakan Digital Ttd</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                               uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 1">
                                            </i>
                                            Ya
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                               uib-btn-radio="0">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 0">
                                            </i>
                                            Tidak
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Bidang</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container"
                                               ng-disabled="is_view"
                                               on-select="changeBidang(form.bidang)"
                                               ng-model="form.bidang" theme="bootstrap" style="width: 100%">
                                        <ui-select-match placeholder="Pilih Bidang">
                                            {{ $select.selected.uraian}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="vals in dataBidang | filter : $select.search">
                                            {{ vals.uraian}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Sub Bidang</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container"
                                               ng-disabled="is_view || form.bidang == undefined"
                                               on-select="changeSubBidang(form.bidang_sub)"
                                               ng-model="form.bidang_sub" theme="bootstrap" style="width: 100%">
                                        <ui-select-match placeholder="Pilih Sub Bidang">
                                            {{ $select.selected.uraian}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="vals in dataBidangSub | filter : $select.search">
                                            {{ vals.uraian}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kegiatan</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container"
                                               ng-disabled="is_view || form.bidang_sub == undefined"
                                               ng-model="form.kegiatan_id" theme="bootstrap" style="width: 100%">
                                        <ui-select-match placeholder="Pilih Kegiatan">
                                            {{ $select.selected.uraian}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="vals in dataKegiatan | filter : $select.search">
                                            {{ vals.uraian}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <!--                            <div class="form-group row">-->
                            <!--                                <label class="col-sm-3 col-form-label-sm">Kegiatan</label>-->
                            <!--                                <div class="col-sm-9">-->
                            <!--                                    <input type="text" class="form-control form-control-sm"-->
                            <!--                                           ng-model="form.kegiatan" ng-disabled="is_view"/>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tahun Anggaran</label>
                                <div class="col-sm-4">
                                    <!--                                    <input type="text" class="form-control form-control-sm"-->
                                    <!--                                           ng-model="form.tahun_anggaran" ng-disabled="is_view"/>-->
                                    <select ng-model="form.tahun_anggaran" class="form-control form-control-sm">
                                        <option value="">Pilih Tahun</option>
                                        <option ng-repeat="val in dataTahun" value="{{val}}"
                                                ng-selected="val == form.tahun_anggaran">{{val}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode Rekening</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container"
                                               ng-disabled="is_view"
                                               on-select="changePka(form.pka)"
                                               ng-model="form.pka" theme="bootstrap" style="width: 100%">
                                        <ui-select-match placeholder="Pilih Bidang">
                                            {{ $select.selected.kode_rekening}} - {{ $select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="vals in dataPka | filter : $select.search">
                                            {{ vals.kode_rekening}} - {{ vals.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input disabled type="text" class="form-control form-control-sm"
                                           ng-model="form.pekerjaan" ng-disabled="is_view"
                                           uib-tooltip="Pilih Pekerjaan Dari Kode Rekening"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">PIC</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container"
                                               ng-disabled="is_view"
                                               ng-model="form.pic" theme="bootstrap" style="width: 100%">
                                        <ui-select-match placeholder="Pilih PIC">
                                            {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="vals in dataPic | filter : $select.search">
                                            {{ vals.nama}} - {{ vals.nik}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Sumber Dana</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container"
                                               ng-disabled="is_view"
                                               ng-model="form.sumber_dana" theme="bootstrap" style="width: 100%">
                                        <ui-select-match placeholder="Pilih Sumber Dana">
                                            {{ $select.selected.sumber_dana}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="vals in dataSumberDana | filter : $select.search">
                                            {{ vals.sumber_dana}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Lokasi / Tempat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.lokasi" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <!--                            <div class="form-group row">-->
                            <!--                                <label class="col-sm-3 col-form-label-sm">Tempat</label>-->
                            <!--                                <div class="col-sm-9">-->
                            <!--                                    <input type="text" class="form-control form-control-sm"-->
                            <!--                                           ng-model="form.tempat" ng-disabled="is_view"/>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Penyedia</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container"
                                               ng-disabled="is_view"
                                               on-select="changePenyedia(form.penyedia)"
                                               ng-model="form.penyedia" theme="bootstrap" style="width: 100%">
                                        <ui-select-match placeholder="Pilih Penyedia">
                                            {{ $select.selected.nama_perusahaan}} - {{ $select.selected.nama_pemilik}}
                                        </ui-select-match>
                                        <ui-select-choices position="down"
                                                           repeat="vals in dataPenyedia | filter : $select.search">
                                            {{ vals.nama_perusahaan}} - {{ vals.nama_pemilik}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat Penyedia</label>
                                <div class="col-sm-9">
                                    <textarea ng-model="form.penyedia_alamat" ng-disabled="true"
                                              class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <h6 class="font-weight-bold capitalize">
                                Barang Pesanan
                            </h6>
                            <table class="table table-bordered">
                                <thead class="bg-dominan">
                                <tr>
                                <tr>
                                    <th class="align-center" style="width: 50px">
                                        <button type="button"
                                                class="btn btn-sm btn-success fa fa-plus"
                                                ng-click="addDetail(detail)"
                                                ng-disabled="is_view" uib-tooltip="Tambah"></button>
                                    </th>
                                    <th class="align-center" style="width: 50px">No</th>
                                    <th class="align-center">Nama Barang</th>
                                    <th class="align-center" style="width: 100px">Jumlah</th>
                                    <th class="align-center" style="width: 100px">Satuan</th>
                                    <th class="align-center">Harga Satuan (Rp)</th>
                                    <th class="align-center">Total Harga (Rp)</th>
                                </tr>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="val in detail">
                                    <td class="align-center">
                                        <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                                                ng-click="removeDetail(detail, $index)"
                                                ng-disabled="is_view" uib-tooltip="Hapus"></button>
                                    </td>
                                    <td class="align-left">
                                        <input class="form-control form-control-sm text-center" ng-disabled="true"
                                               ng-value="$index+1">
                                    </td>
                                    <td class="align-center">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-model="val.barang" type="text" ng-disabled="is_view"/>
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-model="val.jumlah" ng-change="changeDetail()"
                                                   ng-disabled="is_view"
                                                   ui-number-mask="0"/>
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-model="val.satuan" ng-disabled="is_view"/>
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-model="val.harga" ng-change="changeDetail()" ng-disabled="is_view"
                                                   ui-number-mask="0"/>
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-right "
                                                   ng-disabled="true" ui-number-mask="0"
                                                   ng-model="val.total" type="text"/>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="bg-dominan">
                                    <th colspan="6" class="text-right" style="height: 35px">Total</th>
                                    <th class="text-right"><b>{{total | number}}</b></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
