<div class="modal-header bg-primary">
    <h5 class="modal-title">Histori Persetujuan</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table table-bordered table-hover table-striped">
        <tr class="bg-gradient-primary">
            <th class="text-center">Petugas</th>
            <th class="text-center">Jabatan</th>
            <th class="text-center">Alasan</th>
            <th class="text-center">Status</th>
            <th class="text-center">Pada</th>
        </tr>
        <tr ng-repeat="row in listHistory">
            <td>{{row.nama}}</td>
            <td>{{row.jabatan}}</td>
            <td><div ng-bind-html="row.alasan"></div></td>
            <td class="text-center text-capitalize">{{row.status}}</td>
            <td class="text-center">{{row.created_at * 1000 | date:'dd MMM yyyy, HH:ss'}}</td>
        </tr>
    </table>
</div>