<div class="modal-header bg-primary">
    <h5 class="modal-title">Alasan Penolakan</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <textarea class="form-control" placeholder="Silahkan masukkan alasan penolakan"
              ng-model="form.alasan"></textarea>
</div>
<div class="modal-footer pull-right">
    <button class="btn btn-primary btn-sm" ng-click="save(form)">Simpan Penolakan</button>
</div>