<style type="text/css">
    {% include 'css/surat-jual-beli.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
            <div>
                {% if model.kop.kop_surat != null %}
                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
                {% endif %}
            </div>
            <p class="nama-surat">Surat Pernyataan Jual Beli Tahan Sepihak</p>

            <div style="padding-left: 20px;padding-right: 20px">
                Yang bertanda tangan di bawah ini :
                <table style="margin-left: 20px;">
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Nama</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Umur</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_umur }} Tahun</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.pihak_1_alamat }}</td>
                    </tr>
                </table>

                Dengan ini menyatakan dengan sebenarnya :

                <table style="margin-left: 20px;">
                    <tr>
                        <td width="4%">1.</td>
                        <td style="width: 150px" colspan="7" class="non-capitalize">Bahwa saya telah Jual Beli atas sebidang tanah yang terletak di :</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td width="25%">Jalan/Blok</td>
                        <td>:</td>
                        <td width="15%">{{ model.jalan }}</td>
                        <td width="30%"></td>
                        <td width="15%">RT/RW</td>
                        <td>:</td>
                        <td width="15%">{{ model.rt }}/{{ model.rw }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Kohir/C No/Sertifikat</td>
                        <td>:</td>
                        <td>{{ model.no_sertifikat }}</td>
                        <td></td>
                        <td class="non-capitalize">Persil/Kelas</td>
                        <td>:</td>
                        <td>{{ model.persil }}/{{ model.kelas }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Dukuh/Desa</td>
                        <td>:</td>
                        <td>{{ model.desa }}</td>
                        <td></td>
                        <td class="non-capitalize">Kecamatan</td>
                        <td>:</td>
                        <td>{{ model.kecamatan }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Luas</td>
                        <td>:</td>
                        <td colspan="5">{{ model.luas }} M<sup>2</sup>, <span style="margin-right: 30px;"></span> Dengan batas-batas :</td>
                    </tr>
                    <tr>
                        <td class="8"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Utara</td>
                        <td>:</td>
                        <td>{{ model.batas_utara }}</td>
                        <td></td>
                        <td>Selatan</td>
                        <td>:</td>
                        <td>{{ model.batas_selatan }}
                    </tr>
                    <tr>
                        <td></td>
                        <td>Barat</td>
                        <td>:</td>
                        <td>{{ model.batas_barat }}</td>
                        <td></td>
                        <td>Timur</td>
                        <td>:</td>
                        <td>{{ model.batas_timur }}</td>
                    </tr>

                    <tr>
                        <td width="4%">2.</td>
                        <td style="width: 150px" colspan="7" class="non-capitalize">Bahwa jual beli tersebut di atas dari {{ model.pihak_2_nama }}</td>
                    </tr>
                    <tr>
                        <td width="4%">3.</td>
                        <td style="width: 150px" colspan="7" class="non-capitalize">Bahwa jual beli tersebut di atas dilakukan pada tahun {{ model.tahun_pernyataan }}</td>
                    </tr>
                    <tr>
                        <td width="4%">4.</td>
                        <td style="width: 150px" colspan="7" class="non-capitalize">Bahwa jual beli tersebut di atas hanya pernyataan lisan</td>
                    </tr>
                    <tr>
                        <td width="4%">5.</td>
                        <td style="width: 150px" colspan="7" class="non-capitalize">Bahwa jual beli tersebut sebagaimana angka 3, segala hak dan kewajiban yang
                            berkaitan dengan tanah tersebut menjadi hak dan kewajiban saya selaku pembeli.</td>
                    </tr>
                </table>

                <p>Demikian surat pernyataan ini saya buat dengan sebenarnya untuk dapat di pergunakan sebagai kelengkapan sertifikat dan apabila di kemudian ternyata
                    pernyataan ini tidak benar maka saya bersedia di tuntut di muka pengadilan berdasarkan peraturan yang berlaku.</p>

                <table width="100%">
                    <tr>
                        <td width="20%" class="text-center"></td>
                        <td width="40%"></td>
                        <td width="30%">{{ model.desa }} : {{ model.tgl_pembuatan }} <br> Yang membuat pernyataan,</td>
                    </tr>
                    <tr style="height: 80px;">
                        <td>
                            Saksi Keluarga <br>
                            {% for key,val in detail %}
                                {% if val.tipe == "keluarga" %}
                                    {{ val.no_urut+1 }}. {{ val.nama }} <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="padding-top: 20px;font-size: 12px; text-align: right;">Materai</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="width: 200px;"></td>
                        <td class="capitalize text-center"><u><b>{{ model.pihak_1_nama }}</b></u></td>
                    </tr>
                </table>

                <br>
                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 70%">
                            <table width="100%">
                                <tr>
                                    <td colspan="6" style="padding-bottom: 0px;"><p>Saksi-saksi</p></td>
                                </tr>
                                {% for i,val in detail %}
                                    {% if val.tipe == "saksi_lain" %}
                                    <tr>
                                        <td width="2%">{{ i }}.</td>
                                        <td style="text-align: justify;">{{ val.nama }}</td>
                                        <td style="text-align: justify;">{{ val.jabatan }}</td>
                                        <td style="text-align: justify;" width="10%">{{ ((i+1) %2 == 0) ? i : "" }}</td>
                                        <td style="text-align: justify;" width="10%">{{ ((i+1) %2 != 0) ? i : "" }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </td>
                        <td align="center" style="width: 30%;text-transform: capitalize">
                            Mengetahui,<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}
                            {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama"><u>{{ model.ttd.nama }}{{ model.ttd.gelar }}</u></span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
