<div class="modal-header bg-primary">
    <h5 class="modal-title">Jenis Periode</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 15px">
                <div class="btn-group pull-right mt-5px" role="group">
<!--                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"-->
<!--                            ng-click="isCollapsed = !isCollapsed">-->
<!--                        <i class="fa fa-search"></i>-->
<!--                        &nbsp;Pencarian-->
<!--                    </button>-->
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding: 0px">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Nama</th>
                            <th class="align-center">Dibuat Oleh</th>
                            <th class="align-center">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.nama}}</td>
                            <td class="align-center">{{ row.dibuat_oleh}}</td>
                            <td class="align-center">{{ row.created_at * 1000| date:"dd MMM yyyy"}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);"></button>
                                    <!--                                    <button type="button" class="btn btn-warning fa fa-recycle btn-sm"-->
                                    <!--                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>-->
                                    <!--                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"-->
                                    <!--                                            ng-click="delete(row);" ng-if="row.is_deleted == 1"></button>-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="is_edit">
        <div class="col-md-12">
            <form name="landaform" novalidate="">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label-sm ">
                                Nama
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm"
                                       ng-model="form.nama" maxlength="45" ng-disabled="is_view"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <table class="table table-bordered">
                            <thead class="bg-dominan">
                            <tr>
                                <th class="align-center" style="width: 20px; padding: 7px;" rowspan="2">
                                    <button type="button" class="btn btn-sm btn-success fa fa-plus"
                                            ng-click="addDetail(detail)"
                                            ng-disabled="is_view"></button>
                                </th>
                                <th class="align-center" colspan="2">Periode Awal</th>
                                <th class="align-center" colspan="2">Periode Akhir</th>
                            </tr>
                            <tr>
                                <td class="align-center">Bulan</td>
                                <td class="align-center">Tahun</td>
                                <td class="align-center">Bulan</td>
                                <td class="align-center">Tahun</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="v in detail">
                                <td class="align-center" style="width: 20px; padding: 7px;">
                                    <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                                            ng-click="removeDetail(detail, $index)"
                                            ng-disabled="is_view"></button>
                                </td>
                                <td  class="align-center">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-append" style="width: 30px">
                                            <span class="input-group-text">
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="checkbox"
                                                           ng-disabled="v.is_tahun_awal || is_view"
                                                           ng-change="v.bulan_awal = null; v.tahun_awal = null;"
                                                           value="true" ng-model="v.is_bulan_awal"/>
                                                </div>
                                            </span>
                                        </div>
                                        <input ng-disabled="!v.is_bulan_awal"
                                               class="form-control form-control-sm text-center angka"
                                               ng-model="v.bulan_awal" type="text" >
                                    </div>
                                </td>
                                <td  class="align-center">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-append" style="width: 30px">
                                            <span class="input-group-text">
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="checkbox"
                                                           ng-disabled="v.is_bulan_awal || is_view"
                                                           ng-change="v.bulan_awal = null; v.tahun_awal = null;"
                                                           value="true" ng-model="v.is_tahun_awal"/>
                                                </div>
                                            </span>
                                        </div>
                                        <input ng-disabled="!v.is_tahun_awal"
                                               class="form-control form-control-sm text-center angka"
                                               ng-model="v.tahun_awal" type="text" >
                                    </div>
                                </td>
                                <td  class="align-center">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-append" style="width: 30px">
                                            <span class="input-group-text">
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="checkbox"
                                                           ng-disabled="v.is_tahun_akhir || is_view"
                                                           ng-change="v.bulan_akhir = null; v.tahun_akhir = null;"
                                                           value="true" ng-model="v.is_bulan_akhir"/>
                                                </div>
                                            </span>
                                        </div>
                                        <input ng-disabled="!v.is_bulan_akhir"
                                               class="form-control form-control-sm text-center angka"
                                               ng-model="v.bulan_akhir" type="text" >
                                    </div>
                                </td>
                                <td  class="align-center">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-append" style="width: 30px">
                                            <span class="input-group-text">
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="checkbox"
                                                           ng-disabled="v.is_bulan_akhir || is_view"
                                                           ng-change="v.bulan_akhir = null; v.tahun_akhir = null;"
                                                           value="true" ng-model="v.is_tahun_akhir"/>
                                                </div>
                                            </span>
                                        </div>
                                        <input ng-disabled="!v.is_tahun_akhir"
                                               class="form-control form-control-sm text-center angka"
                                               ng-model="v.tahun_akhir" type="text" >
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <div class="pull-right">
                <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                    <i class="fa fa-arrow-left"></i>
                    &nbsp;Kembali
                </button>
                <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                        ng-disabled="loading" ng-click="save(form,detail)">
                    <i class="fa fa-save"></i>
                    &nbsp;Simpan
                </button>
            </div>
        </div>
    </div>
</div>