<div class="animated fadeIn">
    <div ng-controller="tKematianCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Kematian</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <!--                    <button class="btn btn-info btn-sm" ng-click="modalCreate();">-->
                    <!--                        <i class="fa fa-plus"></i>-->
                    <!--                        &nbsp;-->
                    <!--                    </button>-->
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    No Surat
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan No Surat"
                                           st-search="no_surat"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Jenazah
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Jenazah"
                                           st-search="jenazah"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Ayah
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Ayah"
                                           st-search="ayah"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Ibu
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Ibu"
                                           st-search="ibu"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Pelapor
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Pelapor"
                                           st-search="pelapor"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Saksi 1
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Saksi 1"
                                           st-search="saksi1"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Saksi 2
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Saksi 2"
                                           st-search="saksi2"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-center">No. Surat</th>
                            <th class="align-left">Jenazah</th>
                            <th class="align-left">Ayah</th>
                            <th class="align-left">Ibu</th>
                            <th class="align-left">Pelapor</th>
                            <th class="align-left">Saksi 1</th>
                            <th class="align-left">Saksi 2</th>
                            <th class="align-center">Tanggal Kematian</th>
                            <th class="align-center">Pukul</th>
                            <th class="align-left">Dibuat Oleh</th>
                            <th class="align-left">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-center">
                                <span uib-tooltip="{{ row.no_surat }}" tooltip-placement="right">
                                    {{ row.no_urut }}
                                </span>
                            </td>
                            <td class="align-left">{{ row.jenazah_id.nama}}</td>
                            <td class="align-left">{{ row.ayah_nama}}</td>
                            <td class="align-left">{{ row.ibu_nama}}</td>
                            <td class="align-left">{{ row.pelapor_nama}}</td>
                            <td class="align-left">{{ row.saksi_1_nama}}</td>
                            <td class="align-left">{{ row.saksi_2_nama}}</td>
                            <td class="align-center">{{ row.tgl_kematian | date:'d MMM yyyy'}}</td>
                            <td class="align-center">{{ row.pukul_convert}} Wib</td>
                            <td class="align-left">{{ row.petugas}}</td>
                            <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <a href="api/t_kematian/print-bukti-kematian?id={{row.id}}" uib-tooltip="Bukti Kematian"
                                       target="_blank" class="btn btn-outline-warning fa fa-print btn-sm"></a>
                                    <a href="api/t_kematian/print?id={{row.id}}" uib-tooltip="Formulir Pelaporan Kematian"
                                       target="_blank" class="btn btn-outline-success fa fa-print btn-sm"></a>
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-sm btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Nomor Surat</h6>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Format No. Surat
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="!is_create"
                                                   ng-model="form.surat_nomor" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Pilih Format Nomor Surat">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listNoSurat | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.contoh}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row" ng-if="is_create">
                                <label class="col-sm-3 col-form-label-sm">No. Urut surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.no_urut_surat"
                                           placeholder="Otomatis jika dikosongkan"/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="!is_create">
                                <label class="col-sm-3 col-form-label-sm">No surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_surat"
                                           ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Jenazah</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Jenazah
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   on-select="getJenazah(form.jenazah_id.id); getKeluarga(form.jenazah_id.no_kk, form.jenazah_id.nik_ayah, form.jenazah_id.nik_ibu);"
                                                   ng-disabled="is_view || is_update"
                                                   ng-model="form.jenazah_id" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="getPenduduk($select.search); "
                                                               repeat="val in listNama">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.jenazah_id != undefined">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listJen.nik}}"
                                           ng-disabled="true" required/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.jenazah_id != undefined">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listJen.nama}}"
                                           ng-disabled="true" required/>
                                </div>
                            </div>

                            <div class="form-group row" ng-if="form.jenazah_id != undefined">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Sebab Kematian
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="form.sebab" theme="bootstrap"
                                               ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Sebab">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listSebab | filter : $select.search">
                                            {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.jenazah_id != undefined">
                                <label class="col-sm-3 col-form-label-sm">Tempat Kematian</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.tempat_kematian"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.jenazah_id != undefined">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Yang Menerangkan
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="form.yang_menerangkan" theme="bootstrap"
                                               ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Profesi">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listProfesi | filter : $select.search">
                                            {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="form.jenazah_id != undefined">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listJen.pekerjaan}}"
                                           ng-disabled="true" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listJen.alamat}}"
                                           ng-disabled="true" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Anak
                                </label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Ke
                                                        </span>
                                        </div>
                                        <input class="form-control form-control-sm angka align-left"
                                               ng-disabled="is_view"
                                               ng-model="form.anak_ke" type="text"/>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tanggal Kematian
                                </label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-click="toggle($event, 'tgl_kematian')" is-open="opened.tgl_kematian"
                                               uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_kematian"
                                               ng-disabled="is_view" required/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pukul</label>
                                <div class="col-sm-1">
                                    <div uib-timepicker ng-model="form.pukul" show-meridian="ismeridian"
                                         hour-step="1" ng-disabled="is_view"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Kepala Keluarga</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Kepala Keluarga
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   on-select="getKepalaKeluarga(form.kepala_keluarga_id.id);"
                                                   ng-disabled="is_view"
                                                   ng-model="form.kepala_keluarga_id" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Cari berdasarkan Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"
                                                               repeat="val in listNama">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.kepala_keluarga_id != undefined">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listKepalaKeluarga.nik}}"
                                           ng-disabled="true" required/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.kepala_keluarga_id != undefined">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listKepalaKeluarga.nama}}"
                                           ng-disabled="true" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="form.kepala_keluarga_id != undefined">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listKepalaKeluarga.pekerjaan}}"
                                           ng-disabled="true" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listKepalaKeluarga.alamat}}"
                                           ng-disabled="true" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Ayah</h6>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm pl-0">Gunakan Detail Ayah</label>
                                    <div class="col-sm-9 pl-0">
                                        <div class="btn-group">
                                            <label class="btn btn-sm btn-primary" ng-model="form.is_ayah"
                                                   uib-btn-radio="1">
                                                <i class="fa fa-check" ng-if="form.is_ayah == 1">
                                                </i>
                                                Ya
                                            </label>
                                            <label class="btn btn-sm btn-primary" ng-model="form.is_ayah"
                                                   uib-btn-radio="0">
                                                <i class="fa fa-check" ng-if="form.is_ayah == 0">
                                                </i>
                                                Tidak
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="form.is_ayah == 1">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input ng-model="form.ayah_nama" type="text"
                                               class="form-control form-control-sm"
                                               ng-disabled="is_view" required/>
                                        <button uib-tooltip="Ambil dari data penduduk" ng-disabled="is_view"
                                                class="btn btn-primary btn-sm"
                                                ng-click="modal('ayah')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class=" form-group row
                                        ">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.ayah_nik" type="text" class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tanggal Lahir
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-click="toggle($event, 'ayah_tgl_lahir')"
                                               is-open="opened.ayah_tgl_lahir"
                                               uib-datepicker-popup="dd-MM-yyyy" ng-model="form.ayah_tgl_lahir"
                                               ng-disabled="is_view" required/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="form.is_ayah == 1">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.ayah_pekerjaan" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.ayah_alamat" type="text" class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Ibu</h6>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm pl-0">Gunakan Detail Ibu</label>
                                    <div class="col-sm-9 pl-0">
                                        <div class="btn-group">
                                            <label class="btn btn-sm btn-primary" ng-model="form.is_ibu"
                                                   uib-btn-radio="1">
                                                <i class="fa fa-check" ng-if="form.is_ibu == 1">
                                                </i>
                                                Ya
                                            </label>
                                            <label class="btn btn-sm btn-primary" ng-model="form.is_ibu"
                                                   uib-btn-radio="0">
                                                <i class="fa fa-check" ng-if="form.is_ibu == 0">
                                                </i>
                                                Tidak
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="form.is_ibu == 1">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input ng-model="form.ibu_nama" type="text" class="form-control form-control-sm"
                                               ng-disabled="is_view" required/>
                                        <button uib-tooltip="Ambil dari data penduduk" ng-disabled="is_view"
                                                class="btn btn-primary btn-sm"
                                                ng-click="modal('ibu')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class=" form-group row
                                        ">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.ibu_nik" type="text" class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tanggal Lahir
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-click="toggle($event, 'ibu_tgl_lahir')" is-open="opened.ibu_tgl_lahir"
                                               uib-datepicker-popup="dd-MM-yyyy" ng-model="form.ibu_tgl_lahir"
                                               ng-disabled="is_view" required/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6" ng-if="form.is_ibu == 1">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.ibu_pekerjaan" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.ibu_alamat" type="text" class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Pelapor</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input ng-model="form.pelapor_nama" type="text"
                                               class="form-control form-control-sm"
                                               ng-disabled="is_view" required/>
                                        <button uib-tooltip="Ambil dari data penduduk" ng-disabled="is_view"
                                                class="btn btn-primary btn-sm"
                                                ng-click="modal('pelapor')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class=" form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.pelapor_nik" type="text" class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tanggal Lahir
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-click="toggle($event, 'pelapor_tgl_lahir')"
                                               is-open="opened.pelapor_tgl_lahir"
                                               uib-datepicker-popup="dd-MM-yyyy" ng-model="form.pelapor_tgl_lahir"
                                               ng-disabled="is_view" required/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.pelapor_pekerjaan" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.pelapor_alamat" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.pelapor_provinsi" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kabupaten</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.pelapor_kabupaten" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.pelapor_kecamatan" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Desa</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.pelapor_desa" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Saksi 1</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input ng-model="form.saksi_1_nama" type="text"
                                               class="form-control form-control-sm"
                                               ng-disabled="is_view" required/>
                                        <button uib-tooltip="Ambil dari data penduduk" ng-disabled="is_view"
                                                class="btn btn-primary btn-sm"
                                                ng-click="modal('saksi_1')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class=" form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_1_nik" type="text" class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tanggal Lahir
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-click="toggle($event, 'saksi_1_tgl_lahir')"
                                               is-open="opened.saksi_1_tgl_lahir"
                                               uib-datepicker-popup="dd-MM-yyyy" ng-model="form.saksi_1_tgl_lahir"
                                               ng-disabled="is_view" required/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_1_pekerjaan" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_1_alamat" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">



                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_1_provinsi" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kabupaten</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_1_kabupaten" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_1_kecamatan" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Desa</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_1_desa" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Saksi 2</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input ng-model="form.saksi_2_nama" type="text"
                                               class="form-control form-control-sm"
                                               ng-disabled="is_view" required/>
                                        <button uib-tooltip="Ambil dari data penduduk" ng-disabled="is_view"
                                                class="btn btn-primary btn-sm"
                                                ng-click="modal('saksi_2')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class=" form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_2_nik" type="text" class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tanggal Lahir
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-click="toggle($event, 'saksi_2_tgl_lahir')"
                                               is-open="opened.saksi_2_tgl_lahir"
                                               uib-datepicker-popup="dd-MM-yyyy" ng-model="form.saksi_2_tgl_lahir"
                                               ng-disabled="is_view" required/>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_2_pekerjaan" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_2_alamat" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">


                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_2_provinsi" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kabupaten</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_2_kabupaten" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_2_kecamatan" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Desa</label>
                                <div class="col-sm-9">
                                    <input ng-model="form.saksi_2_desa" type="text"
                                           class="form-control form-control-sm"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Ttd</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Yang Bertanda Tangan
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   ng-disabled="is_view"
                                                   ng-model="form.yang_menandatangani_id" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listTandaTangan | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.jabatan}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Gunakan Digital TTD</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                               uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 1">
                                            </i>
                                            Ya
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd"
                                               uib-btn-radio="0">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 0">
                                            </i>
                                            Tidak
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Pembuatan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"
                                               ng-click="toggle($event, 'tgl_pembuatan')" ng-model="form.tgl_pembuatan"
                                               placeholder="Tanggal Pembuatan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
