<style type="text/css">
    {% include 'css/surat-bukti-kematian.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
            <div>
                {% if model.kop.kop_surat != null %}
                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
                {% endif %}
            </div>
            <p class="nama-surat">Surat Keterangan Kematian</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>

            <br><br>
            <div style="padding-left: 20px;padding-right: 20px">
                Yang bertanda tangan di bawah ini :
                <table style="margin-left: 10px;">
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Nama Lengkap</td>
                        <td>:</td>
                        <td>{{ model.ttd.nama }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">NIK/NIP<sup>*)</sup></td>
                        <td>:</td>
                        <td>{{ model.ttd.nik }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Jabatan</td>
                        <td>:</td>
                        <td>{{ model.ttd.jabatan }}</td>
                    </tr>
                </table>
                <br>

                Dengan ini menerangkan bahwa telah terjadi peristiwa kematian atas penduduk:
                <br>
                <table style="margin-left: 10px;">
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Nama Lengkap</td>
                        <td>:</td>
                        <td>{{ jenazah.nama }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">NIK/NIP<sup>*)</sup></td>
                        <td>:</td>
                        <td>{{ jenazah.nik }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Tanggal Kematian</td>
                        <td>:</td>
                        <td>{{ jenazah.tanggal_kematian }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Jam Kematian</td>
                        <td>:</td>
                        <td>{{ jenazah.jam_kematian }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Sebab Kematian</td>
                        <td>:</td>
                        <td>{{ jenazah.sebab }}</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Tempat Kematian</td>
                        <td>:</td>
                        <td>{{ jenazah.tempat_kematian }}</td>
                    </tr>
                </table>

                <br>
                Demikian surat keterangan ini dibuat untuk dipergunakan sebagaimana mestinya
                <br>
                <br>
                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 70%"></td>
                        <td align="center" style="width: 30%;text-transform: capitalize">
                            {{ model.kabupaten }}, {{ model.tgl_pembuatan }}<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}
                            {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama"><u>{{ model.ttd.nama }}{{ model.ttd.gelar }}</u></span>
                                    NIK/NIP. {{ model.ttd.nik }} <sup>*)</sup>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <br>
                <table width="100%">
                    <tr>
                        <td style="padding: 0px 2px;">Catatan:</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 2px;">*) Diisi nomor induk pegawai jika memiliki nomor induk pegawai, jika tidak ada diisi NIK</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 2px;">**) Kepala Desa/Lurah/Pejabat Rumah Sakit dll</td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
