<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        width: 5%;
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        width: 21.5cm;
        height: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: top;
    }

    .table-custom-twig {
        border: 1px solid black;
        max-width: 1px;
        text-align: center;
        padding: 0px;
        font-size: 9px;
        height: 12px;
        vertical-align: middle;
    }

    .table-custom-twig-no-border {
        /*border: 1px solid black;*/
        max-width: 1px;
        text-align: center;
        padding: 0px;
        font-size: 9px;
        height: 12px;
        vertical-align: middle;
        color: #ffffff !important;
    }

    .table-custom-twig-left {
        border: 1px solid black;
        max-width: 1px;
        text-align: left;
        padding: 1px;
        font-size: 9px;
        height: 12px;
    }

    table tr td {
        font-size: 10px;
        padding: 0px;
        margin: 0px;
    }

    h4 {
        font-size: 11px;
    }

    h2 {
        font-size: 15px;
    }
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div style="padding-left: 50px; padding-top: 10px;">
                <table width="100%">
                    <tr sty>
                        <td width="40%"></td>
                        <td width="45%"></td>
                        <td width="13%" class="table-custom-twig" style="text-align: center; padding: 5px;">F-2.01</td>
                        <td width="3%"></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="100%">
                            <table>
                                <tr width="100%">
                                    <td width="45%">Provinsi</td>
                                    <td width="5%">:</td>
                                    <td width="45%">{{ kode.provinsi | upper }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Kabupaten / Kota</td>
                                    <td width="5%">:</td>
                                    <td width="45%">{{ kode.kabupaten | upper }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Kecamatan</td>
                                    <td width="5%">:</td>
                                    <td width="45%">{{ kode.kecamatan | upper }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Kelurahan</td>
                                    <td width="5%">:</td>
                                    <td width="45%">{{ kode.desa | upper }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Kode Wilayah</td>
                                    <td width="5%">:</td>
                                    <td width="45%">
                                        <table style="border-collapse: collapse" width="100%">
                                            <tr>
                                                {% for v in model.kode %}
                                                    <td class="table-custom-twig" style="min-width: 2px;">
                                                        {{ v }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="padding-left: 50px; padding-bottom: 1px;">
                <h2 style="text-align: center; padding-top: 10px; margin: 0px;">
                    FORMULIR PELAPORAN PENCATATAN SIPIL DI DALAM WILAYAH NKRI
                </h2>
                <p style="padding-left: 5px;padding-top: 5px;padding-bottom: 5px;margin: 0px;font-size: 10px">
                    Jenis Pelaporan Pencatatan Sipil : <b>KEMATIAN</b>
                </p>
            </div>

            <div class="row" style="padding-left: 50px;padding-right: 20px">
                {# DATA PELAPOR #}
                <div class="col-md-12" style="padding: 5px;">
                    <h4 style="margin-top: 0px; margin-bottom: 0px; margin-left: 2px;">
                        DATA PELAPOR
                    </h4>
                    <table width="100%">
                        <tr>
                            <td width="25%">
                                Nama
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in pelapor.nama_pelapor %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in pelapor.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                No. Dok. Perjalanan
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in jenazah.no_surat %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Nomor HP/WA
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for k,v in pelapor.telp %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>

                </div>

                {# SAKSI I #}
                <div class="col-md-12" style="padding: 5px;">
                    <h4 style="margin-top: 0px; margin-bottom: 0px; margin-left: 2px;">
                        SAKSI I
                    </h4>
                    <table width="100%">
                        <tr>
                            <td width="25%">
                                Nama
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in saksi1.nama_saksi1 %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in saksi1.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                {# SAKSI II #}
                <div class="col-md-12" style="padding: 5px;">
                    <h4 style="margin-top: 0px; margin-bottom: 0px; margin-left: 2px;">
                        SAKSI II
                    </h4>
                    <table width="100%">
                        <tr>
                            <td width="25%">
                                Nama
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in saksi2.nama_saksi2 %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in saksi2.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                {#  DATA ORANG TUA #}
                <div class="col-md-12" style="padding: 5px;">
                    <h4 style="margin-top: 0px; margin-bottom: 0px; margin-left: 2px;">
                        DATA ORANG TUA
                    </h4>
                    <table width="100%">
                        {# DATA AYAH #}
                        <tr>
                            <td width="25%">
                                Nama Ayah
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ayah.nama_ayah %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK Ayah
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ayah.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tempat Lahir Ayah
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ayah.tempat_lahir %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tanggal Lahir Ayah
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td width="10%;">
                                            Tgl.
                                        </td>
                                        {% for v in ayah.tgl_lahir_hari %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="13%;">
                                            Bln.
                                        </td>
                                        {% for v in ayah.tgl_lahir_bulan %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="15%;">
                                            Tahun
                                        </td>
                                        {% for v in ayah.tgl_lahir_tahun %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        {# DATA IBU #}
                        <tr>
                            <td width="25%">
                                Nama Ibu
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ibu.nama_ibu %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                NIK Ibu
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ibu.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tempat Lahir Ibu
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in ibu.tempat_lahir %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tanggal Lahir Ibu
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        <td width="10%;">
                                            Tgl.
                                        </td>
                                        {% for v in ibu.tgl_lahir_hari %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="13%;">
                                            Bln.
                                        </td>
                                        {% for v in ibu.tgl_lahir_bulan %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="15%;">
                                            Tahun
                                        </td>
                                        {% for v in ibu.tgl_lahir_tahun %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Kewarganegaraan
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            1
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. WNI
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. WNA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                {# DATA KEMATIAN #}
                <div class="col-md-12" style="padding: 5px;">
                    <h4 style="margin-top: 0px; margin-bottom: 0px; margin-left: 2px;">
                        DATA KEMATIAN
                    </h4>
                    <table width="100%">
                        <tr>
                            <td width="25%">
                                NIK
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in jenazah.nik %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Nama Lengkap
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in jenazah.nama_jenazah %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Tanggal Kematian
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="70%">
                                    <tr>
                                        <td width="15%;">
                                            Tgl.
                                        </td>
                                        {% for v in jenazah.tgl_kematian_hari %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="15%;">
                                            Bln.
                                        </td>
                                        {% for v in jenazah.tgl_kematian_bulan %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                        <td style="padding-left: 15px;" width="20%;">
                                            Tahun
                                        </td>
                                        {% for v in jenazah.tgl_kematian_tahun %}
                                            <td class="table-custom-twig"
                                                style="padding-left: 5px; padding-right: 5px;">
                                                {{ v }}
                                            </td>
                                        {% endfor %}

                                    </tr>


                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Pukul
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="20%">
                                    <tr>
                                        {% for v in jenazah.pukul %}
                                            <td class="table-custom-twig">
                                                {{ v }}

                                            </td>
                                        {% endfor %}
                                        <td width="3%">Wib</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                Sebab Kematian
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ jenazah.sebab_kematian }}
                                        </td>
                                        <td style="padding-left: 10px;">
                                            1. Sakit biasa/tua
                                        </td>
                                        <td style="padding-left: 10px;">
                                            2. Wabah Penyakit
                                        </td>
                                        <td style="padding-left: 10px;">
                                            3. kecelakaan
                                        </td>
                                        <td style="padding-left: 10px;">
                                            4. Kriminalitas
                                        </td>
                                        <td style="padding-left: 10px;">
                                            5. Bunuh Diri
                                        </td>
                                        <td style="padding-left: 10px;">
                                            6. Lainnya
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td width="25%">
                                Tempat Kematian
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse" width="100%">
                                    <tr>
                                        {% for v in jenazah.tempat_kematian %}
                                            <td class="table-custom-twig">
                                                {{ v }}
                                            </td>
                                        {% endfor %}
                                    </tr>

                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td width="25%">
                                Yang Menerangkan
                            </td>
                            <td width="5%">
                                :
                            </td>
                            <td width="70%">
                                <table style="border-collapse: collapse">
                                    <tr>
                                        <td style="border: 1px solid black; padding-left: 5px; padding-right: 5px;">
                                            {{ jenazah.yang_menerangkan_id }}
                                        </td>
                                        <td style="padding-left: 15px;">
                                            1. Dokter
                                        </td>
                                        <td style="padding-left: 15px;">
                                            2. Tenaga Kesehatan
                                        </td>
                                        <td style="padding-left: 15px;">
                                            3. Kepolisian
                                        </td>
                                        <td style="padding-left: 15px;">
                                            4. Lainnya
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </div>

                {# TTD #}
                <br><br>
                <div class="col-md-12" style="padding-top: 5px;">
                    <table width="100%">
                        <tr>
                            <td width="30%" style="text-align: center; text-transform: capitalize;">
                                Mengetahui:<br>
                                Petugas Pendaftaran<br>
                                {% if ttd == 'null' %}
                                {% else %}
                                    <div style="text-align: center; margin-right: 20px;height: 101px">
                                        {% if model.is_ttd == 1 %}
                                            {% if model.ttd.ttd != null %}
                                                <img style="width: auto; height: 101px; "
                                                     src="../file/ttd/{{ model.ttd.ttd }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div style="margin-top: -40px;" class="ttd">
                                        <span class="nama"
                                              style="font-weight: bold;text-transform: uppercase">({{ model.ttd.nama }}{{ model.ttd.gelar }})</span>
                                    </div>
                                {% endif %}
                            </td>
                            <td width="40%" style="text-align: center"></td>
                            <td width="30%" style="text-align: center">
                                Ponorogo, {{ model.tgl_pembuatan }} <br>
                                Pelapor
                                <div style="text-align: center; margin-right: 20px;height: 101px">

                                </div>
                                <div style="margin-top: -40px;" class="ttd">
                                        <span class="nama"
                                              style="font-weight: bold;text-transform: uppercase">({{ model.pelapor_nama }})
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </page>

        {# {% if key < count %} #}
        {# <br pagebreak="true"/> #}
        {# {% endif %} #}
        {# {% endfor %} #}

    </div>
</div>


<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>