<div class="animated fadeIn">
    <div ng-controller="strukturOrganisasiCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Struktur Organisasi</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <div class="col-md-4">
                                            <div class="form-group row ">
                                                <label class="col-sm-3 col-form-label-sm mb-0">
                                                    Nama
                                                </label>
                                                <div class="col-sm-9">
                                                    <input class="form-control form-control-sm"
                                                           placeholder="Cari berdasarkan Nama"
                                                           st-search="nama"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row ">
                                                <label class="col-sm-3 col-form-label-sm mb-0">
                                                    Jabatan
                                                </label>
                                                <div class="col-sm-9">
                                                    <input class="form-control form-control-sm"
                                                           placeholder="Cari berdasarkan jabatan"
                                                           st-search="m_jabatan.nama"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group row ">
                                                <label class="col-sm-3 col-form-label-sm mb-0">
                                                    Status
                                                </label>
                                                <div class="col-sm-9">
                                                    <select class="form-control form-control-sm"
                                                            st-search="t_struktur_organisasi.is_deleted">
                                                        <option value="0">
                                                            Aktif
                                                        </option>
                                                        <option value="1">
                                                            Terhapus
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                        <tr>
                            <th class="align-left">Nama</th>
                            <th class="align-left">Jabatan</th>
                            <th class="align-left">Desa</th>


                            <th></th>
                        </tr>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.nama_penduduk }}</td>
                            <td class="align-left">{{ row.nama_jabatan }}</td>
                            <td class="align-left">{{ row.nama_desa }}</td>

                            </td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button ng-if="row.is_deleted == 0" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)" type="button">
                                    </button>
                                    <button ng-if="row.is_deleted == 0" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="trash(row)" type="button">
                                    </button>
                                    <button ng-if="row.is_deleted == 1" type="button"
                                            class="btn btn-warning fa fa-recycle btn-sm"
                                            ng-click="restore(row);"></button>
                                    <button ng-if="row.is_deleted == 1" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row)" type="button">
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Jabatan
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select ng-model="form.jabatan" style="width: 100%;"
                                                   theme="bootstrap" ng-disabled="is_view">
                                            <ui-select-match placeholder="Pilih Jabatan">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="val in listJabatan | filter : $select.search">
                                                {{val.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   on-select="getData(form.penduduk);"
                                                   ng-disabled="is_view || form.jabatan == undefined"
                                                   ng-model="form.penduduk" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Masukkan 3 karakter">
                                                {{ $select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"
                                                               repeat="val in listPenduduk">
                                                {{ val.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Pejabat Pengangkatan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.pejabat_pengangkatan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    No. SK
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.no_sk"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Pengangkatan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pengangkatan"
                                               ng-click="toggle($event, 'tgl_pengangkatan')" ng-model="form.tgl_pengangkatan"
                                               placeholder="Tanggal Pengangkatan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Pelantikan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pelantikan"
                                               ng-click="toggle($event, 'tgl_pelantikan')" ng-model="form.tgl_pelantikan"
                                               placeholder="Tanggal Pelantikan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Habis Jabatan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_habis_masa_jabatan"
                                               ng-click="toggle($event, 'tgl_habis_masa_jabatan')" ng-model="form.tgl_habis_masa_jabatan"
                                               placeholder="Tanggal Habis Masa Jabatan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Ttd</label>
                                <div class="col-sm-6">
                                    <div style="overflow: hidden;text-align: center;background-color: #eee; height: 125px;">
                                        <img class="img img-responsive img-produk img-thumbnail"
                                             data-ng-src="data:image/png;base64,{{form.ttd.base64}}" id="logo"
                                             ng-if="!!form.ttd.base64" style="height: 125px !important;"/>
                                        <img class="img img-responsive img-produk img-thumbnail" id="logo"
                                             ng-if="form.ttd.length > 0 && !form.ttd.base64"
                                             ng-src="api/file/ttd/{{form.ttd}}" style="height: 125px !important;"/>
                                        <img class="img img-responsive img-produk img-thumbnail" id="logo"
                                             ng-if="!form.ttd" ng-src="img/no-image-ttd.png"
                                             style="height: 125px !important;"/>

                                        <a ng-if="!is_ttd" uib-tooltip="Hapus Ttd"
                                           ng-click="removeTtdCreate(form.ttd)"
                                           style="position: absolute;right: 20px">
                                            <i class="btn btn-danger fa fa-trash"></i>
                                        </a>

                                        <a ng-if="is_ttd" uib-tooltip="Hapus Ttd"
                                           ng-click="remove(form.id, form.ttd)"
                                           style="position: absolute;right: 20px">
                                            <i class="btn btn-danger fa fa-trash"></i>
                                        </a>
                                    </div>
                                    <div class="fileUploadr btn btn-primary edit text-center" ng-if="!is_view"
                                         style="text-align: center;;width: 100%;">
                                        <input accept="image/*" base-sixty-four-input="" class="upload"
                                               ng-model="form.ttd" type="file" ng-disabled="is_view"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek  <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
