<div class="animated fadeIn">
    <div ng-controller="lcustomerCtrl">
        <div class="card">
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   ng-model="filter.nama" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Cari Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"
                                                               repeat="val in listNama">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <button class="btn btn-danger btn-sm"
                                                ng-click="remove();">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    No KK
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="filter.no_kk"
                                           placeholder="No. KK"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    NIK
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="filter.nik"
                                           placeholder="Nomor Induk Kependudukan"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Sumber
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="filter.sumber"
                                               uib-btn-radio="'semua'">
                                            <i class="fa fa-check" ng-if="filter.sumber == 'semua'"></i>
                                            Semua
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="filter.sumber"
                                               uib-btn-radio="'blt'">
                                            <i class="fa fa-check" ng-if="filter.sumber == 'blt'"></i>
                                            BLT Pusat
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="filter.sumber"
                                               uib-btn-radio="'bpnt'">
                                            <i class="fa fa-check" ng-if="filter.sumber == 'bpnt'"></i>
                                            BPNT
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="filter.sumber"
                                               uib-btn-radio="'bpntd'">
                                            <i class="fa fa-check" ng-if="filter.sumber == 'bpntd'"></i>
                                            BPNTD
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="filter.sumber"
                                               uib-btn-radio="'burekol'">
                                            <i class="fa fa-check" ng-if="filter.sumber == 'burekol'"></i>
                                            BUREKOL
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="filter.sumber"
                                               uib-btn-radio="'pkh'">
                                            <i class="fa fa-check" ng-if="filter.sumber == 'pkh'"></i>
                                            PKH
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="filter.sumber"
                                               uib-btn-radio="'bltdd'">
                                            <i class="fa fa-check" ng-if="filter.sumber == 'bltdd'"></i>
                                            BLT DD
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Jalan / Dusun
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="filter.dusun" theme="bootstrap"
                                               on-select="getRw(filter.dusun.id)">
                                        <ui-select-match placeholder="Pilih Dusun">
                                            {{$select.selected.dusun}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDusun | filter : $select.search">
                                            {{value.dusun}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    RW
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="filter.dusun == undefined"
                                               ng-model="filter.rw" theme="bootstrap" on-select="getRt(filter.rw.id)">
                                        <ui-select-match placeholder="Pilih RW">
                                            {{$select.selected.rw}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listRw | filter : $select.search">
                                            {{value.rw}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    RT
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="filter.rw == undefined"
                                               ng-model="filter.rt" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih RT">
                                            {{$select.selected.rt}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listRt | filter : $select.search">
                                            {{value.rt}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>


                        <!--                        <div class="col-md-4">-->
                        <!--                            <div class="form-group row">-->
                        <!--                                <label class="col-sm-3 col-form-label-sm">-->
                        <!--                                    Nama-->
                        <!--                                </label>-->
                        <!--                                <div class="col-sm-9">-->
                        <!--                                    <input type="text" class="form-control form-control-sm" ng-model="filter.nama"-->
                        <!--                                           placeholder="Nama"/>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-4">-->
                        <!--                            <div class="form-group row">-->
                        <!--                                <label class="col-sm-3 col-form-label-sm">-->
                        <!--                                    No KK-->
                        <!--                                </label>-->
                        <!--                                <div class="col-sm-9">-->
                        <!--                                    <input type="text" class="form-control form-control-sm" ng-model="filter.no_kk"-->
                        <!--                                           placeholder="No. KK"/>-->
                        <!--                                </div>-->
                        <!--                            </div>-->

                        <!--                        </div>-->
                        <!--                        <div class="col-md-4">-->
                        <!--                            <div class="form-group row">-->
                        <!--                                <label class="col-sm-3 col-form-label-sm">-->
                        <!--                                    DUSUN-->
                        <!--                                </label>-->
                        <!--                                <div class="col-sm-9">-->
                        <!--                                    <input type="text" class="form-control form-control-sm" ng-model="filter.dusun"-->
                        <!--                                           placeholder="DUSUN"/>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-4">-->
                        <!--                            <div class="form-group row">-->
                        <!--                                <label class="col-sm-3 col-form-label-sm">-->
                        <!--                                    NIK-->
                        <!--                                </label>-->
                        <!--                                <div class="col-sm-9">-->
                        <!--                                    <input type="text" class="form-control form-control-sm" ng-model="filter.nik"-->
                        <!--                                           placeholder="Nomor Induk Kependudukan"/>-->
                        <!--                                </div>-->
                        <!--                            </div>-->

                        <!--                        </div>-->
                        <!--                        <div class="col-md-4">-->
                        <!--                            <div class="form-group row">-->
                        <!--                                <label class="col-sm-3 col-form-label-sm">-->
                        <!--                                    RT-->
                        <!--                                </label>-->
                        <!--                                <div class="col-sm-9">-->
                        <!--                                    <input type="text" class="form-control form-control-sm" ng-model="filter.rt"-->
                        <!--                                           placeholder="RT"/>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-md-4">-->
                        <!--                            <div class="form-group row">-->
                        <!--                                <label class="col-sm-3 col-form-label-sm">-->
                        <!--                                    RW-->
                        <!--                                </label>-->
                        <!--                                <div class="col-sm-9">-->
                        <!--                                    <input type="text" class="form-control form-control-sm" ng-model="filter.rw"-->
                        <!--                                           placeholder="RW"/>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->


                    </div>
                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="reset_filter()" type="button">
                                    <i class="fa fa-recycle"></i> Reset Filter
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="view(0, 0)">
                                    <i class="fa fa-eye"></i> Tampilkan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body" ng-if="is_view">
                <!--<div class="card-body" ">-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-outline-primary btn-sm" ng-click="view(0, 1)"
                                    ng-disabled="!is_view">
                                <i class="fa fa-print"></i> Print
                            </button>
                            <button type="button" class="btn btn-outline-green btn-sm" ng-click="view(1, 0)"
                                    ng-disabled="!is_view">
                                <i class="far fa-file-excel"></i> Export Excel
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <hr/>
                    </div>
                </div>
                <div class="row" id="print">
                    <!--<div class="col-md-2">-->
                    <!--<div class="text-center" style="border: 1px solid;height: 100px">-->
                    <!--logo-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-10">
                        <h4 class="no-mp font-weight-bold"><u>LAPORAN STATUS BANTUAN</u></h4>
                        <h5 class="no-mp"><b>Dusun</b> : {{ filter.dusun.dusun}}</h5>
                        <h5 class="no-mp"><b>RT</b> : {{ filter.rt.rt}}</h5>
                        <h5 class="no-mp"><b>RW</b> : {{ filter.rw.rw}}</h5>
                        <h5 class="no-mp text-capitalize"><b>SUMBER</b> : {{ filter.sumber}}</h5>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-laporan" style="margin: 0"
                                   st-safe-src="listCustomer" st-table="list">
                                <thead>
                                <tr class="align-center">
                                    <th style="background-color: #ececec" rowspan="2">No.</th>
                                    <th style="background-color: #ececec" rowspan="2">Nama</th>
                                    <th style="background-color: #ececec" rowspan="2">KK</th>
                                    <th style="background-color: #ececec" rowspan="2">NIK</th>
                                    <th style="background-color: #ececec" rowspan="2">Tempat Lahir</th>
                                    <th style="background-color: #ececec" rowspan="2">Tgl Lahir</th>
                                    <th style="background-color: #ececec" rowspan="2">Jenis Kelamin</th>
                                    <th style="background-color: #ececec" colspan="3">Alamat</th>
                                    <!--<th style="background-color: #ececec">Tempat Lahir</th>-->
                                    <!--<th style="background-color: #ececec">Tgl. Lahir</th>-->
                                    <th style="background-color: #ececec" rowspan="2">BLT Pusat</th>
                                    <th style="background-color: #ececec" rowspan="2">BPNT</th>
                                    <th style="background-color: #ececec" rowspan="2">BPNTD</th>
                                    <th style="background-color: #ececec" rowspan="2">BUREKOL</th>
                                    <th style="background-color: #ececec" rowspan="2">PKH</th>
                                    <th style="background-color: #ececec" rowspan="2">BLT DD</th>
                                </tr>
                                <tr class="align-center">
                                    <th style="background-color: #ececec">Jalan / Dusun</th>
                                    <th style="background-color: #ececec">RW</th>
                                    <th style="background-color: #ececec">RT</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in dataLaporan" class="align-center">

                                    <td class="align-center text-capitalize">{{ $index + 1}}</td>
                                    <td>
                                        <span ng-if="row.penduduk.nama != undefined">{{ row.penduduk.nama}}</span>
                                        <span ng-if="row.penduduk.nama == undefined">{{ row.nama}}</span>
                                        <i class="fa fa-info-circle" uib-tooltip="{{row.alamat}}"
                                           ng-if="row.jalan == null"></i></td>
                                    <td>{{ row.no_kk}}</td>
                                    <td>{{ row.no_nik}}</td>
                                    <td>{{ row.tempat_lahir}}</td>
                                    <td>{{ row.ttl}}</td>
                                    <td>{{ row.jenis_kelamin}}</td>
                                    <td>{{ row.jalan}}</td>
                                    <td>{{ row.rw}}</td>
                                    <td>{{ row.rt}}</td>
                                    <td>
                                        <span ng-if="row.blt.id != undefined">Ya</span>
                                        <span ng-if="row.blt.id == undefined">-</span>
                                    </td>
                                    <td>
                                        <span ng-if="row.bpnt.id != undefined">Ya</span>
                                        <span ng-if="row.bpnt.id == undefined">-</span>
                                    </td>
                                    <td>
                                        <span ng-if="row.bpntd.id != undefined">Ya</span>
                                        <span ng-if="row.bpntd.id == undefined">-</span>
                                    </td>
                                    <td>
                                        <span ng-if="row.burekol.id != undefined">Ya</span>
                                        <span ng-if="row.burekol.id == undefined">-</span>
                                    </td>
                                    <td>
                                        <span ng-if="row.pkh.id != undefined">Ya</span>
                                        <span ng-if="row.pkh.id == undefined">-</span>
                                    </td>
                                    <td>
                                        <span ng-if="row.bltdd.id != undefined">Ya</span>
                                        <span ng-if="row.bltdd.id == undefined">-</span>
                                    </td>
                                    <!--<td>{{ row.kode_pos}}</td>-->
                                </tr>
                                </tbody>
                                <!-- <tfoot>
                                <tr align="center">
                                    <td colspan="12">
                                        <div st-items-by-page="20" st-pagination=""
                                            st-template="tpl/common/pagination.custom.html"></div>
                                    </td>
                                </tr>
                                </tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
