<div class="animated fadeIn">
    <div ng-controller="lPenduduk">
        <div class="card">
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm w-100">
                                        <ui-select class="w-100" ng-model="form.nama" theme="bootstrap">
                                            <ui-select-match placeholder="Cari berdasarkan nama atau NIK">
                                                {{$select.selected.nama}} - {{$select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="getNama($select.search)"
                                                               repeat="vals in listNama | filter : $select.search">
                                                {{vals.nama}} - {{vals.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <button class="btn btn-sm btn-danger" ng-click="form.nama  = undefined">
                                            <i class="fa fa-trash">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    No KK
                                </label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.no_kk" theme="bootstrap">
                                        <ui-select-match placeholder="Ketik No KK">
                                            {{$select.selected.no_kk}}
                                        </ui-select-match>
                                        <ui-select-choices position="down" refresh="getKk($select.search)"
                                                           repeat="vals in listKk | filter : $select.search">
                                            {{vals.no_kk}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    NIK
                                </label>
                                <div class="col-sm-9">
                                    <ui-select ng-model="form.nik" theme="bootstrap">
                                        <ui-select-match placeholder="Ketik NIK">
                                            {{$select.selected.nik}}
                                        </ui-select-match>
                                        <ui-select-choices position="down" refresh="getNik($select.search)"
                                                           repeat="vals in listNik | filter : $select.search">
                                            {{vals.nik}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Jenis Kelamin
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis_kelamin"
                                               uib-btn-radio="'semua'">
                                            <i class="fa fa-check" ng-if="form.jenis_kelamin == 'semua'"></i>
                                            Semua
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis_kelamin"
                                               uib-btn-radio="'LK'">
                                            <i class="fa fa-check" ng-if="form.jenis_kelamin == 'LK'"></i>
                                            Laki-Laki
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis_kelamin"
                                               uib-btn-radio="'PR'">
                                            <i class="fa fa-check" ng-if="form.jenis_kelamin == 'PR'"></i>
                                            Perempuan
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Limit Data
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.limit"
                                           placeholder="Limit Data"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Jalan / Dusun
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="form.dusun" theme="bootstrap"
                                                on-select="getRw(form.dusun.id)">
                                        <ui-select-match placeholder="Pilih Dusun">
                                            {{$select.selected.dusun}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listDusun | filter : $select.search">
                                            {{value.dusun}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    RW
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="form.dusun == undefined"
                                               ng-model="form.rw" theme="bootstrap" on-select="getRt(form.rw.id)">
                                        <ui-select-match placeholder="Pilih RW">
                                            {{$select.selected.rw}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listRw | filter : $select.search">
                                            {{value.rw}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    RT
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-disabled="form.rw == undefined"
                                               ng-model="form.rt" theme="bootstrap">
                                        <ui-select-match placeholder="Pilih RT">
                                            {{$select.selected.rt}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listRt | filter : $select.search">
                                            {{value.rt}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="reset_filter()" type="button">
                                    <i class="fa fa-recycle"></i> Reset form
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="view(0, 0,form)">
                                    <i class="fa fa-eye"></i>Tampilkan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body" ng-show="is_view">
                <!--<div class="card-body" >-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group pull-left" role="group">
                            <span class="mr-3">Jumlah Total : {{total}}</span>
                            <span class="mr-3">Kepala Keluarga : {{kepala_keluarga}}</span>
                            <span class="mr-3">Laki - laki : {{lk}}</span>
                            <span>Perempuan : {{pr}}</span>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-outline-primary btn-sm" ng-click="view(0, 1,form)"
                                    ng-disabled="!is_view">
                                <i class="fa fa-print"></i> Print
                            </button>
                            <button type="button" class="btn btn-outline-green btn-sm" ng-click="view(1, 0,form)"
                                    ng-disabled="!is_view">
                                <i class="far fa-file-excel"></i> Export Excel
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 col-print text-center">
                        <h2 class="no-mp font-weight-bold"><u>LAPORAN DATA PENDUDUK
                            {{filter_tampil.desa | uppercase}}</u></h2>
                    </div>
                    <div class="col-lg-12">
                        <hr/>
                    </div>
                </div>
                <!--                {{dataLaporan}}-->
                <div class="row" id="print">
                    <!--<div class="col-md-2">-->
                    <!--<div class="text-center" style="border: 1px solid;height: 100px">-->
                    <!--logo-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-laporan" style="margin: 0"
                                   st-safe-src="listCustomer" st-table="list">
                                <thead>
                                <tr class="align-center">
                                    <th style="background-color: #ececec" rowspan="2">No.</th>
                                    <th style="background-color: #ececec" rowspan="2">No. KK</th>
                                    <th style="background-color: #ececec" rowspan="2">NIK</th>
                                    <th style="background-color: #ececec" rowspan="2">Nama</th>
                                    <th style="background-color: #ececec" rowspan="2">Tempat Lahir</th>
                                    <th style="background-color: #ececec" rowspan="2">Tanggal Lahir</th>
                                    <th style="background-color: #ececec" rowspan="2">Status Perkawinan</th>
                                    <th style="background-color: #ececec" rowspan="2">Jenis Kelamin</th>
                                    <th style="background-color: #ececec" colspan="4">Alamat</th>
                                    <!--<th style="background-color: #ececec" rowspan="2">Jenis Kelamin</th>-->
                                </tr>
                                <tr class="align-center">
                                    <th style="background-color: #ececec">Desa</th>
                                    <th style="background-color: #ececec">Jalan / Dukuh</th>
                                    <th style="background-color: #ececec">RT</th>
                                    <th style="background-color: #ececec">RW</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading">
                                <tr ng-repeat="val in dataLaporan" class="align-center">
                                    <td class="align-center text-capitalize">{{ $index + 1}}</td>
                                    <td>{{ val.p_no_kk}}</td>
                                    <td>{{ val.p_nik}}</td>
                                    <td>{{ val.p_nama}}</td>
                                    <td>{{ val.p_tempat_lahir}}</td>
                                    <td>{{ val.p_tgl_lahir}}</td>
                                    <td>{{ val.p_status}}</td>
                                    <td ng-if="val.p_jk == 'LK'">
                                        Laki-laki
                                    </td>
                                    <td ng-if="val.p_jk == 'PR'">
                                        Perempuan
                                    </td>
                                    <td>{{ val.p_desa}}</td>
                                    <td>{{ val.p_dusun}}</td>
                                    <td>{{ val.p_rt}}</td>
                                    <td>{{ val.p_rw}}</td>

                                </tr>
                                </tbody>
                                <!-- <tfoot>
                                <tr align="center">
                                    <td colspan="12">
                                        <div st-items-by-page="20" st-pagination=""
                                            st-template="tpl/common/pagination.custom.html"></div>
                                    </td>
                                </tr>
                                </tfoot> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
