<div class="animated fadeIn">
    <div ng-controller="mdesaCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Desa</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px" >
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Desa
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Desa"
                                           st-search="m_desa.desa"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Telepon
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Telepon"
                                           st-search="m_desa.telepon"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Email
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan Email"
                                           st-search="m_desa.email"/>
                                </div>
                            </div>
<!--                            <div class="form-group row ">-->
<!--                                <label class="col-sm-3 col-form-label-sm mb-0">-->
<!--                                    Status-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <select class="form-control form-control-sm"-->
<!--                                            st-search="m_desa.is_deleted">-->
<!--                                        <option value="0">-->
<!--                                            Aktif-->
<!--                                        </option>-->
<!--                                        <option value="1">-->
<!--                                            Terhapus-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Kode</th>
                            <th class="align-left">Desa</th>
                            <th class="align-left">Kecamatan</th>
                            <th class="align-left">Telepon</th>
                            <th class="align-left">Email</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.kode}}</td>
                            <td class="align-left">{{ row.desa}}</td>
                            <td class="align-left">{{ row.nama_kecamatan}}</td>
                            <td class="align-left">{{ row.telepon}}</td>
                            <td class="align-left">{{ row.email}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                             ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                             ng-click="delete(row);"></button>
<!--                                    <button type="button" class="btn btn-warning fa fa-recycle btn-sm"-->
<!--                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>-->
<!--                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"-->
<!--                                            ng-click="delete(row);" ng-if="row.is_deleted == 1"></button>-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kode
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm angka align-left"
                                           ng-model="form.kode" maxlength="45" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                                <div class="col-sm-9">
                                    <ui-select class="ui-select-sm ui-select-container"
                                               ng-model="form.kecamatan" theme="bootstrap" style="width: 100%">
                                        <ui-select-match placeholder="Masukkan 3 Karakter">
                                            <b>{{ $select.selected.kecamatan}}</b> - {{ $select.selected.kabupaten}}
                                        </ui-select-match>
                                        <ui-select-choices position="down" refresh="getKecamatanWithKabupaten($select.search,null,null,'search')"
                                                           repeat="val in listKecamatanWithKabupaten">
                                            <b>{{ val.kecamatan}}</b> - {{ val.kabupaten}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Desa</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.desa"
                                           maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Telepon</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm angka align-left"
                                           ng-model="form.telepon" maxlength="45" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.email"
                                           maxlength="45" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
