<style type="text/css">
    {% include 'css/surat-jual-beli.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
{#            <div>#}
{#                {% if model.kop.kop_surat != null %}#}
{#                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">#}
{#                {% endif %}#}
{#            </div>#}
            <p class="nama-surat">Surat Keterangan Kepemilikan Tanah</p>
            <br>

            <div style="padding-left: 20px;padding-right: 20px">
                Yang bertanda tangan di bawah ini :
                <table style="margin-left: 20px;">
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Nama</td>
                        <td>:</td>
                        <td>{{ model.ttd.nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Umur</td>
                        <td>:</td>
                        <td>{{ model.ttd.umur }} Tahun</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td>{{ model.ttd.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.ttd.alamat }}</td>
                    </tr>
                </table>

                <br>
                Dengan ini menyatakan bahwa :

                <table style="margin-left: 32px; width: 100%;">
                    <tr>
                        <td style="width: 150px" colspan="3" class="non-capitalize">Sebidang tanah berupa Tanah Adat/Tanah Kas Desa yang terdaftar dengan :</td>
                    </tr>
                    <tr>
                        <td width="20%">Jalan/Blok</td>
                        <td width="2%">:</td>
                        <td>{{ model.jalan }}</td>
                    </tr>
                    <tr>
                        <td>Kohir/C No/Sertifikat</td>
                        <td>:</td>
                        <td>{{ model.no_sertifikat }}</td>
                    </tr>
                    <tr>
                        <td>Persil</td>
                        <td>:</td>
                        <td>{{ model.persil }}</td>
                    </tr>
                    <tr>
                        <td>Kelas</td>
                        <td>:</td>
                        <td>{{ model.kelas }}</td>
                    </tr>
                    <tr>
                        <td>Luas</td>
                        <td>:</td>
                        <td>{{ model.luas }} M<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Letak Tanah</td>
                        <td>:</td>
                        <td>{{ model.letak_tanah }}</td>
                    </tr>
                </table>

                <br>
                Dengan batas-batasnya sebelah :

                <table style="margin-left: 32px; width: 100%;">
                    <tr>
                        <td width="20%">Utara</td>
                        <td width="2%">:</td>
                        <td>{{ model.batas_utara }}</td>
                    </tr>
                    <tr>
                        <td>Timur</td>
                        <td>:</td>
                        <td>{{ model.batas_timur }}</td>
                    </tr>
                    <tr>
                        <td>Selatan</td>
                        <td>:</td>
                        <td>{{ model.batas_selatan }}</td>
                    </tr>
                    <tr>
                        <td>Barat</td>
                        <td>:</td>
                        <td>{{ model.batas_barat }}</td>
                    </tr>
                </table>

                <br>
                Pemilik tanah / pemegang hak atas tanah tersebut adalah :

                <table style="margin-left: 32px; width: 100%;">
                    <tr>
                        <td width="20%">Nama</td>
                        <td width="2%">:</td>
                        <td><b>{{ model.penduduk.nama }}</b> {% if model.penduduk.id == 0 %} (Balai Desa) {% endif %}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.penduduk.alamat }}</td>
                    </tr>
                </table>
                <br>

                {{ model.keterangan | raw }}

                <p>Demikian surat keterangan ini dibuat dengan sesungguhnya untuk dapat dipergunakan seperlunya</p>

                <p style="text-align: right;">{{ model.ttd.desa }} : {{ model.tgl_pembuatan }}</p>

                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 70%">
                            <table width="100%">
                                <tr>
                                    <td colspan="6" style="padding-bottom: 0px;"><p>Saksi-saksi</p></td>
                                </tr>
                                {% for i,val in detail_saksi %}
                                    <tr>
                                        <td width="2%">{{ i+1 }}.</td>
                                        <td style="text-align: justify;">{{ val.nama }}</td>
                                        <td style="text-align: justify;">{{ val.jabatan }}</td>
                                        <td style="text-align: justify;" width="10%">{{ ((i) %2 == 0) ? i+1 : "" }}</td>
                                        <td style="text-align: justify;" width="10%">{{ ((i) %2 != 0) ? i+1 : "" }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td align="center" style="width: 30%;text-transform: capitalize">
                            Mengetahui <br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}
                            {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama"><u>{{ model.ttd.nama }}{{ model.ttd.gelar }}</u></span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
