<div class="animated fadeIn">
    <div ng-controller="linventarisCtrl">
        <div class="card">
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm ">
                                    Jenis Barang
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100" ng-model="form.barang" theme="bootstrap"
                                               ng-disabled="is_view"
                                               on-select="getData(form.barang.id)">
                                        <ui-select-match placeholder="Pilih Jenis Barang">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listBarang | filter : $select.search">
                                            {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm ">
                                    APB Desa
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100" ng-model="form.apb_desa" theme="bootstrap"
                                               ng-disabled="form.barang == undefined || is_view">
                                        <ui-select-match placeholder="Pilih APB Desa">
                                            {{$select.selected.apb_desa}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listApb | filter : $select.search">
                                            {{value.apb_desa}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">
                                    Kekayaan Asli Desa
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100" ng-model="form.kekayaan" theme="bootstrap"
                                               ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Kekayaan Asli Desa">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listBarang | filter : $select.search">
                                            {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">
                                    Perolehan Lain Yang Sah
                                </label>
                                <div class="col-sm-8">
                                    <ui-select class="w-100" ng-model="form.perolehan_lain" theme="bootstrap"
                                               ng-disabled="form.barang == undefined || is_view">
                                        <ui-select-match placeholder="Perolehan Lain Yang Sah">
                                            {{$select.selected.perolehan_lain}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="value in listPerolehanLain | filter : $select.search">
                                            {{value.perolehan_lain}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm">
                                    Tahun
                                </label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control form-control-sm" datepicker-options="options_min"
                                               is-open="opened.tgl_perolehan" ng-click="toggle($event, 'tgl_perolehan')"
                                               ng-model="filter.tgl_perolehan" type="text" uib-datepicker-popup="yyyy"
                                               min-mode="year" ng-disabled="is_view"/>
                                        <div class="input-group-text" ng-click="toggle($event, 'tgl_perolehan')">
                                            <i class="far fa-calendar-alt">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="reset_filter()" type="button">
                                    <i class="fa fa-recycle"></i> Reset Filter
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="view(0, 0)">
                                    <i class="fa fa-eye"></i> Tampilkan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body" ng-if="is_view">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-outline-primary btn-sm" ng-click="view(0, 1)"
                                    ng-disabled="!is_view">
                                <i class="fa fa-print"></i> Print
                            </button>
                            <button type="button" class="btn btn-outline-green btn-sm" ng-click="view(1, 0)"
                                    ng-disabled="!is_view">
                                <i class="far fa-file-excel"></i> Export Excel
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <hr/>
                    </div>
                </div>
                <center>
                    <h4 class="font-weight-bold">LAPORAN INVENTARIS ASET DESA<br>
                        TAHUN {{ filter | date:'yyyy' }}
                    </h4>
                </center>
                <div class="row" id="print">
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-laporan" style="margin: 0"
                                   st-safe-src="listCustomer" st-table="list">
                                <thead>
                                <tr class="align-center">
                                    <th style="background-color: #ececec" rowspan="2">No.</th>
                                    <th style="background-color: #ececec" rowspan="2">Jenis Barang</th>
                                    <th style="background-color: #ececec" rowspan="2">Kode Barang</th>
                                    <th style="background-color: #ececec" rowspan="2">Jumlah</th>
                                    <th style="background-color: #ececec" rowspan="2">Total</th>
                                    <th style="background-color: #ececec" rowspan="2">Identitas Barang</th>
                                    <th style="background-color: #ececec" colspan="3">Asal Usul Barang</th>
                                    <th style="background-color: #ececec" rowspan="2">Tanggal Perolehan/Pembelian</th>
                                    <th style="background-color: #ececec" rowspan="2">Ket</th>
                                </tr>
                                <tr class="align-center">
                                    <th style="background-color: #ececec">Kekayaan Asli Desa</th>
                                    <th style="background-color: #ececec">APB Desa</th>
                                    <th style="background-color: #ececec">Perolehan lain yang sah</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading" ng-repeat="row in dataLaporan">
                                <tr ng-repeat="vals in row.listDetail" class="align-center">
                                    <td rowspan="{{vals.cols}}" ng-if="vals.cols > 0">{{ vals.urutan }}</td>
                                    <td rowspan="{{vals.cols}}" ng-if="vals.cols > 0">{{ row.nama }}</td>
                                    <td rowspan="{{vals.cols}}" ng-if="vals.cols > 0">{{ row.kode }}</td>
                                    <td>{{ vals.jumlah }}</td>
                                    <td rowspan="{{vals.cols}}" ng-if="vals.cols > 0">{{ row.total }}</td>
                                    <td>{{ vals.identitas }}</td>
                                    <td>{{ vals.kekayaan }}</td>
                                    <td>{{ vals.apb_desa }}</td>
                                    <td>{{ vals.perolehan_lain }}</td>
                                    <td>{{ vals.tgl_perolehan }}</td>
                                    <td>{{ vals.keterangan }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>