<div ng-controller="loginCtrl">
    <!-- <div class="app"> -->
    <div class="app flex-row align-items-center" style="background-color: #f2f2f2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header bg-primary w-100 h-50" style="padding: 0px">
                            <div class="col-xs-7" style="padding-top: 25px">
                                <h5 ng-if="isForgotPassword" class="my-auto" style="padding-top: 17px">Lupa Kata Sandi ?</h5>
                                <h5 ng-if="!isForgotPassword" class="my-1">Welcome To SIDESA !</h5>
                                <p ng-if="!isForgotPassword" class="my-1">Sign in to continue<br/>After push with ci/di</p>
                            </div>
                            <div class="col-xs-5">
                                <img class="img-responsive" src="img/profile-img.png" width="100%">
                            </div>
                        </div>
                        <div class="card-body">
                            <form ng-submit="login(form)" ng-if="!isForgotPassword">
                                <div class="text-center">
                                    <img src="img/logo-new.png" width="175">
                                    <hr class="pb-1" style="max-width: 120px"/>
                                </div>

                                <div class="form-group">
                                    <label class="mb-2">Username</label>
                                    <input type="text" class="form-control rounded"
                                           placeholder="Username"
                                           ng-model="form.username"/>
                                </div>

                                <label class="mb-2">Password</label>
                                <div class="input-group">
                                    <input type="password" id="password" class="form-control rounded-left"
                                           placeholder="Password"
                                           ng-model="form.password"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-right">
                                            <i id="show-password" class="zmdi fa fa-eye"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="input-group mt-4">
                                    <button type="submit" class="form-control bg-primary rounded">
                                        Log In
                                    </button>
                                </div>
                            </form>

                            <div class="text-center mt-4" ng-if="!isForgotPassword">
                                <button type="button" ng-click="forgotPassword(true)"><span>Lupa Kata Sandi?</span></button>
                            </div>

                            <form ng-submit="checkEmail(form)" ng-if="isForgotPassword">
                                <div class="form-group">
                                    Masukkan alamat email yang Anda gunakan dan kami akan mengirimkan instruksi untuk mengatur ulang kata sandi Anda.
                                </div>

                                <div class="form-group">
                                    <label class="mb-2">Email</label>
                                    <input type="email" class="form-control rounded"
                                           placeholder="Email"
                                           ng-model="form.email"/>
                                </div>

                                <div class="form-group">
                                    Sudah Ingat ? <a href="#" ng-click="forgotPassword(false)" style="color:#2C8DA2;">Login</a>

                                    <button type="submit" class="form-control btn-sm bg-primary float-right rounded col-md-3">
                                        Reset
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
