login.html<div ng-controller="loginCtrl">
    <!-- <div class="app"> -->
    <div class="app flex-row align-items-center" style="background-color: #f2f2f2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card-group">
                        <div class="card-login" style="width: 100%">
                            <div class="card-body" style="padding: 0px">
                                <div class="limiter">
                                    <div class="container-login100">
                                        <div class="wrap-login100">
                                            <form class="login100-form validate-form" ng-submit="login(form)">
                                                <span class="login100-form-title ">
                                                    <img src="img/sidesa.png" width="83%">
                                                </span>
<!--                                                <h2 class="text-center" style="color: #437abf;font-weight: bold">DESA CAMPUREJO</h2>-->
<!--                                                <h2 class="text-center" style="color: #437abf;font-weight: bold">SIDESA</h2>-->
<!--                                                <span class="login100-form-title pb-3">Information Management System</span>-->
                                                <hr class="pb-3" style="max-width: 100px"/>
                                                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                                                    <input class="input100" type="text" name="email" ng-model="form.username">
                                                    <span class="focus-input100" data-placeholder="Username"></span>
                                                </div>
                                                <div class="wrap-input100 validate-input" data-validate="Enter password">
                                                    <span class="btn-show-pass">
                                                        <i id="show-password" class="zmdi fa fa-eye"></i>
                                                    </span>
                                                    <input id="password" class="input100" type="password" name="pass" ng-model="form.password">
                                                    <span class="focus-input100" data-placeholder="Password"></span>
                                                </div>
                                                <div class="container-login100-form-btn">
                                                    <div class="wrap-login100-form-btn">
                                                        <div class="login100-form-bgbtn"></div>
                                                        <button type="submit" class="login100-form-btn" ng-click="login(form)">
                                                            Login
                                                        </button>
                                                    </div>
                                                </div>
<!--                                                <div class="text-center pt-5">-->
<!--                                                    <span class="txt1">-->
<!--                                                        Don’t have an account?-->
<!--                                                    </span>-->
<!--                                                    <a class="txt2" href="#">-->
<!--                                                        Sign Up-->
<!--                                                    </a>-->
<!--                                                </div>-->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="dropDownSelect1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
