<div ng-controller="resetPasswordCtrl">
    <!-- <div class="app"> -->
    <div class="app flex-row align-items-center" style="background-color: #f2f2f2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header bg-primary w-100 py-3 h-50" style="height: 60px;">
                            <h5 class="my-auto">Reset Password</h5>
                        </div>
                        <div class="card-body">
                            <form ng-submit="resetPassword(form)">
                                <div class="text-center">
                                    <img src="img/sidesa.png" width="150" height="60">
                                    <hr class="pb-1" style="max-width: 120px"/>
                                </div>

                                <label class="mb-2">Password</label>
                                <div class="input-group">
                                    <input type="password" id="password" class="form-control rounded-left"
                                           placeholder="Password"
                                           ng-model="form.password"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-right">
                                            <i id="show-password" class="zmdi fa fa-eye"></i>
                                        </span>
                                    </div>
                                </div>

                                <label class="mt-4 mb-2">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" id="confirm" class="form-control rounded-left"
                                           placeholder="Confirm Password"
                                           ng-model="form.confirm"/>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-right" ng-click="showPassword()">
                                            <i id="show-confirm" class="zmdi fa fa-eye"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="input-group mt-4">
                                    <button type="submit" class="form-control bg-primary rounded">
                                        Reset
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
