<div class="animated fadeIn">
    <div ng-controller="tvaksinCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Vaksin</strong><span class="mr-3"> ( {{total}} Orang )</span><br>

                <div class="pull-left mt-3" role="group">
                    <p ng-repeat="rows in gelombang" class="mb-1">Gelombang {{rows.gelombang}} : {{rows.jumlah}} Orang</p>
                </div>

                <div class="btn-group pull-right mt-5px" role="group">
<!--                    <button type="button" class="btn btn-success btn-sm" ng-click="export()">-->
<!--                        <i class="far fa-file-excel"></i> Export Excel-->
<!--                    </button>-->
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-1 col-form-label-sm mb-0">NIK</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_penduduk.nik" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan NIK"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_penduduk.nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Nama"/>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Tahap</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="tahap">
                                                <option value="">Semua</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Vaksin</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="t_vaksin.is_vaksin">
                                                <option value="">Semua</option>
                                                <option value="1">Sudah</option>
                                                <option value="0">Belum</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Rw</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_rw.rw" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Rw"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Rt</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_rt.rt" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Rt"/>
                                        </div>


                                        <label class="col-sm-1 col-form-label-sm mb-0">Dusun</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_dusun.dusun" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Dusun"/>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Follow Up</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="t_vaksin.is_follow_up">
                                                <option value="">Semua</option>
                                                <option value="1">Sudah</option>
                                                <option value="0">Belum</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width: 50px" class="align-center">Gelombang</th>
<!--                            <th style="width: 100px" class="align-center">No Urut</th>-->
                            <th class="align-left">NIK</th>
                            <th class="align-left">Nama</th>
                            <th class="align-center">No Handphone</th>
                            <th class="align-center">Rw</th>
                            <th class="align-center">Rt</th>
                            <th class="align-center">Dusun</th>
                            <th class="align-center">Tahap</th>
                            <th class="align-center">Vaksin</th>
                            <th class="align-center">Tanggal Vaksin</th>
                            <th class="align-center">Follow Up</th>
                            <th class="align-center">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-center">
                                <input ng-blur="updateGelNo(row.id, row.gelombang, row.no_urut)" type="text"
                                       class="form-control form-control-sm text-center" ng-model="row.gelombang"
                                       maxlength="255" ng-disabled="is_view"/>
                            </td>
<!--                            <td class="align-center">-->
<!--                                <input ng-blur="updateGelNo(row.id, row.gelombang, row.no_urut)" type="text"-->
<!--                                       class="form-control form-control-sm text-center" ng-model="row.no_urut"-->
<!--                                       maxlength="255" ng-disabled="is_view"/>-->
<!--                            </td>-->
                            <td class="align-left">{{ row.nik}}</td>
                            <td class="align-left">{{ row.penduduk.nama}}</td>
                            <td class="align-center">{{ row.no_hp}}</td>
                            <td class="align-center">{{ row.rw}}</td>
                            <td class="align-center">{{ row.rt}}</td>
                            <td class="align-center">{{ row.dusun}}</td>
                            <td class="align-center">{{ row.tahap}}</td>
                            <td class="text-center">
                                <span class="badge badge-success badge-pill capitalize"
                                      ng-if="row.is_vaksin != 0">Sudah</span>
                                <span class="badge badge-danger badge-pill capitalize"
                                      ng-if="row.is_vaksin == 0">Belum</span>
                            </td>

                            <td class="align-center">{{ row.is_vaksin == 1 ? row.tgl_vaksin : '-'}}</td>
                            <td class="text-center">
                                <span uib-tooltip="Klik untuk update status" ng-click="updateGelNo(row.id, row.gelombang, row.no_urut, row.is_follow_up)" class="badge badge-success badge-pill capitalize"
                                      ng-if="row.is_follow_up != 0">Sudah</span>
                                <span uib-tooltip="Klik untuk update status" ng-click="updateGelNo(row.id, row.gelombang, row.no_urut, row.is_follow_up)" class="badge badge-danger badge-pill capitalize"
                                      ng-if="row.is_follow_up == 0">Belum</span>
                            </td>
                            <td class="align-center">{{ row.created_at * 1000 | date:'d MMMM yyyy'}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button"
                                            class="btn btn-success fab fa-whatsapp btn-sm"
                                            ng-click="whatsapp(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row)"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="200" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Nama
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   ng-model="form.penduduk" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"
                                                               repeat="val in listNama">
                                                {{ val.nama}} - {{ val.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No. Handphone</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_hp"
                                           maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Tahap</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.tahap"
                                               uib-btn-radio="2">
                                            <i class="fa fa-check" ng-if="form.tahap == 2">
                                            </i>
                                            2
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.tahap"
                                               uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.tahap == 1">
                                            </i>
                                            1
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Status Vaksin</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_vaksin"
                                               uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.is_vaksin == 1">
                                            </i>
                                            Sudah
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_vaksin"
                                               uib-btn-radio="0">
                                            <i class="fa fa-check" ng-if="form.is_vaksin == 0">
                                            </i>
                                            Belum
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="form.is_vaksin == 1">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Vaksin</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_vaksin"
                                               ng-click="toggle($event, 'tgl_vaksin')" ng-model="form.tgl_vaksin"
                                               placeholder="Tanggal Vaksin" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
