<div class="animated fadeIn">
    <div ng-controller="jabatanCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Master Jabatan</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Level</label>
                                        <div class="col-sm-2">
                                            <input st-search="level" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan level"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                        <tr>
                            <th class="align-left">Desa</th>
                            <th class="align-left">Nama</th>
                            <th class="align-left">Level</th>
                            <th class="align-left">No Urut</th>
                            <th class="align-center">Tanda Tangan</th>


                            <th></th>
                        </tr>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.nama_desa }}</td>
                            <td class="align-left">{{ row.nama }}</td>
                            <td class="align-left">{{ row.level }}</td>
                            <td class="align-left">{{ row.no_urut }}</td>
                            <td class="align-center" ng-if="row.yang_menandatangani_id == 1">
                                <span class="badge badge-success badge-pill">Ya</span>
                            <td class="align-center" ng-if="row.yang_menandatangani_id == 0">
                                <span class="badge badge-danger badge-pill">Tidak</span>

                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-sm btn-info fa fa-edit"
                                            ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                                            ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-sm btn-warning fa fa-recycle"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    <button type="button" class="btn btn-sm btn-danger fa fa-times"
                                            ng-if="row.is_deleted == 1" ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm required">-->
<!--                                    Desa-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <div class="btn-group btn-group-sm" style="width:100%">-->
<!--                                        <ui-select class="ui-select-sm ui-select-container"-->
<!--                                                   ng-disabled="is_view"-->
<!--                                                   ng-model="form.desa_id" theme="bootstrap" style="width: 100%" on-select="getJabatan(form.desa_id.id);">-->
<!--                                            <ui-select-match placeholder="Masukkan 3 Karakter Nama Desa">-->
<!--                                                <b>{{ $select.selected.desa}}</b> Kec. {{ $select.selected.nama_kecamatan}}-->
<!--                                            </ui-select-match>-->
<!--                                            <ui-select-choices position="down" refresh="getDesa($select.search)"-->
<!--                                                               repeat="val in listDesa">-->
<!--                                                <b>{{ val.desa}}</b> Kec. {{ val.nama_kecamatan}}-->
<!--                                            </ui-select-choices>-->
<!--                                        </ui-select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row ">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Atasan
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select ng-disabled="is_view" ng-model="form.parent_id" style="width: 100%;"
                                                   theme="bootstrap">
                                            <ui-select-match placeholder="Pilih Jabatan">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="val in listJabatan | filter : $select.search">
                                                {{val.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Level</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.level"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">No Urut</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_urut"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Yang Menandatangani</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.yang_menandatangani_id" uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.yang_menandatangani_id == 1">
                                            </i>
                                            Ya
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.yang_menandatangani_id" uib-btn-radio="0">
                                            <i class="fa fa-check" ng-if="form.yang_menandatangani_id == 0">
                                            </i>
                                            Tidak
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Kepala Desa</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_kepala_desa" uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.is_kepala_desa == 1">
                                            </i>
                                            Ya
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_kepala_desa" uib-btn-radio="0">
                                            <i class="fa fa-check" ng-if="form.is_kepala_desa == 0">
                                            </i>
                                            Tidak
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek  <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
