<div class="animated fadeIn">
    <div ng-controller="pesanaPkaCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">PKA & Jabatan</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <!--                    <button class="btn btn-info btn-sm" ng-click="modalCreate();">-->
                    <!--                        <i class="fa fa-plus"></i>-->
                    <!--                        &nbsp;-->
                    <!--                    </button>-->
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Uraian Kegiatan
                                </label>
                                <div class="col-sm-7">
                                    <input st-search="m_pesanan_pka.nama" class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Keterangan
                                </label>
                                <div class="col-sm-7">
                                    <input st-search="m_pesanan_pka.keterangan" class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan nama"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row ">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Status
                                </label>
                                <div class="col-sm-7">
                                    <select class="form-control form-control-sm"
                                            st-search="m_pesanan_pka.is_deleted">
                                        <option value="0">
                                            Aktif
                                        </option>
                                        <option value="1">
                                            Terhapus
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Kode Rekening</th>
                            <th class="align-left">Uraian Kegiatan</th>
                            <th class="align-left">Keterangan</th>
                            <th class="align-left">Dibuat Oleh</th>
                            <th class="align-left">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">
                                {{row.kode_rekening}}
                            </td>
                            <td class="align-left">{{ row.nama}}</td>
                            <td class="align-left">{{ row.keterangan}}</td>
                            <td class="align-left">{{ row.dibuat_oleh}}</td>
                            <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)" ng-if="row.is_deleted == 0"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="trash(row);" ng-if="row.is_deleted == 0"></button>
                                    <button type="button" class="btn btn-warning fa fa-recycle btn-sm"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);" ng-if="row.is_deleted == 1"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kode Rekening</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.kode_rekening" ng-disabled="is_view"/>
                                    <span class="badge badge-info badge-pill mt-1" style="color: #FFFFFF">Pisahkan nomor dengan "." (5.2.1.06)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Uraian Kegiatan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.nama" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Keterangan</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control form-control-sm"
                                              ng-model="form.keterangan"
                                              ng-disabled="is_view" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <h6 class="font-weight-bold capitalize">
                                Pelaksana
                            </h6>
                            <table class="table table-bordered">
                                <thead class="bg-dominan">
                                <tr>
                                <tr>
                                    <th class="align-center" style="width: 50px">
                                        <button type="button"
                                                class="btn btn-sm btn-success fa fa-plus"
                                                ng-click="addDetail(detail)"
                                                ng-disabled="is_view" uib-tooltip="Tambah"></button>
                                    </th>
                                    <th class="align-center" style="width: 300px">Nama</th>
                                    <th class="align-center">NIK</th>
                                    <th class="align-center">Jabatan</th>
                                    <th class="align-center">Alamat</th>
                                </tr>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="val in detail">
                                    <td class="align-center">
                                        <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                                                ng-click="removeDetail(detail, $index)"
                                                ng-disabled="is_view" uib-tooltip="Hapus"></button>
                                    </td>
                                    <td class="align-left">
                                        <ui-select class="ui-select-sm ui-select-container"
                                                   ng-disabled="is_view"
                                                   on-select="selectPelaksana(val.pelaksana,$index)"
                                                   ng-model="val.pelaksana" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Pilih Pelaksana">
                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"
                                                               repeat="vals in pelaksana">
                                                {{ vals.nama}} - {{ vals.nik}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td class="align-center">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-disabled="true"
                                                   ng-model="val.nik" type="text"/>
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-disabled="true"
                                                   ng-model="val.jabatan" type="text"/>
                                        </div>
                                    </td>
                                    <td class="align-center">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-sm text-center"
                                                   ng-disabled="true"
                                                   ng-model="val.alamat" type="text"/>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
