<div class="modal-header text-white" style="background-color: #2C8DA2">
    <h5 class="modal-title">Pengesahan Kutipan KK</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">
                    Nama Pemohon
                </label>
                <div class="col-sm-9">
                    <div class="btn-group btn-group-sm" style="width:100%">
                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                   ng-model="form.pemohon" theme="bootstrap"
                                   style="width: 100%">
                            <ui-select-match placeholder="Pilih Pemohon">
                                {{ $select.selected.nama }} - {{ $select.selected.shdk }}
                            </ui-select-match>
                            <ui-select-choices position="down"
                                               repeat="val in listPemohon | filter : $select.search">
                                {{ val.nama }} - {{ val.shdk }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">
                    Pejabat Penandatangan Surat
                </label>
                <div class="col-sm-9">
                    <div class="btn-group btn-group-sm" style="width:100%">
                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                   ng-model="form.yang_menandatangani_id" theme="bootstrap"
                                   style="width: 100%">
                            <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                            </ui-select-match>
                            <ui-select-choices position="down"
                                               repeat="val in listTandaTangan | filter : $select.search">
                                <b>{{ val.nama}}</b> - {{ val.jabatan}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">
                    Tambah Baris
                </label>
                <div class="col-sm-3">
                    <div class="btn-group btn-group-sm" style="width:100%">
                        <input class="form-control form-control-sm angka"
                               ng-model="form.tambahBaris" placeholder="0"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
<!--        <button type="submit" class="btn btn-danger btn-sm" button-spinner="loading"-->
<!--                ng-disabled="loading" ng-click="close()">-->
<!--            <i class="fa fa-times"></i>-->
<!--            &nbsp;Batal-->
<!--        </button>-->
        <button type="submit" class="btn btn-success btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="print()">
            <i class="fa fa-print"></i>
            &nbsp;Cetak
        </button>
<!--        <a href="api/m_penduduk_kk/print?file=kartu_keluarga&no_kk={{no_kk}}" target="_blank" class="btn btn-success fa fa-print btn-sm"> Pilih </a>-->
    </div>
</div>