<style type="text/css">
    {% include 'css/surat-undangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
            <div>
                {% if model.kop.kop_surat != null %}
                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
                {% endif %}
            </div>
{#            <p class="nama-surat">{{ model.desa }}</p>#}

            <br>
            <table style="padding-left: 40px;height: 90px;">
                <tr>
                    {# kiri #}
                    <td style="width: 70px"><p>Nomor</p></td>
                    <td>:</td>
                    <td>{{ model.no_surat }}</td>
                    {# kanan #}
                    <td style="width: 300px"></td>
{#                    <td style="width: 300px">{{ model.desa }}, {{ model.tgl_dibuat_surat }}</td>#}
                    <td><p>Kepada</p></td>
                </tr>
                <tr>
                    {# kiri #}
                    <td><p>Sifat</p></td>
                    <td>:</td>
                    <td>Penting</td>
                    {# kanan #}
                    <td></td>
                    <td><p>Yth. Bpk./Ibu : .............................</p></td>
                </tr>
                <tr>
                    {# kiri #}
                    <td><p>Perihal</p></td>
                    <td>:</td>
                    <td class="capitalize"><u><b>undangan</b></u></td>
                    <td></td>
                    <td><p style="margin-left: 100px">Di <br> &ensp;&ensp;&ensp;&ensp;&ensp;Tempat</p></td>

                </tr>
                <tr>
                    {# kiri #}
                    <td></td>
                    <td></td>
                    <td></td>
                    {# kanan #}
                    <td></td>

                </tr>
            </table>

            <br>
            <br>
            <div style="padding-left: 122px;padding-right: 20px">
                <table style="height: 120px;">
                    <tr>
                        <td colspan="3">
                            <p>Mengharap dengan hormat atas kehadiran Saudara/i besok pada :</p><br/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 150px"><p>Hari</p></td>
                        <td style="width: 5px">:</td>
                        <td>{{ model.hari }}</td>
                    </tr>
                    <tr>
                        <td><p>Tanggal</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_surat }}</td>
                    </tr>
                    <tr>
                        <td><p>Waktu</p></td>
                        <td>:</td>
                        <td>{{ model.waktu }} s/d selesai</td>
                    </tr>
                    <tr>
                        <td><p>Tempat</p></td>
                        <td>:</td>
                        <td>{{ model.tempat }}</td>
                    </tr>
                    <tr>
                        <td><p>Keperluan</p></td>
                        <td>:</td>
                        <td>{{ model.keperluan }}
                        </td>
                    </tr>
                    <tr>
                        <td><p>Keterangan</p></td>
                        <td>:</td>
                        <td>{{ model.keterangan }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <br>
                            <p style="line-height: 1.5">Demikian undangan kami sampaikan untuk menjadikan maklum dan atas kehadirannya disampaikan terima kasih.</p>
                        </td>
                    </tr>
                </table>
                <br/>

                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%;text-transform: capitalize">
                            {{ model.desa }}, {{ model.tgl_pembuatan }}<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}
                            {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}{{ model.ttd.gelar }}</span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <br>
                <p>
                    Catatan : {{ model.catatan }}
                </p>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
