<div class="animated fadeIn">
    <div ng-controller="tKawinCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Pengajuan Kawin</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row" >
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Suami
                                </label>
                                <div class="col-sm-9">
                                    <input st-search="suami_nama" class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan suami"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Istri
                                </label>
                                <div class="col-sm-9">
                                    <input st-search="istri_nama" class="form-control form-control-sm"
                                           placeholder="Cari berdasarkan nama istri"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" st-search="t_kawin.is_deleted">
                                        <option value="0">Aktif</option>
                                        <option value="1">Terhapus</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-center">No. Surat</th>
                            <th class="align-left">Suami</th>
                            <th class="align-left">Istri</th>
                            <th class="align-left">Ayah</th>
                            <th class="align-left">Ibu</th>
                            <th class="align-left">Tanggal</th>
                            <th class="align-left">Dibuat Oleh</th>
                            <th class="align-left">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-center">
                                <span uib-tooltip="{{ row.no_surat }}" tooltip-placement="right"> {{ row.no_urut }} </span>
                            </td>
                            <td class="align-left">{{ row.suami_nama}}</td>
                            <td class="align-left">{{ row.istri_nama}}</td>
                            <td class="align-left">{{ row.ayah_nama}}</td>
                            <td class="align-left">{{ row.ibu_nama}}</td>
                            <td class="align-left">{{ row.tanggal | date:'dd MMMM yyyy'}}</td>
                            <td class="align-left">{{ row.nama_pembuat}}</td>
                            <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <a uib-tooltip="Surat Pernyataan" href="api/t_kawin/print5?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-primary fa fa-print btn-sm"></a>
                                    <a uib-tooltip="Suket Wali" href="api/t_kawin/print4?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-info fa fa-print btn-sm"></a>
                                    <a uib-tooltip="Numpang Nikah" href="api/t_kawin/print3?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-danger fa fa-print btn-sm"></a>
                                    <a uib-tooltip="N3 & N4" href="api/t_kawin/print2?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-warning fa fa-print btn-sm"></a>
                                    <a uib-tooltip="N1 & N2" href="api/t_kawin/print?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-success fa fa-print btn-sm"></a>
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm" ng-if="row.is_deleted == 0"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm" ng-if="row.is_deleted == 0"
                                            ng-click="trash(row);"></button>
                                    <button type="button" class="btn btn-warning fa fa-recycle btn-sm"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    <button type="button" class="btn btn-sm btn-danger fa fa-times btn-sm"
                                            ng-if="row.is_deleted == 1" ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Nomor Surat</h6>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Format No. Surat
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="!is_create"
                                                   ng-model="form.surat_nomor" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Pilih Format Nomor Surat">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" repeat="val in listNoSurat | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.contoh}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row" ng-if="is_create">
                                <label class="col-sm-3 col-form-label-sm">No. Urut surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_urut_surat"
                                           placeholder="Otomatis jika dikosongkan"/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="!is_create">
                                <label class="col-sm-3 col-form-label-sm">No surat</label>
                                <div class="col-sm-9">
                                    <input  type="text" class="form-control form-control-sm" ng-model="form.no_surat"
                                            ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Suami
                            <button type="button" class="btn btn-sm btn-success ml-3"
                                    ng-click="modalCreate('suami')"
                                    ng-disabled="is_view">
                                <i class="fa fa-plus"></i>
                                Dari Penduduk
                            </button>
                            </h6>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.suami_nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Bin</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.suami_bin"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.suami_nik"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tempat Lahir
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.suami_tempat_lahir"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.suami_tgl_lahir"
                                               ng-click="toggle($event, 'suami_tgl_lahir')" ng-model="form.suami_tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text" ng-disabled="is_view"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kewarganegaraan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.suami_kewarganegaraan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Agama
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.suami_agama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Pekerjaan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.suami_pekerjaan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Alamat
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.suami_alamat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Istri
                                <button type="button" class="btn btn-sm btn-success ml-3"
                                        ng-click="modalCreate('istri')"
                                        ng-disabled="is_view">
                                    <i class="fa fa-plus"></i>
                                    Dari Penduduk
                                </button>
                            </h6>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.istri_nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Bin</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.istri_binti"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.istri_nik"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tempat Lahir
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.istri_tempat_lahir"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.istri_tgl_lahir"
                                               ng-click="toggle($event, 'istri_tgl_lahir')" ng-model="form.istri_tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text" ng-disabled="is_view"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kewarganegaraan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.istri_kewarganegaraan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Agama
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.istri_agama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Pekerjaan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.istri_pekerjaan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Alamat
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.istri_alamat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Kawin
                            </h6>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Yang Mengajukan</label>
                                <div class="col-sm-9">
                                    <div class="btn-group m-r">
                                        <label  uib-btn-radio="'suami'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.yang_mengajukan" required="" ng-change="getAyah(form.suami_nik_ayah); getIbu(form.suami_nik_ibu)">
                                            <i class="fas fa-check" ng-if="form.yang_mengajukan == 'suami'"></i>
                                            Suami
                                        </label>
                                        <label uib-btn-radio="'istri'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.yang_mengajukan" required="" ng-change="getAyah(form.istri_nik_ayah); getIbu(form.istri_nik_ibu)">
                                            <i class="fas fa-check" ng-if="form.yang_mengajukan == 'istri'"></i>
                                            Istri
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Status Perkawinan</label>
                                <div class="col-sm-9">
                                    <div class="btn-group m-r">
                                        <label uib-btn-radio="'jejaka'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_perkawinan" required="">
                                            <i class="fas fa-check" ng-if="form.status_perkawinan == 'jejaka'"></i>
                                            Jejaka
                                        </label>
                                        <label uib-btn-radio="'duda'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_perkawinan" required="">
                                            <i class="fas fa-check" ng-if="form.status_perkawinan == 'duda'"></i>
                                            Duda
                                        </label>
                                        <label uib-btn-radio="'perawan'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_perkawinan" required="">
                                            <i class="fas fa-check" ng-if="form.status_perkawinan == 'perawan'"></i>
                                            Perawan
                                        </label>
                                        <label uib-btn-radio="'janda'" class="btn btn-sm btn-primary"
                                               ng-disabled="is_view"
                                               ng-model="form.status_perkawinan" required="">
                                            <i class="fas fa-check" ng-if="form.status_perkawinan == 'janda'"></i>
                                            Janda
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" ng-if="form.status_perkawinan == 'duda' || form.status_perkawinan == 'janda'">
                                <label class="col-sm-3 col-form-label-sm">Nama Suami/Istri Terdahulu</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.nama_istri_suami_terdahulu"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tanggal"
                                               ng-click="toggle($event, 'tanggal')" ng-model="form.tanggal"
                                               placeholder="Tanggal" type="text" ng-disabled="is_view"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tempat
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.tempat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Ayah
                                <button type="button" class="btn btn-sm btn-success ml-3"
                                        ng-click="modalCreate('ayah')"
                                        ng-disabled="is_view">
                                    <i class="fa fa-plus"></i>
                                    Dari Penduduk
                                </button>
                            </h6>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.ayah_nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Bin</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ayah_bin"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ayah_nik"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Hubungan Wali
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control form-control-sm" ng-model="form.hubungan"
                                            ng-disabled="is_view">
                                        <option ng-value="''">- Pilih Salah Satu -</option>
                                        <option ng-value="'Ayah'">Ayah</option>
                                        <option ng-value="'Kakek'">Kakek</option>
                                        <option ng-value="'Kakek buyut'">Kakek buyut</option>
                                        <option ng-value="'Sdr. Lali laki seayah seibu'">Sdr. Lali laki seayah seibu</option>
                                        <option ng-value="'Sdr. Laki laki seayah'">Sdr. Laki laki seayah</option>
                                        <option ng-value="'Kemenakan Laki laki dari Sdr. Laki laki seayah seibu'">Kemenakan Laki laki dari Sdr. Laki laki seayah seibu</option>
                                        <option ng-value="'Kemenakan Laki laki dari Sdr. Laki laki seayah'">Kemenakan Laki laki dari Sdr. Laki laki seayah</option>
                                        <option ng-value="'Paman seayah seibu'">Paman seayah seibu</option>
                                        <option ng-value="'Paman seayah'">Paman seayah</option>
                                        <option ng-value="'Anak laki laki paman seayah seibu'">Anak laki laki paman seayah seibu</option>
                                        <option ng-value="'Anak laki laki paman seayah'">Anak laki laki paman seayah</option>
                                        <option ng-value="'Anak laki laki dari paman seayah seibu'">Anak laki laki dari paman seayah seibu</option>
                                        <option ng-value="'Anak laki laki dari paman seayah'">Anak laki laki dari paman seayah</option>
                                        <option ng-value="'Paman kakek seayah seibu'">Paman kakek seayah seibu</option>
                                        <option ng-value="'Paman kakek seayah'">Paman kakek seayah</option>
                                        <option ng-value="'Anak laki laki dari paman kakek seayah seibu'">Anak laki laki dari paman kakek seayah seibu</option>
                                        <option ng-value="'Anak laki laki dari paman kakek seayah'">Ayah</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tempat Lahir
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ayah_tempat_lahir"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.ayah_tgl_lahir"
                                               ng-click="toggle($event, 'ayah_tgl_lahir')" ng-model="form.ayah_tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text" ng-disabled="is_view"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kewarganegaraan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ayah_kewarganegaraan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Agama
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ayah_agama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Pekerjaan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ayah_pekerjaan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Alamat
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.ayah_alamat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                    </div>

<!--                    detail ibu-->

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Ibu
                                <button type="button" class="btn btn-sm btn-success ml-3"
                                        ng-click="modalCreate('ibu')"
                                        ng-disabled="is_view">
                                    <i class="fa fa-plus"></i>
                                    Dari Penduduk
                                </button>
                            </h6>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.ibu_nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Binti</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ibu_binti"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ibu_nik"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tempat Lahir
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ibu_tempat_lahir"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.ibu_tgl_lahir"
                                               ng-click="toggle($event, 'ibu_tgl_lahir')" ng-model="form.ibu_tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text" ng-disabled="is_view"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kewarganegaraan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ibu_kewarganegaraan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Agama
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ibu_agama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Pekerjaan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.ibu_pekerjaan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Alamat
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.ibu_alamat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                    </div>

<!--                    detail saksi 1-->
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Saksi 1
                                <button type="button" class="btn btn-sm btn-success ml-3"
                                        ng-click="modalCreate('saksi1')"
                                        ng-disabled="is_view">
                                    <i class="fa fa-plus"></i>
                                    Dari Penduduk
                                </button>
                            </h6>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.saksi1_nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Bin</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi1_bin"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi1_nik"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tempat Lahir
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi1_tempat_lahir"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.saksi1_tgl_lahir"
                                               ng-click="toggle($event, 'saksi1_tgl_lahir')" ng-model="form.saksi1_tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text" ng-disabled="is_view"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kewarganegaraan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi1_kewarganegaraan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Agama
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi1_agama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Pekerjaan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi1_pekerjaan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Alamat
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.saksi1_alamat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                    </div>
                    
<!--                    detail saksi 2-->

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Saksi 2
                                <button type="button" class="btn btn-sm btn-success ml-3"
                                        ng-click="modalCreate('saksi2')"
                                        ng-disabled="is_view">
                                    <i class="fa fa-plus"></i>
                                    Dari Penduduk
                                </button>
                            </h6>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.saksi2_nama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Bin</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi2_bin"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi2_nik"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tempat Lahir
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi2_tempat_lahir"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.saksi2_tgl_lahir"
                                               ng-click="toggle($event, 'saksi2_tgl_lahir')" ng-model="form.saksi2_tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text" ng-disabled="is_view"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kewarganegaraan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi2_kewarganegaraan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Agama
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi2_agama"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Pekerjaan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.saksi2_pekerjaan"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Alamat
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.saksi2_alamat"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Ttd</h6>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label-sm required">
                                    Yang Bertanda Tangan
                                </label>
                                <div class="col-sm-8">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                   ng-model="form.yang_menandatangani" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" repeat="val in listTandaTangan | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.jabatan}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Gunakan Digital TTD</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd" uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 1">
                                            </i>
                                            Ya
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd" uib-btn-radio="0">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 0">
                                            </i>
                                            Tidak
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Pembuatan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"
                                               ng-click="toggle($event, 'tgl_pembuatan')" ng-model="form.tgl_pembuatan"
                                               placeholder="Tanggal Pembuatan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
