<div class="animated fadeIn">
    <div ng-controller="msettingaplikasiCtrl">
        <div class="card mt-3">
            <div class="card-header">
                <strong>
                    Setting Aplikasi
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Nama Aplikasi
                                        </label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.nama" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row" ng-if="user.akses.pesanan_surat_pesanan">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Nomor Surat Pesanan
                                        </label>
                                        <div class="col-sm-8">
                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.pesanan" theme="bootstrap" style="width: 100%">
                                                <ui-select-match placeholder="Pilih Format Nomor Surat">
                                                    <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                                   repeat="val in listNoSurat | filter : $select.search">
                                                    <b>{{ val.nama}}</b> - {{ val.contoh}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group row" ng-if="user.akses.pesanan_surat_pesanan">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Nomor Surat Berita Acara
                                        </label>
                                        <div class="col-sm-8">
                                            <ui-select class="ui-select-sm ui-select-container" ng-model="form.berita_acara" theme="bootstrap" style="width: 100%">
                                                <ui-select-match placeholder="Pilih Format Nomor Surat">
                                                    <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                                </ui-select-match>
                                                <ui-select-choices position="down"
                                                                   repeat="val in listNoSurat | filter : $select.search">
                                                    <b>{{ val.nama}}</b> - {{ val.contoh}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <hr/>
                                    <p class="font-weight-bold">Approval Surat Keterangan</p>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Pertama
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-sm w-100">
                                                <ui-select class="ui-select-sm ui-select-container w-100" ng-model="form.approval_surat_1" theme="bootstrap" >
                                                    <ui-select-match placeholder="Pilih Jabatan">
                                                        {{ $select.selected.nama}}
                                                    </ui-select-match>
                                                    <ui-select-choices position="down"
                                                                       repeat="val in listJabatan | filter : $select.search">
                                                        {{ val.nama}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <button class="btn btn-sm btn-danger" ng-click="form.approval_surat_1  = undefined">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Pertama Label
                                        </label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.approval_surat_1_label" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Kedua
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-sm w-100">
                                                <ui-select class="ui-select-sm ui-select-container w-100" ng-model="form.approval_surat_2" theme="bootstrap" >
                                                    <ui-select-match placeholder="Pilih Jabatan">
                                                        {{ $select.selected.nama}}
                                                    </ui-select-match>
                                                    <ui-select-choices position="down"
                                                                       repeat="val in listJabatan | filter : $select.search">
                                                        {{ val.nama}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <button class="btn btn-sm btn-danger" ng-click="form.approval_surat_2  = undefined">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Kedua Label
                                        </label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.approval_surat_2_label" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Ketiga
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-sm w-100">
                                                <ui-select class="ui-select-sm ui-select-container w-100" ng-model="form.approval_surat_3" theme="bootstrap" >
                                                    <ui-select-match placeholder="Pilih Jabatan">
                                                        {{ $select.selected.nama}}
                                                    </ui-select-match>
                                                    <ui-select-choices position="down"
                                                                       repeat="val in listJabatan | filter : $select.search">
                                                        {{ val.nama}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <button class="btn btn-sm btn-danger" ng-click="form.approval_surat_3  = undefined">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Ketiga Label
                                        </label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.approval_surat_3_label" type="text"/>
                                        </div>
                                    </div>

                                    <hr/>
                                    <p class="font-weight-bold">Approval Surat Pesanan</p>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Pertama
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-sm w-100">
                                                <ui-select class="ui-select-sm ui-select-container w-100" ng-model="form.approval_pesanan_1" theme="bootstrap" >
                                                    <ui-select-match placeholder="Pilih Jabatan">
                                                        {{ $select.selected.nama}}
                                                    </ui-select-match>
                                                    <ui-select-choices position="down"
                                                                       repeat="val in listJabatan | filter : $select.search">
                                                        {{ val.nama}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <button class="btn btn-sm btn-danger" ng-click="form.approval_pesanan_1  = undefined">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Pertama Label
                                        </label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.approval_pesanan_1_label" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Kedua
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-sm w-100">
                                                <ui-select class="ui-select-sm ui-select-container w-100" ng-model="form.approval_pesanan_2" theme="bootstrap" >
                                                    <ui-select-match placeholder="Pilih Jabatan">
                                                        {{ $select.selected.nama}}
                                                    </ui-select-match>
                                                    <ui-select-choices position="down"
                                                                       repeat="val in listJabatan | filter : $select.search">
                                                        {{ val.nama}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <button class="btn btn-sm btn-danger" ng-click="form.approval_pesanan_2  = undefined">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Kedua Label
                                        </label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.approval_pesanan_2_label" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Ketiga
                                        </label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-sm w-100">
                                                <ui-select class="ui-select-sm ui-select-container w-100" ng-model="form.approval_pesanan_3" theme="bootstrap" >
                                                    <ui-select-match placeholder="Pilih Jabatan">
                                                        {{ $select.selected.nama}}
                                                    </ui-select-match>
                                                    <ui-select-choices position="down"
                                                                       repeat="val in listJabatan | filter : $select.search">
                                                        {{ val.nama}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <button class="btn btn-sm btn-danger" ng-click="form.approval_pesanan_3  = undefined">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label-sm">
                                            Approval Ketiga Label
                                        </label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" ng-disabled="is_view"
                                                   ng-model="form.approval_pesanan_3_label" type="text"/>
                                        </div>
                                    </div>
                                    <!--                                    <div class="form-group row">-->
                                    <!--                                        <label class="col-sm-3 col-form-label-sm required">Desa</label>-->
                                    <!--                                        <div class="col-sm-9">-->
                                    <!--                                            <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"-->
                                    <!--                                                       ng-model="form.desa" theme="bootstrap" style="width: 100%">-->
                                    <!--                                                <ui-select-match placeholder="Masukkan 3 Karakter">-->
                                    <!--                                                    <b>{{ $select.selected.desa}}</b> - {{ $select.selected.kecamatan}}-->
                                    <!--                                                </ui-select-match>-->
                                    <!--                                                <ui-select-choices position="down"-->
                                    <!--                                                                   refresh="getDesa($select.search,null,'search')"-->
                                    <!--                                                                   repeat="val in listDesa">-->
                                    <!--                                                    <b>{{ val.desa}}</b> - {{ val.kecamatan}}-->
                                    <!--                                                </ui-select-choices>-->
                                    <!--                                            </ui-select>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->

                                </div>
<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-group row">-->
<!--                                        <label class="col-sm-3 col-form-label-sm">Logo</label>-->
<!--                                        <div class="col-sm-9">-->
<!--                                            <div style="text-align:center; overflow: hidden;background-color: rgba(0, 0, 0, 0.23);">-->
<!--                                                <img class="img img-responsive img-produk img-thumbnail"-->
<!--                                                     data-ng-src="data:image/png;base64,{{form.logo.base64}}"-->
<!--                                                     id="image" ng-if="!!form.logo.base64"/>-->
<!--                                                <img class="img img-responsive img-produk img-thumbnail"-->
<!--                                                     id="image"-->
<!--                                                     ng-if="!form.logo.base64 && !!form.logo"-->
<!--                                                     ng-src="api/{{form.path_kop}}/{{form.logo}}"/>-->
<!--                                                <img class="img img-responsive img-produk img-thumbnail"-->
<!--                                                     id="image"-->
<!--                                                     ng-if="!form.logo.base64 && !form.logo"-->
<!--                                                     ng-src="img/no-image.png"-->
<!--                                                     style="background-color: #f6f6f6;"/>-->
<!--                                            </div>-->
<!--                                            <div class="fileUploadr btn btn-primary edit" ng-if="!is_view"-->
<!--                                                 style="width: 100%;">-->
<!--                                                <input accept="image/*" base-sixty-four-input="" class="upload"-->
<!--                                                       ng-model="form.logo" style="width: 100%;"-->
<!--                                                       type="file"/>-->
<!--                                            </div>-->
<!--                                            <div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label-sm">Kop Surat</label>
                                        <div class="col-sm-9">
                                            <div style="text-align:center; overflow: hidden;background-color: rgba(0, 0, 0, 0.23);">
                                                <img class="img img-responsive img-produk img-thumbnail"
                                                     data-ng-src="data:image/png;base64,{{form.kop_surat.base64}}"
                                                     id="image" ng-if="!!form.kop_surat.base64"/>
                                                <img class="img img-responsive img-produk img-thumbnail" id="image"
                                                     ng-if="!form.kop_surat.base64 && !!form.kop_surat"
                                                     ng-src="api/{{form.path_kop}}/{{form.kop_surat}}"/>
                                                <img class="img img-responsive img-produk img-thumbnail" id="image"
                                                     ng-if="!form.kop_surat.base64 && !form.kop_surat"
                                                     ng-src="img/no-image.png" style="background-color: #f6f6f6;"/>
                                            </div>
                                            <div class="fileUploadr btn btn-primary edit" ng-if="!is_view"
                                                 style="width: 100%;">
                                                <input accept="image/*" base-sixty-four-input="" class="upload"
                                                       ng-model="form.kop_surat" style="width: 100%;" type="file"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <!--                    <button class="btn btn-secondary btn-sm" ng-click="cancel()" type="submit">-->
                    <!--                        <i class="fa fa-arrow-left">-->
                    <!--                        </i>-->
                    <!--                        Kembali-->
                    <!--                    </button>-->
                    <button button-spinner="loading" class="btn btn-primary btn-sm" ng-click="save(form)"
                            ng-disabled="loading" ng-hide="is_view" type="submit">
                        <i class="fa fa-save">
                        </i>
                        Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class=
