<div class="animated fadeIn">
    <div ng-controller="tKelahiranCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-show="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Kelahiran</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <!--                    <button class="btn btn-info btn-sm" ng-click="modalCreate();">-->
                    <!--                        <i class="fa fa-plus"></i>-->
                    <!--                        &nbsp;-->
                    <!--                    </button>-->
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    No Surat
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan No Surat"
                                           st-search="no_surat"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Bayi
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Bayi"
                                           st-search="bayi"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Ayah
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Ayah"
                                           st-search="ayah"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Ibu
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Ibu"
                                           st-search="ibu"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Pelapor
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Pelapor"
                                           st-search="pelapor"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Saksi 1
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Saksi 1"
                                           st-search="saksi1"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Saksi 2
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" placeholder="Cari berdasarkan Saksi 2"
                                           st-search="saksi2"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-center">No. Surat</th>
                            <th class="align-left">Bayi</th>
                            <th class="align-left">Ayah</th>
                            <th class="align-left">Ibu</th>
                            <th class="align-left">Pelapor</th>
                            <th class="align-left">Saksi 1</th>
                            <th class="align-left">Saksi 2</th>
                            <th class="align-left">Dibuat Oleh</th>
                            <th class="align-left">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-center">
                                <span uib-tooltip="{{ row.no_surat }}" tooltip-placement="right">{{row.no_urut}}</span>
                            </td>
                            <td class="align-left">{{ row.bayi_id.nama}}</td>
                            <td class="align-left">{{ row.ayah_id.nama}}</td>
                            <td class="align-left">{{ row.ibu_id.nama}}</td>
                            <td class="align-left">{{ row.pelapor_id.nama}}</td>
                            <td class="align-left">{{ row.saksi1_id.nama}}</td>
                            <td class="align-left">{{ row.saksi2_id.nama}}</td>
                            <td class="align-left">{{ row.nama_pembuat}}</td>
                            <td class="align-left">{{ row.created_at * 1000 | date:"dd MMM yyyy, HH:mm WIB"}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-outline-primary fa fa-user btn-sm"
                                            uib-tooltip="Update Bayi" ng-click="updateBayi(row.bayi_id)"></button>
                                    <a href="api/t_kelahiran/print-surat-bukti-kelahiran?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-danger fa fa-print btn-sm"
                                       uib-tooltip="S. Keterangan Bukti Kelahiran"></a>
                                    <a href="api/t_kelahiran/print-sptjm?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-info fa fa-print btn-sm"
                                       uib-tooltip="SPTJM KELAHIRAN"></a>
                                    <a href="api/t_kelahiran/print2?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-warning fa fa-print btn-sm"
                                       uib-tooltip="Formulir"></a>
                                    <a href="api/t_kelahiran/print?id={{row.id}}"
                                       target="_blank" class="btn btn-outline-success fa fa-print btn-sm"
                                       uib-tooltip="Formulir Pelaporan"></a>
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-sm btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-show="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Nomor Surat</h6>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Format No. Surat
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="!is_create"
                                                   ng-model="form.surat_nomor" theme="bootstrap" style="width: 100%">
                                            <ui-select-match placeholder="Pilih Format Nomor Surat">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.contoh}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listNoSurat | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.contoh}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm"></label>
                                <div class="col-sm-9">
                                    <label class="container p-0">
                                        <input ng-model="form.is_nomer" type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                        <span>Gunakan label nomer surat</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row" ng-if="is_create">
                                <label class="col-sm-3 col-form-label-sm">No. Urut surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_urut_surat"
                                           placeholder="Otomatis jika dikosongkan"/>
                                </div>
                            </div>
                            <div class="form-group row" ng-if="!is_create">
                                <label class="col-sm-3 col-form-label-sm">No surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_surat"
                                           ng-disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Bayi</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input type="text" class="form-control form-control-sm"
                                               ng-model="form.nama_bayi"
                                               ng-disabled="is_view" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Jenis Kelamin</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis_kelamin"
                                               uib-btn-radio="'LK'">
                                            <i class="fa fa-check" ng-if="form.jenis_kelamin == 'LK'">
                                            </i>
                                            LK
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis_kelamin"
                                               uib-btn-radio="'PR'">
                                            <i class="fa fa-check" ng-if="form.jenis_kelamin == 'PR'">
                                            </i>
                                            PR
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Tempat Dilahirkan
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="form.tempat_dilahirkan" theme="bootstrap"
                                               ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Tempat Dilahirkan">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listTempatLahir | filter : $select.search">
                                            {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tempat Kelahiran</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.tempat_kelahiran"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kelaianan Fisik</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.kelainan_fisik"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Lahir</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_lahir"
                                               ng-click="toggle($event, 'tgl_lahir')" ng-model="form.tgl_lahir"
                                               placeholder="Tanggal Lahir" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pukul</label>
                                <div class="col-sm-1">
                                    <div uib-timepicker ng-model="form.pukul" show-meridian="ismeridian"
                                         hour-step="1" ng-disabled="is_view"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Jenis Kelahiran
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.jenis_kelahiran"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Kelahiran Ke
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.kelahiran_ke"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Penolong Kelahiran
                                </label>
                                <div class="col-sm-9">
                                    <ui-select class="w-100" ng-model="form.penolong_kelahiran" theme="bootstrap"
                                               ng-disabled="is_view">
                                        <ui-select-match placeholder="Pilih Penolong Kelahiran">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="value in listPenolong | filter : $select.search">
                                            {{value.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Berat Bayi
                                </label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm angka align-left"
                                               ng-disabled="is_view"
                                               ng-model="form.berat_bayi" type="text"/>
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Kg
                                                        </span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Panjang Bayi
                                </label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm" ng-disabled="is_view"
                                               ng-model="form.panjang_bayi" type="text"/>
                                        <div class="input-group-prepend">
                                                        <span class="input-group-text" style="font-size: 10px">
                                                            Cm
                                                        </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    SHDK
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control form-control-sm" ng-disabled="is_view"
                                           ng-model="form.shdk" type="text"/>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Kepala Keluarga</h6>
                        </div>

                        <div class="col-md-6">
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm required">-->
<!--                                    Kepala Keluarga-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <div class="btn-group btn-group-sm" style="width:100%">-->
<!--                                        <ui-select class="ui-select-sm ui-select-container"-->
<!--                                                   on-select="getKepalaKeluarga(form.kepala_keluarga_id.id);"-->
<!--                                                   ng-disabled="is_view"-->
<!--                                                   ng-model="form.kepala_keluarga_id" theme="bootstrap"-->
<!--                                                   style="width: 100%">-->
<!--                                            <ui-select-match placeholder="Cari berdasarkan Nama atau NIK">-->
<!--                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}-->
<!--                                            </ui-select-match>-->
<!--                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"-->
<!--                                                               repeat="val in listNama">-->
<!--                                                {{ val.nama}} - {{ val.nik}}-->
<!--                                            </ui-select-choices>-->
<!--                                        </ui-select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">NIK Kepala Keluarga </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input type="text" class="form-control form-control-sm"
                                               value="{{listKepalaKeluarga.nik}}"
                                               ng-disabled="is_view" required/>
                                        <button class="btn btn-primary btn-sm"
                                                ng-click="modal('kepala-keluarga')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listKepalaKeluarga.nama}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listKepalaKeluarga.pekerjaan}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listKepalaKeluarga.alamat}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Ayah</h6>
                        </div>

                        <div class="col-md-6">
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm required">-->
<!--                                    Ayah-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <div class="btn-group btn-group-sm" style="width:100%">-->
<!--                                        <ui-select class="ui-select-sm ui-select-container"-->
<!--                                                   on-select="getAyah(form.ayah_id.id);"-->
<!--                                                   ng-disabled="is_view"-->
<!--                                                   ng-model="form.ayah_id" theme="bootstrap" style="width: 100%">-->
<!--                                            <ui-select-match placeholder="Cari berdasarkan Nama atau NIK">-->
<!--                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}-->
<!--                                            </ui-select-match>-->
<!--                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"-->
<!--                                                               repeat="val in listNama">-->
<!--                                                {{ val.nama}} - {{ val.nik}}-->
<!--                                            </ui-select-choices>-->
<!--                                        </ui-select>-->
<!--                                        <button class="btn btn-primary btn-sm"-->
<!--                                                ng-click="modal('ayah')">-->
<!--                                            <i class="fa fa-search">-->
<!--                                            </i>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK Ayah</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input type="text" class="form-control form-control-sm" value="{{listAyah.nik}}"
                                               ng-disabled="is_view" required/>
                                        <button class="btn btn-primary btn-sm"
                                                ng-click="modal('ayah')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listAyah.nama}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listAyah.pekerjaan}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listAyah.alamat}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Ibu</h6>
                        </div>

                        <div class="col-md-6">
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm required">-->
<!--                                    Ibu-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <div class="btn-group btn-group-sm" style="width:100%">-->
<!--                                        <ui-select class="ui-select-sm ui-select-container"-->
<!--                                                   on-select="getIbu(form.ibu_id.id);"-->
<!--                                                   ng-disabled="is_view"-->
<!--                                                   ng-model="form.ibu_id" theme="bootstrap" style="width: 100%">-->
<!--                                            <ui-select-match placeholder="Cari berdasarkan Nama atau NIK">-->
<!--                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}-->
<!--                                            </ui-select-match>-->
<!--                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"-->
<!--                                                               repeat="val in listNama">-->
<!--                                                {{ val.nama}} - {{ val.nik}}-->
<!--                                            </ui-select-choices>-->
<!--                                        </ui-select>-->
<!--                                        <button class="btn btn-primary btn-sm"-->
<!--                                                ng-click="modal('ibu')">-->
<!--                                            <i class="fa fa-search">-->
<!--                                            </i>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK Ibu</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input type="text" class="form-control form-control-sm" value="{{listIbu.nik}}"
                                               ng-disabled="is_view" required/>
                                        <button class="btn btn-primary btn-sm"
                                                ng-click="modal('ibu')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listIbu.nama}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listIbu.pekerjaan}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listIbu.alamat}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Tanggal Perkawinan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_kawin"
                                               ng-click="toggle($event, 'tgl_kawin')" ng-model="form.tgl_kawin"
                                               placeholder="Tanggal Kawin" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Pelapor</h6>
                        </div>

                        <div class="col-md-6">
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm required">-->
<!--                                    Pelapor-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <div class="btn-group btn-group-sm" style="width:100%">-->
<!--                                        <ui-select class="ui-select-sm ui-select-container"-->
<!--                                                   on-select="getPelapor(form.pelapor_id.id);"-->
<!--                                                   ng-disabled="is_view"-->
<!--                                                   ng-model="form.pelapor_id" theme="bootstrap" style="width: 100%">-->
<!--                                            <ui-select-match placeholder="Cari berdasarkan Nama atau NIK">-->
<!--                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}-->
<!--                                            </ui-select-match>-->
<!--                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"-->
<!--                                                               repeat="val in listNama">-->
<!--                                                {{ val.nama}} - {{ val.nik}}-->
<!--                                            </ui-select-choices>-->
<!--                                        </ui-select>-->
<!--                                        <button class="btn btn-primary btn-sm"-->
<!--                                                ng-click="modal('pelapor')">-->
<!--                                            <i class="fa fa-search">-->
<!--                                            </i>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK Pelapor</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input type="text" class="form-control form-control-sm"
                                               value="{{listPelapor.nik}}"
                                               ng-disabled="is_view" required/>
                                        <button class="btn btn-primary btn-sm"
                                                ng-click="modal('pelapor')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listPelapor.nama}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listPelapor.pekerjaan}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listPelapor.alamat}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Saksi 1</h6>
                        </div>

                        <div class="col-md-6">
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm required">-->
<!--                                    Saksi 1-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <div class="btn-group btn-group-sm" style="width:100%">-->
<!--                                        <ui-select class="ui-select-sm ui-select-container"-->
<!--                                                   on-select="getSaksi1(form.saksi1_id.id);"-->
<!--                                                   ng-disabled="is_view"-->
<!--                                                   ng-model="form.saksi1_id" theme="bootstrap" style="width: 100%">-->
<!--                                            <ui-select-match placeholder="Cari berdasarkan Nama atau NIK">-->
<!--                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}-->
<!--                                            </ui-select-match>-->
<!--                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"-->
<!--                                                               repeat="val in listNama">-->
<!--                                                {{ val.nama}} - {{ val.nik}}-->
<!--                                            </ui-select-choices>-->
<!--                                        </ui-select>-->
<!--                                        <button class="btn btn-primary btn-sm"-->
<!--                                                ng-click="modal('saksi1')">-->
<!--                                            <i class="fa fa-search">-->
<!--                                            </i>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK Saksi 1</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input type="text" class="form-control form-control-sm"
                                               value="{{listSaksi1.nik}}"
                                               ng-disabled="is_view" required/>
                                        <button class="btn btn-primary btn-sm"
                                                ng-click="modal('saksi1')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listSaksi1.nama}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listSaksi1.pekerjaan}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listSaksi1.alamat}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Detail Saksi 2</h6>
                        </div>

                        <div class="col-md-6">
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm required">-->
<!--                                    Saksi 2-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <div class="btn-group btn-group-sm" style="width:100%">-->
<!--                                        <ui-select class="ui-select-sm ui-select-container"-->
<!--                                                   on-select="getSaksi2(form.saksi2_id.id);"-->
<!--                                                   ng-disabled="is_view"-->
<!--                                                   ng-model="form.saksi2_id" theme="bootstrap" style="width: 100%">-->
<!--                                            <ui-select-match placeholder="Cari berdasarkan Nama atau NIK">-->
<!--                                                {{ $select.selected.nama}} - {{ $select.selected.nik}}-->
<!--                                            </ui-select-match>-->
<!--                                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"-->
<!--                                                               repeat="val in listNama">-->
<!--                                                {{ val.nama}} - {{ val.nik}}-->
<!--                                            </ui-select-choices>-->
<!--                                        </ui-select>-->
<!--                                        <button class="btn btn-primary btn-sm"-->
<!--                                                ng-click="modal('saksi2')">-->
<!--                                            <i class="fa fa-search">-->
<!--                                            </i>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">NIK Saksi 2</label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <input type="text" class="form-control form-control-sm"
                                               value="{{listSaksi2.nik}}"
                                               ng-disabled="is_view" required/>
                                        <button class="btn btn-primary btn-sm"
                                                ng-click="modal('saksi2')">
                                            <i class="fa fa-search">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Nama Lengkap</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" value="{{listSaksi2.nama}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Pekerjaan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listSaksi2.pekerjaan}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           value="{{listSaksi2.alamat}}"
                                           ng-disabled="is_view" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">TTD</h6>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">
                                    Yang Bertanda Tangan
                                </label>
                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-sm" style="width:100%">
                                        <ui-select class="ui-select-sm ui-select-container" ng-disabled="is_view"
                                                   ng-model="form.yang_menandatangani_id" theme="bootstrap"
                                                   style="width: 100%">
                                            <ui-select-match placeholder="Pilih Yang Bertanda Tangan">
                                                <b>{{ $select.selected.nama}}</b> - {{ $select.selected.jabatan}}
                                            </ui-select-match>
                                            <ui-select-choices position="down"
                                                               repeat="val in listTandaTangan | filter : $select.search">
                                                <b>{{ val.nama}}</b> - {{ val.jabatan}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Gunakan Digital TTD</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd" uib-btn-radio="1">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 1">
                                            </i>
                                            Ya
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.is_ttd" uib-btn-radio="0">
                                            <i class="fa fa-check" ng-if="form.is_ttd == 0">
                                            </i>
                                            Tidak
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tanggal Pembuatan</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm"
                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"
                                               ng-click="toggle($event, 'tgl_pembuatan')" ng-model="form.tgl_pembuatan"
                                               placeholder="Tanggal Pembuatan" type="text"
                                               uib-datepicker-popup="dd MMMM yyyy"
                                               ng-disabled="is_view"
                                        >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
