<div class="modal-header bg-white">
    <h5 class="modal-title">
        <!--        Master Jenis Surat-->
        <strong class="d-md-down-none">Form Tambah Data Penduduk</strong>
    </h5>
    <button aria-label="Close" class="close" ng-click="close()" type="button">
        <span aria-hidden="true" style="color:black;">
            ×
        </span>
    </button>
</div>
<div class="card">
<!--    <div class="card-header">-->
<!--        <strong>{{ formtittle}}</strong>-->
<!--    </div>-->
    <div class="card-body">
        <form name="landaform" novalidate="">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="tittle-header">Info Pribadi</h6>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">No KK</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm" ng-model="form.no_kk"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">NIK</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control angka form-control-sm" ng-model="form.nik"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Nama</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                                   ng-disabled="is_view" required/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Kecamatan</label>
                        <div class="col-sm-9">
                            <ui-select class="ui-select-sm ui-select-container"
                                       ng-model="form.kecamatan" theme="bootstrap" style="width: 100%" on-select="getDesa(null,form.kecamatan.id,null, true)">
                                <ui-select-match placeholder="Masukkan 3 Karakter">
                                    <b>{{ $select.selected.kecamatan}}</b> - {{ $select.selected.kabupaten}}
                                </ui-select-match>
                                <ui-select-choices position="down" refresh="getKecamatanWithKabupaten($select.search,null,null,'search')"
                                                   repeat="val in listKecamatanWithKabupaten">
                                    <b>{{ val.kecamatan}}</b> - {{ val.kabupaten}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            Desa
                        </label>
                        <div class="col-sm-9">
                            <ui-select class="w-100" ng-model="form.desa" theme="bootstrap"
                                       ng-disabled="form.kecamatan == undefined" on-select="getDusun(form.desa.id)">
                                <ui-select-match placeholder="Pilih Desa">
                                    {{$select.selected.desa}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listDesa | filter : $select.search">
                                    {{value.desa}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm ">
                            Dusun
                        </label>
                        <div class="col-sm-9">
                            <ui-select ng-disabled="form.desa == undefined || is_view" class="w-100"
                                       ng-model="form.dusun" theme="bootstrap" on-select="getRw(form.dusun.id)">
                                <ui-select-match placeholder="Pilih Dusun">
                                    {{$select.selected.dusun}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listDusun| filter : $select.search">
                                    {{value.dusun}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">
                            RW
                        </label>
                        <div class="col-sm-9">
                            <ui-select class="w-100" ng-disabled="form.dusun == undefined"
                                       ng-model="form.rw" theme="bootstrap" on-select="getRt(form.rw.id)">
                                <ui-select-match placeholder="Pilih RW">
                                    {{$select.selected.rw}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listRw | filter : $select.search">
                                    {{value.rw}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">
                            RT
                        </label>
                        <div class="col-sm-9">
                            <ui-select class="w-100" ng-disabled="form.rw == undefined"
                                       ng-model="form.rt" theme="bootstrap">
                                <ui-select-match placeholder="Pilih RT">
                                    {{$select.selected.rt}}
                                </ui-select-match>
                                <ui-select-choices repeat="value in listRt | filter : $select.search">
                                    {{value.rt}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="pull-right">
            <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">
                <i class="fa fa-arrow-left"></i>
                &nbsp;Kembali
            </button>
            <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                    ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                <i class="fa fa-save"></i>
                &nbsp;Simpan
            </button>
        </div>
    </div>
</div>
<!--<div class="modal-footer">-->
<!--	<div class="pull-right">-->
<!--		<button button-spinner="loading" class="btn btn-primary btn-sm" ng-click="save()" ng-disabled="loading" ng-hide="is_view" type="submit">-->
<!--			<i class="fa fa-save"></i>-->
<!--			Tambahkan Developer-->
<!--		</button>-->
<!--	</div>-->
<!--</div>-->