<div class="animated fadeIn">
    <div ng-controller="macaraCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Pengguna</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm" placeholder="Cari berdasarkan nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Username</label>
                                        <div class="col-sm-2">
                                            <input st-search="username" class="form-control form-control-sm" placeholder="Cari berdasarkan username"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="m_acara.is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                            <tr>
                                <th class="align-left">No</th>
                                <th class="align-left">Foto</th>
                                <th class="align-left">Pembuat</th>
                                <th class="align-left">Acara</th>
                                <th class="align-left">Keterangan</th>
                                <th class="align-left">Tanggal</th>
                                <th class="align-left">Lokasi</th> 


                                <th></th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in addddd" ng-dblclick="view(row)">
                                <td class="align-left">{{ $index + 1}}</td>
                                <td class="align-left"><img style="width:40px" "width:40px"  src="img/acara/{{row.foto_profile}}" alt=""></td>
                                <td class="align-left">{{ row.nama_user}}</td>
                                <td class="align-left">{{ row.acara}}</td>
                                <td class="align-left">{{row.ulasan}}</td>
                                <td class="align-left">{{ row.tanggal}}</td>
                                <td class="align-left">{{ row.lokasi}}</td> 

                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-sm btn-info fa fa-edit" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-sm btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-sm btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                        <button type="button" class="btn btn-sm btn-danger fa fa-remove" ng-if="row.is_deleted == 1" ng-click="delete(row);"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle}}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">Profil Pengguna</h6>
                        </div>

                        <div class="col-sm-8" style="padding:3%">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Tanggal</label>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tanggal')"  is-open="opened.tanggal" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal" ng-disabled="is_view" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Acara</label>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.acara" ng-disabled="is_view" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Lokasi</label>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.lokasi" ng-disabled="is_view" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Ulasan</label> 
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <textarea class="form-control form-control-sm" name="artikel" rows="8" cols="80" ng-model="form.ulasan" ng-disabled="is_view" required/></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col-sm-12" style="padding:3%">
                                <div style="overflow: hidden;background-color: rgba(0, 0, 0, 0.23); width : 25  %;">
                                    <img style="width : 100%;" class="img img-responsive img-thumbnail" data-ng-src="data:image/png;base64,{{form.foto_profile.base64}}" id="img" ng-if="!!form.foto_profile.base64"/>
                                    <img style="width : 100%;" class="img img-responsive img-thumbnail" id="img" ng-if="!form.foto_profile.base64 && form.foto_profile" ng-src="img/acara/{{form.foto_profile}}"/>
                                    <img style="width : 100%;" class="img img-responsive img-thumbnail" id="img" ng-if="!form.foto_profile.base64 && !form.foto_profile" ng-src="img/addv.png"/>
                                </div>
                                <div class="fileUploadr btn btn-primary edit" ng-if="!is_view" onclick="$('#galeri').click();" style="width: 100%;">
                                    <span>
                                        <i class="fa fa-camera">
                                        </i>
                                        <b>
                                            Foto Profile
                                        </b>
                                    </span>
                                </div>
                                <input accept="image/*" base-sixty-four-input="" class="upload" id="galeri" ng-model="form.foto_profile" style="width: 100%;" type="file"/>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
