<style type="text/css">
    @media print {
        button {
            display: none;
        }

        body {
            padding: 0;
            margin: 0;
        }

        table.table-print tr th td {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    .md-no {
        width: 5%;
        float: left;
    }

    .md-soal {
        width: 95%;
        float: left;
    }

    /*! CSS Used from: http://localhost/cbt-ypia/app/css/style.css */
    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    footer {
        page-break-after: always;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0 0 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px;
    }

    body {
        background: rgb(204, 204, 204);
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="F4"] {
        background: white;
        height: 21.5cm;
        width: 33cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    @media print {
        body, page[size="F4"] {
            margin: 0;
            box-shadow: 0;
        }
    }

    p {
        text-align: justify;
    }

    table tr td {
        vertical-align: center;
    }

    .table-custom-twig {
        border: 1px solid black;
        max-width: 1px;
        text-align: center;
        padding: 0px;
        height: 12px;
        font-size: 9px;
        vertical-align: middle;
    }

    .table-custom-twig-left {
        border: 1px solid black;
        max-width: 1px;
        text-align: left;
        padding: 1px;
        font-size: 9px;
        height: 12px;
    }

    table tr td {
        font-size: 10px;
        padding: 0px;
        margin: 0px;
    }

    h4 {
        font-size: 11px;
    }

    h2 {
        font-size: 15px;
    }

    .ttd .nama {
        text-transform: uppercase;
    }

    .table-border {
        border: 1px solid black;
        padding: 3px;
    }

    .nomor-surat{
        text-align: center;
        font-size: 11pt;
    }
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">

            <div style="padding-bottom: 10px;">
                <h2 style="text-align: center; padding-top: 10px; margin: 0px;">
                    K A R T U K E L U A R G A
                </h2>
                <h2 style="text-align: center; padding-top: 5px; margin: 0px;">
                    NOMOR: {{ data.no_kk }}
                </h2>
                <h2 style="text-align: center; padding-top: 5px; margin: 0px;">
                    ( KUTIPAN )
                </h2>
            </div>

            {# HEADER #}
            <div style="padding-left: 50px;">
                <table width="100%">
                    <tr>
                        <td width="40%">
                            <table>
                                <tr width="100%">
                                    <td width="45%">Nama Kepala Keluarga</td>
                                    <td width="2%">:</td>
                                    <td width="45%">{{ data.nama }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Alamat</td>
                                    <td width="2%">:</td>
                                    <td width="45%">{{ data.alamat }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">RT / RW</td>
                                    <td width="2%">:</td>
                                    <td width="45%">{{ data.rt.rt }} / {{ data.rw.rw }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="30%">Kodepos</td>
                                    <td width="2%">:</td>
                                    <td width="45%">{{ data.kodepos }}</td>
                                </tr>
                            </table>
                        </td>
                        <td width="20%"></td>
                        <td width="40%">
                            <table>
                                <tr width="100%">
                                    <td width="15%">Desa</td>
                                    <td width="2%">:</td>
                                    <td width="45%">{{ data.desa.desa }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="15%">Kecamatan</td>
                                    <td width="2%">:</td>
                                    <td width="45%">{{ data.kecamatan.kecamatan }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="15%">Kabupaten / Kota</td>
                                    <td width="2%">:</td>
                                    <td width="45%">{{ data.kecamatan.kabupaten }}</td>
                                </tr>
                                <tr width="100%">
                                    <td width="15%">Provinsi</td>
                                    <td width="2%">:</td>
                                    <td width="45%">{{ data.provinsi.provinsi }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row" style="padding-left: 50px;padding-right: 20px; margin-top: 10px;">
                {# TABLE 1#}
                <div class="col-md-12">
                    <table width="100%" style="border-collapse: collapse; border: 1px solid black">
                        <tr>
                            <td class="table-border" align="center"><b>No</b></td>
                            <td class="table-border" align="center"><b>Nama Lengkap</b></td>
                            <td class="table-border" align="center"><b>NIK/NIS</b></td>
                            <td class="table-border" align="center"><b>Jenis Kelamin</b></td>
                            <td class="table-border" align="center"><b>Tempat Lahir</b></td>
                            <td class="table-border" align="center"><b>Tanggal Lahir</b></td>
                            <td class="table-border" align="center"><b>Agama</b></td>
                            <td class="table-border" align="center"><b>Pendidikan</b></td>
                            <td class="table-border" align="center"><b>Pekerjaan</b></td>
                        </tr>
                        <tr>
                            <td class="table-border" align="center">1</td>
                            <td class="table-border" align="center">2</td>
                            <td class="table-border" align="center">3</td>
                            <td class="table-border" align="center">4</td>
                            <td class="table-border" align="center">5</td>
                            <td class="table-border" align="center">6</td>
                            <td class="table-border" align="center">7</td>
                            <td class="table-border" align="center">8</td>
                            <td class="table-border" align="center">9</td>
                        </tr>
                        {% for i, data in models %}
                        <tr>
                            <td class="table-border" align="center">{{ i+1 }}</td>
                            <td class="table-border">{{ data.nama ?? "-" }}</td>
                            <td class="table-border">{{ data.nik ?? "-" }}</td>
                            <td class="table-border">{{ (data.jenis_kelamin == null) ? "-" : (data.jenis_kelamin == "LK" ? "Laki-laki" : "Perempuan") }}</td>
                            <td class="table-border">{{ data.tempat_lahir ?? "-" }}</td>
                            <td class="table-border">{{ data.tanggal_lahir ?? "-" }}</td>
                            <td class="table-border">{{ data.agama ?? "-" }}</td>
                            <td class="table-border">{{ data.pendidikan_akhir ?? "-" }}</td>
                            <td class="table-border">{{ data.pekerjaan ?? "-" }}</td>
                        </tr>
                        {% endfor %}
                        {% if tambahBaris > 0 %}
                            {% for i, data in range(1, tambahBaris) %}
                                <tr>
                                    <td class="table-border" align="center">{{ total+i+1 }}</td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>

                <br>

                {# TABLE 2#}
                <div class="col-md-12">
                    <table width="100%" style="border-collapse: collapse; border: 1px solid black;">
                        <tr>
                            <td class="table-border" align="center" rowspan="2"><b>No</b></td>
                            <td class="table-border" align="center" rowspan="2"><b>Status Pernikahan</b></td>
                            <td class="table-border" align="center" rowspan="2"><b>Status Hubungan <br> Dalam Keluarga</b></td>
                            <td class="table-border" align="center" rowspan="2"><b>Kewarganegaraan</b></td>
                            <td class="table-border" align="center" colspan="2"><b>Dokumen Imigrasi</b></td>
                            <td class="table-border" align="center" colspan="2"><b>Nama Orang Tua</b></td>
                        </tr>
                        <tr>
                            <td class="table-border" align="center"><b>No. Paspor</b></td>
                            <td class="table-border" align="center"><b>No. KITAS/KITAP</b></td>
                            <td class="table-border" align="center"><b>Ayah</b></td>
                            <td class="table-border" align="center"><b>Ibu</b></td>
                        </tr>
                        <tr>
                            <td class="table-border" align="center"></td>
                            <td class="table-border" align="center">10</td>
                            <td class="table-border" align="center">11</td>
                            <td class="table-border" align="center">12</td>
                            <td class="table-border" align="center">13</td>
                            <td class="table-border" align="center">14</td>
                            <td class="table-border" align="center">15</td>
                            <td class="table-border" align="center">16</td>
                        </tr>
                        {% for i, data in models %}
                            <tr>
                                <td class="table-border" align="center">{{ i+1 }}</td>
                                <td class="table-border">{{ data.status ?? "-" }}</td>
                                <td class="table-border">{{ data.shdk ?? "-" }}</td>
                                <td class="table-border"> - </td>
                                <td class="table-border">{{ data.no_paspor ?? "-" }}</td>
                                <td class="table-border"> - </td>
                                <td class="table-border">{{ data.nama_ayah ?? "-" }}</td>
                                <td class="table-border">{{ data.nama_ibu ?? "-" }}</td>
                            </tr>
                        {% endfor %}
                        {% if tambahBaris < 0 %}
                            {% for i, data in range(1, tambahBaris) %}
                                <tr>
                                    <td class="table-border" align="center">{{ total+i+1 }}</td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                    <td class="table-border"> - </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>

                <br>
                {# TTD #}
                <div class="col-md-12" style="padding-top: 5px;">
                    <table width="100%">
                        <tr>
                            <td width="50%" style="text-align: center">
                                Kepala Keluarga
                                <div style="text-align: center; margin-right: 20px;height: 114px">

                                </div>
                                <div style="margin-top: -40px;" class="ttd">
                                        <span class="nama"
                                              style="font-weight: bold;text-transform: uppercase"><u>{{ data.nama }}</u>
                                </div>
                            </td>
                            <td width="50%" style="text-align: center;">
                                {{ data.desa.desa }}, {{ today }} <br>
                                {% if data.ttd.is_kepala_desa != 1 %}
                                    <span class="non-capitalize">a.n.</span> Kepala Desa {{ data.desa.desa }}
                                    {{ data.ttd.jabatan }}<br>
                                {% endif %}
                                {% if data.ttd.is_kepala_desa == 1 %}
                                    {{ data.ttd.jabatan }} {{ data.desa.desa }}<br>
                                {% endif %}

                                <div style="text-align: center; margin-right: 20px;height: 101px">

                                </div>
                                <div style="margin-top: -40px;" class="ttd">
                                        <span class="nama"
                                              style="font-weight: bold;text-transform: uppercase"><span class="nama"><u>{{ data.ttd.nama }}{{ data.ttd.gelar }}</u></span>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </page>
    </div>
    <br>
    <br>
    <!-- <div class="">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary btn-lg" ng-click="printDiv('print')">
                <i class="fa fa-print">
                &nbsp;Print
            </button>
        </div>
    </div> -->
</div>

</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
