<div class="animated fadeIn">
    <div ng-controller="tSuratKeteranganCtrl">
        <div class="card">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-1 col-form-label-sm required">Nama</label>
                                <div class="col-sm-6">
                                    <ui-select on-select="" ng-disabled="is_view" ng-model="form.penduduk_id"
                                                   theme="bootstrap">
                                            <ui-select-match placeholder="Pilih Penduduk">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="val in listPenduduk | filter : $select.search">
                                                {{val.nama}}
                                            </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>                           
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm required">Pilih Surat</label>
                                <div class="col-sm-9">
                                    <div ng-repeat="v in listSurat">                                        
                                        <label>
                                            <input ng-disabled="is_view" ng-model="v.is_cek" type="checkbox"/>
                                                <i></i>
                                                {{v.nama}}
                                        </label>
                                    </div>
                                    <!-- <ui-select on-select="" ng-disabled="is_view" ng-model="form.surat_id"
                                                   theme="bootstrap">
                                            <ui-select-match placeholder="Pilih Surat">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="val in listSurat | filter : $select.search">
                                                {{val.nama}}
                                            </ui-select-choices>
                                    </ui-select> -->

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-bordered">
                                <thead class="card-header">
                                    <tr>
                                        <th style="width: 200px;">Nama</th>
                                        <th style="width: 200px;">Nomor</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="val in listSurat">
                                        <td ng-if="val.is_cek == 1">{{val.nama}}</td>
                                        <td ng-if="val.is_cek == 1"><input type="text" class="form-control form-control-sm" ng-model="val.nomor" ng-disabled="is_view"/></td>
                                        <td ng-if="val.is_cek == 1"><textarea type="text" cols="2" class="form-control form-control-sm" ng-model="val.keterangan" ng-disabled="is_view"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary" ng-hide="is_view" button-spinner="loading" ng-disabled="cek <= 3 || loading" ng-click="print(form, listSurat)">
                                    <i class="fa fa-print"></i>
                                    &nbsp;Print
                                </button>                            
                            </div>         
                        </div>         
                    </div>         
                </form>
            </div>
            <!-- <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="cek <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>
