<div class="animated fadeIn">
    <div ng-controller="tvaksinAntrianCtrl">
        <div ng-if="absensi" style="margin-top: 50px">
            <div class="container d-flex justify-content-center">
                <div class="input-group col-sm-7 input-group-lg">
                    <div class="input-group-prepend" style="cursor: pointer" uib-tooltip="List Antrian">
                        <span class="input-group-text google">
                            <i class="fa fa-arrow-left fa-2x"></i>
                    </div>
                    <input type="text" class="form-control text-center" placeholder="Masukkan Nama atau NIK" ng-model="form.search"
                    ng-change="getPeserta(form)">
                    <div class="input-group-append">
                        <span class="input-group-text microphone">
                            <i class="fas fa-search fa-2x"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="container mt-5" ng-if="peserta.length > 0">
                <div class="col-md-12">
                    <table class="table table-striped table-hover">
                        <thead class="bg-gradient-primary">
                        <tr>
                            <th style="padding: 15px 10px">Nama</th>
                            <th>NIK</th>
                            <th>No. Telefon</th>
                            <th>Alamat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="val in peserta" ng-click="modalPeserta(val)">
                            <td style="padding: 10px 10px">{{val.nama}}</td>
                            <td>{{val.nik}}</td>
                            <td>{{val.no_hp}}</td>
                            <td>RT {{val.rt}} RW {{val.rw}} Dusun {{val.dusun}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="!absensi">
            <div class="card-body p-0px" >
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-1 col-form-label-sm mb-0">NIK</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_penduduk.nik" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan NIK"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_penduduk.nama" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Nama"/>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Tahap</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="tahap">
                                                <option value="">Semua</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Vaksin</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="t_vaksin.is_vaksin">
                                                <option value="">Semua</option>
                                                <option value="1">Sudah</option>
                                                <option value="0">Belum</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Rw</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_rw.rw" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Rw"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Rt</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_rt.rt" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Rt"/>
                                        </div>


                                        <label class="col-sm-1 col-form-label-sm mb-0">Dusun</label>
                                        <div class="col-sm-2">
                                            <input st-search="m_dusun.dusun" class="form-control form-control-sm"
                                                   placeholder="Cari berdasarkan Dusun"/>
                                        </div>

                                        <label class="col-sm-1 col-form-label-sm mb-0">Follow Up</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="t_vaksin.is_follow_up">
                                                <option value="">Semua</option>
                                                <option value="1">Sudah</option>
                                                <option value="0">Belum</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width: 50px" class="align-center">Gelombang</th>
                            <!--                            <th style="width: 100px" class="align-center">No Urut</th>-->
                            <th class="align-left">NIK</th>
                            <th class="align-left">Nama</th>
                            <th class="align-center">No Handphone</th>
                            <th class="align-center">Rw</th>
                            <th class="align-center">Rt</th>
                            <th class="align-center">Dusun</th>
                            <th class="align-center">Tahap</th>
                            <th class="align-center">Vaksin</th>
                            <th class="align-center">Tanggal Vaksin</th>
                            <th class="align-center">Follow Up</th>
                            <th class="align-center">Dibuat Pada</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-center">
                                <input ng-blur="updateGelNo(row.id, row.gelombang, row.no_urut)" type="text"
                                       class="form-control form-control-sm text-center" ng-model="row.gelombang"
                                       maxlength="255" ng-disabled="is_view"/>
                            </td>
                            <!--                            <td class="align-center">-->
                            <!--                                <input ng-blur="updateGelNo(row.id, row.gelombang, row.no_urut)" type="text"-->
                            <!--                                       class="form-control form-control-sm text-center" ng-model="row.no_urut"-->
                            <!--                                       maxlength="255" ng-disabled="is_view"/>-->
                            <!--                            </td>-->
                            <td class="align-left">{{ row.nik}}</td>
                            <td class="align-left">{{ row.penduduk.nama}}</td>
                            <td class="align-center">{{ row.no_hp}}</td>
                            <td class="align-center">{{ row.rw}}</td>
                            <td class="align-center">{{ row.rt}}</td>
                            <td class="align-center">{{ row.dusun}}</td>
                            <td class="align-center">{{ row.tahap}}</td>
                            <td class="text-center">
                                <span class="badge badge-success badge-pill capitalize"
                                      ng-if="row.is_vaksin != 0">Sudah</span>
                                <span class="badge badge-danger badge-pill capitalize"
                                      ng-if="row.is_vaksin == 0">Belum</span>
                            </td>

                            <td class="align-center">{{ row.is_vaksin == 1 ? row.tgl_vaksin : '-'}}</td>
                            <td class="text-center">
                                <span uib-tooltip="Klik untuk update status" ng-click="updateGelNo(row.id, row.gelombang, row.no_urut, row.is_follow_up)" class="badge badge-success badge-pill capitalize"
                                      ng-if="row.is_follow_up != 0">Sudah</span>
                                <span uib-tooltip="Klik untuk update status" ng-click="updateGelNo(row.id, row.gelombang, row.no_urut, row.is_follow_up)" class="badge badge-danger badge-pill capitalize"
                                      ng-if="row.is_follow_up == 0">Belum</span>
                            </td>
                            <td class="align-center">{{ row.created_at * 1000 | date:'d MMMM yyyy'}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button"
                                            class="btn btn-success fab fa-whatsapp btn-sm"
                                            ng-click="whatsapp(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row)"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="200" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
    </div>
</div>
