<div class="modal-header bg-gradient-primary">
    <h5 class="modal-title">Detail Penduduk</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">

    </div>
    <div class="col-md-12 col-print">
        <div class="form-group row mb-0">
            <label class="col-sm-3 col-form-label-sm font-weight-bold">Nama</label>
            <div class="col-sm-9 col-form-label-sm">
                : {{form.nama}}
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-3 col-form-label-sm font-weight-bold">NIK</label>
            <div class="col-sm-9 col-form-label-sm">
                : {{form.nik}}
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-3 col-form-label-sm font-weight-bold">No. Telepon</label>
            <div class="col-sm-9 col-form-label-sm">
                : {{form.no_hp}}
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-3 col-form-label-sm font-weight-bold">Gelombang</label>
            <div class="col-sm-9 col-form-label-sm">
                : {{form.gelombang}}
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-3 col-form-label-sm font-weight-bold">Alamat</label>
            <div class="col-sm-9 col-form-label-sm">
                : RT {{form.rt}} RW {{form.rw}} Dusun {{form.dusun}}
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-3 col-form-label-sm font-weight-bold">Tahap</label>
            <div class="col-sm-9 col-form-label-sm">
                : {{form.tahap}}
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-sm-3 col-form-label-sm font-weight-bold">Status Vaksin</label>
            <div class="col-sm-9 col-form-label-sm">
                : <span ng-if="form.is_vaksin == 1">Sudah</span> <span ng-if="form.is_vaksin == 0">Belum</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
<!--        <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">-->
<!--            <i class="fa fa-recycle"></i>-->
<!--            &nbsp;Reset-->
<!--        </button>-->
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="saveAntrian(form)">
            <i class="fa fa-save"></i>
            &nbsp;Masukkan Antrian
        </button>
    </div>
</div>