<div class="animated fadeIn">
    <div ng-controller="tsuratCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar surat</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row" >
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    No Surat
                                </label>
                                <div class="col-sm-9">
                                    <input st-search="no_surat" class="form-control form-control-sm" placeholder="Cari berdasarkan Id_surat"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm mb-0">
                                    Asal Surat
                                </label>
                                <div class="col-sm-9">
                                    <input st-search="asal_surat" class="form-control form-control-sm" placeholder="Cari berdasarkan Asal_surat"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="align-left">No Surat</th>
                                <th class="align-left">Isi</th>
                                <th class="align-left">Asal Surat</th>
                                <th class="align-left">Tanggal Surat</th>
                                <th class="align-left">Tanggal Diterima</th>
                                <th class="align-left">Dibuat Oleh</th>
                                <th class="align-left">Dibuat Pada</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.no_surat }}</td>
                                <td class="align-left">{{ row.isi}}</td>
                                <td class="align-left">{{ row.asal_surat}}</td>
                                <td class="align-left">{{ row.tgl_surat | date}}</td>
                                <td class="align-left">{{ row.tgl_diterima | date}}</td>
                                <td class="align-left">{{ row.nama_pembuat}}</td>
                                <td class="align-left">{{ row.created_at*1000 | date:'d MMM yyyy'}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-edit btn-sm" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash btn-sm" ng-click="delete(row)"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">No surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_surat" maxlength="50" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Asal surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.asal_surat" maxlength="250" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Isi</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.isi" maxlength="255" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tgl surat</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tgl_surat')"  is-open="opened.tgl_surat" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_surat" ng-disabled="is_view"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Tgl diterima</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, 'tgl_diterima')"  is-open="opened.tgl_diterima" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_diterima" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">File</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-control-sm" accept="application/pdf" base-sixty-four-input="" ng-model="form.file" type="file"  ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Keterangan</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.keterangan" maxlength="225" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">Status</label>
                                <div class="col-sm-9">
                                    <div class="btn-group">
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis" uib-btn-radio="'masuk'">
                                            <i class="fa fa-check" ng-if="form.jenis == 'masuk'">
                                            </i>
                                            Masuk
                                        </label>
                                        <label class="btn btn-sm btn-primary" ng-model="form.jenis" uib-btn-radio="'keluar'">
                                            <i class="fa fa-check" ng-if="form.jenis == 'keluar'">
                                            </i>
                                            Keluar
                                        </label>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm required">Tanggal Pembuatan</label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <div class="input-group">-->
<!--                                        <input class="form-control form-control-sm"-->
<!--                                               datepicker-options="{minMode: 'day'}" is-open="opened.tgl_pembuatan"-->
<!--                                               ng-click="toggle($event, 'tgl_pembuatan')" ng-model="form.tgl_pembuatan"-->
<!--                                               placeholder="Tanggal Pembuatan" type="text"-->
<!--                                               uib-datepicker-popup="dd MMMM yyyy"-->
<!--                                               ng-disabled="is_view"-->
<!--                                        >-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text">-->
<!--                                                <i class="fa fa-calendar">-->
<!--                                                </i>-->
<!--                                            </span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
