<div class="modal-header text-white" style="background-color: #2C8DA2">
    <h5 class="modal-title">Input Dari Penduduk</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">
                    Nama
                </label>
                <div class="col-sm-9">
                    <div class="btn-group btn-group-sm" style="width:100%">
                        <ui-select class="ui-select-sm ui-select-container"
                                   ng-model="form.nama" theme="bootstrap" style="width: 100%">
                            <ui-select-match placeholder="Masukkan 3 Karakter Nama atau NIK">
                                {{ $select.selected.nama}}
                            </ui-select-match>
                            <ui-select-choices position="down" refresh="getPenduduk($select.search)"
                                               repeat="val in listNama">
                                {{ val.nama}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="save()">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
        </button>
    </div>
</div>