<div class="modal-header bg-primary">
    <h5 class="modal-title">View Penduduk</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">

    </div>
    <div class="col-md-12 col-print">
        <div >
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row mb-0">
                        <label class="col-sm-3 col-form-label-sm">Provinsi</label>
                        <div class="col-sm-9 col-form-label-sm">
                            :
                            <span style="border: 1px solid; padding: 2px" ng-repeat="val in detail.no_prop">
                                {{val}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-sm-3 col-form-label-sm">Kabupaten</label>
                        <div class="col-sm-9 col-form-label-sm">
                            :
                            <span style="border: 1px solid; padding: 2px;" ng-repeat="val in detail.no_kab">
                                {{val}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">
            <i class="fa fa-recycle"></i>
            &nbsp;Reset
        </button>
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="saveImport(form, row)">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
        </button>
    </div>
</div>