<div class="modal-header text-white" style="background-color: #2C8DA2">
    <h5 class="modal-title">Input Dari Pekerjaan</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group row">
        <div class="col-md-12">
            <input type="text" class="form-control form-control-sm text-left"
                   ng-model="search"
                   placeholder="Cari SHDK"
                   ng-disabled="is_view" required/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action"
                        ng-class="{'active': val.shdk === shdk}"
                        ng-repeat="val in listShdk | filter:search"
                        ng-click="choice(val.shdk)">
                    {{val.shdk}}
                </button>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal-footer">-->
<!--    <div class="btn-group pull-right">-->
<!--        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"-->
<!--                ng-disabled="loading" ng-click="save()">-->
<!--            <i class="fa fa-save"></i>-->
<!--            &nbsp;Simpan-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->