<div class="modal-header text-white" style="background-color: #2C8DA2">
    <h5 class="modal-title">Export Penduduk</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm required">Mulai No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control angka form-control-sm text-left"
                           ng-model="form.start" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm">
                    Jumlah Penduduk
                </label>
                <div class="col-sm-9">
                    <select class="form-control form-control-sm" ng-model="form.limit" required>
                        <option value=""> -- Pilih Jumlah</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                        <option value="3000">3000</option>
                        <option value="5000">5000</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-disabled="loading" ng-click="export()">
            <i class="fa fa-save"></i>
            &nbsp;Export
        </button>
    </div>
</div>