<div class="modal-header bg-primary">
    <h5 class="modal-title">Import Data Penduduk</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">

            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm ">
                    Dusun
                </label>
                <div class="col-sm-9">
                    <ui-select ng-disabled="is_view" class="w-100"
                               ng-model="form.dusun" theme="bootstrap" on-select="getRw(form.dusun.id)">
                        <ui-select-match placeholder="Pilih Dusun">
                            {{$select.selected.dusun}}
                        </ui-select-match>
                        <ui-select-choices repeat="value in listDusun| filter : $select.search">
                            {{value.dusun}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm ">
                    RW
                </label>
                <div class="col-sm-9">
                    <ui-select class="w-100" ng-disabled="form.dusun == undefined || is_view"
                               ng-model="form.rw" theme="bootstrap" on-select="getRt(form.rw.id)">
                        <ui-select-match placeholder="Pilih RW">
                            {{$select.selected.rw}}
                        </ui-select-match>
                        <ui-select-choices repeat="value in listRw | filter : $select.search">
                            {{value.rw}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm ">
                    RT
                </label>
                <div class="col-sm-9">
                    <ui-select class="w-100" ng-disabled="form.rw == undefined || is_view"
                               ng-model="form.rt" theme="bootstrap">
                        <ui-select-match placeholder="Pilih RT">
                            {{$select.selected.rt}}
                        </ui-select-match>
                        <ui-select-choices repeat="value in listRt | filter : $select.search">
                            {{value.rt}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <button class="btn btn-outline-primary btn-sm" ng-click="download()">
                    <i class="fa fa-download"></i>
                    Download Format Import
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <hr/>
        </div>
        <div class="col-md-6" ng-if="form.rt != undefined">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label-sm ">
                    Upload File Excel
                </label>
                <div class="col-sm-9">
                    <button class="btn btn-success btn-sm" ngf-select="files($file, $invalidFiles)" type="button">
                        <i class="fa fa-file-excel">
                        </i>
                        Import Data
                    </button>
                    <!--                    <input accept="file/*" base-sixty-four-input="" ng-model="form.file" type="file"
                                               ng-disabled="is_view"/>-->
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="is_data">
            <form class="tab-form-demo" enctype="multipart/form-data" name="outerForm">
                <uib-tabset active="activeForm">
                    <uib-tab heading="Data Penduduk" index="0">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="align-left">NO. KK</th>
                                    <th class="align-left">NIK</th>
                                    <th class="align-left">Nama</th>
                                    <th class="align-center">TTL</th>
                                    <th class="align-center">Jenis Kelamin</th>
                                    <th class="align-left">Pekerjaan</th>
                                    <th class="align-left">Nama Ayah</th>
                                    <th class="align-left">Nama Ibu</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in listPenduduk" ng-dblclick="view(row)">
                                    <td class="align-left">{{ row.no_kk}}</td>
                                    <td class="align-left">{{ row.nik}}</td>
                                    <td class="align-left">{{ row.nama}}</td>
                                    <td class="align-center">{{row.tempat_lahir}},
                                        {{ row.tgl_lahir | date:'dd MMM yyyy'}}
                                    </td>

                                    <td class="align-center" ng-if="row.jenis_kelamin == 'LK'">Laki-Laki</td>
                                    <td class="align-center" ng-if="row.jenis_kelamin == 'PR'">Perempuan</td>

                                    <td class="align-left">{{ row.pekerjaan}}</td>
                                    <td class="align-left">{{ row.nama_ayah}}</td>
                                    <td class="align-left">{{ row.nama_ibu}}</td>
                                    <td>
                                        <div class="btn-group pull-right" role="group">
                                            <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                                    ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                            <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                                    ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                            <button type="button" class="btn btn-warning fa fa-recycle btn-sm"
                                                    ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Data Sensus" index="1">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" rowspan="2">Nama</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" rowspan="2">Pekerjaan kenyataan</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" colspan="2">Penghasilan</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" rowspan="2">Rumah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" rowspan="2">Kepemilikan rumah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" rowspan="2">Kepemilikan tanah rumah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" colspan="3">Kondisi rumah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" rowspan="2">Aset tanah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" colspan="3">Luas aset tanah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" colspan="3">Status aset tanah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" rowspan="2">Aset kendaraan</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" colspan="2">Jumlah aset kendaraan</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left" colspan="6">Pengelolaan tanah</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Waktu</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Jumlah Rp.</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Dinding</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Lantai</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Atap</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Pekarangan rumah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Tanah kering</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Sawah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Pekarangan rumah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Tanah kering</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Sawah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Mobil</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Motor</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Tanah kering</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Luas</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Masa pengelolaan</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Sawah</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Luas</th>
                                    <th style="border:1px solid #f8f8fb;" class="align-left">Masa pengelolaan</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in listPenduduk" ng-dblclick="view(row)">
                                    <td class="align-left">{{ row.nama}}</td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right">
<!--        <button type="submit" class="btn btn-secondary btn-sm" ng-click="close()">-->
<!--            <i class="fa fa-recycle"></i>-->
<!--            &nbsp;Reset-->
<!--        </button>-->
        <button type="submit" class="btn btn-primary btn-sm" button-spinner="loading"
                ng-if="form.dusun && form.rw && form.rt && is_data"
                ng-disabled="loading" ng-click="saveImport(form,row)">
            <i class="fa fa-save"></i>
            &nbsp;Simpan
        </button>
    </div>
</div>