<div class="animated fadeIn">
    <div ng-controller="suratPesananPenyediaCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Penyedia Barang & Jasa</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true"
                            ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pencarian" ng-show="!isCollapsed">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Nama Perusahaan
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control form-control-sm"
                                           st-search="m_pesanan_penyedia.nama_perusahaan"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Nama Pemilik
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control form-control-sm"
                                           st-search="m_pesanan_penyedia.nama_pemilik"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    No. Telp
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control form-control-sm"
                                           st-search="m_pesanan_penyedia.no_telp"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Email
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control form-control-sm"
                                           st-search="m_pesanan_penyedia.email"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Alamat
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control form-control-sm"
                                           st-search="m_pesanan_penyedia.alamat"/>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-sm-5 col-form-label-sm mb-0">
                                    Status
                                </label>
                                <div class="col-sm-7">
                                    <select class="form-control form-control-sm"
                                            st-search="m_pesanan_penyedia.is_deleted">
                                        <option value="0">
                                            Aktif
                                        </option>
                                        <option value="1">
                                            Terhapus
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="align-left">Nama Perusahaan</th>
                            <th class="align-left">Nama Pemilik</th>
                            <th class="align-left">No. Telp</th>
                            <th class="align-left">Email</th>
                            <th class="align-left">Alamat</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="align-left">{{ row.nama_perusahaan}}</td>
                            <td class="align-left">{{ row.nama_pemilik}}</td>
                            <td class="align-left">{{ row.no_telp}}</td>
                            <td class="align-left">{{ row.email}}</td>
                            <td class="align-left">{{ row.alamat}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" class="btn btn-info fa fa-edit btn-sm"
                                            ng-click="update(row)" ng-if="row.is_deleted == 0"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="trash(row);" ng-if="row.is_deleted == 0"></button>
                                    <button type="button" class="btn btn-warning fa fa-recycle btn-sm"
                                            ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash btn-sm"
                                            ng-click="delete(row);" ng-if="row.is_deleted == 1"></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {{ formtittle}}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Nama Perusahaan
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.nama_perusahaan" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm ">
                                    Nama Pemilik
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm"
                                           ng-model="form.nama_pemilik" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Telepon</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm angka align-left"
                                           ng-model="form.no_telp" maxlength="45" ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" ng-model="form.email"
                                           ng-disabled="is_view"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Alamat</label>
                                <div class="col-sm-9">
                                    <textarea ng-disabled="is_view" ng-model="form.alamat"
                                              class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">Kop Surat</label>
                                <div class="col-sm-9">
                                    <div style="text-align:center; overflow: hidden;background-color: rgba(0, 0, 0, 0.23);">
                                        <img class="img img-responsive img-produk img-thumbnail"
                                             data-ng-src="data:image/png;base64,{{form.kop_surat.base64}}"
                                             id="image" ng-if="!!form.kop_surat.base64"/>
                                        <img class="img img-responsive img-produk img-thumbnail" id="image"
                                             ng-if="!form.kop_surat.base64 && !!form.kop_surat"
                                             ng-src="api/{{form.kop_surat_path}}/{{form.kop_surat}}"/>
                                        <img class="img img-responsive img-produk img-thumbnail" id="image"
                                             ng-if="!form.kop_surat.base64 && !form.kop_surat"
                                             ng-src="img/no-image.png" style="background-color: #f6f6f6;"/>
                                    </div>
                                    <div class="fileUploadr btn btn-primary edit" ng-if="!is_view"
                                         style="width: 100%;">
                                        <input accept="image/*" base-sixty-four-input="" class="upload"
                                               ng-model="form.kop_surat" style="width: 100%;" type="file"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading"
                            ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
