<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>

            </div>
            <div>
                {% if model.kop.kop_surat != null %}
                    <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
                {% endif %}
            </div>
            <p class="nama-surat" style="font-size: 16px;">{{ model.desa | upper }}</p>

            <p style="text-align: right;">Kode Pos {{ model.kode_pos }}</p>

            <p class="nama-surat" style="font-size: 14px;">SURAT KETERANGAN</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>

            <div style="padding-left: 20px;padding-right: 20px">
                Yang bertanda tangan di bawah ini :
                <table style="margin-left: 20px;">
                    <tr>
                        <td width="2%"></td>
                        <td style="width: 150px">Nama</td>
                        <td>:</td>
                        <td>{{ model.ttd.nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ model.ttd.alamat }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Jabatan</td>
                        <td>:</td>
                        <td>{{ model.ttd.jabatan }}</td>
                    </tr>
                </table>

                <br>
                Menerangkan dengan sebenarnya bahwa :

                <table style="margin-left: 32px; width: 100%;">
                    <tr>
                        <td width="20%">C Desa</td>
                        <td width="2%">:</td>
                        <td>{{ model.c_desa }}</td>
                    </tr>
                    <tr>
                        <td>Nama C</td>
                        <td>:</td>
                        <td>{{ model.nama_c }}</td>
                    </tr>
                </table>

                <br>
                Yang digunakan untuk {{ model.digunakan_untuk }} oleh :

                <table style="margin-left: 32px; width: 100%;">
                    <tr>
                        <td width="20%">Nama Pemohon</td>
                        <td width="2%">:</td>
                        <td>{{ model.penduduk_nama }}</td>
                    </tr>
                    <tr>
                        <td>Nominatif</td>
                        <td>:</td>
                        <td>{{ model.nominatif }}</td>
                    </tr>
                </table>
                <br>

                {{ model.keterangan | raw }}

                <p>Demikian Surat Keterangan ini kami buat, untuk digunakan sebagimana mestinya.</p>

                <br>
                <p style="text-align: right;">{{ model.ttd.desa }} : {{ model.tgl_pembuatan }}</p>

                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td width="70%"></td>
                        <td align="center" style="width: 30%;text-transform: capitalize">
{#                            Mengetahui <br>#}
{#                            {% if model.ttd.is_kepala_desa != 1 %}#}
{#                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>#}
{#                                {{ model.ttd.jabatan }}<br>#}
{#                            {% endif %}#}
{#                            {% if model.ttd.is_kepala_desa == 1 %}#}
{#                                {{ model.ttd.jabatan }} {{ model.desa }}<br>#}
{#                            {% endif %}#}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama"><u>{{ model.ttd.nama }}{{ model.ttd.gelar }}</u></span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>
<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
