<div class="animated fadeIn">
    <div ng-controller="rPendudukBulanan">
        <div class="card">
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">
                                    Periode
                                </label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group">
                                            <input class="form-control form-control-sm ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-touched"
                                                   date-range-picker="" ng-model="filter.tanggal"
                                                   placeholder="Periode"
                                                   options="options" type="text">
                                            <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm">-->
<!--                                    Jalan / Dusun-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <ui-select class="w-100" ng-model="filter.dusun" theme="bootstrap"-->
<!--                                               on-select="getRw(filter.dusun.id)">-->
<!--                                        <ui-select-match placeholder="Pilih Dusun">-->
<!--                                            {{$select.selected.dusun}}-->
<!--                                        </ui-select-match>-->
<!--                                        <ui-select-choices repeat="value in listDusun | filter : $select.search">-->
<!--                                            {{value.dusun}}-->
<!--                                        </ui-select-choices>-->
<!--                                    </ui-select>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="col-md-6">
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm">-->
<!--                                    RW-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <ui-select class="w-100" ng-disabled="filter.dusun == undefined"-->
<!--                                               ng-model="filter.rw" theme="bootstrap" on-select="getRt(filter.rw.id)">-->
<!--                                        <ui-select-match placeholder="Pilih RW">-->
<!--                                            {{$select.selected.rw}}-->
<!--                                        </ui-select-match>-->
<!--                                        <ui-select-choices repeat="value in listRw | filter : $select.search">-->
<!--                                            {{value.rw}}-->
<!--                                        </ui-select-choices>-->
<!--                                    </ui-select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group row">-->
<!--                                <label class="col-sm-3 col-form-label-sm">-->
<!--                                    RT-->
<!--                                </label>-->
<!--                                <div class="col-sm-9">-->
<!--                                    <ui-select class="w-100" ng-disabled="filter.rw == undefined"-->
<!--                                               ng-model="filter.rt" theme="bootstrap">-->
<!--                                        <ui-select-match placeholder="Pilih RT">-->
<!--                                            {{$select.selected.rt}}-->
<!--                                        </ui-select-match>-->
<!--                                        <ui-select-choices repeat="value in listRt | filter : $select.search">-->
<!--                                            {{value.rt}}-->
<!--                                        </ui-select-choices>-->
<!--                                    </ui-select>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>

                    <div class="row" style="border-top: 2px solid #ddd;padding-top: 15px;">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="reset_filter()" type="button">
                                    <i class="fa fa-recycle"></i> Reset form
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="getRekap(filter)">
                                    <i class="fa fa-eye"></i>Tampilkan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body" ng-show="is_view">
                <!--<div class="card-body" >-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                    ng-click="printDiv('print')"
                                    ng-disabled="!is_view">
                                <i class="fa fa-print"></i> Print
                            </button>
                            <!--                            <button type="button" class="btn btn-outline-green btn-sm"-->
                            <!--                                    ng-click="view(1, 0,form)"-->
                            <!--                                    ng-disabled="!is_view">-->
                            <!--                                <i class="far fa-file-excel"></i> Export Excel-->
                            <!--                            </button>-->
                            <!--                        </div>-->
                        </div>
                    </div>
                </div>
                <div id="print">
                    <center>
                        <h2 class="no-mp font-weight-bold"><u>REKAP PENDUDUK BULANAN
                            {{filter_tampil.desa | uppercase}}</u></h2>
                        <h5 style="text-transform: uppercase;">
                            BULAN : {{ param.tanggal_awal}} - {{ param.tanggal_akhir}}
                        </h5>
                    </center>
                    <hr>
                    <div>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-laporan" style="margin: 0">
                                <thead>
                                <tr class="align-center">
                                    <th style="background-color: #ececec; width: 70px;" rowspan="2">No.</th>
                                    <th style="background-color: #ececec" rowspan="2">PERINCIAN</th>
                                    <th style="background-color: #ececec" colspan="2">WARGA NEGARA RI</th>
                                    <th style="background-color: #ececec" rowspan="2">JUMLAH</th>
                                </tr>
                                <tr class="align-center">
                                    <th>Laki-Laki</th>
                                    <th>Perempuan</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading">
                                <tr class="align-center">
                                    <td class="align-center text-capitalize">1</td>
                                    <td class="text-capitalize">Penduduk Awal Bulan</td>
                                    <td>{{ dataAwal.LK}} orang</td>
                                    <td>{{ dataAwal.PR}} Orang</td>
                                    <td>{{ dataAwal.jumlah}} Orang</td>
                                </tr>
                                <tr class="align-center">
                                    <td class="align-center text-capitalize">3</td>
                                    <td class="text-capitalize">Kelahiran Bulan Ini</td>
                                    <td>{{ dataKelahiran.LK}} orang</td>
                                    <td>{{ dataKelahiran.PR}} Orang</td>
                                    <td>{{ dataKelahiran.jumlah}} Orang</td>
                                </tr>
                                <tr class="align-center">
                                    <td class="align-center text-capitalize">2</td>
                                    <td class="text-capitalize">Kematian Bulan Ini</td>
                                    <td>{{ dataKematian.LK}} orang</td>
                                    <td>{{ dataKematian.PR}} orang</td>
                                    <td>{{ dataKematian.jumlah}} orang</td>
                                </tr>
                                <tr class="align-center">
                                    <td class="align-center text-capitalize">4</td>
                                    <td class="text-capitalize">Pendatang Bulan Ini</td>
                                    <td>{{ dataKematian.LK}} orang</td>
                                    <td>{{ dataKematian.PR}} orang</td>
                                    <td>{{dataKematian.jumlah}} orang</td>
                                </tr>
                                <tr class="align-center">
                                    <td class="align-center text-capitalize">5</td>
                                    <td class="text-capitalize">Pindah Bulan Ini</td>
                                    <td>{{ dataKeluar.LK}} orang</td>
                                    <td>{{ dataKeluar.PR}} orang</td>
                                    <td>{{ dataKeluar.jumlah}} orang</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="2" class="align-right font-weight-bold">Total</td>
                                    <td class="align-center font-weight-bold">{{total_lk}}</td>
                                    <td class="align-center font-weight-bold">{{total_pr}}</td>
                                    <td class="align-center font-weight-bold">{{total}}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>