<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}"
                     style="width: 100%">
            </div>

            <p class="nama-surat">SURAT KETERANGAN USAHA KECIL PEMBELIAN BBM</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Berdasarkan :</p>
                <table width="100%" style="padding-left: 50px; ">
                    <tr>
                        <td style="width: 5%;"><p>1.</p></td>
                        <td>Undang Undang Nomor 9 tentang Usaha kecil</td>
                    </tr>
                    <tr>
                        <td><p>2.</p></td>
                        <td class="text-justify line15">Peraturan Presiden Republik Indonesia Nomor 55 tentang Harga Jual Eceran Bahan Bakar Minyak
                            dalam Negeri
                        </td>
                    </tr>
                    <tr>
                        <td><p>3.</p></td>
                        <td class="text-justify line15">Peraturan Presiden Republik Indonesia Nomor 9 Tahun 2006 tentang Harga Jual Eceran Bahan
                            Bakar Minyak dalam Negeri
                        </td>
                    </tr>
                </table>
                <br>
                <p class="line15">Maka sesuai data dan hasil pemeriksaan, verifikasi dan analisa dari Pemerintah Desa dengan ini
                    menerangkan :</p>
                <table width="100%" style="padding-left: 50px;">
                    <tr>
                        <td style="width: 5%;">1.</td>
                        <td style="width: 30%;"><p>Nama</p></td>
                        <td>:</td>
                        <td class="capitalize">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>No. KTP</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>Tempat, Tgl. lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>NPWP</p></td>
                        <td>:</td>
                        <td>{{ model.bbm_npwp }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>Bidang Usaha</p></td>
                        <td>:</td>
                        <td>{{ model.bbm_bidang_usaha }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>Alamat</p></td>
                        <td>:</td>
                        <td class="non-capitalize line15 text-justify">{{ model.alamat }}</td>
                    </tr>

                </table>
                <table width="100%" style="padding-left: 50px; padding-right: 50px;">
                    <tr>
                        <td style="width: 5%;">2.</td>
                        <td style="width: 60%;"><p>Jumlah Pembelian BBM Premium</p></td>
                        <td>:</td>
                        <td>{{ model.bbm_premium }} Liter</td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">3.</td>
                        <td style="width: 60%;"><p>Jumlah Pembelian BBM Solar</p></td>
                        <td>:</td>
                        <td>{{ model.bbm_solar }} Liter</td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">4.</td>
                        <td style="width: 60%;"><p>Jumlah Pembelian BBM Pertalite</p></td>
                        <td>:</td>
                        <td>{{ model.bbm_pertalite }} Liter</td>
                    </tr>
                </table>
                <table width="100%" style="padding-left: 50px;">
                    <tr>
                        <td style="width: 4%;">5.</td>
                        <td style="width: 70%;"><p>Masa berlaku surat ijin ini sejak tanggal diterbitkan hingga tanggal
                                <b>{{ model.bbm_masa_berakhir}}</b></p></td>
                    </tr>
                </table>
                <br>
                <p class="line15 text-justify">Adalah termasuk kategori usaha kecil {{ model.bbm_bidang_usaha }}. Surat keterangan ini dipergunakan untuk pembelian BBM di SPBU : {{ model.bbm_lokasi }}</p>
                <p><br/>Demikian surat keterangan ini dibuat untuk dipergunakan sebagaimana
                    mestinya.</p>
                <br>
                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%">
                            {{ model.desa }}, {{ model.tgl_pembuatan }}<br>

                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
{{ model.ttd.jabatan }}<br>
{% endif %}

                             {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

 <script>
     window.print();
     setTimeout(function () {
         window.close();
     }, 3000);
 </script>
