<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
            </div>

            <p class="nama-surat">SURAT KETERANGAN DOMISILI LEGALITAS</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>

            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Yang bertanda tangan di bawah ini Kepala Desa {{ model.desa | capitalize }} Kecamatan Sambit
                    Kabupaten
                    Ponorogo, menerangkan dengan sebenarnya bahwa :</p>
                <br/>

                <p>
                <center><b>"{{ model.nama_cv }}"</b></center>
                </p>
                <br>
                <p>Benar-benar berdomisili/berkantor di {{ model.alamat_cv }}.</p>
                <br>
                <p>Surat keterangan ini dipergunakan untuk : {{ model.legalitas_untuk }}</p>

                <br>
                <p>Demikian Surat Keterangan ini dibuat dengan sebenarnya, dan agar dapat
                    dipergunakan sebagaimana mestinya.</p>
                <br>
                <br>
                <br>
                <br>

                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%;text-transform: capitalize">
                            {{ model.desa }}, {{ model.tgl_pembuatan }}<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}
                            {{ model.ttd.jabatan | lower }} {{ model.desa }}<br>
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}{{ model.ttd.gelar }}</span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>