<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
            </div>


            <p class="nama-surat">SURAT KETERANGAN PENGHASILAN</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>

            <div style="padding-left: 50px;padding-right: 20px">
                <p class="line15">Yang bertanda tangan di bawah ini Kepala Desa {{ model.desa | capitalize }}
                    Kecamatan {{ model.kecamatan | capitalize }} Kabupaten
                    {{ model.kabupaten | capitalize }}, menerangkan dengan sebenarnya bahwa :</p><br/>
                <table width="100%">
                    <tr>
                        <td width="30%"><p>1. Nama</p></td>
                        <td>:</td>
                        <td class="capitalize">{{ model.tgl_ayah.nama }}</td>
                    </tr>
                    <tr>
                        <td><p>2. Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_ayah.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p>3. Tempat, Tgl. Lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_ayah.tempat_lahir }}, {{ model.tgl_ayah.tgl_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p>4. Kewarganegaraan</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_ayah.kewarganegaraan != undefined ? model.gakin_wali.kewarganegaraan : 'WNI' }}</td>
                    </tr>
                    <tr>
                        <td><p>5. Agama</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_ayah.agama }}</td>
                    </tr>
                    <tr>
                        <td><p>6. Status Perkawinan</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_ayah.status }}</td>
                    </tr>
                    <tr>
                        <td><p>7. Nomor KTP/NIK</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_ayah.nik }}</td>
                    </tr>
                    <tr>
                        <td><p>8. Pekerjaan</p></td>
                        <td>:</td>
                        <td>{{ model.tgl_ayah.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <td><p>9. Alamat</p></td>
                        <td>:</td>
                        <td class="line15">{{ model.tgl_ayah.alamat }}</td>
                    </tr>
                    <tr>
                        <td style="vertical-align:text-top;"><p>10. Keterangan</p></td>
                        <td style="vertical-align:text-top;">:</td>
                        <td class="line15">{{ model.keterangan|raw }}
                        </td>
                    </tr>

                    <tr>
                        <td><p>11. Data Anak</p></td>
                    </tr>
                    <tr>
                        <td><p class="non-capitalize sub" style="padding-left: 25px">a. Nama</p></td>
                        <td>:</td>
                        <td class="capitalize">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td><p class="non-capitalize sub" style="padding-left: 25px">b. Tempat, Tgl. Lahir</p></td>
                        <td>:</td>
                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
                    </tr>
                    <tr>
                        <td><p class="non-capitalize sub" style="padding-left: 25px">c. Jenis Kelamin</p></td>
                        <td>:</td>
                        <td>{{ model.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <td><p class="non-capitalize sub" style="padding-left: 25px">d. Nomor KTP/NIK</p></td>
                        <td>:</td>
                        <td>{{ model.nik }}</td>
                    </tr>
                    <tr>
                        <td><p class="non-capitalize sub" style="padding-left: 25px">e. Alamat</p></td>
                        <td>:</td>
                        <td class="non-capitalize line15">{{ model.alamat }}</td>
                    </tr>
                    <tr>
                        <td style="padding-left: 25px">Surat keterangan ini</td>
                    </tr>
                    <tr>
                        <td style="vertical-align:text-top;"><p style="padding-left: 25px">dipergunakan untuk</p></td>
                        <td style="vertical-align:text-top;">:</td>
                        <td>{{ model.penghasilan_untuk }}</td>
                    </tr>
                </table>
                <br/>
                <p class="line15">Demikian Surat Keterangan ini dibuat dengan sebenarnya agar dapat
                    digunakan sebagaimana mestinya.</p>
                <br>

                <table width="100%" class="ttd">
                    <tr>
                        {# <td align="center" style="width: 50%"> #}
                        {# Orang tua #}
                        {# <br><br><br><br><br><br><br> #}
                        {# {% if model.ttd.is_kepala_desa != 1 %} #}
                        {# <br> #}
                        {# {% endif %} #}
                        {# <b><u>{{ model.nama_ayah }}</u></b> #}
                        {# </td> #}
                        <td width="50%"></td>
                        <td align="center" style="width: 50%">
                            {{ model.desa }}, {{ model.tgl_pembuatan }}<br>
                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}
                            {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px; "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px;">
                                    <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>

        </page>
    </div>
</div>

<script>
    window.print();
    setTimeout(function () {
        window.close();
    }, 3000);
</script>
