<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<page size="F4">
    <div>

    </div>
    <div>
        <img src="../file/kop_surat/{{ model.kop.kop_surat }}" style="width: 100%">
    </div>

    <p class="nama-surat">
        SURAT KETERANGAN KEHILANGAN
    </p>
    <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
    <br>
    <div style="margin-left: 50px;margin-right: 20px">
        <p >Yang bertanda tangan di bawah ini Kepala
            Desa {{ model.desa | capitalize }} Kecamatan {{ model.kecamatan }} {{ model.kabupaten }}, menerangkan dengan sebenarnya bahwa :</p>
        <br/>
        <table style="width: 100%">
            <tr>
                <td style="width: 30%;"><p>1. Nama</p></td>
                <td>:</td>
                <td class="capitalize">{{ model.nama }}</td>
            </tr>
            <tr>
                <td><p>2. Jenis Kelamin</p></td>
                <td>:</td>
                <td>{{ model.jenis_kelamin }}</td>
            </tr>
            <tr>
                <td><p>3. Tempat, Tgl. Lahir</p></td>
                <td>:</td>
                <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td>
            </tr>
            <tr>
                <td><p>4. Status Perkawinan</p></td>
                <td>:</td>
                <td>{{ model.status }}</td>
            </tr>
            <tr>
                <td><p>5. Nomor KTP/NIK</p></td>
                <td>:</td>
                <td>{{ model.nik }}</td>
            </tr>
            <tr>
                <td><p>6. Pendidikan</p></td>
                <td>:</td>
                <td class="non-capitalize">{{ model.pendidikan_akhir }}</td>
            </tr>
            <tr>
                <td><p>7. Agama</p></td>
                <td>:</td>
                <td>{{ model.agama }}</td>
            </tr>
            <tr>
                <td><p>8. Pekerjaan</p></td>
                <td>:</td>
                <td>{{ model.pekerjaan }}</td>
            </tr>
            <tr>
                <td><p>9. Alamat</p></td>
                <td>:</td>
                <td class="non-capitalize">{{ model.alamat }}</td>
            </tr>
            <tr>
                <td valign="top" style="vertical-align:text-top;"><p>10. Keterangan</p></td>
                <td valign="top" style="vertical-align:text-top;">:</td>
                <td style="text-align: justify">
                    {{ model.keterangan|striptags }}
                </td>
            </tr>
            <tr>
                <td><p>Surat keterangan ini </p></td>
            </tr>
            <tr>
                <td valign="top" style="vertical-align:text-top;">
                    <p class="alenia">dipergunakan untuk</p>
                </td>
                <td valign="top" style="vertical-align:text-top;">:</td>
                <td>{{ model.kehilangan_untuk }}</td>
            </tr>
        </table>
        <br/>
        <p>Demikian Surat Keterangan ini dibuat dengan sebenarnya
            agar dapat
            digunakan sebagaimana mestinya.</p>
        <br>

        <table style="width: 100%" class="ttd">
            <tr>
                <td style="width: 50%;text-align: center">
                    {# Pelapor #}
                    {# <br><br><br><br><br><br><br> #}
                    {# {% if model.ttd.is_kepala_desa != 1 %} #}
                    {# <br> #}
                    {# {% endif %} #}
                    {# <b><u>{{ model.nama }}</u></b> #}
                </td>
                <td style="width: 50%;text-align: center">
                    {{ model.desa }}, {{ model.tgl_pembuatan }}<br>

                    {% if model.ttd.is_kepala_desa != 1 %}
                        <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                    {% endif %}

                     {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                    {% if ttd == 'null' %}
                    {% else %}
                        <div style="text-align: center; margin-right: 20px;height: 130px">
                            {% if model.is_ttd == 1 %}
                                {% if model.ttd.ttd != null %}
                                    <img style="width: auto; height: 130px; "
                                         src="../file/ttd/{{ model.ttd.ttd }}">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div style="margin-top: -40px;">
                            <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                        </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>


    <script>
        window.print();
        setTimeout(function () {
            window.close();
        }, 3000);
    </script>
</page>
