<style type="text/css">
    {% include 'css/surat-keterangan.css' %}
</style>
<div class="container-fluid">
    <div class="card " id="print">
        <page size="F4">
            <div>
                <img src="../file/kop_surat/{{ model.kop.kop_surat }}"
                     style="width: 100%">
            </div>

            <p class="nama-surat">SURAT REKOMENDASI PEMBELIAN BBM JENIS TERTENTU</p>
            <p class="nomor-surat">Nomor : {{ model.no_surat }}</p>
            <br>
            <div style="padding-left: 50px;padding-right: 20px">
                <p>Berdasarkan :</p>
                <table width="100%" style="padding-left: 50px; ">
                    <tr>
                        <td style="width: 5%;"><p>1.</p></td>
                        <td>Undang Undang Nomor 9 tentang Usaha kecil</td>
                    </tr>
                    <tr>
                        <td><p>2.</p></td>
                        <td class="text-justify line15">Undang-undang nomor 23 Tahun 2014 Tentang Pemerintah Daerah</td>
                    </tr>
                    <tr>
                        <td><p>3.</p></td>
                        <td class="text-justify line15">Perpres Nomor 191 Tahun 2014 Tentang Penyediaan,Pendistribusian
                            dan harga jual eceran Bahan Bakar Minyak sebagaimana telah diubah dengan Peraturan Presiden
                            nomor 43 tahun 2018 tentang perubahan atas Peraturan Presiden nomor 191 tahun 2014 tentang
                            penyediaan, pendistribusian dan harga jual eceran Bahan Bakar Minyak
                        </td>
                    </tr>
                </table>
                <br>
                <p class="line15">Dengan ini memberikan rekomendasi kepada :</p>
                <table width="100%" style="padding-left: 50px;">
                    <tr>
                        <td style="width: 5%;"></td>
                        <td style="width: 30%;"><p>Nama</p></td>
                        <td>:</td>
                        <td class="capitalize">{{ model.nama }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>Alamat Pengguna</p></td>
                        <td>:</td>
                        <td class="non-capitalize line15 text-justify">{{ model.alamat }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>Konsumen Pengguna</p></td>
                        <td>:</td>
                        <td>{{ model.bbm_bidang_usaha }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p>Jenis Usaha Kegiatan</p></td>
                        <td>:</td>
                        <td>{{ model.bbm_bidang_usaha }}</td>
                    </tr>
                    {#                    <tr> #}
                    {#                        <td></td> #}
                    {#                        <td><p>No. KTP</p></td> #}
                    {#                        <td>:</td> #}
                    {#                        <td>{{ model.nik }}</td> #}
                    {#                    </tr> #}
                    {#                    <tr> #}
                    {#                        <td></td> #}
                    {#                        <td><p>Tempat, Tgl. lahir</p></td> #}
                    {#                        <td>:</td> #}
                    {#                        <td>{{ model.tempat_lahir }}, {{ model.tanggal_lahir }}</td> #}
                    {#                    </tr> #}
                    {#                    <tr> #}
                    {#                        <td></td> #}
                    {#                        <td><p>NPWP</p></td> #}
                    {#                        <td>:</td> #}
                    {#                        <td>{{ model.bbm_npwp }}</td> #}
                    {#                    </tr> #}
                    {#                    <tr> #}
                    {#                        <td></td> #}
                    {#                        <td><p>Bidang Usaha</p></td> #}
                    {#                        <td>:</td> #}
                    {#                        <td>{{ model.bbm_bidang_usaha }}</td> #}
                    {#                    </tr> #}
                    <tr>
                        <td>1.</td>
                        <td colspan="3"><p>Berdasarkan hasil verifikasi,kebutuhan BBM digunakan untuk sarana sebagai
                                berikut:</p></td>
                    </tr>
                </table>
                <table width="100%" style="padding-left: 50px; padding-right: 50px;" class="border">
                    <tr>
                        <td style="text-align: center">No.</td>
                        <td style="text-align: center;width: 150px">Jenis Alat</td>
                        <td style="text-align: center">Jumlah Alat</td>
                        <td style="text-align: center;width: 100px">Fungsi Alat</td>
                        <td style="text-align: center">Kebutuhan Jenis BBM</td>
                        <td style="text-align: center">Jam atau Hari Operasi</td>
                        <td style="text-align: center;width: 100px">Konsumen Jenis BBM Tertentu Liter per (hari/minggu/bulan)</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">1<br/>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: center">Hari</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="6">Jumlah</td>
                        <td style="text-align: center">
                            {% if model.bbm_solar > 0%}{{model.bbm_solar}}{%endif%}
                            {% if model.bbm_pertalite > 0%}{{model.bbm_pertalite}}{%endif%}
                            {% if model.bbm_premium > 0%}{{model.bbm_premium}}{%endif%}
                            Liter</td>
                    </tr>
                </table>
                <table width="100%" style="padding-left: 50px;">
                    <tr>
                        <td style="width: 5%;">2.</td>
                        <td colspan="4" ><p>Diberikan jenis tertentu jenis minyak
                        {% if model.bbm_solar > 0%}Solar{%endif%}
                        {% if model.bbm_pertalite > 0%}Pertalite{%endif%}
                        {% if model.bbm_premium > 0%}Premium{%endif%}
                                :</p></td>
                    </tr>
                    <tr>
                        <td style="width: 5%;"></td>
                        <td style="width: 30%">- Alokasi Volume</td>
                        <td>:</td>
                        <td colspan="2">
                            {% if model.bbm_solar > 0%}{{model.bbm_solar}}{%endif%}
                            {% if model.bbm_pertalite > 0%}{{model.bbm_pertalite}}{%endif%}
                            {% if model.bbm_premium > 0%}{{model.bbm_premium}}{%endif%}
                            Liter per (hari/minggu/bulan)
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 5%;"></td>
                        <td style="width: 30%">- Tempat Pengambilan</td>
                        <td>:</td>
                        <td colspan="2">Lembaga Penyalur SPBU</td>
                    </tr>
                    <tr>
                        <td style="width: 5%;"></td>
                        <td style="width: 30%">- Nomor Lembaga Penyalur</td>
                        <td>:</td>
                        <td colspan="2">{{model.bbm_no_lembaga_penyalur}}</td>
                    </tr>
                    <tr>
                        <td style="width: 5%;"></td>
                        <td style="width: 30%">- Lokasi</td>
                        <td>:</td>
                        <td colspan="2">{{model.bbm_lokasi}}</td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">3.</td>
                        <td colspan="4" ><p>Massa berlaku surat rekomendasi sampai dengan tanggal {{ model.bbm_masa_berakhir }}</p></td>
                    </tr>
                    <tr>
                        <td style="width: 5%;">4.</td>
                        <td colspan="4" ><p>Apabila penggunaan surat rekomendasi ini tidak sebagaimana mestinya,maka akan dicabut dan ditindaklanjuti dengan proses hokum sesuai dengan ketentuan dan peraturan perundang-undangan yang berlaku.</p></td>
                    </tr>
{#                    <tr>#}
{#                        <td style="width: 5%;">3.</td>#}
{#                        <td style="width: 60%;"><p>Jumlah Pembelian BBM Solar</p></td>#}
{#                        <td>:</td>#}
{#                        <td>{{ model.bbm_solar }} Liter</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td style="width: 5%;">4.</td>#}
{#                        <td style="width: 60%;"><p>Jumlah Pembelian BBM Pertalite</p></td>#}
{#                        <td>:</td>#}
{#                        <td>{{ model.bbm_pertalite }} Liter</td>#}
{#                    </tr>#}
                </table>
                <br/>
                <table width="100%" style="height: 90px;" class="ttd">
                    <tr>
                        <td align="center" style="width: 50%">
                        </td>
                        <td align="center" style="width: 50%">
                            {{ model.desa }}, {{ model.tgl_pembuatan }}<br>

                            {% if model.ttd.is_kepala_desa != 1 %}
                                <span class="non-capitalize">a.n.</span> Kepala Desa {{ model.desa }}<br>
                                {{ model.ttd.jabatan }}<br>
                            {% endif %}

                            {% if model.ttd.is_kepala_desa == 1 %}
                                {{ model.ttd.jabatan }} {{ model.desa }}<br>
                            {% endif %}
                            {% if ttd == 'null' %}
                            {% else %}
                                <div style="text-align: center; margin-right: 20px;height: 130px">
                                    {% if model.is_ttd == 1 %}
                                        {% if model.ttd.ttd != null %}
                                            <img style="width: auto; height: 130px;font-weight: bold "
                                                 src="../file/ttd/{{ model.ttd.ttd }}">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="margin-top: -40px; font-weight: bold">
                                    <span class="nama">{{ model.ttd.nama }}</span>{{ model.ttd.gelar }}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </page>
    </div>
</div>

 <script>
     window.print();
     setTimeout(function () {
         window.close();
     }, 3000);
 </script>
